<script type="module">
    if (location.hash !== null && location.hash !== "") {
        $(location.hash + ".collapse").collapse();
    }
    $(document).ready(function () {
        $(`.collapse`).on('show.bs.collapse', function () {
            window.location.hash = $(this).attr('id');
        });
    });
</script>

<div class="container" id="faq">
    <hr>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Общие вопросы</span></div>
    </div>
    <p>
        <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#qA1"
                aria-expanded="false"
                aria-controls="qA1">
            Можно ли оплатить подписку на IRRISKetch для юридических лиц?
        </button>
    </p>
    <div class="collapse" id="qA1" data-parent="#faq">
        <div class="card card-body">
            <p>
                Да, для этого нам необходимо выпустить для вас счёт-акт с внесенными в него данными вашей организации.
            </p>
            <span>
        Напишите о том, что вы хотите оплатить подписку со счета организации в один из наших чатов в <a
                        href="//bit.ly/irrishelp" target="_blank">WhatsApp</a> или
        <a href="//t.me/irrisketch" target="_blank">Telegram</a>, после чего мы сообщим какие данные вам необходимо предоставить.
        </span>
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#qA2"
                aria-expanded="false"
                aria-controls="qA2">
            Приобрел подписку, но платный функционал недоступен, что делать?
        </button>
    </p>
    <div class="collapse" id="qA2" data-parent="#faq">
        <div class="card card-body">
            <p>
                После приобретения платной подписки IRRISketch, её необходимо активировать вручную в вашем личном
                кабинете
                по ссылке:
            </p>
            <p>
                <a href="https://www.irrisketch.ru/account/orders" target="_blank">www.irrisketch.ru/account/orders</a>,
            </p>
            где ваша подписка будет находиться в правом столбце. После активации вы сможете свободно пользоваться всем
            платным функционалом сервиса.
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#qA3"
                aria-expanded="false"
                aria-controls="qA3">
            Оплатил подписку, но она не появилась в личном кабинете.
        </button>
    </p>
    <div class="collapse" id="qA3" data-parent="#faq">
        <div class="card card-body">
            <p>
                В таком случае вам нужно перейти в личный кабинет по ссылке:
            </p>
            <p>
                <a href="https://www.irrisketch.ru/account/orders" target="_blank">www.irrisketch.ru/account/orders</a>
            </p>
            <p>
                Посмотрите на кнопку располагающуюся в нижней части заказа. Красная кнопка “Повторить” означает, что
                платёж
                не
                прошёл и вам стоит попробовать снова, но предварительно проверьте, не были ли списаны деньги.
            </p>
            <p>
                Если уже долгое время вы видите желтую кнопку “Оплата в процессе”, есть шанс, что при транзакции не
                произошло
                автоматическое подтверждение. В таком случае, чтобы ее завершить, нажмите на эту кнопку, и всё должно
                заработать.
            </p>
            После успешной оплаты и завершения транзакции вы увидите зелёную кнопку “Платеж подтвержден”. Нажмите её, и
            ваша
            подписка появится в правом столбце.
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Вопросы при работе над проектами</span></div>
    </div>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP1"
                aria-expanded="false" aria-controls="qP1">
            В проекте не сохранились изменения/хочу восстановить определенное состояние
            проекта, что делать?
        </button>
    </p>
    <div class="collapse" id="qP1" data-parent="#faq">
        <div class="card card-body">
            <p>
                (Данный способ сработает только в тех браузерах, где есть Инструменты Разработчика)
            </p>
            <p>
                1. Откройте тот же браузер, на том же компьютере, на котором последний раз работали над проектом.
            </p>
            <p>
                2. Зайдите в мастерскую IRRISketch и откройте проект, с которым связана проблема
            </p>
            <p>
                3. Если при открытии проекта, появляется окно предлагающее восстановить проект – нажмите кнопку
                “Восстановить” и
                посмотрите на результат. Если проект не был восстановлен до необходимого состояния, то продолжайте
                следовать
                инструкции.
            </p>
            <p>
                4. Откройте инструменты разработчика (В большинстве браузеров – кнопка F12) и откройте вкладку Console
                (Консоль), как на рисунке ниже:
                src="/images/faq/console.jpg" class="img-thumbnail img-responsive" alt="Download button" width="30%"
                height="30%">
            </p>
            <p>
                5. Введите в консоль следующую команду и нажмите Enter:
            </p>
            <p>
                autobackup.ASL()
            </p>
            <p>
                6. Появится список автосохранений ( как правило – 12 последних ) ( Автосохранение делается каждые десять
                минут,
                т.е. 12 × 10 = 120 мин = 2 часа ) Выглядеть это будет примерно вот так:
                <br>
                <img src="/images/faq/autobackup.jpg" class="img-thumbnail img-responsive" alt="Download button"
                     width="30%" height="30%">
            </p>
            <p>
                Если появилось что-то вроде такого:
                <br>
                <img src="/images/faq/autobackupFolded.jpg" class="img-thumbnail img-responsive" alt="Download button"
                     width="30%" height="30%">
            </p>
            <p>
                То нужно нажать символ треугольника ( ▶ ), чтобы раскрыть список ( ▼ )
            </p>
            <p>
                7. В списке автосохранений выберите время, на момент которого, по вашим расчетам, проект находился в
                наиболее
                подходящем состоянии и посмотрите какое число стоит в начале этой строки.
            </p>
            <p>
                8. Введите следующий текст в консоль:
            </p>
            <p>
                autobackup.RAS(*Сюда вставьте число из предыдущего пункта*)
            </p>
            9. Удостоверьтесь,что восстановленное состояние соответствует вашим требованиям. Если нет, то вызовите
            команду
            из предыдущего пункта с другим числом пока не найдете нужное состояние.
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP2"
                aria-expanded="false"
                aria-controls="qP2">
            Как отобразить сетку в чертеже проекта? Чертежная сетка не появляется при выводе в PDF/PNG.
        </button>
    </p>
    <div class="collapse" id="qP2" data-parent="#faq">
        <div class="card card-body">
        <span>
            Чтобы вывести сетку при печати, ее необходимо поместить на чертеж в виде изображения. Можете скачать сетку,
            например <a
                    href="https://drive.google.com/file/d/1PrKMoz9YDW-UHNwBpxTXMzGqLM-X3Mb_/view?usp=sharing"
                    target="_blank">отсюда</a>, после чего отмасштабировать ее на чертеже под необходимый размер.
        </span>
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP3"
                aria-expanded="false"
                aria-controls="qP3">
            Как перенести проект с одного аккаунта на другой?
        </button>
    </p>
    <div class="collapse" id="qP3" data-parent="#faq">
        <div class="card card-body">
            Чтобы это сделать, вы можете скачать файл проекта используя соответствующую кнопку на правой верхней панели
            После чего создать пустой проект на новом аккаунте и с помощью кнопки “Загрузить”, открыть скачанный проект.
            <br>
            <img src="/images/faq/downloadbuttonsng.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="30%" height="30%">
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP4"
                aria-expanded="false"
                aria-controls="qP4">
            Как конвертировать проект из IRRISketch, чтобы продолжить работу с ним в AutoCAD?
        </button>
    </p>
    <div class="collapse" id="qP4" data-parent="#faq">
        <span>
            Для более подробного объяснения этого процесса, вы можете просмотреть видеоурок по этой <a
                    href="https://youtu.be/hKvHFVGOatY" target="_blank">ссылке</a>.
        </span>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP5"
                aria-expanded="false"
                aria-controls="qP5">
            Проект "виснет"/Переход в режим чертежей занимает много времени
        </button>
    </p>
    <div class="collapse" id="qP5" data-parent="#faq">
        <span>
            <p>
                Обычно это связано с очень большим количеством элементов в проекте, так как IRRISketch Residential не рассчитан на особо крупные участки. Эту проблему можно решить с помощью удаления всех существующих объектов в режиме рисования, и их замены на одну единственную подложку.
            </p>
            <p>
                1. Создайте копию проекта и откройте её, если боитесь случайно потерять данные.
            </p>
            <p>
                2. Перейдите в режим полива, и с помощью комбинации клавиш ctrl+a выделите все элементы, и вырежьте их с помощью комбинации ctrl+x (Они сохранятся в буфере обмена)
            </p>
            <p>
                3. Перейдите в режим чертежей, установите настройку "Ландшафт" во вкладке "Визуальный стиль", чтобы получить оригинальный ландшафт проекта и уберите штамп.
            </p>
            <img src="/images/faq/visualStyleRU.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="30%" height="30%">
            <p>
                4. Выберите формат листа от A1 до A4. Чем больше будет размер листа, тем качественнее будет итоговое изображение, но тем больше оно будет занимать места.
            </p>
            <img src="/images/faq/listFormatRU.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="30%" height="30%">
            <p>
                5. С помощью инструмента "Линейка" в режиме рисования замерьте какой-либо легко измеряемый элемент чертежа и запишите его длину, это понадобится далее.
            </p>
            <img src="/images/faq/rulerRU.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="50%" height="50%">
            <p>
                6. Перейдите в режим "Редактировать чертёж" внизу экрана и впишите чертёж в лист с помощью кнопки внизу слева. Экспортируйте проект в картинку.
                Если готовая картинка получилась больше 10МБ в размере, у вас не получится её использовать. В таком случае, если вы умеете пользоваться различными редакторами изображений (Photoshop, Gimp), то сожмите изображение или уменьшите количество цветов. Это уменьшит размер файла.
            </p>
            <img src="/images/faq/fitRU.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="100%" height="100%">
            <p>
                7. Вставьте изображение в проект и выставьте правильный масштаб, используя длину из пункта 5.
            </p>
            <img src="/images/faq/resizeRU.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="50%" height="50%">
            <p>
                8. Совместите изображение с вашим чертежом, чтобы все элементы находились на тех же местах, как они расположены на картинке.
            </p>
            <img src="/images/faq/alignRU.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="50%" height="50%">
            <p>
                9. Заблокируйте изображение выделив его и нажав соответствующую кнопку внизу слева.
            </p>
            <img src="/images/faq/lockRU.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="15%" height="15%">
            <p>
                10. С помощью комбинации ctrl+a выделите все элементы в режиме рисования  и удалите их. У вас должна остаться только ваша картинка.
            </p>
            <p>
                11. Вернитесь в режим "Полив" и с помощью комбинации ctrl+v вставьте все удаленные ранее элементы полива обратно на чертёж. Если всё сделано корректно, все элементы должны вернуться на своё место.
            </p>
        </span>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP6"
                aria-expanded="false"
                aria-controls="qP6">
            В режиме чертежей не отображаются некоторые зоны/не отображается капля
        </button>
    </p>
    <div class="collapse" id="qP6" data-parent="#faq">
        <span>
            Это поведение связано с режимом отображением зон на чертеже.
            Чтобы изменить режим отображения зон, в левом нижнем углу, в режиме чертежей, нажмите на кнопку "Управление отображением зон" и поставьте галочки напротив зон, которые вы хотите видеть на чертеже. Альтернативно, вы можете создать новый чертёж, и на нём будут отображаться все существующие зоны.
        </span>
    </div>
    <hr>
</div>