<% layout('../template/template_standard') -%>
<p class="otp">Hello, <%= name %>!</p>
<p><%= __("Mail_userEvents_You_have_successfully_changed_your_email") %></p>
<% block('title', __("Mail_userEvents_Email_was_changed")) -%>
<% block('closing', __('Mail_Common_Automailing')) -%>

