<div class="row justify-content-center">
    <div class="col-12 mb-4">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe id="videoFrame" src="https://www.youtube.com/embed/g2fZRGDti84" class="embed-responsive-item"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 mb-4">
        <div class="jumbotron bg-light">
            <div class="row">
                <div class="col-lg-2 col-sm-12 my-lg-auto mb-sm-2 text-center">
                    <a class="ad-img-link" href="https://www.moasure.com" target="_blank"><img width="135"
                                                                                               src="https://cdn.shopify.com/s/files/1/0078/2142/6761/files/MoasureWebLogoTransparent_160x.png?v=1541777679"></a>
                </div>
                <div class="col-lg-10 col-sm-12">
                    <div class="text-center mb-2">
                        <a href="https://www.moasure.com/products/moasure-one" target="_blank" class="btn btn-light btn-lg text-primary">
                            <h1 class="p-0 m-0">Purchase Moasure® ONE™</h1>
                        </a>
                    </div>
                    <p class="text-center lead">
                        An indispensable tool for measuring the site
                    </p>
                    <p><i class="far fa-bezier-curve"></i>&nbsp;-&nbsp;Precise measurement of curved lines and difficult slope sections</p>
                    <p><i class="far fa-file-import"></i>&nbsp;-&nbsp;Import to IRRISketch via CSV format</p>
                    <p><i class="far fa-drone-alt"></i>&nbsp;-&nbsp;Can help where a drone can't!</p>
                    <p><i class="far fa-sunglasses"></i>&nbsp;-&nbsp;Your presentability will go off the scale</p>
                    <p><i class="far fa-thumbs-up"></i>&nbsp;-&nbsp;IRRISketch recommends!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-5">
    <div class="col-12 text-center">
        <a href="https://www.moasure.com/products/moasure-one" target="_blank" class="btn btn-lg btn-success">Purchase Moasure® ONE™</a>
    </div>
</div>

<div class="jumbotron" id="moasure-page">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="text-center mb-2">
                <h1 class="p-0 m-0">Promo code for $10 off!</h1>
            </div>
            <p class="lead text-center">Scratch the scratch card below and get a promo code!</p>
            <div class="scratch-card" id="scratch-container">
                <canvas class="scratch-canvas" id="scratch-canvas" width="300" height="300"></canvas>
                <div class="row h-100">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class=""><h1 class="display-3"><code>X8LTW</code></h1></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

