<div class="container">
    <div class="seminar-header text-center">
        <h1>Kostenloses Einführungs Seminar - Entdecken Sie das volle Potenzial!</h1>
        <p>Herzlichen Glückwunsch zur erfolgreichen Anmeldung für die kostenlose Version von IRRISketch!</p>
    </div>

    <div class="mt-4">
        <h2>Was erwartet Sie im Seminar?</h2>
        <ul>
            <li><strong>Umfassende Einführung:</strong> Erfahren Sie alles über die Funktionen und Möglichkeiten unserer Software.</li>
            <li><strong>Praktische Tipps:</strong> Erhalten Sie wertvolle Einblicke und bewährte Praktiken von unseren Experten.</li>
            <li><strong>Interaktive Q&A-Sitzungen:</strong> Lassen Sie Ihre Fragen direkt von unseren Spezialisten beantworten.</li>
        </ul>
    </div>

    <div class="bonus-section">
        <h2>Ihr Bonus nach dem Seminar</h2>
        <p>Als Dankeschön für die Teilnahme am Einführungsseminar schalten wir für Sie einen exklusiven, zeitlich begrenzten Zugang zur Vollversion von IRRISketch frei. Erleben Sie alle erweiterten Funktionen und Vorteile unseres Premium-Services.</p>
    </div>

    <div class="text-center mt-4 mb-4">
        <h2>Melden Sie sich jetzt an!</h2>
        <p>Die Plätze sind begrenzt, also zögern Sie nicht und sichern Sie sich Ihren Platz im nächsten Einführungsseminar. Klicken Sie einfach auf den untenstehenden Link, um sich zu registrieren.</p>
        <a href="https://www.picktime.com/f67a94a6-a9e6-41f4-be02-adbffa5aac5d" class="btn btn-success">Jetzt für das Seminar anmelden</a>
    </div>

    <div class="text-center mt-4">
        <p>Wir freuen uns darauf, Sie im Seminar begrüßen zu dürfen und Ihnen dabei zu helfen, Ihre Bewässerungsprojekte auf die nächste Stufe zu heben!</p>
        <p>Mit freundlichen Grüßen,<br>Ihr IRRISketch-Team</p>
    </div>
</div>