<script type="module">
    if (location.hash !== null && location.hash !== "") {
        $(location.hash + ".collapse").collapse();
    }
    $(document).ready(function () {
        $(`.collapse`).on('show.bs.collapse', function () {
            window.location.hash = $(this).attr('id');
        });
    });
</script>

<div class="container" id="faq">
    <hr>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">General questions</span></div>
    </div>
    <p>
        <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#qA1"
                aria-expanded="false"
                aria-controls="qA1">
            J'ai acheté un abonnement, mais les fonctionnalités payantes ne sont pas disponibles, que faire ?
        </button>
    </p>
    <div class="collapse" id="qA1" data-parent="#faq">
        <div class="card card-body">
            <p>
                Après avoir acheté un abonnement payant IRRISketch, vous devez l'activer manuellement dans votre compte
                personnel en suivant le lien :
            </p>
            <p>
                <a href="https://www.irrisketch.com/account/orders"
                   target="_blank">www.irrisketch.com/account/orders</a>,
            </p>
            où votre abonnement apparaîtra dans la colonne de droite. Après activation, vous pourrez utiliser librement
            toutes les fonctionnalités payantes du service.
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#qA2"
                aria-expanded="false"
                aria-controls="qA2">
            J'ai payé pour l'abonnement, mais il n'apparaît pas dans mon espace personnel.
        </button>
    </p>
    <div class="collapse" id="qA2" data-parent="#faq">
        <div class="card card-body">
            <p>
                Dans ce cas, vous devez accéder à votre compte personnel en suivant ce lien :
            </p>
            <p>
                <a href="https://www.irrisketch.com/account/orders"
                   target="_blank">www.irrisketch.com/account/orders</a>
            </p>
            <p>
                Vérifiez le bouton en bas de la commande. Le bouton rouge "Répéter" signifie que le paiement a échoué et
                que vous devriez réessayer, mais d'abord, vérifiez si l'argent a été débité.
            </p>
            <p>
                Si vous voyez le bouton jaune "Paiement en cours" depuis longtemps, il est possible que la transaction
                n'ait pas été confirmée automatiquement. Dans ce cas, cliquez sur ce bouton pour la compléter et tout
                devrait fonctionner.
            </p>
            Après un paiement réussi et la finalisation de la transaction, vous verrez un bouton vert "Paiement
            vérifié". Cliquez dessus et votre abonnement apparaîtra dans la colonne de droite.
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Questions sur les projets.</span></div>
    </div>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP1"
                aria-expanded="false" aria-controls="qP1">
            Les modifications apportées au projet n'ont pas été enregistrées/Je veux restaurer un certain état du
            projet, que dois-je faire?
        </button>
    </p>
    <div class="collapse" id="qP1" data-parent="#faq">
        <div class="card card-body">
            <p>
                1. Ouvrez le même navigateur, sur le même ordinateur où vous avez travaillé en dernier sur le projet.
            </p>
            <p>
                2. Allez à l'atelier IRRISketch et ouvrez le projet auquel le problème est lié.
            </p>
            <p>
                3. Si lors de l'ouverture d'un projet, une fenêtre apparaît offrant de restaurer le projet, appuyez sur le bouton "Restaurer" et regardez le résultat. Si le projet n'a pas été restauré à l'état souhaité, continuez à suivre les instructions.
            </p>
            <p>
                4. Dans le coin supérieur droit, cliquez sur le bouton Historique (icône d'horloge avec flèche) et si tout a été enregistré correctement, vous verrez une liste des horodatages de vos états de projet. Sélectionnez celui où le projet était dans l'état le plus souhaité. Après cela, assurez-vous de sauvegarder le projet !
            </p>
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP2"
                aria-expanded="false"
                aria-controls="qP2">
            Comment afficher la grille dans un dessin de projet ? La grille de dessin n'apparaît pas lors de la sortie
            en PDF/PNG.
        </button>
    </p>
    <div class="collapse" id="qP2" data-parent="#faq">
        <div class="card card-body">
        <span>
           Pour afficher la grille lors de l'impression, elle doit être placée sur le dessin sous forme d'image. Vous pouvez télécharger la grille, par exemple <a
                    href="https://drive.google.com/file/d/1PrKMoz9YDW-UHNwBpxTXMzGqLM-X3Mb_/view?usp=sharing"
                    target="_blank">from here</a>, et ensuite la redimensionner sur le dessin à la taille souhaitée.
        </span>
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP3"
                aria-expanded="false"
                aria-controls="qP3">
            Comment transférer un projet d'un compte à un autre?
        </button>
    </p>
    <div class="collapse" id="qP3" data-parent="#faq">
        <div class="card card-body">
            Pour ce faire, vous pouvez télécharger le fichier de projet en utilisant le bouton approprié dans le panneau
            en haut à droite. Ensuite, créez un nouveau projet vide sur le nouveau compte et à l'aide du bouton
            "Télécharger", ouvrez le projet téléchargé.
            <br>
            <img src="/images/faq/downloadbuttonglobal.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="30%" height="30%">
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP4"
                aria-expanded="false"
                aria-controls="qP4">
            Le projet "freeze"/La transition vers le mode de dessin prend beaucoup de temps
        </button>
    </p>
    <div class="collapse" id="qP4" data-parent="#faq">
        <span>
            <p>
                Habituellement, cela est lié à un très grand nombre d'éléments dans le projet, car IRRISketch Residential n'est pas conçu pour des parcelles particulièrement grandes. Ce problème peut être résolu en supprimant tous les objets existants en mode de dessin et en les remplaçant par un seul arrière-plan.
            </p>
            <p>
                1. Créez une copie du projet et ouvrez-la si vous craignez de perdre accidentellement des données.
            </p>
            <p>
                2. Passez en mode d'irrigation et utilisez la combinaison de touches ctrl+a pour sélectionner tous les éléments, puis coupez-les en utilisant la combinaison de touches ctrl+x (ils seront enregistrés dans le presse-papiers).
            </p>
            <p>
                3. Passez en mode de dessin, réglez le paramètre "Paysage" dans l'onglet "Style visuel" pour obtenir le paysage d'origine du projet et supprimez le cachet.
            </p>
            <img src="/images/faq/visualStyleEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="30%" height="30%">
            <p>
                4. Sélectionnez un format de feuille de A1 à A4. Plus la taille de la feuille est grande, meilleure est la qualité de l'image finale, mais plus elle occupera d'espace.
            </p>
            <img src="/images/faq/listFormatEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="30%" height="30%">
            <p>
                5. Utilisez l'outil "Règle" en mode de dessin pour mesurer n'importe quel élément facilement mesurable du dessin et enregistrez sa longueur, car elle sera nécessaire ultérieurement.
            </p>
            <img src="/images/faq/rulerEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="50%" height="50%">
            <p>
                6. Passez en mode "Modifier le dessin" en bas de l'écran et insérez le dessin dans la feuille en utilisant le bouton en bas à gauche. Exportez le projet en tant qu'image.
                Si l'image obtenue dépasse 10 Mo, vous ne pourrez pas l'utiliser. Dans ce cas, si vous savez utiliser différents éditeurs d'images (comme Photoshop, Gimp), compressez l'image ou réduisez le nombre de couleurs. Cela réduira la taille du fichier.
            </p>
            <img src="/images/faq/fitEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="100%" height="100%">
            <p>
                7. Insérez l'image dans le projet et réglez l'échelle correcte en utilisant la longueur enregistrée à l'étape 5.
            </p>
            <img src="/images/faq/resizeEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="50%" height="50%">
            <p>
                8. Alignez l'image avec votre dessin afin que tous les éléments soient dans les mêmes positions qu'ils apparaissent sur l'image.
            </p>
            <img src="/images/faq/alignEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="50%" height="50%">
            <p>
                9. Verrouillez l'image en la sélectionnant et en cliquant sur le bouton correspondant en bas à gauche.
            </p>
            <img src="/images/faq/lockEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                width="15%" height="15%">
            <p>
                10. Utilisez la combinaison de touches ctrl+a pour sélectionner tous les éléments en mode de dessin et supprimez-les. Seule votre image devrait rester.
            </p>
            <p>
                11. Revenez en mode d'irrigation et collez tous les éléments d'irrigation précédemment supprimés sur le dessin en utilisant la combinaison de touches ctrl+v. Si tout est fait correctement, tous les éléments devraient revenir à leurs positions d'origine.
            </p>
        </span>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP5"
                aria-expanded="false"
                aria-controls="qP5">
            Dans le mode de présentation, certaines zones ne sont pas affichées/le goutte-à-goutte n'est pas affiché.
        </button>
    </p>
    <div class="collapse" id="qP5" data-parent="#faq">
        <span>
          Ce comportement est lié aux paramètres de représentation des zones dans la mise en page.
            Pour modifier les paramètres de représentation des zones, dans le coin inférieur gauche, dans le mode de présentation, cliquez sur le bouton "Représentation des zones" et cochez les cases situées à côté des zones que vous souhaitez voir apparaître dans la présentation. Vous pouvez également créer une nouvelle présentation et toutes les zones existantes y seront affichées.
        </span>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP6"
                aria-expanded="false" aria-controls="qP6">
            L'image de mise en page est tournée/placée incorrectement après l'exportation vers PDF/Image
        </button>
    </p>
    <div class="collapse" id="qP6" data-parent="#faq">
    <span>
        <p>
            Cela se produit parce que votre image d'origine contient des métadonnées EXIF. Pour que l'image se comporte correctement, vous devez supprimer ces métadonnées en utilisant le service <a href="https://www.verexif.com/en/" target="_blank">www.verexif.com/en/</a>.
        </p>
        <p>
            Après avoir ouvert le lien - chargez votre image, puis appuyez sur le bouton "Supprimer les EXIF", téléchargez la nouvelle image et remplacez l'ancienne dans IRRISketch.
        </p>
    </span>
    </div>
    <hr>
</div>