<hr>

<div class="row">
    <div class="col-lg-12 terms-style">
        <p class="text-right"><samp>Город Туапсе</samp></p>
        <p class="text-right"><samp>Тринадцатое ноября две тысячи двадцать четвёртого года</samp></p>
        <br>

        <p>Настоящая политика в соответствии с частью 2 статьи 18.1 Федерального закона от 27.07.2006 № 152-ФЗ «О
            персональных данных» определяет политику индивидуального предпринимателя Проценко Игоря Георгиевича (далее –
            Оператор) в отношении обработки персональных данных и содержит сведения о реализуемых Оператором требованиях
            к защите персональных данных. Настоящая политика действует в отношении всех персональных данных,
            обрабатываемых с помощью Сервиса, которые Оператор получает или может получить от Пользователя. Настоящая
            политика является неотъемлемой частью внутреннего документа Оператора, определяющего общую политику
            Оператора в отношении обработки персональных данных и раскрывающего общие сведения о реализуемых Оператором
            требованиях к защите персональных данных.</p>

        <h5>1. ОБЩИЕ ПОЛОЖЕНИЯ</h5>

        <p>1.1. Следующие ниже термины и определения для целей настоящей политики имеют следующее значение:</p>
        <p>«Персональные данные» – любая информация, относящаяся к определенному или определяемому на основании такой
            информации физическому лицу (субъекту персональных данных), в том числе его фамилия, имя, отчество, год,
            месяц, дата и место рождения, адрес, адрес электронной почты, телефонный номер, семейное, социальное,
            имущественное положение, образование, профессия, доходы, другая информация. Для целей настоящей политики под
            персональными данными понимается как информация, которую Пользователь предоставляет о себе самостоятельно
            при использовании Сервиса, так и информация, которая автоматически передается Оператору в процессе
            использования Сервиса с помощью установленного на устройстве Пользователя программного обеспечения, в том
            числе IP-адрес, данные файлов «cookie», информация о браузере Пользователя, технические характеристики
            оборудования и программного обеспечения, используемых Пользователем, дата и время доступа к Сервису, адреса
            запрашиваемых страниц веб-сайта и иная подобная информация. Кроме этого, к персональным данным для целей
            настоящей политики также относится информация о Пользователе, обработка которой предусмотрена Соглашением,
            регулирующим порядок использования Сервиса. В соответствии с Указом Президента РФ от 6 марта 1997 г. № 188
            персональные данные относятся к сведениям конфиденциального характера.</p>
        <p>«Оператор» – индивидуальный предприниматель Проценко Игорь Георгиевич, ОГРНИП 324237500471931, ИНН
            232203544124, юридический адрес: ПОЛЕТАЕВА УЛ., 70, , , ТУАПСЕ Г., ТУАПСИНСКИЙ Р-Н, КРАСНОДАРСКИЙ КРАЙ
            352800, осуществляющий обработку
            персональных данных, а также определяющий цели обработки персональных данных, состав персональных данных,
            подлежащих обработке, действия (операции), совершаемые с персональными данными.</p>
        <p>«Пользователь» – любое физическое лицо (субъект персональных данных), в том числе действующее от имени и в
            интересах юридического лица, которое может в процессе использования Сервиса предоставить Оператору свои
            персональные данные, самостоятельно либо через представляемое им юридическое лицо выразившее согласие с
            изложенными в Соглашении условиями либо путем его подписания, либо совершения указанных в нем конклюдентных
            действий, направленных на использование Сервиса. Под Пользователем в контексте настоящей политики также
            понимаются лица, чьи персональные данные обрабатываются Оператором по поручению пользователя Сервиса,
            содержащемся в Соглашении.</p>
        <p>«Сервис», «Информационная система персональных данных», «Информационная система» – веб-сайт, доступ к
            которому осуществляется по адрес в сети Интернет https://irrisketch.ru/, представляющий собой онлайн-сервис
            для проектирования систем автоматического полива. Сервис включает в себя совокупность информации, других
            компьютерных программ, баз данных, программных кодов, лежащих в их основе ноу-хау, алгоритмов, элементов
            дизайна, шрифтов, логотипов, а также текстовых, графических и иные материалов, а также прочих результатов
            интеллектуальной деятельности.</p>
        <p>«Соглашение» – лицензионный договор / контракт, пользовательское или иное соглашение между Пользователем и
            Оператором, регулирующее порядок использования Сервиса и содержащее поручение Пользователя Оператору на
            обработку персональных данных, заключенное либо путем его подписания, либо совершения указанных в нем
            конклюдентных действий, направленных на использование Сервиса.</p>
        <p>«Обработка персональных данных» – действия (операции) с персональными данными, включая сбор, запись,
            систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу
            (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение.</p>
        <p>«Автоматизированная обработка персональных данных» – обработка персональных данных с помощью средств
            вычислительной техники.</p>
        <p>«Неавтоматизированная обработка персональных данных», «Обработка персональных данных без использования
            средств автоматизации» – обработка персональных данных, содержащихся в информационной системе персональных
            данных либо извлеченных из такой системы в случаях, когда такие действия с персональными данными, как
            использование, уточнение, распространение, уничтожение персональных данных в отношении каждого из субъектов
            персональных данных, осуществляются при непосредственном участии человека.</p>
        <p>«Распространение персональных данных» – действия, направленные на передачу персональных данных определенному
            кругу лиц (передача персональных данных) или на раскрытие персональных данных неопределенному кругу лиц.</p>
        <p>«Предоставление персональных данных» – действия, направленные на передачу персональных данных определенному
            лицу или определенному кругу лиц.</p>
        <p>«Блокирование персональных данных» – временное прекращение обработки персональных данных (за исключением
            случаев, когда обработка необходима для уточнения персональных данных).</p>
        <p>«Уничтожение персональных данных» – действия, в результате которых невозможно восстановить содержание
            персональных данных в информационной системе персональных данных и (или) в результате которых уничтожаются
            материальные носители персональных данных.</p>
        <p>«Обезличивание персональных данных» – действия, в результате которых невозможно без использования
            дополнительной информации определить принадлежность персональных данных конкретному субъекту.</p>
        <p>«Использование персональных данных» – действия (операции) с персональными данными, совершаемые в целях
            принятия решений, совершения сделок или иных действий, порождающих юридические последствия в отношении
            субъектов персональных данных либо иным образом затрагивающих их права и свободы или права и свободы других
            лиц.</p>
        <p>«Общедоступные персональные данные» – персональные данные, доступ неограниченного круга лиц к которым
            предоставлен с согласия субъекта или на которые в соответствии с федеральными законами не распространяется
            требование соблюдения конфиденциальности.</p>
        <p>«Конфиденциальность персональных данных» – обязательное для соблюдения лица, получившего доступ к
            персональным данным, требование не допускать их распространения без согласия субъекта или иного законного
            основания.</p>
        <p>«Файлы «cookie», «cookie» – небольшой фрагмент данных, отправленный веб-сервером и хранимый на устройстве
            Пользователя. Файлы «cookie» содержат небольшие фрагменты текста и используются для хранения информации о
            работе браузеров. Они позволяют хранить и получать идентификационные сведения и другую информацию на
            компьютерах, смартфонах, телефонах и других устройствах. Спецификации файлов «cookie» описаны в документах
            RFC 2109 и RFC 2965. Для этих же целей используются другие технологии, в том числе данные, сохраняемые
            браузерами или устройствами, идентификаторы, связанные с устройствами, и другое программное обеспечение. В
            настоящей политике все эти технологии называются файлами «cookie».</p>
        <p>«Веб-маяки» – изображения в электронной форме (одно-пиксельные (1x1) или пустые GIF-изображения). Веб-маяки
            способны помочь Оператору распознавать определенные типы информации на устройстве Пользователя, например,
            файлы «cookie», время и дату просмотра страницы и описание страницы, где размещен веб-маяк.</p>
        <p>«Счетчик» – компьютерная программа, использующая фрагмент кода, установленный на веб-сайте, отвечающий за
            анализ файлов «cookie» и сбор статистических и персональных данных этого веб-сайта. Сбор персональных данных
            осуществляется в обезличенном виде.</p>
        <p>«IP-адрес» – номер из ресурса нумерации сети передачи данных, построенной на основе протокола IP (RFC 791),
            однозначно определяющий при оказании телематических услуг связи, в том числе доступа к сети Интернет,
            абонентский терминал (компьютер, смартфон, планшет, иное устройство) или средства связи, входящие в
            информационную систему и принадлежащие Пользователю.</p>
        <p>«Токен» – уникальный набор символов, идентифицирующий Пользователя в аккаунтах сторонних веб-сервисов. Токен
            позволяет осуществить авторизованное подключение к Сервису с использованием авторизации через сторонние
            веб-сервисы (например, социальные сети).</p>
        <p>1.2. Все остальные термины и определения, встречающиеся в тексте настоящей политики, толкуются Сторонами в
            соответствии с законодательством Российской Федерации, действующими рекомендациями (RFC)</p>
        <p>1.3. международных органов по стандартизации в сети Интернет и сложившимися в сети Интернет обычными
            правилами толкования соответствующих терминов. Кроме того, в политике используются термины из: ГОСТ Р ИСО
            9241-151-2014, ГОСТ Р ИСО 9241-161-2016, ГОСТ 7.83-2001, ГОСТ 7.4-95, ГОСТ 7.9-95 (ИСО 214-76), ГОСТ
            7.60-2003, ГОСТ 7.82-2001, ГОСТ Р 56824-2015, ГОСТ Р 55386-2012, ГОСТ Р 56823-2015, ГОСТ Р 53632-2009, ГОСТ
            Р 56826-2015, ГОСТ Р 5886-2018, ГОСТ Р 58223-2018, ГОСТ Р ИСО/МЭК 24730-1-2017.</p>
        <p>1.4. Термины и определения, используемые в настоящей политике, могут быть использованы как в единственном,
            так и во множественном числе в зависимости от контекста, написание терминов может быть использовано как с
            заглавной буквы, так и с прописной.</p>
        <p>1.5. Названия заголовков (статей), а также конструкция политики предназначены исключительно для удобства
            пользования текстом политики и буквального юридического значения не имеют.</p>
        <p>1.6. Настоящая политика разработана в соответствии с Конституцией Российской Федерации, Гражданским кодексом
            Российской Федерации, Федеральным законом от 27.07.2006 № 149-ФЗ «Об информации, информационных технологиях
            и о защите информации», Федеральным законом от 27 июля 2006 г. № 152-ФЗ «О персональных данных», иными
            федеральными законами.</p>
        <p>1.7. Настоящая политика определяет порядок и условия обработки персональных данных Оператором, включая
            порядок передачи персональных данных третьим лицам, особенности неавтоматизированной обработки персональных
            данных, порядок доступа к персональным данным, систему защиты персональных данных, порядок организации
            внутреннего контроля и ответственность за нарушения при обработке персональных данных, а также иные
            вопросы.</p>
        <p>1.8. Настоящая политика вступает в силу с момента ее утверждения Оператором и действует бессрочно до замены
            ее новой политикой.</p>
        <p>1.9. Оператор вправе вносить изменения в настоящую политику без согласия Пользователя. Все изменения в
            политику вносятся распорядительным актом Оператора.</p>
        <p>1.10. Настоящая политика применяется ко всем процессам по обработке персональных данных, осуществляемым с
            помощью Сервиса без использования средств автоматизации. Оператор не контролирует и не несет ответственности
            за веб-сайты, принадлежащие третьим лицам, на которые Пользователь может перейти по ссылкам, размещенным в
            Сервисе.</p>

        <h5>2. ПРАВОВЫЕ ОСНОВАНИЯ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</h5>

        <p>2.1. Оператор осуществляет обработку персональных данных Пользователя, руководствуясь следующими
            документами:</p>
        <p>• Конституция Российской Федерации;</p>
        <p>• Гражданский кодекс Российской Федерации;</p>
        <p>• Налоговый кодекс Российской Федерации;</p>
        <p>• Федеральный закон от 27.07.2006 № 152-ФЗ «О персональных данных»;</p>
        <p>• Федеральный закон от 27.07.2006 № 149-ФЗ «Об информации, информационных технологиях и о защите
            информации»;</p>
        <p>• Закон РФ от 07.02.1992 № 2300-1 «О защите прав потребителей»;</p>
        <p>• Постановление Правительства Российской Федерации от 15.08.1997 № 1025 «Об утверждении Правил бытового
            обслуживания населения в Российской Федерации»;</p>
        <p>• Постановление Госкомстата Российской Федерации от 05.01.2004 № 1 «Об утверждении унифицированных форм
            первичной учетной документации по учету труда и его оплаты»;</p>
        <p>• Постановление Правительства Российской Федерации от 15.09.2008 № 687 «Об утверждении положения об
            особенностях обработки персональных данных, осуществляемой без использования средств автоматизации»;</p>
        <p>• Постановление Правительства РФ от 01.11.2012 № 1119 «Об утверждении требований к защите персональных данных
            при их обработке в информационных системах персональных данных»;</p>
        <p>• Приказ ФСТЭК России от 18.02.2013 № 21 «Об утверждении состава и содержания организационных и технических
            мер по обеспечению безопасности персональных данных при их обработке в информационных системах персональных
            данных»;</p>
        <p>• Приказ ФСБ России от 10.07.2014 № 378 «Об утверждении Состава и содержания организационных и технических
            мер по обеспечению безопасности персональных данных при их обработке в информационных системах персональных
            данных с использованием средств криптографической защиты информации, необходимых для выполнения
            установленных Правительством Российской Федерации требований к защите персональных данных для каждого из
            уровней защищенности»</p>
        <p>• иные нормативные правовые акты в установленной сфере деятельности Оператора.</p>
        <p>2.2. Обработка персональных данных Пользователя производится на основании и во исполнение Соглашения,
            регулирующего порядок использования Сервиса и иных соглашений или договоров, заключаемых между Пользователем
            и Оператором.</p>
        <p>2.3. Обработка персональных данных Пользователя может производиться также на основании его отдельного
            согласия на такую обработку, которое может быть выражено в том числе непосредственно при использовании
            Сервиса путем нажатия на соответствующую кнопку или путем проставления отметки индикатора соответствующего
            чек-бокса. Срок действия такого согласия Пользователя указывается в его тексте.</p>

        <h5>3. ЦЕЛИ СБОРА ПЕРСОНАЛЬНЫХ ДАННЫХ</h5>

        <p>3.1. Оператор осуществляет обработку только тех персональных данных, которые необходимы для использования
            Сервиса или исполнения соглашений и договоров с Пользователем, за исключением случаев, когда
            законодательством Российской Федерации предусмотрено обязательное хранение персональной информации в течение
            определенного законом срока.</p>
        <p>3.2. При обработке персональных данных Оператор не объединяет базы данных, содержащие персональные данные,
            обработка которых осуществляется в несовместимых между собой целях.</p>
        <p>3.3. Оператор осуществляет обработку персональных данных Пользователя в следующих целях:</p>
        <p>3.3.1. использование персональных данных Пользователей, являющихся физическими лицами, использующими Сервис
            от своего имени, для целей заключения и исполнения Соглашения или любого другого договора с Оператором;</p>
        <p>3.3.2. использование персональных данных Пользователей, являющихся физическими лицами, использующими Сервис
            от имени, представляемого ими физического либо юридического лица, для целей заключения и исполнения
            Соглашения или любого другого договора с Оператором;</p>
        <p>3.3.3. проведение статистических и иных исследований использования Сервиса на основе обезличенных данных;</p>
        <p>3.3.4. соблюдение обязательных требований законодательства Российской Федерации.</p>


        <h5>4. ОБЪЕМ И КАТЕГОРИИ ОБРАБАТЫВАЕМЫХ ПЕРСОНАЛЬНЫХ ДАННЫХ, КАТЕГОРИИ СУБЪЕКТОВ ПЕРСОНАЛЬНЫХ ДАННЫХ</h5>

        <p>4.1. Персональные данные, разрешенные к обработке в соответствии с настоящей политикой и предоставляемые
            Пользователями, являющимися физическими лицами, использующими Сервис от своего имени, путем заполнения
            соответствующих полей ввода при использовании Сервиса, могут включать в себя следующую информацию:</p>
        <p>4.1.1. фамилия, имя и отчество;</p>
        <p>4.1.2. псевдоним (ник);</p>
        <p>4.1.3. номер мобильного телефона;</p>
        <p>4.1.4. адрес электронной почты;</p>
        <p>4.1.5. идентификаторы мессенджеров;</p>
        <p>4.2. Персональные данные, разрешенные к обработке в соответствии с настоящей политикой и предоставляемые
            Пользователями, являющимися физическими лицами, использующими Сервис от имени представляемого ими
            физического либо юридического лица, путем заполнения соответствующих полей ввода при использовании Сервиса,
            могут включать в себя следующую информацию:</p>
        <p>4.2.1. фамилия, имя и отчество;</p>
        <p>4.2.2. псевдоним (ник);</p>
        <p>4.2.3. номер мобильного телефона;</p>
        <p>4.2.4. адрес электронной почты;</p>
        <p>4.2.5. идентификаторы мессенджеров;</p>
        <p>4.3. Персональные данные, обрабатываемые в соответствии с настоящей политикой и автоматически передаваемые
            Оператору в процессе использования Сервиса с помощью установленного на устройстве Пользователя программного
            обеспечения, могут включать в себя следующую информацию:</p>
        <p>4.3.1. IP-адрес устройства Пользователя;</p>
        <p>4.3.2. данные файлов «cookie»;</p>
        <p>4.3.3. данные, собираемые счетчиками;</p>
        <p>4.3.4. данные, получаемые с помощью веб-маяков;</p>
        <p>4.3.5. информация о браузере Пользователя;</p>
        <p>4.3.6. технические характеристики устройства и программного обеспечения;</p>
        <p>4.3.7. дата и время доступа к Сервису;</p>
        <p>4.3.8. адреса запрашиваемых страниц веб-сайта Сервиса;</p>
        <p>4.3.9. географические координаты места нахождения Пользователя;</p>
        <p>4.4. В соответствии с настоящей политикой Оператор осуществляет обработку персональных данных лиц,
            относящихся к следующим категориям субъектов персональных данных:</p>
        <p>4.4.1. физические лица, использующие Сервис в соответствии с Соглашением об его использовании от своего
            имени;</p>
        <p>4.4.2. физические лица, использующие Сервис в соответствии с Соглашением об его использовании от имени
            представляемого ими физического либо юридического лица.</p>

        <h5>5. ПОРЯДОК И УСЛОВИЯ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</h5>

        <p>5.1. Оператор имеет право на обработку персональных данных Пользователя без уведомления уполномоченного
            органа по защите прав субъектов персональных данных в соответствии с частью 2 статьи 22 (пункты 2 и 8)
            Федерального закона от 27 июля 2006 г. № 152-ФЗ «О персональных данных».</p>
        <p>5.2. Оператор осуществляет обработку персональных данных Пользователя с помощью информационной системы
            персональных данных без использования средств автоматизации в соответствии с федеральными законами или иными
            нормативными правовыми актами Российской Федерации, устанавливающими требования к обеспечению безопасности
            персональных данных при их обработке и к соблюдению прав субъектов персональных данных. Такие действия с
            персональными данными, как использование, уточнение, распространение, уничтожение персональных данных в
            отношении Пользователя, осуществляются при непосредственном участии сотрудников Оператора в соответствии с
            особенностями, утвержденными Постановлением Правительства Российской Федерации от 15.09.2008 № 687.</p>
        <p>5.3. Оператор осуществляет обработку и хранит персональные данные Пользователя в течение срока, определяемого
            в соответствии с Соглашением об использовании Сервиса.</p>
        <p>5.4. В отношении персональных данных Пользователя сохраняется их конфиденциальность, кроме случаев
            добровольного предоставления Пользователем информации о себе для общего доступа неограниченному кругу
            лиц.</p>
        <p>5.5. Оператор вправе передать персональные данные Пользователя третьим лицам в следующих случаях:</p>
        <p>5.5.1. имеется согласие Пользователя на такие действия, выраженное в соответствии с условиями Соглашения об
            использовании Сервиса;</p>
        <p>5.5.2. передача необходима для использования Пользователем определенного функционала Сервиса (например, для
            авторизации через аккаунты в социальных сетях) либо для исполнения определенного соглашения, договора или
            сделки с Пользователем;</p>
        <p>5.5.3. передача предусмотрена законодательством Российской Федерации или иным применимым законодательством в
            рамках установленной законодательством процедуры;</p>
        <p>5.5.4. в случае перехода прав на Сервис необходима передача персональных данных приобретателю одновременно с
            переходом всех обязательств по соблюдению условий настоящей политики применительно к полученным им
            персональным данным;</p>
        <p>5.5.5. в случае необходимости обеспечения возможности защиты прав и законных интересов Оператора или третьих
            лиц, когда со стороны Пользователя происходит нарушение настоящей политики или Соглашения об использовании
            Сервиса;</p>
        <p>5.5.6. в иных случаях, предусмотренных законодательством.</p>
        <p>5.6. При утрате или несанкционированном разглашении персональных данных Оператор информирует Пользователя об
            указанном факте.</p>
        <p>5.7. Оператор принимает необходимые организационные и технические меры для защиты персональных данных
            Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования,
            распространения, а также от иных неправомерных действий третьих лиц.</p>
        <p>5.8. Оператор совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных
            отрицательных последствий, вызванных утратой или несанкционированным разглашением персональных данных
            Пользователя.</p>
        <p>5.9. Оператор вправе передавать персональные данные органам дознания и следствия, иным уполномоченным органам
            по основаниям, предусмотренным действующим законодательством Российской Федерации.</p>
        <p>5.10. При сборе персональных данных Оператор осуществляет запись, систематизацию, накопление, хранение,
            уточнение (обновление, изменение), извлечение персональных данных Пользователя, являющихся гражданами
            Российской Федерации, с использованием баз данных, находящихся на территории Российской Федерации.</p>
        <p>5.11. Оператор прекращает обработку персональных данных Пользователя, обработка которых осуществляется с их
            согласия, при истечении срока действия согласия Пользователя на их обработку или при отзыве согласия
            Пользователя на обработку его персональных данных, а также в случае выявления неправомерной обработки
            персональных данных или ликвидации Оператора.</p>

        <h5>6. ПОРЯДОК СБОРА ПЕРСОНАЛЬНЫХ ДАННЫХ С ПОМОЩЬЮ ФАЙЛОВ «COOKIE», ВЕБ-МАЯКОВ И СЧЕТЧИКОВ</h5>

        <p>6.1. Файлы «cookie», передаваемые от Оператора на устройство Пользователя и от Пользователя к Оператору,
            могут использоваться Оператором для достижения целей обработки персональных данных в соответствии с
            политикой конфиденциальности и обработки персональных данных.</p>
        <p>6.2. Оператор использует различные виды «cookie» в Сервисе, которые служат для разных целей и в зависимости
            от них могут быть отнесены к одной из следующих категорий:</p>
        <p>• «Обязательные», т.е. файлы «cookie», которые строго необходимы для функционирования критичных компонентов
            Сервиса и совершения оплаты Пользователем;</p>
        <p>• «Функциональные», т.е. файлы «cookie», которые позволяют Пользователю взаимодействовать с интерфейсом
            Сервиса и использовать его возможности, записывать информацию о совершенных действиях в Сервисе и
            настраивать Сервис в соответствии с потребностями Пользователя. Без этих файлов «cookie» Сервис не сможет
            предоставить определенные функции, такие как запоминание введенных Пользователем сведений, сохранение
            предпочтительного языка и т.п.;</p>
        <p>• «Аналитические», т.е. аналитические / статистические файлы «cookie», которые помогают улучшить
            производительность Сервиса и сделать его более удобным для Пользователей. Через Аналитические файлы «cookie»
            Оператор получает информацию о качестве и / или эффективности Сервиса и его услуг, что помогает понять, как
            Пользователи используют Сервис и как пользуются услугами Оператора.</p>
        <p>6.3. Оператор не запрашивает явным образом согласие при использовании обязательных файлов «cookie». Если
            Пользователь не желает, чтобы его персональные данные собирались с помощью обязательных файлов «cookie», он
            может отключить их предоставление Оператору в программное обеспечении (браузере) на своем устройстве. При
            этом Пользователю перестанут быть доступны функциональные возможности Сервиса, связанные с обязательными
            файлами «cookie», что может привести к полной неработоспособности или некорректной работе Сервиса.</p>
        <p>6.4. Функциональные и аналитические файлы «cookie» Оператор может использовать только с согласия
            Пользователя, которое выражается по общему правилу принятием Соглашения и началом использования Сервиса. В
            ином случае Пользователь вправе отказаться от использования таких файлов «cookie» путем их отключения в
            настройках Сервиса без вреда для его функциональности.</p>
        <p>6.5. Пользователь соглашается с тем, что его устройства и программное обеспечение, применяемые для работы с
            Сервисом, в зависимости от их версии и конфигурации могут как обладать, так и не обладать функцией запрета
            на операции с файлами «cookie» как для любых, так и для определенных сайтов и приложений, а также функцией
            удаления ранее полученных файлов «cookie» (например, приватный режим браузера).</p>
        <p>6.6. Оператор вправе устанавливать требование для устройства Пользователя об обязательном разрешении приема и
            получения файлов «cookie» в связи с требованиями безопасности.</p>
        <p>6.7. Структура файла «cookie», его содержание и технические параметры определяются Оператором и могут
            изменяться без предварительного уведомления Пользователя. Пользователь вправе получить всю необходимую
            информацию о файлах «cookie» путем направления запроса в адрес Оператора в порядке, установленном политикой
            конфиденциальности и обработки персональных данных.</p>
        <p>6.8. Счетчики, размещенные Оператором в Сервисе, могут использоваться Оператором для анализа файлов «cookie»
            и сбора персональных данных об использовании Сервиса с целью улучшения качества работы Сервиса, уровня
            удобства их использования, совершенствование Сервиса. Технические параметры работы счетчиков определяются
            Оператором и могут изменяться без предварительного уведомления Пользователя.</p>
        <p>6.9. Оператор также может использовать веб-маяки как отдельно, так и совместно с файлами «cookie», чтобы
            собирать информацию об использовании Сервиса. Пользователь имеет право заблокировать веб-маяки при
            использовании Сервиса путем запрета на загрузку изображений в настройках своего программного обеспечения
            (браузера).</p>

        <h5>7. ДОСТУП К ПЕРСОНАЛЬНЫМ ДАННЫМ</h5>

        <p>7.1. Право доступа к персональным данным Пользователя имеют только сотрудники Оператора, допущенные в силу
            выполняемых служебных обязанностей к работе с персональными данными Пользователя на основании перечня лиц,
            допущенных к работе с персональными данными, который утверждается Оператором.</p>
        <p>7.2. Список сотрудников, получивших доступ к персональным данным, поддерживается Оператором в актуальном
            состоянии.</p>
        <p>7.3. Доступ к персональным данным Пользователя со стороны третьих лиц, не являющихся сотрудниками Оператора,
            без согласия Пользователя запрещен, за исключением случаев, установленных законодательством Российской
            Федерации.</p>
        <p>7.4. Доступ сотрудника Оператора к персональным данным Пользователя прекращается с даты прекращения трудовых
            отношений либо с даты утраты сотрудником права доступа к персональным данным Пользователя в связи с
            изменением должностных обязанностей, должности или иными обстоятельствами в соответствии с установленным у
            Оператора порядком. В случае прекращения трудовых отношений все носители с персональными данными
            Пользователя, которые находились в распоряжении увольняемого сотрудника Оператора, передаются вышестоящему
            по должности сотруднику в порядке, установленном Оператором.</p>

        <h5>8. АКТУАЛИЗАЦИЯ, ИСПРАВЛЕНИЕ, УДАЛЕНИЕ И УНИЧТОЖЕНИЕ ПЕРСОНАЛЬНЫХ ДАННЫХ</h5>

        <p>8.1. Пользователь может в любой момент изменить, обновить, дополнить или удалить предоставленные им
            персональные данные или их часть с помощью интерфейса Сервиса.</p>
        <p>8.2. В случае самостоятельного выявления Оператором факта неполноты или неточности персональных данных
            Пользователя Оператор принимает все возможные меры по актуализации персональных данных и внесению
            соответствующих исправлений.</p>
        <p>8.3. При невозможности актуализировать неполные или неточные персональные данные Пользователя Оператор
            принимает меры по их удалению.</p>
        <p>8.4. При выявлении неправомерности обработки персональных данных Пользователя их обработка Оператором
            прекращается, а персональные данные подлежат удалению.</p>
        <p>8.5. В случае неработоспособности интерфейса Сервиса или отсутствия функциональной возможности Сервиса для
            изменения, обновления, дополнения или удаления Пользователем персональных данных, а также в любых иных
            случаях, Пользователь вправе в письменной форме требовать от Оператора уточнения его персональных данных, их
            блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными,
            незаконно полученными или не являются необходимыми для заявленной цели обработки.</p>
        <p>8.6. Оператор вносит в персональные данные, являющиеся неполными, неточными или неактуальными необходимые
            изменения в срок, не превышающий семи рабочих дней со дня предоставления Пользователем сведений,
            подтверждающих, что персональные данные являются неполными, неточными или неактуальными.</p>
        <p>8.7. Оператор уничтожает незаконно полученные или не являющиеся необходимыми для заявленной цели обработки
            персональные данные Пользователя в срок, не превышающий семи рабочих дней со дня представления Пользователем
            сведений, подтверждающих, что такие персональные данные являются незаконно полученными или не являются
            необходимыми для заявленной цели обработки.</p>
        <p>8.8. Оператор уведомляет Пользователя о внесенных изменениях и предпринятых мерах и принимает разумные меры
            для уведомления третьих лиц, которым персональные данные этого Пользователя были переданы.</p>
        <p>8.9. Права Пользователя на изменение, обновление, дополнение или удаление персональных данных могут быть
            ограничены в соответствии с требованиями законодательства. Такие ограничения, в частности, могут
            предусматривать обязанность Оператора сохранить измененные, обновленные, дополненные или удаленные
            Пользователем персональные данные на определенный законодательством срок и передать такие персональные
            данные в соответствии с установленной процедурой государственным органам.</p>

        <h5>9. ОТВЕТЫ НА ЗАПРОСЫ ПОЛЬЗОВАТЕЛЯ НА ДОСТУП К ПЕРСОНАЛЬНЫМ ДАННЫМ</h5>

        <p>9.1. Пользователь имеет право на получение от Оператора информации, касающейся обработки их персональных
            данных, в том числе содержащей:</p>
        <p>9.1.1. подтверждение факта обработки персональных данных Оператором;</p>
        <p>9.1.2. правовые основания и цели обработки персональных данных;</p>
        <p>9.1.3. цели и применяемые Оператором способы обработки персональных данных;</p>
        <p>9.1.4. наименование и место нахождения Оператора, сведения о лицах (за исключением сотрудников Оператора),
            которые имеют доступ к персональным данным или которым могут быть раскрыты персональные данные на основании
            договора с Оператором или на основании федерального закона;</p>
        <p>9.1.5. обрабатываемые персональные данные, относящиеся к соответствующему Пользователю, источник их
            получения, если иной порядок представления таких данных не предусмотрен федеральным законом;</p>
        <p>9.1.6. сроки обработки персональных данных, в том числе сроки их хранения;</p>
        <p>9.1.7. порядок осуществления Пользователем прав, предусмотренных Федеральным законом от 27 июля 2006 г. №
            152-ФЗ «О персональных данных»;</p>
        <p>9.1.8. информацию об осуществленной или о предполагаемой трансграничной передаче данных;</p>
        <p>9.1.9. наименование или фамилию, имя, отчество и адрес лица, осуществляющего обработку персональных данных по
            поручению оператора, если обработка поручена или будет поручена такому лицу;</p>
        <p>9.1.10. иные сведения, предусмотренные законом.</p>
        <p>9.2. Оператор безвозмездно предоставляет возможность ознакомления с обрабатываемыми и хранимыми в
            информационной системе Оператора персональными данными при обращении Пользователя в течении тридцати дней с
            даты получения письменного запроса Пользователя.</p>
        <p>9.3. В случае отказа Оператора в предоставлении информации о наличии персональных данных о Пользователе или
            персональных данных Пользователю при его обращении либо при получении запроса Пользователя Оператор
            предоставляет в письменной форме мотивированный ответ, являющийся основанием для такого отказа, в срок, не
            превышающий тридцати дней со дня обращения Пользователя либо с даты получения запроса Пользователя.</p>

        <h5>10. СВЕДЕНИЯ О РЕАЛИЗУЕМЫХ ТРЕБОВАНИЯХ К ЗАЩИТЕ ПЕРСОНАЛЬНЫХ ДАННЫХ</h5>

        <p>10.1. Безопасность персональных данных при их обработке в информационной системе обеспечивается с помощью
            системы защиты персональных данных, нейтрализующей актуальные угрозы, определенные в соответствии с частью 5
            статьи 19 Федерального закона от 27 июля 2006 г. № 152-ФЗ «О персональных данных».</p>
        <p>10.2. Система защиты персональных данных, применяемая Оператором, включает в себя правовые, организационные,
            технические и другие меры для обеспечения безопасности персональных данных, определенные с учетом актуальных
            угроз безопасности персональных данных и информационных технологий, используемых в информационных
            системах.</p>
        <p>10.3. Применительно к персональным данным, в отношении которых предоставлено согласие Пользователя на их
            обработку третьими лицами, Оператор вправе привлекать на основании договора иное лицо, обеспечивающее
            безопасность персональных данных при их обработке в информационной системе.</p>
        <p>10.4. При обработке персональных данных в информационной системе Оператора последним обеспечивается:</p>
        <p>10.4.1. проведение мероприятий, направленных на предотвращение несанкционированного доступа к персональным
            данным Пользователя и/или передачи их лицам, не имеющим права доступа к такой информации;</p>
        <p>10.4.2. своевременное обнаружение фактов несанкционированного доступа к персональным данным;</p>
        <p>10.4.3. недопущение воздействия на технические средства, задействованные в обработке персональных данных, в
            результате которого может быть нарушено их функционирование;</p>
        <p>10.4.4. возможность незамедлительного восстановления персональных данных, модифицированных или уничтоженных
            вследствие несанкционированного доступа к ним;</p>
        <p>10.4.5. постоянный контроль над обеспечением уровня защищенности персональных данных.</p>
        <p>10.5. Для целей соблюдения требований по обеспечению безопасности и внедрения системы обеспечения
            безопасности персональных данных Оператором разработана частная модель угроз безопасности информационной
            системы персональных данных.</p>
        <p>10.6. Оператором в соответствии с Постановлением Правительства РФ от 01.11.2012 № 1119 «Об утверждении
            требований к защите персональных данных при их обработке в информационных системах персональных данных»
            осуществлено определение уровня защищенности персональных данных при их обработке в информационной системе
            персональных данных, принадлежащей Оператору.</p>
        <p>10.7. Оператором составлен акт определения уровня защищенности персональных данных при их обработке в
            информационной системе персональных данных.</p>
        <p>10.8. Оператором на основании акта определения уровня защищенности персональных данных при их обработке в
            информационной системе персональных данных без использования средств автоматизации, разработан и внедрен
            комплекс мер по защите и обеспечению безопасности персональных данных.</p>
        <p>10.9. Оператором используются технические средства и программное обеспечение для обработки и защиты
            персональных данных, а также ведется журнал учета средств защиты персональных данных.</p>
        <p>10.10. Оператором ведется журнал учета и хранения съемных носителей информации, содержащих персональные
            данные.</p>
        <p>10.11. Технические средства, обеспечивающие функционирование информационной системы персональных данных,
            размещаются в помещениях, принадлежащих Оператору на праве собственности или ином вещном праве (аренда,
            безвозмездное пользование и т.д.).</p>
        <p>10.12. Все сотрудники Оператора, допущенные к работе с персональными данными, а также связанные с
            эксплуатацией и техническим обслуживанием информационной системы персональных данных ознакомлены с
            требованиями настоящей политики, а также с внутренними документами Оператора, регулирующими порядок работы с
            персональными данными.</p>
        <p>10.13. Оператором организован процесс обучения сотрудников порядку использования средств защиты персональных
            данных, эксплуатируемых Оператором. Обучение проходят сотрудники, имеющие постоянный доступ к персональным
            данным, и сотрудники, связанные с эксплуатацией и техническим обслуживанием информационной системы
            персональных данных и средств защиты персональных данных.</p>
        <p>10.14. Внутренними документами Оператора установлено, что сотрудники обязаны незамедлительно сообщать
            соответствующему должностному лицу Оператора об утрате, порче или недостаче носителей информации, содержащих
            персональные данные, а также о попытках несанкционированного разглашения персональных данных, его причинах и
            условиях.</p>

        <h5>11. СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</h5>

        <p>11.1. Пользователь принимает решение о предоставлении своих персональных данных и дает согласие на их
            обработку свободно, по своей воле и в своем интересе.</p>
        <p>11.2. Согласие на обработку персональных данных, предоставленное Пользователем, является конкретным,
            информированным и сознательным.</p>
        <p>11.3. В случае обработки персональных данных Пользователя на основании и во исполнение Соглашения,
            регулирующего порядок использования Сервиса, и иных соглашений или договоров, заключаемых между
            Пользователем и Оператором с использованием Сервиса, такая обработка персональных данных Пользователя
            осуществляется на основании пункта 5 статьи 6 Федерального закона от 27 июля 2006 г. № 152-ФЗ «О
            персональных данных» и не требует отдельного согласия.</p>
        <p>11.4. В случае обработки персональных данных Пользователя на основании его отдельного согласия на такую
            обработку, выражаемого непосредственно при использовании Сервиса путем нажатия на соответствующую кнопку или
            путем проставления отметки индикатора соответствующего чек-бокса, то такое согласие на обработку
            персональных данных предоставляется Пользователем в форме электронного документа, подписанного простой
            электронной подписью в соответствии с Соглашением, регулирующим порядок использования Сервиса.</p>
        <p>11.5. Согласие на обработку персональных данных может быть отозвано Пользователем в соответствии с порядком,
            установленным законодательством.</p>

        <h5>12. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</h5>

        <p>12.1. Начало использования Сервиса Пользователем означает его согласие с условиями настоящей политики. В
            случае несогласия Пользователя с условиями настоящей политики использование Сервиса должно быть немедленно
            прекращено.</p>
        <p>12.2. К настоящей политике и к отношениям между Пользователем и Оператором, возникающим в связи с применением
            настоящей политики, подлежит применению право Российской Федерации.</p>
        <p>12.3. Настоящая политика находится в постоянном открытом доступе на веб-сайте Оператора по следующей ссылке:
            https://irrisketch.ru/privacy.html.</p>
        <p>12.4. Все предложения или вопросы по поводу настоящей политики Пользователь вправе направлять в службу
            поддержки Пользователя Оператора путем отправки электронного сообщения на адрес электронной почты:
            https://irrisketch.ru/privacy.html.</p>


        <h5>13. РЕКВИЗИТЫ</h5>

        <p>ИП Проценко Игорь Георгиевич, ОГРНИП 324237500471931, ИНН 232203544124</p>
        <p>Юридический адрес: ПОЛЕТАЕВА УЛ., 70, , , ТУАПСЕ Г., ТУАПСИНСКИЙ Р-Н, КРАСНОДАРСКИЙ КРАЙ 352800</p>
        <p>Электронная почта: mail@irrisketch.ru</p>

    </div>
</div>
