<script type="module">
    if (location.hash !== null && location.hash !== "") {
        $(location.hash + ".collapse").collapse();
    }
    $(document).ready(function () {
        $(`.collapse`).on('show.bs.collapse', function () {
            window.location.hash = $(this).attr('id');
        });
    });
</script>

<div class="container" id="faq">
    <hr>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Pytania ogólne</span></div>
    </div>
    <p>
        <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#qA1"
                aria-expanded="false"
                aria-controls="qA1">
            Kupiłem subskrypcję, ale płatne funkcje nie są dostępne, co robić?
        </button>
    </p>
    <div class="collapse" id="qA1" data-parent="#faq">
        <div class="card card-body">
            <p>
                Po zakupie płatnej subskrypcji IRRISketch należy aktywować ją ręcznie na swoim koncie osobistym.
                koncie
                pod linkiem:
            </p>
            <p>
                <a href="https://www.irrisketch.com/account/orders"
                   target="_blank">www.irrisketch.com/account/orders</a>,
            </p>
            gdzie subskrypcja będzie widoczna w prawej kolumnie. Po aktywacji będziesz mógł swobodnie korzystać ze wszystkich
            płatnych funkcji usługi.
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#qA2"
                aria-expanded="false"
                aria-controls="qA2">
            Zapłaciłem za subskrypcję, ale nie pojawiła się ona w mojej osobistej szafce.
        </button>
    </p>
    <div class="collapse" id="qA2" data-parent="#faq">
        <div class="card card-body">
            <p>
                W takim przypadku należy przejść do swojego konta osobistego, klikając ten link:
            </p>
            <p>
                <a href="https://www.irrisketch.com/account/orders"
                   target="_blank">www.irrisketch.com/account/orders</a>
            </p>
            <p>
                Spójrz na przycisk na dole zamówienia. Czerwony przycisk "Powtórz" oznacza, że płatność
                nie powiodła się
                i powinieneś spróbować ponownie, ale najpierw sprawdź, czy pieniądze zostały pobrane.
            </p>
            <p>
                Jeśli od dłuższego czasu widzisz żółty przycisk "Płatność w toku", istnieje prawdopodobieństwo, że transakcja nie została jeszcze zakończona.
                transakcja nie
                się wydarzyła
                automatyczne potwierdzenie. Jeśli tak jest, kliknij ten przycisk, aby ją zakończyć i wszystko powinno działać.
                działać.
            </p>
            Po pomyślnym dokonaniu płatności i zakończeniu transakcji zobaczysz zielony przycisk "Zweryfikowano płatność".
            przycisk.
            Kliknij go, a Twoja subskrypcja pojawi się w prawej kolumnie.
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Pytania dotyczące projektów</span></div>
    </div>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP1"
                aria-expanded="false" aria-controls="qP1">
            Zmiany w projekcie nie zostały zapisane/chcę przywrócić określony stan projektu, co powinienem zrobić?
            projektu, co powinienem zrobić?
        </button>
    </p>
    <div class="collapse" id="qP1" data-parent="#faq">
        <div class="card card-body">
            <p>
                1. Otwórz tę samą przeglądarkę, na tym samym komputerze, na którym ostatnio pracowałeś nad projektem.
            </p>
            <p>
                2. Przejdź do warsztatu IRRISketch i otwórz projekt, z którym związany jest problem.
            </p>
            <p>
                3. Jeśli przy otwieraniu projektu pojawi się okno oferujące przywrócenie projektu, naciśnij przycisk "Przywróć" i zobacz wynik. Jeśli projekt nie został przywrócony do wymaganego stanu, kontynuuj postępowanie zgodnie z instrukcjami.
            </p>
            <p>
                4. W prawym górnym rogu kliknij przycisk Historia (ikona zegara ze strzałką) i jeśli wszystko zostało poprawnie zapisane, zobaczysz listę znaczników czasowych stanów twojego projektu. Wybierz ten, w którym projekt był w najbardziej pożądanym stanie. Po tym koniecznie zapisz projekt!
            </p>
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP2"
                aria-expanded="false"
                aria-controls="qP2">
            Jak wyświetlić siatkę na rysunku projektu? Siatka rysunku nie pojawia się podczas drukowania do formatu PDF/PNG.
        </button>
    </p>
    <div class="collapse" id="qP2" data-parent="#faq">
        <div class="card card-body">
        <span>
            Aby wyświetlić siatkę podczas drukowania, należy umieścić ją na rysunku jako obraz. Siatkę można pobrać,
            na przykład <a
                    href="https://drive.google.com/file/d/1PrKMoz9YDW-UHNwBpxTXMzGqLM-X3Mb_/view?usp=sharing"
                    target="_blank">stąd</a>, a następnie przeskaluj go na rysunku do żądanego rozmiaru.
        </span>
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP3"
                aria-expanded="false"
                aria-controls="qP3">
            Jak przenieść projekt z jednego konta na drugie?
        </button>
    </p>
    <div class="collapse" id="qP3" data-parent="#faq">
        <div class="card card-body">
            Aby to zrobić, możesz pobrać plik projektu za pomocą odpowiedniego przycisku w prawym górnym panelu
            Następnie utwórz pusty projekt na nowym koncie i za pomocą przycisku "Wczytaj" otwórz wcześniej pobrany plik.
            plik.
            <img src="/images/faq/downloadbuttonglobal.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="30%" height="30%">
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP4"
                aria-expanded="false"
                aria-controls="qP4">
            Projekt "zawiesza się"/Przejście do trybu rysowania zajmuje dużo czasu
        </button>
    </p>
    <div class="collapse" id="qP4" data-parent="#faq">
        <span>
            <p>
                UZwykle jest to związane z bardzo dużą liczbą elementów w projekcie, ponieważ IRRISketch Residential nie jest przeznaczony do szczególnie dużych powierzchni. Problem ten można rozwiązać, usuwając wszystkie istniejące obiekty w trybie rysowania i zastępując je pojedynczym tłem.
            </p>
            <p>
                1. Utwórz kopię projektu i otwórz ją, jeśli obawiasz się przypadkowej utraty danych.
            </p>
            <p>
                2. Przełącz się do trybu irygacji i użyj kombinacji klawiszy ctrl+a, aby zaznaczyć wszystkie elementy, a następnie wytnij je za pomocą kombinacji klawiszy ctrl+x (zostaną one zapisane w schowku).
            </p>
            <p>
                3. Przełącz się do trybu rysowania, ustaw opcję "Krajobraz" w zakładce "Styl wizualny", aby uzyskać oryginalny krajobraz projektu i usuń stempel.
            </p>
            <img src="/images/faq/visualStyleEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="30%" height="30%">
            <p>
                4. Wybierz format arkusza od A1 do A4. Im większy rozmiar arkusza, tym wyższa jakość końcowego obrazu, ale tym więcej miejsca będzie on zajmował.
            </p>
            <img src="/images/faq/listFormatEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="30%" height="30%">
            <p>
                5. Użyj narzędzia "Linijka" w trybie rysowania, aby zmierzyć dowolny łatwo mierzalny element rysunku i zapisać jego długość, ponieważ będzie on potrzebny później.
            </p>
            <img src="/images/faq/rulerEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="50%" height="50%">
            <p>
                6. Przejdź do trybu "Edytuj rysunek" w dolnej części ekranu i wstaw rysunek do arkusza za pomocą przycisku w lewym dolnym rogu. Wyeksportuj projekt jako obraz.
                Jeśli wynikowy obraz jest większy niż 10 MB, nie będzie można go użyć. W takim przypadku, jeśli wiesz, jak korzystać z różnych edytorów obrazów (takich jak Photoshop, Gimp), skompresuj obraz lub zmniejsz liczbę kolorów. Zmniejszy to rozmiar pliku.
            </p>
            <img src="/images/faq/fitEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="100%" height="100%">
            <p>
                7. Wstaw obraz do projektu i ustaw prawidłową skalę, używając długości zarejestrowanej w kroku 5.
            </p>
            <img src="/images/faq/resizeEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="50%" height="50%">
            <p>
                8. Wyrównaj obraz z rysunkiem tak, aby wszystkie elementy znajdowały się w tych samych pozycjach, w jakich są wyświetlane na obrazie.
            </p>
            <img src="/images/faq/alignEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="50%" height="50%">
            <p>
                9. Zablokuj obraz, zaznaczając go i klikając odpowiedni przycisk w lewym dolnym rogu.
            </p>
            <img src="/images/faq/lockEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="15%" height="15%">
            <p>
                10. Użyj kombinacji klawiszy ctrl+a, aby zaznaczyć wszystkie elementy w trybie rysowania i usunąć je. Powinien pozostać tylko obraz.
            </p>
            <p>
                11. Wróć do trybu nawadniania i wklej wszystkie wcześniej usunięte elementy nawadniania z powrotem na rysunek za pomocą kombinacji klawiszy ctrl+v. Jeśli zostanie to wykonane prawidłowo, wszystkie elementy powinny powrócić do swoich pierwotnych pozycji.
            </p>
        </span>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP5"
                aria-expanded="false"
                aria-controls="qP5">
            W trybie układu niektóre strefy nie są wyświetlane/ Kroplowniki nie jest wyświetlana
        </button>
    </p>
    <div class="collapse" id="qP5" data-parent="#faq">
        <span>
           To zachowanie jest związane z ustawieniami reprezentacji stref w układzie.
            Aby zmienić ustawienia reprezentacji stref, w lewym dolnym rogu, w trybie układów, kliknij przycisk "Reprezentacja stref" i zaznacz pola obok stref, które chcesz zobaczyć w układzie. Alternatywnie można utworzyć nowy układ, w którym będą wyświetlane wszystkie istniejące strefy.
        </span>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP6"
                aria-expanded="false" aria-controls="qP6">
            Obraz układu jest po eksporcie do PDF/Zdjęcia obrócony/umieszczony nieprawidłowo
        </button>
    </p>
    <div class="collapse" id="qP6" data-parent="#faq">
    <span>
        <p>
            To się dzieje, ponieważ oryginalny obraz zawiera metadane EXIF. Aby obraz zachowywał się prawidłowo, musisz usunąć te metadane za pomocą usługi <a href="https://www.verexif.com/en/" target="_blank">www.verexif.com/en/</a>.
        </p>
        <p>
            Po otwarciu linku - załaduj swój obraz, następnie kliknij przycisk "Usuń EXIF", pobierz nowy obraz i zastąp stary w IRRISketch.
        </p>
    </span>
    </div>
    <hr>
</div>