<ul>
    <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap 4 (MIT)</a></li>
    <li><a href="https://fontawesome.com/" target="_blank">Fontawesome 5 (MIT)</a></li>
    <li><a href="https://jquery.com/" target="_blank">jQuery 3 (Apache License V2.0)</a>
    </li>
    <li><a href="https://github.com/mozilla/pdf.js" target="_blank">PDF.js (Apache License
            V2.0)</a>
    </li>
    <li><a href="https://underscorejs.org/#" target="_blank">underscorejs (MIT)</a></li>
    <li><a href="https://www.npmjs.com/package/js-xlsx" target="_blank">js-xlsx (Apache
            License V2.0)</a></li>
    <li><a href="https://github.com/eligrey/FileSaver.js" target="_blank">FileSaver
            (MIT)</a></li>
    <li><a href="https://github.com/caolan/async" target="_blank">async (MIT)</a></li>
    <li><a href="https://github.com/eligrey/Blob.js.git" target="_blank">Blob (MIT)</a></li>
    <li><a href="https://github.com/bootstrap-tagsinput/bootstrap-tagsinput"
           target="_blank">bootstrap-tagsinput (MIT)</a></li>
    <li><a href="https://github.com/twitter/typeahead.js" target="_blank">typeahead.js
            (MIT)</a></li>
    <li><a href="https://kenwheeler.github.io/slick/" target="_blank">slick (MIT)</a></li>
    <li><a href="https://github.com/zalog/placeholder-loading" target="_blank">placeholder-loading (MIT)</a></li>
    <li><a href="https://github.com/fengyuanchen/cropperjs/" target="_blank">Cropper.js (MIT)</a></li>
    <li><a href="https://clipboardjs.com/" target="_blank">clipboard.js (MIT)</a></li>
    <li><a href="http://sheetjs.com" target="_blank">cpexcel.js (Apache
            License V2.0)</a></li>
</ul>