<div class="row mb-3 mt-2">
    <div class="col-12">
        <div class="alert alert-success pb-2 pt-4" role="alert">
                <span class="pulsing_element">
                    <!--                        <i-->
                    <!--                                class="lefticon whatsprioricon align-middle fab fa-whatsapp fa-4x"></i>-->
                </span>
            <h4 class="alert-heading"><%= __("Campus_Title") %></h4>
            <p class=""><%= __("Campus_Description") %></p>
            <a href="https://www.picktime.com/irrisketch"
               class="btn btn-warning btn-lg mr-2 mb-2" target="_blank"><i
                        class="far fa-calendar-check"></i>&nbsp;<%= __("Campus_Button") %> </a>
        </div>
    </div>
</div>
