<div class="row mb-3 mt-2">
    <div class="col-12">
        <div class="alert alert-success pb-2 pt-4" role="alert">
                <span class="pulsing_element">
                    <a class="mt-n1" href="https://www.galabau-messe.com/en" target="_blank">
                        <img class="lefticon align-middle img-fluid"
                             width="100" height="100"
                             src="/images/galabau.png"
                             alt="card image">
                        </a>
                    <!--                        <i-->
                    <!--                                class="lefticon whatsprioricon align-middle fab fa-whatsapp fa-4x"></i>-->
                </span>
            <h4 class="alert-heading">Come to see us at the Galabau exhibition!</h4>
            <p class="">14 - 17 September 2022 // Nuremberg, Germany // Booth 4-149</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" style="color: #007b5e !important;"
                       href="https://www.galabau-messe.com">
                        <i class="far fa-globe"></i>&nbsp;GaLaBau website
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" style="color: #007b5e !important;"
                       href="https://www.galabau-messe.com/en/press/downloads?focus=Brochures">
                        <i class="far fa-file-download"></i>&nbsp;Download brochures
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" style="color: #007b5e !important;"
                       href="/images/GaLaBau.png">
                        <i class="far fa-map-marked"></i>&nbsp;Find our booth (Hall 4)
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
