<div class="row mb-3 mt-2">
    <div class="col-12">
        <div class="alert alert-success pb-2 pt-4" role="alert">
                <span class="pulsing_element">
                        <img class="lefticon align-middle img-fluid"
                             width="140" height="140"
                             src="/images/inaqua_logo_round_white.png"
                             alt="card image">
                        </a>
                    <!--                        <i-->
                    <!--                                class="lefticon whatsprioricon align-middle fab fa-whatsapp fa-4x"></i>-->
                </span>
            <h4 class="alert-heading">Dobrodošli u IRRISketch!</h4>
            <p class="">Javimo se!</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" style="color: #007b5e !important;"
                       href="mailto:zlatko@inaqua.hr?subject=Hello">
                        <i class="far fa-user-alt"></i>&nbsp;Zlatko Kramarić
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" style="color: #007b5e !important;"
                       href="mailto:zlatko@inaqua.hr?subject=Hello">
                        <i class="far fa-envelope"></i>&nbsp;zlatko@inaqua.hr
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" style="color: #007b5e !important;"
                       href="tel:+385911317775">
                        <i class="far fa-phone"></i>&nbsp;+385911317775
                    </a>
                </li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" style="color: #007b5e !important;"
                       href="mailto:vice@inaqua.hr?subject=Hello">
                        <i class="far fa-user-alt"></i>&nbsp;Vice Maržić
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" style="color: #007b5e !important;"
                       href="mailto:vice@inaqua.hr?subject=Hello">
                        <i class="far fa-envelope"></i>&nbsp;vice@inaqua.hr
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" style="color: #007b5e !important;"
                       href="tel:+385911317774">
                        <i class="far fa-phone"></i>&nbsp;+385911317774
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
