<script defer src='https://ig.instant-tokens.com/users/f94ae335-0899-435c-ba2a-6e31cac52020/instagram/17841431817481900/token.js?userSecret=48qvv54ixs6lfrky8vn9c9'></script>
<script defer src="/js/instafeed.js"></script>

<div class="container pb-3">
    <div class="row my-3">
        <div class="col-12 p-0">
            <div id="instafeed" class="insta-images slider hideit">
                <div class="slide"><img src="images/instaPH.svg"></div>
                <div class="slide"><img src="images/instaPH.svg"></div>
                <div class="slide"><img src="images/instaPH.svg"></div>
                <div class="slide"><img src="images/instaPH.svg"></div>
            </div>
        </div>
    </div>
</div>
