<script defer src='https://ig.instant-tokens.com/users/3374b06f-f6b4-419d-b099-c31111ad5f7c/instagram/17841443761576328/token.js?userSecret=nkcby34jtchkujsvtq9xs'></script>
<script defer src="/js/instafeed.js"></script>

<div class="container pb-3">
    <div class="row my-3">
        <div class="col-12 p-0">
            <div id="instafeed" class="insta-images slider hideit">
                <div class="slide"><img src="images/instaPH.svg"></div>
                <div class="slide"><img src="images/instaPH.svg"></div>
                <div class="slide"><img src="images/instaPH.svg"></div>
                <div class="slide"><img src="images/instaPH.svg"></div>
            </div>
        </div>
    </div>
</div>
