<%- partial('../irrigation_show_award_base', {
    modalId: 'awardModalGlobal',
    modalLabelId: 'awardModalLabelGlobal',
    title: 'Startup of the Year 2025',
    description: 'We want to say the words of gratitude to everyone who supported IRRISketch so far and to everyone who will support us in the future, as we proudly announce to you that we were chosen as the winner of the:',
    awardName: 'Irrigation Show 2025 Startup Showcase',
    awardTitle: '"Startup of the Year" Award',
    linkText: 'More details you can find <a href="https://irrigation.org/IA/Tagged_List/Press-Releases-Folder/2025/IA_announces_Startup_of_the_Year_Award_winner_at_2025%20Irrigation%20Show.aspx">here</a>',
    modalTitle: 'Irrigation Show 2025 Award'
}) %>