<div class="jumbotron py-4 mb-3">
    <div class="row">
        <div class="col-lg-3 col-sm-12 my-lg-auto mb-sm-4 text-center">
            <img width="200" src="/images/irrigation_show_2025_award.png" alt="Irrigation Show 2025">
        </div>
        <div class="col-lg-9 col-sm-12">
            <div class="text-center mb-3">
                <h1 class="p-0 mb-1">
                    <i class="far fa-award"></i>&nbsp;Startup of the Year 2025
                </h1>
            </div>
            <p class="lead mb-3">
                We want to say the words of gratitude to everyone who supported IRRISketch so far and to everyone who will support us in the future, as we proudly announce to you
                that we were chosen as the winner of the:
            </p>
            <p class="lead text-center mb-1">
                <strong>Irrigation Show 2025 Startup Showcase</strong>
            </p>
            <p class="lead text-center mb-4">
                <strong>"Startup of the Year" Award</strong>
            </p>
            <p class="mb-3">
                More details you can find <a href="https://www.irrigation.org/2025Show/Trade-Show/Startup_Showcase/2025Show/Trade_Show/Startup_Showcase.aspx?hkey=bed326fc-03ab-42f9-b813-566e1a3546f4">here</a>
            </p>
        </div>
    </div>
</div>