<div class="row mb-3 mt-2">
    <div class="col-12">
        <div class="alert alert-success pb-2 pt-4" role="alert">
                <span class="pulsing_element">
                        <a class="mt-n1"
                           href="https://www.techall.nl/irrisketch-residential-pro#specification"
                           target="_blank">
                        <img class="lefticon align-middle img-fluid"
                             width="140" height="140"
                             src="/images/techall_logo_round_white.png"
                             alt="card image">
                        </a>
                    <!--                        <i-->
                    <!--                                class="lefticon whatsprioricon align-middle fab fa-whatsapp fa-4x"></i>-->
                </span>
            <h4 class="alert-heading">Welkom bij IRRISketch!</h4>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" style="color: #007b5e !important;"
                       href="www.engeldot.nl">
                        <i class="far fa-globe"></i>&nbsp;www.engeldot.nl
                    </a>
                </li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" style="color: #007b5e !important;"
                       href="mailto:remco.schreurs@engeldot.nl?subject=Hello">
                        <i class="far fa-user-alt"></i>&nbsp;Remco Schreurs
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" style="color: #007b5e !important;"
                       href="mailto:info@engeldot.nl?subject=Hello">
                        <i class="far fa-envelope"></i>&nbsp;info@engeldot.nl
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" style="color: #007b5e !important;"
                       href="tel:+31546656766">
                        <i class="far fa-phone"></i>&nbsp;+31 (0) 546 65 67 66
                    </a>
                </li>
            </ul>
            <ul class="list-inline">
                &nbsp;
            </ul>
        </div>
    </div>
</div>
