<div class="row mb-3 mt-2">
    <div class="col-12">
        <div class="alert alert-success pb-2 pt-4" role="alert">
                <span class="pulsing_element">
                    <a class="mt-n1" href="http://bit.ly/irrishelpEN" target="_blank">
                        <img class="lefticon align-middle img-fluid"
                             width="135" height="135"
                             src="/images/people/theo.png"
                             alt="card image">
                        </a>
                    <!--                        <i-->
                    <!--                                class="lefticon whatsprioricon align-middle fab fa-whatsapp fa-4x"></i>-->
                </span>
            <h4 class="alert-heading">Willkommen bei IRRISketch Deutschland!</h4>
            <p class="">Hier kommen wir in Kontakt!</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" style="color: #007b5e !important;"
                       href="mailto:theo@irrisketch.com?subject=Hello">
                        <i class="far fa-user-alt"></i>&nbsp;Theo Wirtz
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" style="color: #007b5e !important;"
                       href="mailto:theo@irrisketch.com?subject=Hello">
                        <i class="far fa-envelope"></i>&nbsp;theo@irrisketch.com
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" style="color: #007b5e !important;"
                       href="tel:+4924565074510">
                        <i class="far fa-phone"></i>&nbsp;+4924565074510
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" style="color: #007b5e !important;"
                       href="https://www.instagram.com/irrisketch.de/">
                        <i class="fab fa-instagram"></i>&nbsp;@irrisketch.de
                    </a>
                </li>
            </ul>
            <a href="https://www.picktime.com/f67a94a6-a9e6-41f4-be02-adbffa5aac5d"
               class="btn btn-warning btn-lg mr-2 mb-2" target="_blank"><i
                        class="far fa-calendar-check"></i>&nbsp;<%= __("BookOnlineIntroduction") %></a>
        </div>
    </div>
</div>
