<script type="module">
    if (location.hash !== null && location.hash !== "") {
        $(location.hash + ".collapse").collapse();
    }
    $(document).ready(function () {
        $(`.collapse`).on('show.bs.collapse', function () {
            window.location.hash = $(this).attr('id');
        });
    });
</script>

<div class="container" id="faq">
    <hr>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3"> Opća pitanja</span></div>
    </div>
    <p>
        <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#qA1"
                aria-expanded="false"
                aria-controls="qA1">
            Kupili ste pretplatu, ali plaćena funkcionalnost nije dostupna, što učiniti?
        </button>
    </p>
    <div class="collapse" id="qA1" data-parent="#faq">
        <div class="card card-body">
            <p>
                Nakon kupnje plaćene IRRISketch pretplate, morate je ručno aktivirati na svom osobnom računu
                na poveznici:
            </p>
            <p>
                <a href="https://www.irrisketch.com/account/orders"
                   target="_blank">www.irrisketch.com/account/orders</a>,
            </p>
            gdje će vaša pretplata biti u desnoj koloni. Nakon aktivacije moće ćete slobodno koristit sve plaćene
            funkcionalnosti usluge.
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#qA2"
                aria-expanded="false"
                aria-controls="qA2">
            Platio sam pretplatu, ali nije se pojavila u mom osobnom kabinetu.
        </button>
    </p>
    <div class="collapse" id="qA2" data-parent="#faq">
        <div class="card card-body">
            <p>
                U ovom slučaju morate ići na svoj osobni račun slijedeći ovu poveznicu:
            </p>
            <p>
                <a href="https://www.irrisketch.com/account/orders"
                   target="_blank">www.irrisketch.com/account/orders</a>
            </p>
            <p>
                Pogledajte gumb na dnu narudžbe. Crveni gumb "Ponovi" znači da plaćanje nije uspjelo i trebali biste
                pokušati ponovo, ali prvo provjerite je li novac naplaćen.
            </p>
            <p>
                Ako već duže vrijeme vidite žuti gumb "Plaćanje u tijeku", velike su šanse da se transakcija nije
                dogodila automatskom potvrdom. Ako je to slučaj, kliknite ovaj gumb kako biste je dovršili i sve bi
                trebalo raditi.
            </p>
            Nakon uspješnog plaćanja i završetka transakcije vidjet ćete zeleni gumb "Plaćanje verificirano".
            Kliknite ga i pretplata će se pojaviti u desnom stupcu.
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Pitanja o projektima </span></div>
    </div>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP1"
                aria-expanded="false" aria-controls="qP1">
            Promjene u projektu nisu spremljene / želim obnoviti određeno stanje projekta, što da radim?
        </button>
    </p>
    <div class="collapse" id="qP1" data-parent="#faq">
        <div class="card card-body">
            <p>
                1. Otvorite isti preglednik na istom računalu na kojem ste zadnji put radili na projektu.
            </p>
            <p>
                2. Idite na IRRISketch radionicu i otvorite projekt na koji se problem odnosi.
            </p>
            <p>
                3. Ako se prilikom otvaranja projekta pojavi prozor koji nudi vraćanje projekta, pritisnite gumb "Vrati" i pogledajte rezultat. Ako projekt nije vraćen u željeno stanje, nastavite slijediti upute.
            </p>
            <p>
                4. U gornjem desnom kutu kliknite na gumb Povijest (ikona sata sa strelicom) i ako je sve ispravno spremljeno, vidjet ćete popis vremenskih oznaka stanja vašeg projekta. Odaberite onu kada je projekt bio u najpoželjnijem stanju. Nakon toga, svakako spremite projekt!
            </p>
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP2"
                aria-expanded="false"
                aria-controls="qP2">
            Kako mogu prikazati mrežu u crtežu projekta? Mreža za crtanje ne pojavljuje se prilikom izvoza u PDF / PNG.
        </button>
    </p>
    <div class="collapse" id="qP2" data-parent="#faq">
        <div class="card card-body">
        <span>
            Da biste prikazali mrežu prilikom ispisa, mora se na crtež postaviti kao slika. Na primjer, možete preuzeti mrežu
        <a
                href="https://drive.google.com/file/d/1PrKMoz9YDW-UHNwBpxTXMzGqLM-X3Mb_/view?usp=sharing"
                target="_blank">ovdje</a>, I zatim je povećati na crtežu do željene veličine.
        </span>
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP3"
                aria-expanded="false"
                aria-controls="qP3">
            Kako prenijeti projekt s jednog računa na drugi?
        </button>
    </p>
    <div class="collapse" id="qP3" data-parent="#faq">
        <div class="card card-body">
            Da biste to učinili, možete preuzeti projektnu datoteku pomoću odgovarajućeg gumba na gornjoj desnoj ploči.
            Nakon toga stvorite prazan projekt na novom računu i pomoću gumba "Preuzmi" otvorite preuzeti projekt.
            <br>
            <img src="/images/faq/downloadbuttonglobal.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="30%" height="30%">
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP4"
                aria-expanded="false"
                aria-controls="qP4">
            Projekt "zapinje"/Prijelaz u način crtanja traje dugo vremena
        </button>
    </p>
    <div class="collapse" id="qP4" data-parent="#faq">
        <span>
            <p>
                Obično je to povezano s vrlo velikim brojem elemenata u projektu, jer IRRISketch Residential nije namijenjen posebno velikim parcelama. Taj se problem može riješiti brisanjem svih postojećih objekata u načinu crtanja i zamjenom jednim pozadinom.
            </p>
            <p>
                1. Napravite kopiju projekta i otvorite je ako se bojite da biste slučajno izgubili podatke.
            </p>
            <p>
                2. Prebacite se na način navodnjavanja i koristite kombinaciju tipki ctrl+a za odabir svih elemenata, zatim ih izrežite koristeći kombinaciju tipki ctrl+x (bit će spremljeni u međuspremnik).
            </p>
            <p>
                3. Prebacite se na način crtanja, postavite postavku "Krajolik" u kartici "Vizualni stil" kako biste dobili izvorni krajolik projekta i uklonite pečat.
            </p>
            <img src="/images/faq/visualStyleEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="30%" height="30%">
            <p>
                4. Odaberite format lista od A1 do A4. Što je veća veličina lista, veća je kvaliteta konačne slike, ali zauzima više prostora.
            </p>
            <img src="/images/faq/listFormatEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="30%" height="30%">
            <p>
                5. Koristite alat "Ravnalo" u načinu crtanja kako biste izmjerili bilo koji lako mjerljivi element crteža i zabilježite njegovu duljinu, jer će vam biti potrebna kasnije.
            </p>
            <img src="/images/faq/rulerEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="50%" height="50%">
            <p>
                6. Prebacite se na način "Uređivanje crteža" na dnu zaslona i umetnite crtež u list koristeći gumb u donjem lijevom kutu. Izvezite projekt kao sliku.
                Ako rezultirajuća slika ima više od 10 MB, nećete je moći koristiti. U tom slučaju, ako znate koristiti različite uređivače slika (poput Photoshopa, Gimp-a), komprimirajte sliku ili smanmanju broj boja. To će smanjiti veličinu datoteke.
            </p>
            <img src="/images/faq/fitEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="100%" height="100%">
            <p>
                7. Umetnite sliku u projekt i postavite ispravno mjerilo koristeći duljinu zabilježenu u koraku 5.
            </p>
            <img src="/images/faq/resizeEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="50%" height="50%">
            <p>
                8. Poravnajte sliku s vašim crtežom tako da su svi elementi na istim pozicijama kao na slici.
            </p>
            <img src="/images/faq/alignEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="50%" height="50%">
            <p>
                9. Zaključajte sliku tako da je odaberete i kliknete odgovarajući gumb u donjem lijevom kutu.
            </p>
            <img src="/images/faq/lockEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="15%" height="15%">
            <p>
                10. Koristite kombinaciju tipki ctrl+a za odabir svih elemenata u načinu crtanja i izbrišite ih. Ostati će samo vaša slika.
            </p>
            <p>
                11. Vratite se na način navodnjavanja i zalijepite sve prethodno izbrisane elemente navodnjavanja natrag u crtež koristeći kombinaciju tipki ctrl+v. Ako je ispravno obavljeno, svi elementi bi se trebali vratiti na svoje izvorne pozicije.
            </p>
        </span>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP5"
                aria-expanded="false"
                aria-controls="qP5">
            U načinu izgleda neke zone nisu prikazane/kapanje nije prikazano
        </button>
    </p>
    <div class="collapse" id="qP5" data-parent="#faq">
        <span>
            Ovo ponašanje povezano je s postavkama predstavljanja zone u izgledu.
            Za promjenu postavki prikaza zona, u donjem lijevom kutu, u načinu izgleda, kliknite na gumb "Prikaz zona" i potvrdite okvire pored zona koje želite vidjeti u izgledu. Alternativno, možete stvoriti novi izgled i na njemu će se prikazati sve postojeće zone.
        </span>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP6"
                aria-expanded="false" aria-controls="qP6">
            Izgled slike je nakon izvoza u PDF/Sliku rotiran/loše postavljen
        </button>
    </p>
    <div class="collapse" id="qP6" data-parent="#faq">
    <span>
        <p>
            Ovo se događa jer vaša originalna slika sadrži EXIF metapodatke. Da bi slika pravilno funkcionirala, trebate ukloniti te metapodatke koristeći uslugu <a href="https://www.verexif.com/en/" target="_blank">www.verexif.com/en/</a>.
        </p>
        <p>
            Nakon što otvorite link - učitajte svoju sliku, zatim pritisnite gumb "Ukloni EXIF", preuzmite novu sliku i zamijenite staru u IRRISketch-u.
        </p>
    </span>
    </div>
    <hr>
</div>