<hr>
<div class="alert alert-warning fade show"
     role="alert">
    В связи с повышением стоимости обслуживания наших серверов, <a href="https://t.me/IRRISLive/34">стоимость подписки
        увеличивается на 25% с 01.04.2022</a>
</div>

<!--<div class="alert alert-warning alert-dismissible fade show"-->
<!--     role="alert">-->
<!--    В связи с повышением стоимости обслуживания наших серверов, <a href="https://t.me/IRRISLive/34">стоимость подписки увеличивается на 25% с 01.04.2022</a>-->
<!--    <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--        <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--</div>-->
