<!--<hr>-->
<!--<div class="alert alert-warning fade show"-->
<!--     role="alert">-->
<!--    АКЦИЯ!! Только до конца Июня 2023 - <a href="/account/addPack?op=inch&special=lifetimeJune2023">Безлимитная подписка на 1" Роторы </a>. Успейте купить безлимит по цене годовой подписки!-->
<!--</div>-->
<!--<hr>-->
<!--<div class="alert alert-warning fade show"-->
<!--     role="alert">-->
<!--    В связи с повышением стоимости обслуживания серверов, <a href="/subscribe">стоимость подписки</a>-->
<!--    увеличивается на 12% с 01.05.2023</a>-->
<!--</div>-->
<!--<div class="alert alert-warning fade show"-->
<!--     role="alert">-->
<!--    В связи с повышением стоимости обслуживания наших серверов, <a href="https://t.me/IRRISLive/34">стоимость подписки-->
<!--        увеличивается на 25% с 01.04.2022</a>-->
<!--</div>-->

<!--<div class="alert alert-warning alert-dismissible fade show"-->
<!--     role="alert">-->
<!--    В связи с повышением стоимости обслуживания наших серверов, <a href="https://t.me/IRRISLive/34">стоимость подписки увеличивается на 25% с 01.04.2022</a>-->
<!--    <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--        <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--</div>-->

<!--<div class="alert alert-success alert-dismissible fade show"-->
<!--     role="alert">-->
<!--    СКИДКИ -<b>20</b><i class="far fa-spin fa-fw fa-percent"></i> на все подписки <span class="textBlueBrand">IRRI</span><span class="textGreenBrand">Sketch</span> <i class="far fa-long-arrow-right"></i> <span class="blinking_text"><a href="account/subscription">Успей до конца Мая!</a></span>-->
<!--    <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--        <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--</div>-->

<% if (typeof not_a_chrome === 'undefined') { %>
    <% if (typeof no_header === 'undefined') { %>
        <hr>
    <% } %>
    <div class="alert alert-warning fade show"
         role="alert">
        <%- __("Not_A_Chrome_Attention") %>
    </div>
<% } %>