<div class="row mb-3">
    <div class="col-lg-6 col-md-12">
        <div class="alert alert-success pt-4" role="alert">
            <a href="http://bit.ly/irrishelp" target="_blank"><i
                        class="lefticon whatsicon align-middle fab fa-whatsapp fa-6x stretched-link"></i></a>
            <h4 class="alert-heading"><%= __("Ads_WhatsChat_Header") %></h4>
            <p><%- __("Ads_WhatsChat_Row1") %></p>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="alert alert-info mb-3 pt-4" role="alert">
            <a href="http://bit.ly/irrishelpTG" target="_blank"><i
                        class="lefticon telegaicon align-middle fab fa-telegram fa-6x stretched-link"></i></a>
            <h4 class="alert-heading"><%= __("Ads_TG_Header") %></h4>
            <p><%- __("Ads_TG_Row1") %></p>
        </div>
    </div>
</div>
