<script defer src='https://insta-access-token-refresher.herokuapp.com/token.js'></script>
<script defer src="/js/instafeed.js"></script>

<div class="container pb-3">
    <div class="row my-3">
        <div class="col-12 p-0">
            <div id="instafeed" class="insta-images slider hideit">
                <div class="slide"><img src="images/instaPH.svg"></div>
                <div class="slide"><img src="images/instaPH.svg"></div>
                <div class="slide"><img src="images/instaPH.svg"></div>
                <div class="slide"><img src="images/instaPH.svg"></div>
            </div>
        </div>
    </div>
</div>