<%- partial('../irrigation_show_award_base', {
    modalId: 'awardModalSng',
    modalLabelId: 'awardModalLabelSng',
    title: 'Стартап года 2025',
    description: 'Мы хотим выразить слова благодарности всем, кто поддерживал IRRISketch до сих пор, и всем, кто будет поддерживать нас в будущем, поскольку мы с гордостью объявляем вам, что мы были выбраны победителем:',
    awardName: 'Irrigation Show 2025 Startup Showcase',
    awardTitle: 'награды "Стартап года"!',
    linkText: 'Более подробную информацию вы можете найти <a href="https://irrigation.org/IA/Tagged_List/Press-Releases-Folder/2025/IA_announces_Startup_of_the_Year_Award_winner_at_2025%20Irrigation%20Show.aspx">здесь</a>',
    modalTitle: 'Irrigation Show 2025 Award'
}) %>