<div class="jumbotron py-4 mb-3">
    <div class="row">
        <div class="col-lg-3 col-sm-12 my-lg-auto mb-sm-4 text-center">
            <img width="200" src="/images/irrigation_show_2025_award.png" alt="Irrigation Show 2025">
        </div>
        <div class="col-lg-9 col-sm-12">
            <div class="text-center mb-3">
                <h1 class="p-0 mb-1">
                    <i class="far fa-award"></i>&nbsp;Стартап года 2025
                </h1>
            </div>
            <p class="lead mb-3">
                Мы хотим выразить слова благодарности всем, кто поддерживал IRRISketch до сих пор, и всем, кто будет поддерживать нас в будущем, поскольку мы с гордостью объявляем вам,
                что мы были выбраны победителем:
            </p>
            <p class="lead text-center mb-1">
                <strong>Irrigation Show 2025 Startup Showcase</strong>
            </p>
            <p class="lead text-center mb-4">
                <strong>награды "Стартап года"!</strong>
            </p>
            <p class="mb-3">
                Более подробную информацию вы можете найти <a href="https://www.irrigation.org/2025Show/Trade-Show/Startup_Showcase/2025Show/Trade_Show/Startup_Showcase.aspx?hkey=bed326fc-03ab-42f9-b813-566e1a3546f4">здесь</a>
            </p>
        </div>
    </div>
</div>