<div class="row mb-2 mt-2">
    <div class="col-12">
        <div class="alert alert-light pb-2 pt-3" role="alert">
            <h4 class="alert-heading">
                <a class="text-success text-decoration-none mt-n1 stretched-link"
                   href="/moasure">
                    <img class="ml-1 align-middle img-fluid"
                         width="100" height="100"
                         src="/images/mylogo_small.png"
                         alt="irrisketch">
                    <i class="ml-1 far fa-plus align-middle"></i>
                    <img class="ml-1 align-middle img-fluid"
                         width="100" height="100"
                         src="/images/moasure.jpg"
                         alt="moasure">

                    <i class="ml-1 far fa-equals align-middle"></i>
                    <i class="ml-1 far fa-thumbs-up align-middle"></i>
                </a>
                <!--                        <i-->
                <!--                                class="lefticon whatsprioricon align-middle fab fa-whatsapp fa-4x"></i>-->
            </h4>
        </div>
    </div>
</div>
