<% if (typeof(user) != "undefined"){ %>
    <% if (user.permission_level > 1) { %>
        <div class="row mb-3">
            <div class="col-12">
                <div class="alert alert-secondary bg-secondary pb-2 pt-4" role="alert">
                <span class="pulsing_element">
                    <a class="mt-n1" href="https://chat.whatsapp.com/FKVvmveKrvm6emGhO3gTim" target="_blank"><i
                                class="lefticon whatsprioricon align-middle fab fa-whatsapp fa-4x"></i></a>
                </span>
                    <h4 class="alert-heading whatsprioricon"><%= __("Ads_PriorityWhatsChat_Header") %></h4>
                    <p class="whatsprioricon"><%- __("Ads_PriorityWhatsChat_Row1") %></p>
                </div>
            </div>
        </div>
    <% } %>
<% } %>
