<div class="jumbotron bg-light">
    <div class="row">
        <div class="col-lg-2 col-sm-12 my-lg-auto mb-sm-2 text-center">
            <a class="ad-img-link" href="https://solarcalculator.ru" target="_blank"><img height="86" width="135"
                                                                                          src="https://solarcalculator.ru/images/Склонение.jpg"></a>
        </div>
        <div class="col-lg-10 col-sm-12">
            <div class="text-center mb-2">
                <a href="https://solarcalculator.ru" target="_blank" class="btn btn-light btn-lg text-primary">
                    <h1 class="p-0 m-0"><%= __("SolarCalc_Header") %></h1>
                </a>
            </div>
            <p class="text-center lead"><%- __("SolarCalc_Leading") %></p>
            <samp class="blockquote-footer"><%= __("SolarCalc_Body") %></samp>
        </div>
    </div>
</div>