<hr>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h4>Бортовой журнал</h4>
            <ul class="timeline">
                <li>
                    <a href="#">Irrisketch Residental v. 0.9.11</a>
                    <a href="#" class="float-right">16 января 2020 года</a>
                    <p> - Много улучшений на странице "Мастерская"</p>
                    <p> - Доблен поиск по названию проекта</p>
                    <p> - Добавлены ТЕГИ к проектам и возможность фильтрации по ним</p>
                    <p> - Сортировка проектов</p>
                    <p> - Улучшна навигация по страницам мастерской</p>
                    <p> - Вывод информации о количестве страниц и проектов</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.9.10</a>
                    <a href="#" class="float-right">11 января 2020 года</a>
                    <p> - Добавлено много ландшафтных элементов и малых архитектурных форм</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.9.10</a>
                    <a href="#" class="float-right">26 декабря 2019 года</a>
                    <p> - K-Rain добавлен в список поддерживаемых производителей</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.9.10</a>
                    <a href="#" class="float-right">20 декабря 2019 года</a>
                    <p> - Запущен сбор пожертвований до выхода версии 1.0</p>
                    <p> - И в тот же момент у IRRISketch появился первый пожизненный пользователь</p>
                    <p> - Как стать пожизненным пользователем смотри <a href="/donate">тут</a></p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.9.10</a>
                    <a href="#" class="float-right">10 декабря 2019 года</a>
                    <p> - Ещё больше улучшений и исправлений в разделе спецификаций</p>
                    <p> - Добавлен производитель TORO в полном объеме</p>
                    <p> - Улучшение внешнего вида конфигуратора спецификаций</p>
                    <p> - Добавлена информация об элементах с незавершенной логической цепочкой подключения</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.9.9</a>
                    <a href="#" class="float-right">18 октября 2019 года</a>
                    <p> - Множество улучшений в разделе спецификаций</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.9.8</a>
                    <a href="#" class="float-right">21 сентября 2019 года</a>
                    <p> - Импорт PDF файлов в проект</p>
                    <p> - Экспорт в PDF файл с сохранением слоёв</p>
                    <p> - Добавлен чертёжный шрифт ISOCPEUR (в стиле CAD систем)</p>
                    <p> - Добавлена Офлайн-версия</p>
                    <p> - Идентификация зон в чертежах и спецификациях (именование)</p>
                    <p> - Идентификация капельных линий в чертежах (цветомаркировка)</p>
                    <p> - Исправления ошибок</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.9.4</a>
                    <a href="#" class="float-right">6 июня 2019 года</a>
                    <p> - Добавлен инструмент "Траншея"</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.9.3</a>
                    <a href="#" class="float-right">28 мая 2019 года</a>
                    <p> - Добавлены клапаны быстрого доступа к воде</p>
                    <p> - Добавлен расчет количества осадков на зоне</p>
                    <p> - Исправлено много ошибок</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.9.2</a>
                    <a href="#" class="float-right">19 апреля 2019 года</a>
                    <p> - Добавлена возможность выбора элементов по слоям. Для этого при выделении элементов зажмите CTRL</p>
                    <p> - Добавлено новое оборудование - Toro. Пока только корпусы дождевателей и форсунки серии Precision. Клапаны, контроллеры, датчики, а также остальные сопла и роторы будут чуть позже</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.9.2</a>
                    <a href="#" class="float-right">15 апреля 2019 года</a>
                    <p> - Добавлена возможность удалять сегменты линий</p>
                    <p> - Появилась возможность восстановить несохранённый проект</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.9.1</a>
                    <a href="#" class="float-right">4 апреля 2019 года</a>
                    <p> - Добавлена возможность объединять несколько линий в одну</p>
                    <p> - Добавлен цифровой ввод значений ко всем ползункам в панели действий</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.9.0</a>
                    <a href="#" class="float-right">28 марта 2019 года</a>
                    <p>Дан старт тестовой регистрации в Irrisketch по пригласительной ссылке</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.9.0</a>
                    <a href="#" class="float-right">25 марта 2019 года</a>
                    <p>Irrisketch готов к выходу в широкие массы, с неограниченным пробным периодом, до тех пор, пока не
                        завершится доработка версии 1.0</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.8.8</a>
                    <a href="#" class="float-right">19 февраля 2019 года</a>
                    <p>Команда тестировщиков Irrisketch приступила к краш-тестам программы. Система гнулась и трещала от
                        их напора, но не сломалась...!</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.8.0</a>
                    <a href="#" class="float-right">28 января 2019 года</a>
                    <p>Irrisketch развернут на рабочем сервере</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.7.5</a>
                    <a href="#" class="float-right">14 ноября 2018 года</a>
                    <p>Irrisketch развернут на тестовом сервере</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.2.8</a>
                    <a href="#" class="float-right">7 апреля 2018 года</a>
                    <p>Зарегистрированы домены https://irrisketch.ru, https://irrisketch.com и https://irrisketch.ua. В
                        регистрации последнего отказали, т.к для регистрации в зоне UA, нужно сперва зарегистрировать
                        торговую марку в соответствующей юрисдикции, на что небыло денег. Надеюсь это не окажется
                        препятсвием для установщиков полива с Украины. Заходите, братья! В Интернете нет границ!</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.0.1</a>
                    <a href="#" class="float-right">18 октября 2017 года</a>
                    <p>Irrisketch был впервые использован для расчета реального проекта системы автоматического полива
                        от начала и до конца, но впоследствии заказчик отказался от реализации такого проекта по
                        непонятным причинам и перестал брать трубку...Хмм...наверное его испугало насколько быстро был
                        готов проект...</p>
                </li>
                <li>
                    <a href="#">Появился Irrisketch</a>
                    <a href="#" class="float-right">31 декабря 2016 года</a>
                    <p>В канун нового года, монтажник систем автоматического полива из России, страдая от безделия и
                        межсезонной безработицы, придумал как, используя три нижеприведенных изобретения, облегчить себе
                        работу в предстоящем сезоне. Ему надоели сухие и непонятные интерфейсы специализированных
                        CAD-систем, он устал от ручного подсчета фитингов и сопутствующего оборудования, а также ему
                        стало невыносимо делать гидравлический расчет для каждой системы, снова и снова подставляя число
                        Рейнольдса в формулу Дарси-Вейсбаха, чтобы узнать потери давления в трубе. Так и родилась идея
                        создать Irrisketch</p>
                </li>
                <li>
                    <a href="#">Заработал Интернет</a>
                    <a href="#" class="float-right">1 января 1983 года</a>
                    <p>Американская научно-исследовательская Сеть, финансируемая Министерством обороны США, ARPANET
                        перешла с протокола NCP на TCP/IP, который успешно применяется до сих пор для объединения сетей
                        по всему миру. А в 1989 году в Европе, учеными из ЦЕРН, был разработан протокол HTTP и язык
                        HTML, усовершенствованными версиями которого мы пользуемся сейчас в наших веб-страничках.</p>
                </li>
                <li>
                    <a href="#">Появился первый компьютер</a>
                    <a href="#" class="float-right">14 февраля 1946</a>
                    <p>ENIAC - Это 30-тонное чудовище, было создано в США и содержало в себе 18000 электронных ламп. Как
                        и с первым дождевателем, этот компьютер было проблематично применять обычному
                        пользователю.</p>
                </li>
                <li>
                    <a href="#">Изобретен первый дождеватель</a>
                    <a href="#" class="float-right">19 декабря 1871</a>
                    <p>В Америке, уроженцем города Буффало, штат Нью-Йорк, создан первый дождеватель для газонов. Патент
                        № US121949A. Функционал был конечно не ахти, ассортимент сопел невелик, да и перемещать его было
                        тяжеловато, приходилось придумывать колеса.</p>
                </li>
            </ul>
        </div>
    </div>
</div>
