<hr>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h4>Бартавы часопіс</h4>
            <ul class="timeline">
                <li>
                    <a href="#">IRRISketch Residental v. 0.9.11</a>
                    <a href="#" class="float-right">16 студзеня 2020 года</a>
                    <p> - Шмат паляпшэнняў на старонцы "Майстэрня"</p>
                    <p> - Дададзены пошук па назве праекта</p>
                    <p> - Дададзены ТЭГІ да праектаў і магчымасць фільтрацыі па іх</p>
                    <p> - Сартаванне праектаў</p>
                    <p> - Палепшана навігацыя па старонках майстэрні</p>
                    <p> - Выснова інфармацыі пра колькасць старонак і праектаў</p>
                </li>
                <li>
                    <a href="#">IRRISketch Residental v. 0.9.10</a>
                    <a href="#" class="float-right">11 студзеня 2020 года</a>
                    <p> - Дададзена шмат ландшафтных элементаў і малых архітэктурных формаў</p>
                </li>
                <li>
                    <a href="#">IRRISketch Residental v. 0.9.10</a>
                    <a href="#" class="float-right">26 снежня 2019 года</a>
                    <p> - K-Rain дададзены ў спіс падтрыманых вытворцаў</p>
                </li>
                <li>
                    <a href="#">IRRISketch Residental v. 0.9.10</a>
                    <a href="#" class="float-right">20 снежня 2019 года</a>
                    <p> - Запушчаны збор ахвяраванняў да выйсця версіі 1.0</p>
                    <p> - І ў той жа момант у IRRISketch з'явіўся першы пажыццёвы карыстач</p>
                    <p> - Як стаць пажыццёвым карыстачом глядзі <a href="/donate">тут</a></p>
                </li>
                <li>
                    <a href="#">IRRISketch Residental v. 0.9.10</a>
                    <a href="#" class="float-right">10 снежня 2019 года</a>
                    <p> - Яшчэ больш за паляпшэнні і выпраўленні ў падзеле спецыфікацый</p>
                    <p> - Дададзены вытворца TORO у поўным аб'ёме</p>
                    <p> - Паляпшэнне выгляду канфігуратара спецыфікацый</p>
                    <p> - Дададзена інфармацыя пра элементы з незавершаным лагічным ланцужком падлучэння</p>
                </li>
                <li>
                    <a href="#">IRRISketch Residental v. 0.9.9</a>
                    <a href="#" class="float-right">18 кастрычніка 2019 года</a>
                    <p> - Мноства паляпшэнняў у падзеле спецыфікацый</p>
                </li>
                <li>
                    <a href="#">IRRISketch Residental v. 0.9.8</a>
                    <a href="#" class="float-right">21 верасня 2019 года</a>
                    <p> - Імпарт PDF файлаў у праект</p>
                    <p> - Экспарт у PDF файл з захаваннем пластоў</p>
                    <p> - Дададзены рысавальны шрыфт ISOCPEUR (у стылі CAD сістэм)</p>
                    <p> - Дададзена Афлайн-версія</p>
                    <p> - Ідэнтыфікацыя зон у рысунках і спецыфікацыях (найменне)</p>
                    <p> - Ідэнтыфікацыя кропельных ліній у рысунках (колерамаркіроўка)</p>
                    <p> - Выпраўленні абмылаў</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.9.4</a>
                    <a href="#" class="float-right">6 чэрвеня 2019 года</a>
                    <p> - Дададзена прылада "Траншэя"</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.9.3</a>
                    <a href="#" class="float-right">28 траўня 2019 года</a>
                    <p> - Дададзены клапаны хуткага доступу да вады</p>
                    <p> - Дададзены разлік колькасці ападкаў на зоне</p>
                    <p> - Выпраўлена шмат абмылаў</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.9.2</a>
                    <a href="#" class="float-right">19 красавіка 2019 года</a>
                    <p> - Дададзена магчымасць выбару элементаў па пластах. Для гэтага пры вылучэнні элементаў зацісніце CTRL</p>
                    <p> - Дададзена новае абсталяванне - Toro. Пакуль толькі карпусы дажджавацеляу і фарсункі серыі Precision. Клапаны, кантролеры, чуйнікі, а таксама іншыя соплы і ротары будуць крыху пазней</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.9.2</a>
                    <a href="#" class="float-right">15 красавіка 2019 года</a>
                    <p> - Дададзена магчымасць падаляць сегменты ліній</p>
                    <p> - З'явілася магчымасць аднавіць незахаваны праект</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.9.1</a>
                    <a href="#" class="float-right">4 красавіка 2019 года</a>
                    <p> - Дададзена магчымасць яднаць некалькі ліній у адну</p>
                    <p> - Дададзены лічбавы ўвод значэнняў да ўсіх паўзункоў у панэлі дзеянняў</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.9.0</a>
                    <a href="#" class="float-right">28 сакавіка 2019 года</a>
                    <p>Дадзены старт тэставай рэгістрацыі ў Irrisketch па запрашальнай спасылцы</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.9.0</a>
                    <a href="#" class="float-right">25 сакавіка 2019 года</a>
                    <p>Irrisketch гатоў да выйсця ў шырокія масы, з неабмежаваным спробавым перыядам, датуль, пакуль не
                        скончыцца дапрацоўка версіі 1.0</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.8.8</a>
                    <a href="#" class="float-right">19 лютага 2019 года</a>
                    <p>Каманда тэставальнікаў Irrisketch прыступіла да краш-тэстам праграмы. Сістэма хілілася і трашчала ад
                        іх напору, але не зламалася...!</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.8.0</a>
                    <a href="#" class="float-right">28 студзеня 2019 года</a>
                 <p>Irrisketch разгорнуць на працоўным серверы</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.7.5</a>
                    <a href="#" class="float-right">14 лістапада 2018 года</a>
                    <p>Irrisketch разгорнуць на тэставым серверы</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.2.8</a>
                    <a href="#" class="float-right">7 красавіка 2018 года</a>
                    <p>Зарэгістраваны дамены https://irrisketch.ru, https://irrisketch.com і https://irrisketch.ua. У
                        рэгістрацыі апошняга адмовілі, т.як для рэгістрацыі ў зоне UA, патрэбна перш зарэгістраваць
                        гандлёвую марку ў адпаведнай юрысдыкцыі, на што не было грошай. Спадзяюся гэта не апынецца
                        перашкодай для ўсталёўнікаў палівання з Украіны. Заходзьце, браты! У Інтэрнэце няма меж!</p>
                </li>
                <li>
                    <a href="#">Irrisketch Residental v. 0.0.1</a>
                    <a href="#" class="float-right">18 кастрычніка 2017 года</a>
                    <p>Irrisketch быў упершыню скарыстаны для разліку рэальнага праекта сістэмы аўтаматычнага палівання
                        ад пачатку і да канца, але пасля заказца адмовіўся ад рэалізацыі такога праекта па
                        незразумелых прычынах і перастаў браць трубку...Хмм...напэўна яго спалохала наколькі хутка быў
                        гатоў праект...</p>
                </li>
                <li>
                    <a href="#">З'явіўся Irrisketch</a>
                    <a href="#" class="float-right">31 снежня 2016 года</a>
                    <p>У пярэдадне новага года, мантажнік сістэм аўтаматычнага палівання з Расіі, пакутуючы ад гультайства і
                        міжсезоннага беспрацоўя, прыдумаў як, скарыстаючы тры ніжэйпрыведзеныя вынаходствы, палегчыць сабе
                        працу ў хуткім сезоне. Яму надакучылі сухія і незразумелыя інтэрфейсы спецыялізаваных
                        CAD-сістэм, ён стаміўся ад ручнога падліку фітынгаў і спадарожнага абсталявання, а таксама яму
                        стала невыносна рабіць гідраўлічны разлік для кожнай сістэмы, ізноў і зноў падстаўляючы лік
                        Рэйнальдса ў формулу Дарсі-Вейсбаха, каб пазнаць страты ціску ў трубе. Гэтак і нарадзілася ідэя
                        стварыць Irrisketch</p>
                </li>
                <li>
                    <a href="#">Зарабіў Інтэрнэт</a>
                    <a href="#" class="float-right">1 студзеня 1983 года</a>
                    <p>Амерыканская навукова-даследчая Сетка, што фінансуецца Міністэрствам абароны ЗША, ARPANET
                        перайшла з пратакола NCP на TCP/IP, які паспяхова ўжываецца дагэтуль для з'яднання сетак
                        па ўсім свеце. А ў 1989 годзе ў Еўропе, навукоўцамі з ЦЭРН, быў распрацаваны пратакол HTTP і мова
                        HTML, удасканаленымі версіямі якой мы карыстаемся цяпер у нашых ўэб-старонках.</p>
                </li>
                <li>
                    <a href="#">З'явіўся першы кампутар</a>
                    <a href="#" class="float-right">14 лютага 1946</a>
                    <p>ENIAC - Гэта 30-тонавая пачвара, было створана ў ЗША і ўтрымвала ў сабе 18000 электронных лямпаў. Як і з першым дажджавацелем, гэты кампутар было праблематычна ўжываць звычайнаму
                        карыстачу.</p>
                </li>
                <li>
                    <a href="#">Вынайдзены першы дажджавацель</a>
                    <a href="#" class="float-right">19 снежня 1871</a>
                    <p>У Амерыцы, выхадцам горада Буфала, штат Нью-Ёрк, створаны першы дажджавацель для траўнікаў. Патэнт
                        № US121949A. Функцыянал быў канчатковае не надта, асартымент соплаў невялікі, дый перасоўваць яго было
                        цяжкавата, даводзілася прыдумляць колы.</p>
                </li>
            </ul>
        </div>
    </div>
</div>

