<hr>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h4>Logbook</h4>
            <ul class="timeline">
                <li>
                    <a href="#">IRRISketch Residental v. 0.9.9</a>
                    <a href="#" class="float-right">October 18, 2019</a>
                    <p> - Many improvements on specs sheets configurator</p>
                </li>
                <li>
                    <a href="#">IRRISketch Residental v. 0.9.8</a>
                    <a href="#" class="float-right">September 21, 2019</a>
                    <p> - Import PDF files</p>
                    <p> - Export as PDF preserving layers</p>
                    <p> - Layout fonts changed to ISOCPEUR (CAD style)</p>
                    <p> - Added OFFLINE version</p>
                    <p> - Zones identification in specs sheets and layouts (naming)</p>
                    <p> - Drip lines identification in layouts (color tables)</p>
                    <p> - Many bugs fixed</p>
                </li>
                <li>
                    <a href="#">IRRISketch Residental v. 0.9.4</a>
                    <a href="#" class="float-right">June 6, 2019</a>
                    <p> - Added Trench calculation tool</p>
                </li>
                <li>
                    <a href="#">IRRISketch Residental v. 0.9.3</a>
                    <a href="#" class="float-right">May 28, 2019</a>
                    <p> - Added Quick-coupling valves</p>
                    <p> - Added </p>
                    <p> - Исправлено много ошибок</p>
                </li>
                <li>
                    <a href="#">IRRISketch Residental v. 0.9.2</a>
                    <a href="#" class="float-right">April 19, 2019</a>
                    <p> - You can select elements by layers, holding CTRL when creating selection rectangle</p>
                    <p> - New equipment brand added - Toro. Added only Precion Series nozzles and Sprays currenty. Other equipment is coming soon</p>
                </li>
                <li>
                    <a href="#">IRRISketch Residental v. 0.9.2</a>
                    <a href="#" class="float-right">April 15, 2019</a>
                    <p> - You can now remove segments of lines</p>
                    <p> - Added the restore-unsaved-project functionality</p>
                </li>
                <li>
                    <a href="#">IRRISketch Residental v. 0.9.1</a>
                    <a href="#" class="float-right">April 4, 2019</a>
                    <p> - You can now concatenate two lines</p>
                    <p> - Added number input for sliders in action panel</p>
                </li>
                <li>
                    <a href="#">IRRISketch Residental v. 0.9.0</a>
                    <a href="#" class="float-right">March 25, 2019</a>
                    <p>IRRISketch is ready to be released, with an unlimited trial period, until revision of version 1.0
                        is completed.</p>
                </li>
                <li>
                    <a href="#">IRRISketch Residental v. 0.8.8</a>
                    <a href="#" class="float-right">February 19, 2019</a>
                    <p>The team of testers started crash tests of the program. The system bent and cracked from their
                        pressure, but did not break!</p>
                </li>
                <li>
                    <a href="#">IRRISketch Residental v. 0.8.0</a>
                    <a href="#" class="float-right">January 28, 2019</a>
                    <p>IRRISketch is deployed on production server</p>
                </li>
                <li>
                    <a href="#">IRRISketch Residental v. 0.7.5</a>
                    <a href="#" class="float-right">November 14, 2018</a>
                    <p>IRRISketch is deployed on development server</p>
                </li>
                <li>
                    <a href="#">IRRISketch Residental v. 0.2.8</a>
                    <a href="#" class="float-right">April 7, 2018</a>
                    <p>The https://irrisketch.ru, https://irrisketch.com and https://irrisketch.ua domains are
                        registered. The registration of the latter was refused, because for registration in the UA zone,
                        you must first register the trademark in the relevant jurisdiction, for which there was no
                        money. I hope this will not be an obstacle for irrigation contracors from Ukraine. Come on in,
                        brothers, there are no boundaries on the Internet!</p>
                </li>
                <li>
                    <a href="#">IRRISketch Residental v. 0.0.1</a>
                    <a href="#" class="float-right">October 18, 2017</a>
                    <p>IRRISketch was used to design the real project of the automatic irrigation system for the first
                        time, but unfortunatey the customer refused to make this installation for unknown
                        reasons and stopped answering calls...Hmm...probably he was confused how quickly the system was
                        designed...</p>
                </li>
                <li>
                    <a href="#">IRRISketch was invented</a>
                    <a href="#" class="float-right">December 31, 2016</a>
                    <p>On the eve of the new year, an irrigation contractor from Russia, suffering
                        from waste and mid-season unemployment, came up with how, using the three inventions below, to
                        facilitate
                        his work in the upcoming season. He was tired of the tedious and incomprehensible interfaces of
                        specialized CAD systems, worn-out by manually counting fittings and related equipment, and also
                        it
                        became totally unbearable for him to do hydraulic calculations for each system, substituting
                        Reynolds
                        number in the Darcy-Weisbach formula again and again to find out the pressure loss in the pipe.
                        This is how the idea to create Irrisketch was born</p>
                </li>
                <li>
                    <a href="#">Internet was developed</a>
                    <a href="#" class="float-right">January 1, 1983</a>
                    <p>This happened when ARPANET network switched from the NCP protocol
                        to TCP/IP, which one is still being successfully used to connect networks all around the world.
                        Later in 1989 in Europe, scientists from CERN developed the HTTP protocol and the HTML language,
                        the improved versions of which we are using now in our web pages.</p>
                </li>
                <li>
                    <a href="#">First programmable computer was invented</a>
                    <a href="#" class="float-right">February 14, 1946</a>
                    <p>ENIAC - is a 30-ton monster, that was created in the US and contained 18,000 electronic tubes. As
                        with the first sprinkler, that computer was definitely not user-friendly.</p>
                </li>
                <li>
                    <a href="#">First sprinkler was invented</a>
                    <a href="#" class="float-right">December 19, 1871</a>
                    <p>An American citizen from Buffalo, New York, invented the first lawn sprinkler. Patent number
                        US121949A. The functionality was certainly not so hot, the range of nozzles was small, and it
                        was hard to move it around, so he had to invent wheels for it, too.</p>
                </li>
            </ul>
        </div>
    </div>
</div>
