<div class="container">
    <div class="seminar-header text-center">
        <h1>Free Introductory Seminar - Uncover the Full Potential!</h1>
        <p>Congratulations on successfully registering for the free version of IRRISketch!</p>
    </div>

    <div class="mt-4">
        <h2>What to Expect at the Seminar?</h2>
        <ul>
            <li><strong>Comprehensive Introduction:</strong> Learn about all the features and capabilities of our software.</li>
            <li><strong>Practical Tips:</strong> Gain valuable insights and best practices from our experts.</li>
            <li><strong>Interactive Q&A Sessions:</strong> Get your questions answered directly by our specialists.</li>
        </ul>
    </div>

    <div class="bonus-section">
        <h2>Your Bonus After the Seminar</h2>
        <p>As a thank you for participating in the introductory seminar, we will unlock an exclusive, limited-time access to the full version of IRRISketch for you. Experience all the advanced features and benefits our premium service has to offer.</p>
    </div>

    <div class="text-center mt-4 mb-4">
        <h2>Sign Up Now!</h2>
        <p>Spaces are limited, so don't hesitate and secure your spot in the next introductory seminar. Simply click the link below to register.</p>
        <a href="https://www.picktime.com/f67a94a6-a9e6-41f4-be02-adbffa5aac5d" class="btn btn-success">Sign Up for the Seminar Now</a>
    </div>

    <div class="text-center mt-4">
        <p>We look forward to welcoming you to the seminar and helping you take your irrigation projects to the next level!</p>
        <p>Best regards,<br>Your IRRISketch Team</p>
    </div>
</div>