<script type="module">
    if (location.hash !== null && location.hash !== "") {
        $(location.hash + ".collapse").collapse();
    }
    $(document).ready(function () {
        $(`.collapse`).on('show.bs.collapse', function () {
            window.location.hash = $(this).attr('id');
        });
    });
</script>

<div class="container" id="faq">
    <hr>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Bendrieji klausimai</span></div>
    </div>
    <p>
        <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#qA1"
                aria-expanded="false"
                aria-controls="qA1">
            Nusipirkote prenumeratą, bet mokama funkcija nepasiekiama, ką daryti?
        </button>
    </p>
    <div class="collapse" id="qA1" data-parent="#faq">
        <div class="card card-body">
            <p>
                Įsigiję mokamą "IRRISketch" prenumeratą, turite ją aktyvuoti rankiniu būdu savo asmeninėje paskyroje.
                nuorodą:
            </p>
            <p>
                <a href="https://www.irrisketch.com/account/orders"
                   target="_blank">www.irrisketch.com/account/orders</a>,
            </p>
            kur jūsų prenumerata bus dešinėje skiltyje. Po aktyvavimo galėsite laisvai naudotis visomis
            mokamomis paslaugos funkcijomis.
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#qA2"
                aria-expanded="false"
                aria-controls="qA2">
            Sumokėjau už prenumeratą, bet ji nepasirodė mano asmeninėje spintoje.
        </button>
    </p>
    <div class="collapse" id="qA2" data-parent="#faq">
        <div class="card card-body">
            <p>
                Tokiu atveju eikite į savo asmeninę paskyrą pagal šią nuorodą:
            </p>
            <p>
                <a href="https://www.irrisketch.com/account/orders"
                   target="_blank">www.irrisketch.com/account/orders</a>
            </p>
            <p>
                Pažvelkite į užsakymo apačioje esantį mygtuką. Raudonas mygtukas "Pakartoti" reiškia, kad mokėjimas
                nepavyko
                ir turėtumėte bandyti dar kartą, bet pirmiausia patikrinkite, ar pinigai buvo nurašyti.
            </p>
            <p>
                Jei ilgą laiką matote geltoną mygtuką "Mokėjimas vyksta", tikėtina, kad
                sandoris dar nėra
                įvyko
                automatinis patvirtinimas. Tokiu atveju spustelėkite šį mygtuką, kad ją užbaigtumėte, ir viskas turėtų
                veikti.
            </p>
            Sėkmingai atlikę mokėjimą ir užbaigę sandorį, pamatysite žalią mygtuką "Mokėjimas patvirtintas".
            Spustelėkite jį ir jūsų prenumerata atsiras dešiniajame stulpelyje.
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Klausimai apie projektus</span></div>
    </div>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP1"
                aria-expanded="false" aria-controls="qP1">
            Projekto pakeitimai nebuvo išsaugoti / noriu atkurti tam tikrą projekto būseną
            projektą, ką turėčiau daryti?
        </button>
    </p>
    <div class="collapse" id="qP1" data-parent="#faq">
        <div class="card card-body">
            <p>
                (Šis metodas veikia tik naršyklėse, kuriose yra programuotojo įrankiai)
            </p>
            <p>
                1. Atidarykite tą pačią naršyklę tame pačiame kompiuteryje, kuriame paskutinį kartą dirbote su projektu.
            </p>
            <p>
                2. Eikite į "IRRISketch" dirbtuves ir atidarykite projektą su problema
            </p>
            <p>
                3. Jei atidarius projektą pasirodo langas su raginimu atkurti projektą, spustelėkite
                "Atkurti" ir
                pamatysite rezultatą. Jei projektas nebuvo atkurtas į reikiamą būseną, toliau vadovaukitės
                instrukcijas
            </p>
            <p>
                4. Atidarykite kūrėjo įrankius (daugumoje naršyklių - mygtukas F12) ir atidarykite skirtuką "Konsolė".
                kaip parodyta toliau pateiktame paveikslėlyje:
                <br>
                <img src="/images/faq/console.jpg" class="img-thumbnail img-responsive" alt="Download button"
                     width="30%" height="30%">
            </p>
            <p>
                5. Įveskite šią komandą į konsolę ir paspauskite Enter:
            </p>
            <p>
                autobackup.ASL()
            </p>
            <p>
                6. Bus rodomas automatinio išsaugojimo sąrašas (paprastai 12 paskutiniųjų) ("Automatinis išsaugojimas
                atliekamas kas dešimt metų").
                minučių,
                Taigi 12 × 10 = 120 min = 2 val.) Jis atrodys maždaug taip:
                <br>
                <img src="/images/faq/autobackup.jpg" class="img-thumbnail img-responsive" alt="Download button"
                     width="30%" height="30%">
            </p>
            <p>
                Jei atsirastų kas nors panašaus:
                <br>
                <img src="/images/faq/autobackupFolded.jpg" class="img-thumbnail img-responsive" alt="Download button"
                     width="30%" height="30%">
            </p>
            <p>
                Tada paspauskite trikampio simbolį ( ▶ ), kad išplėstumėte sąrašą ( ▼ )
            </p>
            <p>
                7. Automatinio išsaugojimo sąraše pasirinkite laiką, kada, remiantis jūsų skaičiavimais, projektas buvo
                labiausiai
                ir pažiūrėkite, koks skaičius yra tos eilutės pradžioje.
            </p>
            <p>
                8. Įveskite šį tekstą į konsolę:
            </p>
            <p>
                autobackup.RAS(*Čia įklijuokite ankstesnėje pastraipoje nurodytą skaičių*)
            </p>
            9. Įsitikinkite, kad atkurta būklė atitinka jūsų reikalavimus. Jei ne, skambinkite į
            komandą
            iš ankstesnio punkto su kitu numeriu, kol rasite norimą būseną.
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP2"
                aria-expanded="false"
                aria-controls="qP2">
            Kaip rodyti tinklelį projekto brėžinyje? Brėžinio tinklelis nerodomas išvedant į PDF/PNG.
        </button>
    </p>
    <div class="collapse" id="qP2" data-parent="#faq">
        <div class="card card-body">
        <span>
            Kad tinklelis būtų rodomas spausdinant, jis turi būti patalpintas brėžinyje kaip vaizdas. Tinklelį galite atsisiųsti,
            pvz. <a
                    href="https://drive.google.com/file/d/1PrKMoz9YDW-UHNwBpxTXMzGqLM-X3Mb_/view?usp=sharing"
                    target="_blank">iš čia</a>, ir tada nustatykite brėžinyje norimo dydžio mastelį..
        </span>
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP3"
                aria-expanded="false"
                aria-controls="qP3">
            Kaip perkelti projektą iš vienos paskyros į kitą?
        </button>
    </p>
    <div class="collapse" id="qP3" data-parent="#faq">
        <div class="card card-body">
            Norėdami tai padaryti, galite atsisiųsti projekto failą naudodami atitinkamą mygtuką viršutiniame
            dešiniajame skydelyje.
            Po to naujoje paskyroje sukurkite tuščią projektą ir naudodami mygtuką "Download" (Atsisiųsti) atidarykite
            atsisiųstą projektą.
            <br>
            <img src="/images/faq/downloadbuttonglobal.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="30%" height="30%">
        </div>
    </div>
    <hr>
</div>