<div class="row justify-content-center">
    <div class="col-12 mb-4">
        <div class="jumbotron bg-light">
            <div class="row">
                <div class="col-lg-3 col-sm-12 my-lg-auto mb-sm-4 text-center">
                    <img width="200" src="/images/irrigation_show_2025_award.png" alt="Irrigation Show 2025">
                </div>
                <div class="col-lg-9 col-sm-12">
                    <div class="text-center mb-3">
                        <h1 class="p-0 mb-1">
                            <i class="far fa-award"></i>&nbsp;Startup of the Year 2025
                        </h1>
                    </div>
                    <p class="lead mb-3">
                        We want to say the words of gratitude to everyone who supported IRRISketch so far and to everyone who will support us in the future, as we proudly announce to you
                        that we were chosen as the winner of the:
                    </p>
                    <p class="lead text-center mb-1">
                        <strong>Irrigation Show 2025 Startup Showcase</strong>
                    </p>
                    <p class="lead text-center mb-4">
                    <strong>"Startup of the Year" award!</strong>
                    </p>
                    <p class="mb-3">
                        More details you can find <a href="https://www.irrigation.org/2025Show/Trade-Show/Startup_Showcase/2025Show/Trade_Show/Startup_Showcase.aspx?hkey=bed326fc-03ab-42f9-b813-566e1a3546f4">here</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="jumbotron bg-light">
            <div class="row">
                <div class="col-lg-3 col-sm-12 my-lg-auto mb-sm-4 text-center">
                    <img width="200" src="/images/irrigation_show_2025.png" alt="Irrigation Show 2025">
                </div>
                <div class="col-lg-9 col-sm-12">
                    <div class="text-center mb-3">
                        <h1 class="p-0 m-0">
                            <i class="far fa-globe-americas"></i>&nbsp;IRRISketch at the Irrigation Show 2025 in New Orleans!
                        </h1>
                    </div>
                    <p class="lead text-center mb-4">
                        We are pleased to announce that IRRISketch will be exhibiting at the Irrigation Show & Education Week 2025 this year!
                    </p>
                    <p class="mb-3">
                        From December 8 to 11, 2025, we will be presenting our solutions in the field of irrigation system design at the industry's leading trade fair in New Orleans, USA.
                    </p>
                    <p class="mb-3">
                        <i class="far fa-map-marker-alt"></i>&nbsp;<strong>Visit us at booth no. 422</strong>
                    </p>
                    <p class="mb-3">
                        Discover our innovative products, make international contacts, and get to know our team in person.
                    </p>
                    <p class="mb-0">
                        We look forward to exciting discussions and to presenting our technologies to an international audience!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


