<div class="row justify-content-center">
    <div class="col-12 mb-4">
        <%- partial('../../partials/global/irrigation_show_award')%>
        <div class="jumbotron bg-light">
            <div class="row">
                <div class="col-lg-3 col-sm-12 my-lg-auto mb-sm-4 text-center">
                    <img width="200" src="/images/irrigation_show_2025.png" alt="Irrigation Show 2025">
                </div>
                <div class="col-lg-9 col-sm-12">
                    <div class="text-center mb-3">
                        <h1 class="p-0 m-0">
                            <i class="far fa-globe-americas"></i>&nbsp;IRRISketch at the Irrigation Show 2025 in New Orleans!
                        </h1>
                    </div>
                    <p class="lead text-center mb-4">
                        We are pleased to announce that IRRISketch will be exhibiting at the Irrigation Show & Education Week 2025 this year!
                    </p>
                    <p class="mb-3">
                        From December 8 to 11, 2025, we will be presenting our solutions in the field of irrigation system design at the industry's leading trade fair in New Orleans, USA.
                    </p>
                    <p class="mb-3">
                        <i class="far fa-map-marker-alt"></i>&nbsp;<strong>Visit us at booth no. 422</strong>
                    </p>
                    <p class="mb-3">
                        Discover our innovative products, make international contacts, and get to know our team in person.
                    </p>
                    <p class="mb-0">
                        We look forward to exciting discussions and to presenting our technologies to an international audience!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


