<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
        body {
            margin: 0;
            color: #333;
        }

        a {
            text-decoration: none;
            color: #006699;
        }

        p {
            margin: 0px;
        }

        img {
            border: 0;
            margin: 0;
        }

        /* container */
        #container {
            width: 540px;
            margin: 0 auto;
        }

        #content {
            width: 500px;
            margin: 0 20px;
        }

        /* header */
        #header {
            border-bottom: 1px solid #eaeaea;
            padding-top: 10px;
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 10px;
        }

        #title p {
            font-size: 20px;
            font-family: "arial", "sans-serif";
        }

        #irrisketchLogo {
            width: 107px;
            height: 31px;
        }

        /* verification msg */
        #verificationMsg {
            padding-left: 0;
            padding-top: 9px;
            padding-bottom: 9px;
        }

        #verificationMsg p {
            font-size: 14px;
            font-family: "arial", "sans-serif";
        }

        #verificationMsg .otp {
            font-size: 18px;
            font-weight: bold;
            padding-top: 18px;
        }

        /* account security */
        #accountSecurity {
            padding-left: 0;
            padding-top: 9px;
            padding-bottom: 9px;
        }

        #accountSecurity p {
            font-size: 14px;
            font-family: "arial", "sans-serif";
        }

        /* closing */
        #closing {
            padding-left: 0;
            padding-top: 9px;
            padding-bottom: 9px;
        }

        #closing p {
            font-size: 14px;
            font-family: "arial", "sans-serif";
        }

    </style>
    <title>IRRISketch - subscription was automatically activated at the end of the current</title>
</head>
<body text="#000000" bgcolor="#FFFFFF">
<table id="container" cellspacing="0" cellpadding="0" align="center">
    <tbody>
    <tr>
        <td>
            <table id="content" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td id="header">
                        <table cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td id="logo" width="250">
                                    <img
                                            src="https://www.irrisketch.com/images/mylogo_small.png"
                                            id="irrisketchLogo" moz-do-not-send="true"></td>
                                <td id="title" width="250" valign="top"
                                    align="right">
                                    <p>IRRISketch - subscription was automatically activated at the end of the
                                        current</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td id="verificationMsg">
                        <p class="otp">Hello, <%= name %>!</p>
                        <p>Your subscription # <b><%= options.subscription_number %></b> has been expired</p>
                        <p>We have automatically activated subscription №
                            <b><%= options.new_subscription_number %></b></p>
                        <p>If you do not want your subscriptions to be automatically activated in the future - You can
                            disable this setting <a href="<%= urlBase + '/account/orders' %>">here</a>!</p>
                        <p>Have a nice day!</p>
                    </td>
                </tr>
                <tr>
                    <td id="closing">
                        <p>IRRISketch Team</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
