<p>Razumijemo da se neki korisnici mogu pitati zašto naplaćujemo naknadu za lokalizaciju našeg proizvoda. Želimo
    objasniti da je to zbog prirode naše usluge.</p>

<p>U svakoj zemlji u kojoj poslujemo, moramo imati agenta koji je profesionalac u našem području i može pružiti
    preciznije prijevode našeg sučelja od online prevoditelja. Ova osoba će također pružiti dodatne usluge poput
    tehničke podrške, online obuke i brze povratne informacije.</p>
<p>Lokalizacija sučelja važan je korak u prilagodbi našeg softvera za svaki specifični tržište i konačno pružanje boljeg
    iskustva za naše korisnike diljem svijeta.</p>
<p>Činimo sve što je u našoj moći da cijene održimo razumnima i vjerujemo da ćete imati koristi od korištenja naše
    usluge na vašem jeziku uz dobru tehničku podršku. Nadalje, cijena pretplate i troškova lokalizacije su isti ili
    manji od globalne pretplate.</p>
<p>Ako imate bilo kakvih pitanja ili problema, <a href="/support" target="_blank">nemojte oklijevati kontaktirati
        nas</a>, rado ćemo vam pomoći riješiti bilo koji problem.</p>
