<p>We understand that some users may wonder why we charge a fee for localizing
    of our product. We would like to explain that this is due to the nature of our service.</p>
<p>In every country we operate in, we need to have an agent who is a professional in our field and can provide more
    accurate translations on the interface than an online translator can. This person will also
    will provide value-added services such as technical support, online training and quick feedback.
    feedback.</p>
<p>Localization of the interface is an important step to help us best customize our software for each specific market and ultimately deliver a better experience for our customers around the world.
    Worldwide.</p>
<p>We do our best to keep our prices reasonable and we believe you will benefit from using our service in your language with good technical support. Furthermore, the price of both subscription and
    Localization costs are the same or less than a global subscription.</p>
<p>If you have any questions or concerns, please <a href="/support" target="_blank">do not hesitate to
        contact us</a>, and we'll be happy to help you resolve any issue.</p>
