<hr>

<% if (locale === 'de') { %>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Verschiedenes</span></div>
    </div>
    <div class="row justify-content-center p-2">
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/h9yMGoTddRY"
               data-modal_title="IRRISketch DEMO"
               class="lesson-link">
                <div class="card text-white bg-info card-tutor">
                    <div class="card-header"><b>IRRISketch DEMO</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Was ist IRRISketch?</h5>
                        <p class="card-text">Vorstellung des Programms</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Einführung</span></div>
    </div>
    <div class="row justify-content-center p-2">
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/8cR00l8GBBI"
               data-modal_title="Lektion 1 - Programmübersicht"
               class="lesson-link">
                <div class="card text-white bg-success card-tutor">
                    <div class="card-header"><b>Lektion 1</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Programm-übersicht</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/OmI7IpuZyDc"
               data-modal_title="Lektion 2 - der Zeichner"
               class="lesson-link">
                <div class="card text-white bg-success card-tutor">
                    <div class="card-header"><b>Lektion 2</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Der Zeichner</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Entwerfen</span></div>
    </div>
    <div class="row justify-content-center p-2">
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/tfDYCjGshYE"
               data-modal_title="Lektion 3 - Bewässerung"
               class="lesson-link">
                <div class="card text-white bg-primary card-tutor">
                    <div class="card-header"><b>Lektion 3</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Bewässerung</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/KHhI73UkP88"
               data-modal_title="Lektion 4 - Die Verrohrung"
               class="lesson-link">
                <div class="card text-white bg-primary card-tutor">
                    <div class="card-header"><b>Lektion 4</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Die Verrohrung</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/M1yGOsDbLeU"
               data-modal_title="Lektion 5 - Tropfrohr"
               class="lesson-link">
                <div class="card text-white bg-primary card-tutor">
                    <div class="card-header"><b>Lektion 5</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Tropfrohr</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/7Mr5n8zUgMA"
               data-modal_title="Lektion 6 - Steuergeräte"
               class="lesson-link">
                <div class="card text-white bg-primary card-tutor">
                    <div class="card-header"><b>Lektion 6</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Steuergeräte</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Projektergebnisse</span></div>
    </div>
    <div class="row justify-content-center p-2">
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/urupOoMgqr4"
               data-modal_title="Lektion 7 - Layout"
               class="lesson-link">
                <div class="card text-white bg-danger card-tutor">
                    <div class="card-header"><b>Lektion 7</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Layout</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/L-Yt2k92QZM"
               data-modal_title="Lektion 8 - Bedarfsliste"
               class="lesson-link">
                <div class="card text-white bg-danger card-tutor">
                    <div class="card-header"><b>Lektion 8</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Bedarfsliste</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Tipps und Tricks</span></div>
    </div>
    <div class="row justify-content-center p-2">
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/qhNFeC5W_lw"
               data-modal_title="Tipps und Tricks - IRRISketch und Moasure"
               class="lesson-link">
                <div class="card text-white bg-primary card-tutor">
                    <div class="card-header"><b>Tipps und Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">IRRISketch und Moasure</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/2pMPD51sm6A"
               data-modal_title="Tipps und Tricks - IRRISketch und Hydrawise"
               class="lesson-link">
                <div class="card text-white bg-primary card-tutor">
                    <div class="card-header"><b>Tipps und Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">IRRISketch und Hydrawise</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/HfGp04RSbm8"
               data-modal_title="Tipps und Tricks - Hintergrund Bilder einlesen"
               class="lesson-link">
                <div class="card text-white bg-primary card-tutor">
                    <div class="card-header"><b>Tipps und Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Hintergrund Bilder einlesen</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/BY1uQ3wjBJ0"
               data-modal_title="Tipps und Tricks - Regnergruppen kombinieren"
               class="lesson-link">
                <div class="card text-white bg-success card-tutor">
                    <div class="card-header"><b>Tipps und Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Regnergruppen kombinieren</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/YYggp1qZFt0"
               data-modal_title="Tipps und Tricks - Einladungslink IRRISketch fast kostenlos!"
               class="lesson-link">
                <div class="card text-white bg-warning card-tutor">
                    <div class="card-header"><b>Tipps und Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Einladungslink IRRISketch fast kostenlos!</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/L-u2U_gUCGQ"
               data-modal_title="Tipps und Tricks - Düsen automatisch ziehen"
               class="lesson-link">
                <div class="card text-white bg-info card-tutor">
                    <div class="card-header"><b>Tipps und Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Düsen automatisch ziehen</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/8WXPpj7-kb4"
               data-modal_title="Tipps und Tricks - richtig markieren"
               class="lesson-link">
                <div class="card text-white bg-danger card-tutor">
                    <div class="card-header"><b>Tipps und Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">richtig markieren</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/ojEtjvMOa0Q"
               data-modal_title="Tipps und Tricks - letze Funktion wiederholen"
               class="lesson-link">
                <div class="card text-white bg-secondary card-tutor">
                    <div class="card-header"><b>Tipps und Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">letze Funktion wiederholen</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/YeFZlN3RqWo"
               data-modal_title="Tipps und Tricks - Favoriten"
               class="lesson-link">
                <div class="card text-secondary bg-light card-tutor">
                    <div class="card-header"><b>Tipps und Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Favoriten</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/AEa865KprIE"
               data-modal_title="Tipps und Tricks - Zusätzliche Informationen im Layout"
               class="lesson-link">
                <div class="card text-white bg-danger card-tutor">
                    <div class="card-header"><b>Tipps und Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Zusätzliche Informationen im Layout</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/BQB0F2pNTXU"
               data-modal_title="Tipps und Tricks - freie Texte in Layout einfügen"
               class="lesson-link">
                <div class="card text-white bg-warning card-tutor">
                    <div class="card-header"><b>Tipps und Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">freie Texte in Layout einfügen</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/VbQ3cfaGGAo"
               data-modal_title="Tipps und Tricks - Tropfrohr, Kreise zeichnen"
               class="lesson-link">
                <div class="card text-white bg-success card-tutor">
                    <div class="card-header"><b>Tipps und Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Tropfrohr, Kreise zeichnen</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
<% } else { %>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Demo</span></div>
    </div>
    <div class="row justify-content-center p-2">
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/fynr4n4T9Qc"
               data-modal_title="IRRISketch DEMO"
               class="lesson-link">
                <div class="card text-white bg-info card-tutor">
                    <div class="card-header"><b>IRRISketch DEMO</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">What is IRRISketch?</h5>
                        <p class="card-text">Presentation of the service</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Introduction</span></div>
    </div>
    <div class="row justify-content-center p-2">
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/PEhT7ADLu4A"
               data-modal_title="Lesson 1 - Overview"
               class="lesson-link">
                <div class="card text-white bg-success card-tutor">
                    <div class="card-header"><b>Lesson 1</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Overview</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/iCWFkEV2fm8"
               data-modal_title="Lesson 2 - The Drawer"
               class="lesson-link">
                <div class="card text-white bg-success card-tutor">
                    <div class="card-header"><b>Lesson 2</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">The Drawer</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/hk3B8ZevUpc"
               data-modal_title="Lesson 3 - The Sprinklers"
               class="lesson-link">
                <div class="card text-white bg-success card-tutor">
                    <div class="card-header"><b>Lesson 3</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">The Sprinklers</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
<% } %>

<div id="videoModal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modalVideoHeader" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="videoFrame" class="embed-responsive-item" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>

            </div>
        </div>
    </div>
</div>
