<hr>

<% if (locale === 'de') { %>
    <div class="row justify-content-center p-2">
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/h9yMGoTddRY"
               data-modal_title="IRRISketch DEMO"
               class="lesson-link">
                <div class="card text-white bg-success card-tutor">
                    <div class="card-header"><b>IRRISketch DEMO</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Was ist IRRISketch?</h5>
                        <p class="card-text">Überprüfung des Programms</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div id="videoModal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="modalVideoHeader" class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe id="videoFrame" class="embed-responsive-item" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>
<% } else { %>
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="jumbotron py-4 mb-3">
                <h1 class="display-5 text-center"><%- __("TutorialsUC_Title") %></h1>
                <hr class="my-3">
                <p class="lead"><%- __("TutorialsUC_Body") %></p>
                <hr class="my-3">
                <p class="mt-3"><%= __("TutorialsUC_RussianAlternative") %></p>
                <a class="btn btn-success btn-lg"
                   href="https://www.youtube.com/playlist?list=PLq_OFx5KmbKF53NKHPfKWuw1D2RHmC5kX" role="button"><i
                            class="far fa-graduation-cap"></i> <%= __("TutorialsUC_RussianPlaylist") %></a>
            </div>
        </div>
    </div>
<% } %>
