<hr>

<% if (locale === 'de') { %>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Verschiedenes</span></div>
    </div>
    <div class="row justify-content-center p-2">
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/gT5yun30BS0"
               data-modal_title="IRRISketch DEMO"
               class="lesson-link">
                <div class="card text-white bg-info card-tutor">
                    <div class="card-header"><b>IRRISketch DEMO</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Was ist IRRISketch?</h5>
                        <p class="card-text">Vorstellung des Programms</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Einführung</span></div>
    </div>
    <div class="row justify-content-center p-2">
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/3b0rRDgVYkM"
               data-modal_title="Lektion 1 - Programmübersicht"
               class="lesson-link">
                <div class="card text-white bg-success card-tutor">
                    <div class="card-header"><b>Lektion 1</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Programm-übersicht</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/j31cd5ph2G0"
               data-modal_title="Lektion 2 - der Zeichner"
               class="lesson-link">
                <div class="card text-white bg-success card-tutor">
                    <div class="card-header"><b>Lektion 2</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Der Zeichner</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Entwerfen</span></div>
    </div>
    <div class="row justify-content-center p-2">
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/EQ0qs9IwyTQ"
               data-modal_title="Lektion 3 - Bewässerung"
               class="lesson-link">
                <div class="card text-white bg-primary card-tutor">
                    <div class="card-header"><b>Lektion 3</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Bewässerung</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/fkPkKbkQdRE"
               data-modal_title="Lektion 4 - Die Verrohrung"
               class="lesson-link">
                <div class="card text-white bg-primary card-tutor">
                    <div class="card-header"><b>Lektion 4</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Die Verrohrung</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/bL2gckO4Lck"
               data-modal_title="Lektion 5 - Tropfrohr"
               class="lesson-link">
                <div class="card text-white bg-primary card-tutor">
                    <div class="card-header"><b>Lektion 5</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Tropfrohr</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/ODojot46MEg"
               data-modal_title="Lektion 6 - Steuergeräte"
               class="lesson-link">
                <div class="card text-white bg-primary card-tutor">
                    <div class="card-header"><b>Lektion 6</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Steuergeräte</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Projektergebnisse</span></div>
    </div>
    <div class="row justify-content-center p-2">
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/ObS2r--V0_E"
               data-modal_title="Lektion 7 - Layout"
               class="lesson-link">
                <div class="card text-white bg-danger card-tutor">
                    <div class="card-header"><b>Lektion 7</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Layout</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/Uc0mxbBJTPc"
               data-modal_title="Lektion 8 - Bedarfsliste"
               class="lesson-link">
                <div class="card text-white bg-danger card-tutor">
                    <div class="card-header"><b>Lektion 8</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Bedarfsliste</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">IRRISeller</span></div>
    </div>
    <div class="row justify-content-center p-2">
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/lQ3Yq-kPMxQ"
               data-modal_title="Lektion 1 - Material & Preisliste"
               class="lesson-link">
                <div class="card text-white bg-warning card-tutor">
                    <div class="card-header"><b>Lektion 1</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Material & Preisliste</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/IrFNw6aOGFo"
               data-modal_title="Lektion 2 - Arbeitswerte"
               class="lesson-link">
                <div class="card text-white bg-warning card-tutor">
                    <div class="card-header"><b>Lektion 2</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Arbeitswerte</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/-Wv5s2lge5A"
               data-modal_title="Lektion 3 - Vorlagen & Tempaltes"
               class="lesson-link">
                <div class="card text-white bg-warning card-tutor">
                    <div class="card-header"><b>Lektion 3</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Vorlagen & Tempaltes</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Tipps und Tricks</span></div>
    </div>
    <div class="row justify-content-center p-2">
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/quFGxaEIf-k"
               data-modal_title="Tipps und Tricks - IRRISketch und Moasure"
               class="lesson-link">
                <div class="card text-white bg-primary card-tutor">
                    <div class="card-header"><b>Tipps und Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">IRRISketch und Moasure</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/2pMPD51sm6A"
               data-modal_title="Tipps und Tricks - IRRISketch und Hydrawise"
               class="lesson-link">
                <div class="card text-white bg-primary card-tutor">
                    <div class="card-header"><b>Tipps und Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">IRRISketch und Hydrawise</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/q5fxYoC7w5U"
               data-modal_title="Tipps und Tricks - Hintergrund Bilder einlesen"
               class="lesson-link">
                <div class="card text-white bg-primary card-tutor">
                    <div class="card-header"><b>Tipps und Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Hintergrund Bilder einlesen</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/oku4xUYAkk0"
               data-modal_title="Tipps und Tricks - Regnergruppen kombinieren"
               class="lesson-link">
                <div class="card text-white bg-success card-tutor">
                    <div class="card-header"><b>Tipps und Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Regnergruppen kombinieren</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/qSRqgfWrwAE"
               data-modal_title="Tipps und Tricks - Einladungslink IRRISketch fast kostenlos!"
               class="lesson-link">
                <div class="card text-white bg-warning card-tutor">
                    <div class="card-header"><b>Tipps und Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Einladungslink IRRISketch fast kostenlos!</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/zYm_9q2JKt4"
               data-modal_title="Tipps und Tricks - Düsen automatisch ziehen"
               class="lesson-link">
                <div class="card text-white bg-info card-tutor">
                    <div class="card-header"><b>Tipps und Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Düsen automatisch ziehen</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/ghz3EbSYDWE"
               data-modal_title="Tipps und Tricks - richtig markieren"
               class="lesson-link">
                <div class="card text-white bg-danger card-tutor">
                    <div class="card-header"><b>Tipps und Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">richtig markieren</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/PQz6QXawluk"
               data-modal_title="Tipps und Tricks - letze Funktion wiederholen"
               class="lesson-link">
                <div class="card text-white bg-secondary card-tutor">
                    <div class="card-header"><b>Tipps und Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">letze Funktion wiederholen</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/N4LadMEN86s"
               data-modal_title="Tipps und Tricks - Favoriten"
               class="lesson-link">
                <div class="card text-secondary bg-light card-tutor">
                    <div class="card-header"><b>Tipps und Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Favoriten</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/aANZo3fSbEQ"
               data-modal_title="Tipps und Tricks - Zusätzliche Informationen im Layout"
               class="lesson-link">
                <div class="card text-white bg-danger card-tutor">
                    <div class="card-header"><b>Tipps und Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Zusätzliche Informationen im Layout</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/4zq6Gbjiv6M"
               data-modal_title="Tipps und Tricks - freie Texte in Layout einfügen"
               class="lesson-link">
                <div class="card text-white bg-warning card-tutor">
                    <div class="card-header"><b>Tipps und Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">freie Texte in Layout einfügen</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/vesjsq3O8dI"
               data-modal_title="Tipps und Tricks - Tropfrohr, Kreise zeichnen"
               class="lesson-link">
                <div class="card text-white bg-success card-tutor">
                    <div class="card-header"><b>Tipps und Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Tropfrohr, Kreise zeichnen</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/zMj9ropAQFQ"
               data-modal_title="Tipps und Tricks - Online Seminar November 2022"
               class="lesson-link">
                <div class="card text-white bg-primary card-tutor">
                    <div class="card-header"><b>Tipps und Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Online Seminar November 2022</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/7vhs55xcm9I"
               data-modal_title="Tipps und Tricks - neue Layout Design Möglichkeiten"
               class="lesson-link">
                <div class="card text-white bg-warning card-tutor">
                    <div class="card-header"><b>Tipps und Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">neue Layout Design Möglichkeiten</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/JMeC6n1fM9A"
               data-modal_title="Tipps und Tricks - Beregnungszeiten"
               class="lesson-link">
                <div class="card text-white bg-danger card-tutor">
                    <div class="card-header"><b>Tipps und Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Beregnungszeiten</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
<% } else { %>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Demo</span></div>
    </div>
    <div class="row justify-content-center p-2">
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/fynr4n4T9Qc"
               data-modal_title="IRRISketch DEMO"
               class="lesson-link">
                <div class="card text-white bg-info card-tutor">
                    <div class="card-header"><b>IRRISketch DEMO</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">What is IRRISketch?</h5>
                        <p class="card-text">Presentation of the service</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Introduction</span></div>
    </div>
    <div class="row justify-content-center p-2">
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/PEhT7ADLu4A"
               data-modal_title="Lesson 1 - Overview"
               class="lesson-link">
                <div class="card text-white bg-success card-tutor">
                    <div class="card-header"><b>Lesson 1</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Overview</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/iCWFkEV2fm8"
               data-modal_title="Lesson 2 - The Drawer"
               class="lesson-link">
                <div class="card text-white bg-success card-tutor">
                    <div class="card-header"><b>Lesson 2</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">The Drawer</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/hk3B8ZevUpc"
               data-modal_title="Lesson 3 - The Sprinklers"
               class="lesson-link">
                <div class="card text-white bg-success card-tutor">
                    <div class="card-header"><b>Lesson 3</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">The Sprinklers</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/brQ2DUUyoTA"
               data-modal_title="Lesson 4 - The Piping"
               class="lesson-link">
                <div class="card text-white bg-success card-tutor">
                    <div class="card-header"><b>Lesson 4</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">The Piping</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/XHz9I2o8sW8"
               data-modal_title="Lesson 5 - Drip Line"
               class="lesson-link">
                <div class="card text-white bg-success card-tutor">
                    <div class="card-header"><b>Lesson 5</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Drip Line</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/pV3fGVzbJHQ"
               data-modal_title="Lesson 6 - Automation"
               class="lesson-link">
                <div class="card text-white bg-success card-tutor">
                    <div class="card-header"><b>Lesson 6</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Automation</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/DppYrWetg94"
               data-modal_title="Lesson 7 - Layout"
               class="lesson-link">
                <div class="card text-white bg-success card-tutor">
                    <div class="card-header"><b>Lesson 7</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Layout</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/1TtyJ3xK9tQ"
               data-modal_title="Lesson 8 - Specs Sheet"
               class="lesson-link">
                <div class="card text-white bg-success card-tutor">
                    <div class="card-header"><b>Lesson 8</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Specs Sheet</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Tips and Tricks</span></div>
    </div>
    <div class="row justify-content-center p-2">
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/1MN0R8t4Oo4"
               data-modal_title="Tips and Tricks - IRRISketch Favourites"
               class="lesson-link">
                <div class="card text-white bg-primary card-tutor">
                    <div class="card-header"><b>Tips and Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">IRRISketch Favourites</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/t_U7TMak0QE"
               data-modal_title="Tips and Tricks - IRRISketch Repeat the last command"
               class="lesson-link">
                <div class="card text-white bg-primary card-tutor">
                    <div class="card-header"><b>Tips and Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">IRRISketch Repeat the last command</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/9fXGzFCHcLU"
               data-modal_title="Tips and Tricks - IRRISketch Lay circles with drip line"
               class="lesson-link">
                <div class="card text-white bg-primary card-tutor">
                    <div class="card-header"><b>Tips and Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">IRRISketch Lay circles with drip line</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto mb-4">
            <a data-toggle="modal"
               data-target="#videoModal"
               data-video_link="https://www.youtube.com/embed/I9XuB4pguoQ"
               data-modal_title="Tips and Tricks - IRRISketch add additional information"
               class="lesson-link">
                <div class="card text-white bg-primary card-tutor">
                    <div class="card-header"><b>Tips and Tricks</b></div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">IRRISketch add additional information</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
<% } %>

<div id="videoModal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modalVideoHeader" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="videoFrame" class="embed-responsive-item" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>

            </div>
        </div>
    </div>
</div>
