<hr>
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="mission-tab" data-toggle="tab" href="#mission" role="tab"
                   aria-controls="mission" aria-selected="false"><h3 class="mt-2"><i class="far fa-lightbulb-on"></i>
                        Mission</h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="service-tab" data-toggle="tab" href="#service" role="tab"
                   aria-controls="service" aria-selected="true"><h3 class="mt-2"><i class="far fa-cogs"></i> Software
                    </h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="team-tab" data-toggle="tab" href="#team" role="tab"
                   aria-controls="team" aria-selected="false"><h3 class="mt-2"><i class="far fa-address-card"></i> Team
                    </h3></a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <!--//ABOUT MISSION-->
            <div class="tab-pane fade" id="mission" role="tabpanel" aria-labelledby="mission-tab">
                <div class="how-section1">
                    <div class="row">
                        <div class="col-md-6 mb-4 how-img">
                            <i class="far fa-clock fa-10x text-success"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>Czas</h4>
                            <h4 class="subheading">Jest to jeden z najcenniejszych zasobów dla człowieka na Ziemi</h4>
                            <p class="text-muted">Ilość wolnego czasu wiele determinuje. Ile czasu dana osoba poświęca na
                                pracę, naukę i inne społecznie użyteczne działania, w celu nabycia innych ważnych zasobów, takich jak
                                ważnych zasobów, takich jak pieniądze, wiedza lub status, określa ilość czasu, który może poświęcić
                                może poświęcić sobie, swojej rodzinie i zdrowiu. W rzeczywistości ilość wolnego czasu jest
                                wprost proporcjonalna do ludzkiego szczęścia. Przetłumaczono z DeepL.com (wersja darmowa)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-12 order-sm-1">
                            <h4>Nasza nisza</h4>
                            <h4 class="subheading">Czy zautomatyzowane systemy nawadniania</h4>
                            <p class="text-muted">Celem jest właśnie zdobycie tego cennego zasobu - czasu.
                                zasobu - czasu. Miliony ludzi na naszej planecie, oszczędzając 1 godzinę czasu dziennie, wolne
                                od podlewania swoich terenów zielonych, są w stanie być trochę szczęśliwsi, czyniąc trochę szczęśliwszymi ludzi wokół siebie.
                                trochę szczęśliwszych ludzi wokół nich.</p>
                        </div>
                        <div class="col-md-6 mb-4 how-img order-1 order-sm-12">
                            <i class="far fa-globe fa-10x text-primary"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4 how-img">
                            <i class="far fa-bullseye-arrow fa-10x text-danger"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>Nasz cel</h4>
                            <h4 class="subheading">Aby zbudować poręczne narzędzie</h4>
                            <p class="text-muted">Zapewniając w ten sposób wykonawcom, którzy instalują automatyczne
                                systemy nawadniające, możliwość zaoszczędzenia czasu poprzez dostarczenie im nowoczesnego oprogramowania
                                które pozwala na znacznie szybsze szacowanie, projektowanie, instalację i konserwację systemów.
                                szybciej.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--//ABOUT SERVICE-->
            <div class="tab-pane fade show active" id="service" role="tabpanel" aria-labelledby="service-tab">
                <div class="row">
                    <div class="row m-5">
                        <div class="col-md-6">
                            <img class="w-100 mb-3" src="/images/mylogo_big.png" alt=""/>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                Stworzone przez wykonawcę dla wykonawców
                            </h3>
                            <p>
                                Głównym celem tej usługi online jest zminimalizowanie czasu, który upływa od momentu
                                od momentu otrzymania wymagań technicznych dotyczących projektu nawadniania do momentu
                                momentu dostarczenia klientowi oferty handlowej, bez zaniedbywania jakości i dokładności projektu.
                                jakości i dokładności projektu. Osiąga się to poprzez automatyzację rutynowych zadań, takich jak
                                takich jak liczenie złączek lub obliczanie średnic rur. Program implementuje system do
                                automatycznego wykrywania dysz z wybranej serii w ramach zdefiniowanych przez użytkownika
                                geometrycznych obszaru pokrycia w celu przyspieszenia ich umieszczenia na miejscu.
                                Oraz
                                wiele, wiele wygodnych funkcji.
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Irrisketch jest stale ulepszany
                            </h3>
                            <p>
                                Dzięki Waszym opiniom i naszym dzielnym testerom stale ulepszamy nasz produkt,
                                dostosowując go do rzeczywistych potrzeb osób wykonujących nasz zawód. Pozostawiając
                                opinie pomagasz nam stworzyć nowy, ulepszony sposób na rozwiązanie problemu tworzenia
                                optymalnych zautomatyzowanych systemów nawadniania
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Nie wymaga instalacji na komputerze
                            </h3>
                            <p>
                                Irrisketch to usługa online, która bezpiecznie przechowuje wszystkie projekty w chmurze. Użytkownik
                                nie trzeba instalować żadnego oprogramowania na komputerze. Dostęp do projektów można uzyskać
                                z dowolnego urządzenia podłączonego do Internetu, czy to smartfona, czy komputera, z dowolnego miejsca na świecie.
                                z dowolnego miejsca na świecie.
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Używane biblioteki firm trzecich
                            </h3>
                            <p>
                                IRRISketch jest zasilany przez <a href="http://paperjs.org/license/"
                                                            target="_blank">PaperJS, an open source library (MIT
                                    License)</a>
                            </p>
                            <p>
                                Używane są również następujące biblioteki i frameworki:
                            <%- partial('../partials/libraries') %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--//ABOUT TEAM-->
            <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">
                <div class="team-section mt-2">
                    <div class="row">
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/fil.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Philiph</h4>
                                                <p class="card-text">Deweloper</p>
                                                <i class="far fa-code fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Philiph</h4>
                                                <p class="card-text">Z wykształcenia inżynier budownictwa. Zajmuje się nawadnianiem od
                                                    2014. Pomyślał, że spędza zbyt wiele czasu na projektowaniu systemów,
                                                    i opracował tę usługę online, aby spędzać więcej czasu na
                                                    kitesurfingu.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:mail@irrisketch.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/irrisketch.ru/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/theo.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Theo</h4>
                                                <p class="card-text">Przedstawiciel Niemiec</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Theo</h4>
                                                <p class="card-text">Ten człowiek jest zawsze w czołówce zaawansowanych
                                                    technologii w systemach nawadniania. Jeśli kopie, to tylko przy użyciu
                                                    narzędzia benzynowego zwanego georipperem. Jeśli wykonuje pomiary, to
                                                    tylko ruletkę "moasure". Jeśli kosi trawnik, to tylko za pomocą robota koszącego.
                                                    robota koszącego. Ogólnie rzecz biorąc, jest jak Anton, tylko w ulepszonej wersji.
                                                    wersja.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="http://www.ltwgmbh.de/">
                                                            <i class="far fa-globe"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:theo@irrisketch.com?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="tel:+4924565074510">
                                                            <i class="far fa-phone"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/georipper.de/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/tikh.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Alexander</h4>
                                                <p class="card-text">Projektant</p>
                                                <i class="far fa-pencil-paintbrush fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Alexander</h4>
                                                <p class="card-text">Z wykształcenia artysta i inżynier. Jednym słowem
                                                    projektant krajobrazu. Wie, jak narysować widok z góry, aby obserwator
                                                    obserwator zanurza się w stan, jakby był w tropikalnym lesie.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:xom1959@yandex.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/ant.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Anton</h4>
                                                <p class="card-text">Inżynier testujący</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Anton</h4>
                                                <p class="card-text">Oprócz zajmowania się fotografią i gimnastyką
                                                    gimnastyką, tworzy również systemy nawadniające w najbardziej
                                                    w najbardziej technologiczny sposób, wykorzystując koparki do rowów i inne zaawansowane technologie.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:info@polivcentr.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/polivcentr.ru/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/maks.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Maxim</h4>
                                                <p class="card-text">Inżynier testujący</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Maxim</h4>
                                                <p class="card-text">Najbardziej doświadczony wykonawca w naszym zespole.
                                                    Buduje systemy nawadniające od ubiegłego tysiąclecia. Ponadto,
                                                    on
                                                    ma wyjątkową siłę, skręcając 63-mm adaptery kompresyjne prawie
                                                    gołymi rękami przy +2℃</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:polivmax@gmail.com?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/polivmax/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.youtube.com/channel/UCX08xcDrIzQ8otzisJqWfdA">
                                                            <i class="fab fa-youtube"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
