<hr>
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="mission-tab" data-toggle="tab" href="#mission" role="tab"
                   aria-controls="mission" aria-selected="false"><h3 class="mt-2"><i class="far fa-lightbulb-on"></i>
                        Küldetés</h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="service-tab" data-toggle="tab" href="#service" role="tab"
                   aria-controls="service" aria-selected="true"><h3 class="mt-2"><i class="far fa-cogs"></i> Szoftver
                    </h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="team-tab" data-toggle="tab" href="#team" role="tab"
                   aria-controls="team" aria-selected="false"><h3 class="mt-2"><i class="far fa-address-card"></i> Csapat
                    </h3></a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <!--//ABOUT MISSION-->
            <div class="tab-pane fade" id="mission" role="tabpanel" aria-labelledby="mission-tab">
                <div ass="how-sclection1">
                    <div class="row">
                        <div class="col-md-6 mb-4 how-img">
                            <i class="far fa-clock fa-10x text-success"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>Idő</h4>
                            <h4 class="subheading">Ez az egyik legértékesebb erőforrás az ember számára a Földön.</h4>
                            <p class="text-muted">A szabadidő mennyisége sok mindent meghatároz. Mennyi időt tölt egy személy
                                munkára, tanulásra és más társadalmilag hasznos tevékenységekre, azzal a céllal, hogy más
                                fontos erőforrások, például pénz, tudás vagy státusz megszerzése érdekében, meghatározza az idő mennyiségét.
                                tud magára, a családjára és az egészségére fordítani. Valójában a szabadidő mennyisége
                                egyenesen arányos az emberi boldogsággal.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-12 order-sm-1">
                            <h4>A mi résünk</h4>
                            <h4 class="subheading">Automatizált öntözőrendszerek</h4>
                            <p class="text-muted">A cél pontosan az, hogy megnyerjük ezt a kincset érő
                                erőforrást - az időt. Emberek milliói a bolygón, napi 1 óra időmegtakarítással, ingyenesen.
                                a zöldfelületeik locsolásától, képesek egy kicsit boldogabbak lenni, egy kicsit
                                boldogabbá teszik a körülöttük élő embereket.</p>
                        </div>
                        <div class="col-md-6 mb-4 how-img order-1 order-sm-12">
                            <i class="far fa-globe fa-10x text-primary"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4 how-img">
                            <i class="far fa-bullseye-arrow fa-10x text-danger"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>Célunk</h4>
                            <h4 class="subheading">Egy praktikus eszköz készítése</h4>
                            <p class="text-muted">Ezáltal biztosítva a vállalkozók számára, akik automatikus
                                öntözőrendszereket, lehetőséget kapnak arra, hogy időt takarítsanak meg azáltal, hogy modern szoftverrel látják el őket.
                                amely lehetővé teszi a rendszerek becslését, tervezését, telepítését és karbantartását.
                                gyorsabban.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--//ABOUT SERVICE-->
            <div class="tab-pane fade show active" id="service" role="tabpanel" aria-labelledby="service-tab">
                <div class="row">
                    <div class="row m-5">
                        <div class="col-md-6">
                            <img class="w-100 mb-3" src="/images/mylogo_big.png" alt=""/>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                Vállalkozó készítette a vállalkozók számára
                            </h3>
                            <p>
                                Ennek az online szolgáltatásnak a fő célja, hogy minimalizálja az időt, amely a
                                az öntözés tervezéséhez szükséges műszaki követelmények beérkezésétől az öntözőberendezés tervezéséig eltelt idő.
                                a kereskedelmi ajánlatnak az ügyfél részére történő megküldéséig, anélkül, hogy elhanyagolnánk a
                                a projekt minősége és pontossága. Ezt a rutinfeladatok automatizálásával érjük el, mint pl.
                                mint például a szerelvények számolása vagy a csőátmérők kiszámítása. A program egy olyan rendszert valósít meg, amely
                                a fúvókák automatikus felismerése egy kiválasztott sorozatból a felhasználó által meghatározott geometriai jellemzők alapján
                                lefedettségi terület geometriai jellemzői alapján, hogy felgyorsítsa a helyszínen történő elhelyezésüket.
                                És
                                sok-sok kényelmes funkciót.
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Az Irrisketch folyamatosan fejlődik
                            </h3>
                            <p>
                                Az Ön visszajelzéseinek és bátor tesztelőinknek köszönhetően folyamatosan fejlesztjük termékünket,
                                a szakmánkban dolgozó emberek valós igényeihez igazítva. Azzal, hogy
                                visszajelzéseddel segítesz abban, hogy egy új, továbbfejlesztett módot hozzunk létre a probléma megoldására.
                                optimális automatizált öntözőrendszerek
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Nincs szükség telepítésre a számítógépen
                            </h3>
                            <p>
                                Az Irrisketch egy online szolgáltatás, amely biztonságosan tárolja az összes projektjét a felhőben. Ön
                                nem kell semmilyen szoftvert telepítenie a számítógépére. És hozzáférhet a projektjeihez
                                bármilyen, az internethez csatlakoztatott eszközről, legyen az okostelefon vagy számítógép, az alábbi helyekről
                                bárhol a világon.
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Használt harmadik féltől származó könyvtárak
                            </h3>
                            <p>
                                Az IRRISketch a következő eszközökkel működik <a href="http://paperjs.org/license/"
                                                            target="_blank">PaperJS, egy nyílt forráskódú könyvtár (MIT
                                    Licenc)</a>
                            </p>
                            <p>
                                A következő könyvtárakat és keretrendszereket is használja:
                            <%- partial('../partials/libraries') %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--//ABOUT TEAM-->
            <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">
                <div class="team-section mt-2">
                    <div class="row">
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/fil.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Philiph</h4>
                                                <p class="card-text">Fejlesztő</p>
                                                <i class="far fa-code fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Philiph</h4>
                                                <p class="card-text">Végzettségét tekintve építőmérnök. Öntözéssel foglalkozik
                                                    2014. Úgy gondolta, hogy túl sok időt tölt a rendszer tervezésével,
                                                    és kifejlesztette ezt az online szolgáltatást, hogy több időt tudjon fordítani
                                                    a kitesurfingre.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:mail@irrisketch.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/irrisketch.ru/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/theo.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Theo</h4>
                                                <p class="card-text">Német képviselő</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Theo</h4>
                                                <p class="card-text">Ez az ember mindig az élvonalban van a magas színvonalú
                                                    technológiában az öntözőrendszerek terén. Ha ás, akkor is csak a földet használja.
                                                    egy georipper nevű benzines szerszámot használ. Ha méréseket végez, akkor
                                                    csak "moasure" rulettet használ. Ha füvet nyír, akkor csak egy
                                                    fűnyíró robotjával. Általában olyan, mint Anton, de csak egy továbbfejlesztett
                                                    változatban.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="http://www.ltwgmbh.de/">
                                                            <i class="far fa-globe"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:theo@irrisketch.com?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="tel:+4924565074510">
                                                            <i class="far fa-phone"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/georipper.de/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/tikh.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Alexander</h4>
                                                <p class="card-text">Tervező</p>
                                                <i class="far fa-pencil-paintbrush fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Alexander</h4>
                                                <p class="card-text">Művész és mérnök végzettségű. Egy szóval, egy
                                                    tájépítész. Tudja, hogyan kell megrajzolni a fák tetejét, hogy a
                                                    a szemlélő olyan állapotba kerüljön, mintha egy trópusi erdőben lenne.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:xom1959@yandex.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/ant.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Anton</h4>
                                                <p class="card-text">Tesztelő mérnök</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Anton</h4>
                                                <p class="card-text">Amellett, hogy foglalkozik fotózással és
                                                    torna, ő is készít öntözőrendszerek a legjobban
                                                    a legtechnologikusabb módon, árokásók és más csúcstechnológiák segítségével..</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:info@polivcentr.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/polivcentr.ru/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/maks.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Maxim</h4>
                                                <p class="card-text">Tesztelő mérnök</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Maxim</h4>
                                                <p class="card-text">A legtapasztaltabb vállalkozó a csapatunkban.
                                                    Öntözőrendszerek építése a múlt évezred óta. Ezen kívül,
                                                    ő
                                                    kiemelkedő erővel rendelkezik, 63 mm-es tömörítő adapterek csavarásával majdnem
                                                    puszta kézzel +2℃</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:polivmax@gmail.com?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/polivmax/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.youtube.com/channel/UCX08xcDrIzQ8otzisJqWfdA">
                                                            <i class="fab fa-youtube"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
