<hr>
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="mission-tab" data-toggle="tab" href="#mission" role="tab"
                   aria-controls="mission" aria-selected="false"><h3 class="mt-2"><i class="far fa-lightbulb-on"></i>
                        Görev</h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="service-tab" data-toggle="tab" href="#service" role="tab"
                   aria-controls="service" aria-selected="true"><h3 class="mt-2"><i class="far fa-cogs"></i> Yazılım
                    </h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="team-tab" data-toggle="tab" href="#team" role="tab"
                   aria-controls="team" aria-selected="false"><h3 class="mt-2"><i class="far fa-address-card"></i> Takım
                    </h3></a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <!--//ABOUT MISSION-->
            <div class="tab-pane fade" id="mission" role="tabpanel" aria-labelledby="mission-tab">
                <div class="how-section1">
                    <div class="row">
                        <div class="col-md-6 mb-4 how-img">
                            <i class="far fa-clock fa-10x text-success"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>Zaman</h4>
                            <h4 class="subheading">Bu, bir insan için dünyadaki en değerli kaynaklardan biridir</h4>
                            <p class="text-muted">Boş zaman miktarı çok şey belirler. Bir kişinin ne kadar zaman harcadığı
                                iş, eğitim ve diğer sosyal açıdan yararlı faaliyetler, diğer
                                para bilgi veya statü gibi önemli kaynaklar, zaman miktarını belirler
                                kendisine, ailesine ve sağlığına harcayabilir. Aslında, boş zaman miktarı
                                insan mutluluğu ile doğru orantılıdır.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-12 order-sm-1">
                            <h4>Bizim nişimiz</h4>
                            <h4 class="subheading">Otomatik sulama sistemleri mi</h4>
                            <p class="text-muted">Bunun amacı tam olarak bu hazineyi kazanmaktır.
                                kaynak - Zaman. Gezegendeki milyonlarca insan, günde 1 saat zaman tasarrufu yapıyor, ücretsiz
                                yeşil alanlarını sulamaktan biraz daha mutlu olabilirler, biraz daha
                                etraflarındaki insanlar biraz daha mutlu.</p>
                        </div>
                        <div class="col-md-6 mb-4 how-img order-1 order-sm-12">
                            <i class="far fa-globe fa-10x text-primary"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4 how-img">
                            <i class="far fa-bullseye-arrow fa-10x text-danger"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>Hedefimiz</h4>
                            <h4 class="subheading">Kullanışlı bir araç oluşturmak için</h4>
                            <p class="text-muted">Böylece, otomatik kurulum yapan yüklenicilere
                                sulama sistemleri, onlara modern yazılımlar sağlayarak zamandan tasarruf etme fırsatı
                                sistemlerin tahminlerini, tasarımını, kurulumunu ve bakımını yapmaya olanak tanıyan
                                Daha hızlı.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--//ABOUT SERVICE-->
            <div class="tab-pane fade show active" id="service" role="tabpanel" aria-labelledby="service-tab">
                <div class="row">
                    <div class="row m-5">
                        <div class="col-md-6">
                            <img class="w-100 mb-3" src="/images/mylogo_big.png" alt=""/>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                Müteahhitler için müteahhit tarafından yapılmıştır
                            </h3>
                            <p>
                                Bu çevrimiçi hizmetin temel amacı, hizmetten yararlanmaya kadar geçen süreyi en aza indirmektir.
                                Sulama tasarımı için teknik gerekliliklerin alındığı andan itibaren
                                ihmal etmeden müşteriye ticari bir teklif sunma anı
                                projenin kalitesi ve doğruluğu. Bu, aşağıdaki gibi rutin görevlerin otomatikleştirilmesiyle elde edilir
                                bağlantı parçalarının sayılması veya boru çaplarının hesaplanması gibi. Program aşağıdakiler için bir sistem uygular
                                kullanıcı tanımlı geometrik koşullar altında seçilen bir seriden nozulların otomatik olarak algılanması
                                sahaya yerleştirilmelerini hızlandırmak için kapsama alanının özellikleri.
                                Ve
                                birçok, birçok kullanışlı özellik.
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Irrisketch sürekli olarak geliştirilmektedir
                            </h3>
                            <p>
                                Geri bildirimleriniz ve cesur testçilerimiz sayesinde ürünümüzü sürekli olarak geliştiriyoruz,
                                mesleğimizle uğraşan insanların gerçek ihtiyaçlarına göre ayarlamak. Ayrılarak
                                yaratma sorununu çözmek için yeni ve geliştirilmiş bir yol oluşturmaya yardımcı oluyorsunuz.
                                optimal otomatik sulama sistemleri
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Bilgisayarda kurulum gerektirmez
                            </h3>
                            <p>
                                Irrisketch, tüm projelerinizi bulutta güvenli bir şekilde saklayan çevrimiçi bir hizmettir. Sen
                                bilgisayarınıza herhangi bir yazılım yüklemenize gerek yoktur. Ve projelerinize erişebilirsiniz
                                İnternete bağlı herhangi bir cihazdan, ister akıllı telefon ister bilgisayar olsun
                                dünyanın herhangi bir yerinde.
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Kullanılan üçüncü taraf kütüphaneler
                            </h3>
                            <p>
                                IRRISketch tarafından desteklenmektedir <a href="http://paperjs.org/license/"
                                                            target="_blank">PaperJS, açık kaynaklı bir kütüphane (MIT
                                    Lisans)</a>
                            </p>
                            <p>
                                Aşağıdaki kütüphaneler ve çerçeveler de kullanılmaktadır:
                            <%- partial('../partials/libraries') %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--//ABOUT TEAM-->
            <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">
                <div class="team-section mt-2">
                    <div class="row">
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/fil.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Philiph</h4>
                                                <p class="card-text">Geliştirici</p>
                                                <i class="far fa-code fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Philiph</h4>
                                                <p class="card-text">Eğitim olarak inşaat mühendisi. O zamandan beri sulama yapıyor
                                                    2014. Sistem tasarımına çok fazla zaman harcadığını düşünüyordu,
                                                    daha fazla zaman geçirmek için bu çevrimiçi hizmeti geliştirdi.
                                                    Uçurtma sörfü.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:mail@irrisketch.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/irrisketch.ru/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/theo.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Theo</h4>
                                                <p class="card-text">Alman Temsilci</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Theo</h4>
                                                <p class="card-text">Tonun adamı her zaman yüksek teknolojinin
                                                    Sulama sistemlerinde teknoloji. Eğer kazıyorsa, sadece
                                                    georipper denilen benzinli bir alet. Eğer ölçüm yaparsa
                                                    sadece 'moasure' ruleti alır. Eğer çimleri biçerse, o zaman sadece bir
                                                    çim biçme robotu. Genel olarak Anton gibi, ama sadece geliştirilmiş
                                                    versiyon.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="http://www.ltwgmbh.de/">
                                                            <i class="far fa-globe"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:theo@irrisketch.com?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="tel:+4924565074510">
                                                            <i class="far fa-phone"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/georipper.de/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/tikh.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Alexander</h4>
                                                <p class="card-text">Tasarımcı</p>
                                                <i class="far fa-pencil-paintbrush fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Alexander</h4>
                                                <p class="card-text">Eğitim olarak sanatçı ve mühendis. Tek kelimeyle, bir
                                                    peyzaj tasarımcısı. Bir ağaç üst görünümünün nasıl çizileceğini bilir, böylece
                                                    gözlemci sanki tropikal bir ormandaymış gibi bir duruma dalıyor.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:xom1959@yandex.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/ant.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Anton</h4>
                                                <p class="card-text">Test mühendisi</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Anton</h4>
                                                <p class="card-text">Fotoğrafçılıkla uğraşmanın yanı sıra
                                                    jimnastik, aynı zamanda en iyi sulama sistemlerini oluşturur.
                                                    teknolojik yolla, kanal açma makineleri ve diğer yüksek teknolojileri kullanarak.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:info@polivcentr.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/polivcentr.ru/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/maks.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Maxim</h4>
                                                <p class="card-text">Test mühendisi</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Maxim</h4>
                                                <p class="card-text">Ekibimizdeki en deneyimli müteahhit.
                                                    Geçen milenyumdan beri sulama sistemleri inşa ediyor. Ek olarak,
                                                    o
                                                    olağanüstü bir güce sahiptir, 63 mm sıkıştırma adaptörlerini neredeyse
                                                    çıplak elle +2℃'de</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:polivmax@gmail.com?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/polivmax/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.youtube.com/channel/UCX08xcDrIzQ8otzisJqWfdA">
                                                            <i class="fab fa-youtube"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
