<hr>
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="mission-tab" data-toggle="tab" href="#mission" role="tab"
                   aria-controls="mission" aria-selected="false"><h3 class="mt-2"><i class="far fa-lightbulb-on"></i>
                        Misija</h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="service-tab" data-toggle="tab" href="#service" role="tab"
                   aria-controls="service" aria-selected="true"><h3 class="mt-2"><i class="far fa-cogs"></i> Softver
                    </h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="team-tab" data-toggle="tab" href="#team" role="tab"
                   aria-controls="team" aria-selected="false"><h3 class="mt-2"><i class="far fa-address-card"></i> Tim
                    </h3></a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <!--//ABOUT MISSION-->
            <div class="tab-pane fade" id="mission" role="tabpanel" aria-labelledby="mission-tab">
                <div class="how-section1">
                    <div class="row">
                        <div class="col-md-6 mb-4 how-img">
                            <i class="far fa-clock fa-10x text-success"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>Time</h4>
                            <h4 class="subheading"> Ovo je jedan od najvrjednijih resursa za čovjeka na Zemlji. </h4>
                            <p class="text-muted"> Količina slobodnog vremena određuje puno stvari. Koliko vremena osoba provodi na poslu, učenju i drugim društveno korisnim aktivnostima, sa ciljem da stekne druge važne resurse poput novca, znanja ili statusa, određuje koliko vremena može posvetiti sebi, svojoj obitelji i zdravlju. Ustvari, količina slobodnog vremena je izravno proporcionalna sreći čovjeka.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-12 order-sm-1">
                            <h4>Naša niša</h4>
                            <h4 class="subheading">su automatski sustavi za navodnjavanje.</h4>
                            <p class="text-muted">Cilj tih sustava je točno osvojiti ovaj dragocjen resurs - Vrijeme. Milijuni ljudi na planetu, što uštedi 1 sat vremena dnevno, slobodni su od navodnjavanja svojih zelenih površina i time su malo sretniji, te time čine i ljude oko sebe malo sretnijima.</p>
                        </div>
                        <div class="col-md-6 mb-4 how-img order-1 order-sm-12">
                            <i class="far fa-globe fa-10x text-primary"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4 how-img">
                            <i class="far fa-bullseye-arrow fa-10x text-danger"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>Naš cilj</h4>
                            <h4 class="subheading">Izgraditi koristan alat</h4>
                            <p class="text-muted">Time ćemo pružiti izvođačima radova koji instaliraju automatske sustave za navodnjavanje priliku da uštede vrijeme pružajući im moderni softver koji omogućuje brže izračunavanje troškova, dizajniranje, instaliranje i održavanje sustava.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--//ABOUT SERVICE-->
            <div class="tab-pane fade show active" id="service" role="tabpanel" aria-labelledby="service-tab">
                <div class="row">
                    <div class="row m-5">
                        <div class="col-md-6">
                            <img class="w-100 mb-3" src="/images/mylogo_big.png" alt=""/>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                Izradio izvođač za izvođače
                            </h3>
                            <p>
                                Glavni cilj ovog online servisa je smanjiti količinu vremena koja prolazi od trenutka primitka tehničkih zahtjeva za dizajn navodnjavanja do trenutka pružanja komercijalne ponude kupcu, bez zanemarivanja kvalitete i točnosti projekta. Ovo se postiže automatizacijom rutinskih zadataka, poput brojenja spojnica ili izračunavanja promjera cijevi. Program implementira sustav za automatsku detekciju dizni iz odabrane serije pod korisnički definiranim geometrijskim karakteristikama pokrivenog područja kako bi ubrzali njihovo postavljanje na lokaciji. I mnogim, mnogim pogodnim značajkama.
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Irrisketch se stalno poboljšava.
                            </h3>
                            <p>
                                Zahvaljujući vašim povratnim informacijama i našim hrabrim testirateljima, stalno poboljšavamo naš proizvod, prilagođavajući ga stvarnim potrebama ljudi koji se bave našom strukom. Ostavljanjem povratnih informacija pomažete stvoriti novi, poboljšani način rješavanja problema izrade optimalnih automatskih sustava za navodnjavanje.
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Nije potrebna instalacija na računalu
                            </h3>
                            <p>
                                Irrisketch je online servis koji sigurno pohranjuje sve vaše projekte u oblaku. Ne trebate instalirati nikakav softver na svoje računalo. I možete pristupiti svojim projektima sa bilo kojeg uređaja povezanog na Internet, bilo da se radi o pametnom telefonu ili računalu, sa bilo koje lokacije u svijetu.
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Korištene biblioteke trećih strana
                            </h3>
                            <p>
                                IRRISketch pokreće <a href="http://paperjs.org/license/"
                                                      target="_blank">PaperJS, otvorena izvorna biblioteka (MIT
                                    License)</a>
                            </p>
                            <p>
                                Sljedeće biblioteke i okviri također se koriste:
                            <ul>
                                <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap 4 (MIT)</a></li>
                                <li><a href="https://fontawesome.com/" target="_blank">Fontawesome 5 (MIT)</a></li>
                                <li><a href="https://jquery.com/" target="_blank">jQuery 3 (Apache License V2.0)</a>
                                </li>
                                <li><a href="https://github.com/mozilla/pdf.js" target="_blank">PDF.js (Apache License
                                        V2.0)</a>
                                </li>
                                <li><a href="https://underscorejs.org/#" target="_blank">underscorejs (MIT)</a></li>
                                <li><a href="https://www.npmjs.com/package/js-xlsx" target="_blank">js-xlsx (Apache
                                        License V2.0)</a></li>
                                <li><a href="https://github.com/eligrey/FileSaver.js" target="_blank">FileSaver
                                        (MIT)</a></li>
                                <li><a href="https://github.com/caolan/async" target="_blank">async (MIT)</a></li>
                                <li><a href="https://github.com/eligrey/Blob.js.git" target="_blank">Blob (MIT)</a></li>
                                <li><a href="https://github.com/bootstrap-tagsinput/bootstrap-tagsinput"
                                       target="_blank">bootstrap-tagsinput (MIT)</a></li>
                                <li><a href="https://github.com/twitter/typeahead.js" target="_blank">typeahead.js
                                        (MIT)</a></li>
                                <li><a href="https://kenwheeler.github.io/slick/" target="_blank">slick (MIT)</a></li>
                                <li><a href="https://github.com/zalog/placeholder-loading" target="_blank">placeholder-loading
                                        (MIT)</a></li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--//ABOUT TEAM-->
            <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">
                <div class="team-section mt-2">
                    <div class="row">
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/fil.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Philiph</h4>
                                                <p class="card-text">Programer</p>
                                                <i class="far fa-code fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Philiph</h4>
                                                <p class="card-text">Građevinski inženjer po obrazovanju. Radim sa navodnjavanjem od 2014. godine. Mislio sam da provodim previše vremena na dizajniranju sustava i razvio ovaj online servis kako bih mogao provoditi više vremena na kitesurfanju.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:mail@irrisketch.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/irrisketch.ru/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/theo.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Theo</h4>
                                                <p class="card-text">Njemački predstavnik</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Theo</h4>
                                                <p class="card-text"> Ovaj čovjek uvijek je na vrhuncu visoke tehnologije u sustavima navodnjavanja. Ako kopa, koristi samo benzinsku alatku zvanu georipper. Ako mjeri, koristi samo 'moasure' roulette. Ako kosi travu, onda samo sa robotom za košenje trave. Općenito, on je poput Antona, ali poboljšana verzija.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="http://www.ltwgmbh.de/">
                                                            <i class="far fa-globe"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:theo@irrisketch.com?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="tel:+4924565074510">
                                                            <i class="far fa-phone"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/georipper.de/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/tikh.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Alexander</h4>
                                                <p class="card-text">Dizajner</p>
                                                <i class="far fa-pencil-paintbrush fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Alexander</h4>
                                                <p class="card-text"> Umjetnik i inženjer po obrazovanju. Jednom riječju, dizajner krajobraza. Zna kako nacrtati prikaz drveća odozgora tako da promatrač pada u stanje kao da se nalazi u tropskoj šumi.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:xom1959@yandex.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/ant.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Anton</h4>
                                                <p class="card-text"> Testiranje-Inženjer </p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Anton</h4>
                                                <p class="card-text"> Pored toga što se bavi fotografijom i gimnastikom, on također stvara sustave navodnjavanja na najtehnološkiji način, koristeći trencher i druge visoke tehnologije.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:info@polivcentr.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/polivcentr.ru/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/maks.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Maxim</h4>
                                                <p class="card-text"> Testiranje-Inženjer </p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Maxim</h4>
                                                <p class="card-text"> Najiskusniji izvođač radova u našem timu. Izvodi sustave navodnjavanja od prošlog tisućljeća. Pored toga, on ima izvanrednu snagu, steže kompresijske spojnice od 63 mm skoro golim rukama pri +2℃.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:polivmax@gmail.com?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/polivmax/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.youtube.com/channel/UCX08xcDrIzQ8otzisJqWfdA">
                                                            <i class="fab fa-youtube"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>