<hr>
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="mission-tab" data-toggle="tab" href="#mission" role="tab"
                   aria-controls="mission" aria-selected="false"><h3 class="mt-2"><i class="far fa-lightbulb-on"></i>
                        Missão</h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="service-tab" data-toggle="tab" href="#service" role="tab"
                   aria-controls="service" aria-selected="true"><h3 class="mt-2"><i class="far fa-cogs"></i> Software
                    </h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="team-tab" data-toggle="tab" href="#team" role="tab"
                   aria-controls="team" aria-selected="false"><h3 class="mt-2"><i class="far fa-address-card"></i> Equipa
                    </h3></a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <!--//ABOUT MISSION-->
            <div class="tab-pane fade" id="mission" role="tabpanel" aria-labelledby="mission-tab">
                <div class="how-section1">
                    <div class="row">
                        <div class="col-md-6 mb-4 how-img">
                            <i class="far fa-clock fa-10x text-success"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>Tempo</h4>
                            <h4 class="subheading">Este é um dos recursos mais valiosos para um ser humano na Terra</h4>
                            <p class="text-muted">A quantidade de tempo livre determina muita coisa. Quanto tempo uma pessoa gasta em
                                trabalho, estudo e outras actividades socialmente úteis, com o objectivo de adquirir outros
                                recursos importantes, como dinheiro, conhecimento ou estatuto, determina a quantidade de tempo
                                pode dedicar a si próprio, à sua família e à sua saúde. De facto, a quantidade de tempo livre é
                                directamente proporcional à felicidade humana.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-12 order-sm-1">
                            <h4>O nosso nicho</h4>
                            <h4 class="subheading">É um sistema de rega automatizado</h4>
                            <p class="text-muted">O objectivo é precisamente ganhar este recurso precioso
                                recurso - o tempo. Milhões de pessoas no planeta, poupando 1 hora de tempo por dia, livres
                                de regar os seus espaços verdes, podem ser um pouco mais felizes, tornando um pouco mais
                                um pouco mais felizes as pessoas à sua volta.</p>
                        </div>
                        <div class="col-md-6 mb-4 how-img order-1 order-sm-12">
                            <i class="far fa-globe fa-10x text-primary"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4 how-img">
                            <i class="far fa-bullseye-arrow fa-10x text-danger"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>O nosso objectivo</h4>
                            <h4 class="subheading">Para construir uma ferramenta útil</h4>
                            <p class="text-muted">Assim, os empreiteiros que estão a instalar sistemas de rega automáticos
                                sistemas de rega automática, a oportunidade de poupar tempo, fornecendo-lhes um software moderno
                                que permite fazer orçamentos, projectos, instalações e manutenção de sistemas
                                faster.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--//ABOUT SERVICE-->
            <div class="tab-pane fade show active" id="service" role="tabpanel" aria-labelledby="service-tab">
                <div class="row">
                    <div class="row m-5">
                        <div class="col-md-6">
                            <img class="w-100 mb-3" src="/images/mylogo_big.png" alt=""/>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                Feito por empreiteiro para empreiteiros
                            </h3>
                            <p>
                                O principal objectivo deste serviço online é minimizar o tempo que decorre desde
                                momento da recepção dos requisitos técnicos para o projecto de rega até ao momento
                                momento de entregar ao cliente uma proposta comercial, sem descurar a
                                qualidade e rigor do projecto. Isto é conseguido através da automatização de tarefas de rotina, tais como
                                como a contagem de acessórios ou o cálculo de diâmetros de tubagem. O programa implementa um sistema de
                                detecção automática de bocais de uma série seleccionada sob características geométricas
                                características geométricas da área de cobertura definidas pelo utilizador, de modo a acelerar a sua colocação no local.
                                E
                                muitas, muitas funcionalidades cómodas.
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                O Irrisketch está constantemente a ser melhorado
                            </h3>
                            <p>
                                Graças aos vossos comentários e aos nossos corajosos testadores, estamos constantemente a melhorar o nosso produto,
                                adaptando-o às necessidades reais das pessoas que exercem a nossa profissão. Ao deixar
                                comentários, está a ajudar a criar uma forma nova e melhorada de resolver o problema da criação de
                                sistemas de rega automatizados optimizados
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Não é necessária instalação no computador
                            </h3>
                            <p>
                                O Irrisketch é um serviço online que armazena de forma segura todos os seus projectos na nuvem. Não
                                não precisa de instalar qualquer software no seu computador. E pode aceder aos seus projectos
                                a partir de qualquer dispositivo ligado à Internet, quer seja um smartphone ou um computador, a partir de
                                qualquer parte do mundo.
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Bibliotecas de terceiros utilizadas
                            </h3>
                            <p>
                                O IRRISketch é alimentado por <a href="http://paperjs.org/license/"
                                                            target="_blank">PaperJS, uma biblioteca de código aberto (MIT
                                    License)</a>
                            </p>
                            <p>
                                Também são utilizadas as seguintes bibliotecas e estruturas:
                            <%- partial('../partials/libraries') %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--//ABOUT TEAM-->
            <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">
                <div class="team-section mt-2">
                    <div class="row">
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/fil.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Philiph</h4>
                                                <p class="card-text">Programador</p>
                                                <i class="far fa-code fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Philiph</h4>
                                                <p class="card-text">Engenheiro civil por formação. A fazer irrigação desde
                                                    2014. Pensou que estava a gastar demasiado tempo na concepção de sistemas,
                                                    e desenvolveu este serviço online para passar mais tempo a praticar
                                                    kitesurf.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:mail@irrisketch.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/irrisketch.ru/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/theo.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Theo</h4>
                                                <p class="card-text">Representante alemão</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Theo</h4>
                                                <p class="card-text">Este homem está sempre na vanguarda da alta
                                                    tecnologia em sistemas de irrigação. Se ele está a cavar, está apenas a usar
                                                    uma ferramenta a gasolina chamada georipper. Se ele faz medições, ele
                                                    só usa a roleta 'moasure'. Se corta a relva, só com um
                                                    robô cortador de relva. Em geral, ele é como o Anton, mas apenas uma versão melhorada
                                                    versão melhorada.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="http://www.ltwgmbh.de/">
                                                            <i class="far fa-globe"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:theo@irrisketch.com?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="tel:+4924565074510">
                                                            <i class="far fa-phone"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/georipper.de/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/tikh.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Alexander</h4>
                                                <p class="card-text">Designer</p>
                                                <i class="far fa-pencil-paintbrush fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Alexander</h4>
                                                <p class="card-text">Artista e engenheiro de formação. Numa palavra, um
                                                    paisagista. Sabe desenhar uma vista de topo de árvore, para que o
                                                    observador mergulhe num estado como se estivesse numa floresta tropical.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:xom1959@yandex.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/ant.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Anton</h4>
                                                <p class="card-text">Engenheiro de ensaios</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Anton</h4>
                                                <p class="card-text">Para além de se dedicar à fotografia e à
                                                    ginástica, ele também cria sistemas de irrigação da forma mais
                                                    tecnológicos, utilizando valetadeiras e outras tecnologias de ponta.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:info@polivcentr.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/polivcentr.ru/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/maks.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Maxim</h4>
                                                <p class="card-text">Engenheiro de ensaios</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Maxim</h4>
                                                <p class="card-text">O empreiteiro mais experiente da nossa equipa.
                                                    Construindo sistemas de irrigação desde o último milénio. Para além disso,
                                                    ele
                                                    tem uma força excepcional, torcendo adaptadores de compressão de 63 mm quase
                                                    com as mãos nuas a +2℃</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:polivmax@gmail.com?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/polivmax/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.youtube.com/channel/UCX08xcDrIzQ8otzisJqWfdA">
                                                            <i class="fab fa-youtube"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
