<hr>
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="mission-tab" data-toggle="tab" href="#mission" role="tab"
                   aria-controls="mission" aria-selected="false"><h3 class="mt-2"><i class="far fa-lightbulb-on"></i>
                        Missione</h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="service-tab" data-toggle="tab" href="#service" role="tab"
                   aria-controls="service" aria-selected="true"><h3 class="mt-2"><i class="far fa-cogs"></i> Software
                    </h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="team-tab" data-toggle="tab" href="#team" role="tab"
                   aria-controls="team" aria-selected="false"><h3 class="mt-2"><i class="far fa-address-card"></i> Squadra
                    </h3></a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <!--//ABOUT MISSION-->
            <div class="tab-pane fade" id="mission" role="tabpanel" aria-labelledby="mission-tab">
                <div class="how-section1">
                    <div class="row">
                        <div class="col-md-6 mb-4 how-img">
                            <i class="far fa-clock fa-10x text-success"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>Tempo</h4>
                            <h4 class="subheading">Questa è una delle risorse più preziose per un essere umano sulla terra.</h4>
                            <p class="text-muted">La quantità di tempo libero determina molto. Quanto tempo una persona dedica al
                                lavoro, allo studio e ad altre attività socialmente utili, con l'obiettivo di acquistare altre risorse importanti come il denaro, la conoscenza o lo status.
                                risorse importanti come il denaro, la conoscenza o lo status, determina la quantità di tempo che può
                                tempo che può dedicare a se stesso, alla famiglia e alla salute. Infatti, la quantità di tempo libero è
                                è direttamente proporzionale alla felicità dell'uomo.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-12 order-sm-1">
                            <h4>La nostra nicchia</h4>
                            <h4 class="subheading">È un sistema di irrigazione automatizzato</h4>
                            <p class="text-muted">Lo scopo è proprio quello di conquistare questa preziosa risorsa: il tempo.
                                risorsa preziosa: il tempo. Milioni di persone sul pianeta, risparmiando 1 ora di tempo al giorno, libere di innaffiare i loro spazi verdi, sono in grado di essere un po' più felici.
                                dall'innaffiare i loro spazi verdi, possono essere un po' più felici, rendendo un po' più felici le persone intorno a loro.
                                un po' più felici le persone intorno a loro.</p>
                        </div>
                        <div class="col-md-6 mb-4 how-img order-1 order-sm-12">
                            <i class="far fa-globe fa-10x text-primary"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4 how-img">
                            <i class="far fa-bullseye-arrow fa-10x text-danger"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>Il nostro obiettivo</h4>
                            <h4 class="subheading">Per costruire uno strumento pratico</h4>
                            <p class="text-muted">In questo modo si offre agli appaltatori che installano impianti di irrigazione
                                di impianti di irrigazione automatici, l'opportunità di risparmiare tempo fornendo loro un moderno software
                                che consente di effettuare preventivi, progettazioni, installazioni e manutenzioni di impianti molto più
                                più velocemente.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--//ABOUT SERVICE-->
            <div class="tab-pane fade show active" id="service" role="tabpanel" aria-labelledby="service-tab">
                <div class="row">
                    <div class="row m-5">
                        <div class="col-md-6">
                            <img class="w-100 mb-3" src="/images/mylogo_big.png" alt=""/>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                Realizzato da un appaltatore per gli appaltatori
                            </h3>
                            <p>
                                L'obiettivo principale di questo servizio online è quello di ridurre al minimo il tempo che passa dal momento in cui si ricevono i
                                dal momento in cui si ricevono i requisiti tecnici per la progettazione dell'irrigazione al momento in cui si fornisce al cliente una proposta commerciale.
                                momento di fornire al cliente una proposta commerciale, senza trascurare la qualità e l'accuratezza del progetto.
                                qualità e l'accuratezza del progetto. Questo risultato si ottiene automatizzando le attività di routine, come ad esempio
                                come il conteggio dei raccordi o il calcolo dei diametri dei tubi. Il programma implementa un sistema per
                                di rilevamento automatico degli ugelli di una serie selezionata in base a caratteristiche geometriche dell'area di copertura definite dall'utente, al fine di
                                caratteristiche geometriche dell'area di copertura definite dall'utente, al fine di accelerare il loro posizionamento in cantiere.
                                E
                                molte, molte comode funzioni.
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Irrisketch viene costantemente migliorato
                            </h3>
                            <p>
                                Grazie al vostro feedback e ai nostri coraggiosi tester, miglioriamo costantemente il nostro prodotto,
                                adattandolo alle reali esigenze delle persone che svolgono la nostra professione. Lasciando un
                                feedback ci aiutate a creare un modo nuovo e migliore per risolvere il problema della creazione di
                                sistemi di irrigazione automatizzati ottimali
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Non è richiesta l'installazione sul computer
                            </h3>
                            <p>
                                Irrisketch è un servizio online che archivia in modo sicuro tutti i vostri progetti nel cloud. Non è
                                non è necessario installare alcun software sul computer. E si può accedere ai progetti
                                da qualsiasi dispositivo connesso a Internet, sia esso uno smartphone o un computer, da qualsiasi parte del mondo.
                                qualsiasi parte del mondo.
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Librerie di terze parti utilizzate
                            </h3>
                            <p>
                                IRRISketch è alimentato da <a href="http://paperjs.org/license/"
                                                            target="_blank">PaperJS, una libreria open source (MIT
                                    Licenza)</a>
                            </p>
                            <p>
                                Vengono utilizzate anche le seguenti librerie e framework:
                            <%- partial('../partials/libraries') %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--//ABOUT TEAM-->
            <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">
                <div class="team-section mt-2">
                    <div class="row">
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/fil.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Philiph</h4>
                                                <p class="card-text">Sviluppatore</p>
                                                <i class="far fa-code fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Philiph</h4>
                                                <p class="card-text">Ingegnere civile per formazione. Si occupa di irrigazione dal
                                                    2014. Pensava di dedicare troppo tempo alla progettazione degli impianti,
                                                    e ha sviluppato questo servizio online per dedicare più tempo al
                                                    kitesurf.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:mail@irrisketch.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/irrisketch.ru/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/theo.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Theo</h4>
                                                <p class="card-text">Rappresentante tedesco</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Theo</h4>
                                                <p class="card-text">Quest'uomo è sempre all'avanguardia nell'alta
                                                    tecnologia nei sistemi di irrigazione. Se scava, usa solo uno strumento a benzina chiamato
                                                    uno strumento a benzina chiamato georipper. Se prende le misure, usa
                                                    misurazioni, usa solo la roulette "moasure". Se taglia il prato, lo fa solo con un robot tosaerba.
                                                    robot tagliaerba. In generale, è come Anton, ma solo in versione migliorata.
                                                    versione migliorata.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="http://www.ltwgmbh.de/">
                                                            <i class="far fa-globe"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:theo@irrisketch.com?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="tel:+4924565074510">
                                                            <i class="far fa-phone"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/georipper.de/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/tikh.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Alexander</h4>
                                                <p class="card-text">Designer</p>
                                                <i class="far fa-pencil-paintbrush fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Alexander</h4>
                                                <p class="card-text">Artista e ingegnere per formazione. In una parola, un
                                                    paesaggista. Sa come disegnare una veduta dall'alto, in modo che l'osservatore si immerga
                                                    l'osservatore si immerga in uno stato come se si trovasse in una foresta tropicale.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:xom1959@yandex.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/ant.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Anton</h4>
                                                <p class="card-text">Ingegnere addetto ai test</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Anton</h4>
                                                <p class="card-text">Oltre a dedicarsi alla fotografia e alla
                                                    ginnastica, realizza anche sistemi di irrigazione nel modo più
                                                    tecnologici, utilizzando trincee e altre alte tecnologie.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:info@polivcentr.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/polivcentr.ru/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/maks.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Maxim</h4>
                                                <p class="card-text">Ingegnere addetto ai test</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Maxim</h4>
                                                <p class="card-text">L'appaltatore più esperto del nostro team.
                                                    Costruisce sistemi di irrigazione dal millennio scorso. Inoltre,
                                                    ha
                                                    ha un'eccezionale forza, riuscendo a torcere gli adattatori a compressione da 63 mm quasi
                                                    a mani nude a +2℃.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:polivmax@gmail.com?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/polivmax/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.youtube.com/channel/UCX08xcDrIzQ8otzisJqWfdA">
                                                            <i class="fab fa-youtube"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
