<hr>
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="mission-tab" data-toggle="tab" href="#mission" role="tab"
                   aria-controls="mission" aria-selected="false"><h3 class="mt-2"><i class="far fa-lightbulb-on"></i>
                        Наша місія</h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="service-tab" data-toggle="tab" href="#service" role="tab"
                   aria-controls="service" aria-selected="true"><h3 class="mt-2"><i class="far fa-cogs"></i> Про програму
                    </h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="team-tab" data-toggle="tab" href="#team" role="tab"
                   aria-controls="team" aria-selected="false"><h3 class="mt-2"><i class="far fa-address-card"></i> Наша
                        команда</h3></a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <!--//ABOUT MISSION-->
            <div class="tab-pane fade" id="mission" role="tabpanel" aria-labelledby="mission-tab">
                <div class="how-section1">
                    <div class="row">
                        <div class="col-md-6 mb-4 how-img">
                            <i class="far fa-clock fa-10x text-success"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>Час</h4>
                            <h4 class="subheading">Це найдрожий ресурс для людини, наступний після здоров'я.</h4>
                            <p class="text-muted">Запас часу визначає багато. Те, скільки часу людина витрачає на
                                работу, навчання та
                                інші суспільно-корисні заняття з метою досягти неменш важливих ресурсів - таких
                                як гроші,
                                знання і статус, в свою чергу визначає і ту кількість часу, котру вона зможе виділити на себя,
                                на свою сім'ю і
                                на своє здоров'я. Фактично, вільний час - це і є еквівалент людському щастю.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-12 order-sm-1">
                            <h4>Наша сфера</h4>
                            <h4 class="subheading">Це системи автоматичного поливу.</h4>
                            <p class="text-muted">Цілю використання котрих, як раз і заключається в тому, щоб зекономити
                                цей дорогоцінний
                                ресурс - час.
                                Міліони людей на планеті економлячи цю годину котру б мали потратити на поливання своїх
                                зелених насаджень,
                                мають можливіть застосувати її для проведення часу з рідними, присвятити саморозвитку або відпочинку, роблячи щасливішими
                                себе і оточуючих людей.</p>
                        </div>
                        <div class="col-md-6 mb-4 how-img order-1 order-sm-12">
                            <i class="far fa-globe fa-10x text-primary"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4 how-img">
                            <i class="far fa-bullseye-arrow fa-10x text-danger"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>Наша ціль</h4>
                            <h4 class="subheading">Створити зручний інструмент.</h4>
                            <p class="text-muted">Тим самим запропунувати людям, которі працюють в сфері монтажу систем
                                автоматичного
                                поливу,
                                можливітсть зекономити час, забезпечивши їх сучасним програмним забезпеченням,
                                що дає можливість здійснювати
                                розрахунок, проєктування і обслуговування систем значно швидше.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--//ABOUT SERVICE-->
            <div class="tab-pane fade show active" id="service" role="tabpanel" aria-labelledby="service-tab">
                <div class="row">
                    <div class="row m-5">
                        <div class="col-md-6">
                            <img class="w-100 mb-3" src="/images/mylogo_big.png" alt=""/>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                Створено контрактором для контракторів
                            </h3>
                            <p>
                                Основна мета даного онлайн-сервісу - це максимально
                                скоротити кількість часу, котрий виділяється з моменту отримання технічого завдання
                                на
                                проєктування поливу, до моменту надання клієнту коммерційної пропозиції, не
                                ризикуючи якістю і точностю проєкту. Це досягається шляхом автоматизації буденних
                                задач, наприклад таких, як підрахунок фітінгів чи розрахунок діаметрів труб. В
                                програмі
                                реалізована система автоматичного визначення форсунок із списку вибраної серії під задані
                                користувачем геометричні характеристики покриття, для прискорення їхньої розстановки на
                                ділянці. І ще безліч зручного функціоналу.
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Irrisketch постійно вдосконалюється
                            </h3>
                            <p>
                                Завдяки Вашим відгукам і нашим сміливим тестувальникам, ми постійно поліпшуємо наш продукт,
                                підлаштовуючи його під реальні потреби людей, які займаються нашою професією. Залишаючи
                                відгуки Ви допомагаєте, створювати новий, більш досконаліший спосіб вирішення завдання зі створення
                                оптимальних систем автоматичного поливу
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Не потрібно встановлювати на комп'ютер
                            </h3>
                            <p>
                                Irrisketch - це онлайн-сервіс, який надійно зберігає всі ваші проєкти в хмарі. Вам не
                                потрібно встановлювати жодного програмного забезпечення на Ваш комп'ютер. І
                                отримувати
                                доступ до Ваших проєктів ви можете з будь-якого пристрою, підключеного до інтернету, чи то сматртфон чи
                                компьютер, знаходячись в любій точці планети.
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Використання сторонніх бібліотек
                            </h3>
                            <p>
                                Irrisketch розроблений на основі фреймворку <a href="http://paperjs.org/license/"
                                                                               target="_blank">PaperJS, бібліотеки з
                                    відкритим вихідним кодом (MIT License)</a>
                            </p>
                            <p>
                                Також використовуються такі бібліотеки і фреймворки:
                            <ul>
                                <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap 4 (MIT)</a></li>
                                <li><a href="https://fontawesome.com/" target="_blank">Fontawesome 5 (MIT)</a></li>
                                <li><a href="https://jquery.com/" target="_blank">jQuery 3 (Apache License V2.0)</a>
                                </li>
                                <li><a href="https://github.com/mozilla/pdf.js" target="_blank">PDF.js (Apache License
                                        V2.0)</a>
                                </li>
                                <li><a href="https://underscorejs.org/#" target="_blank">underscorejs (MIT)</a></li>
                                <li><a href="https://www.npmjs.com/package/js-xlsx" target="_blank">js-xlsx (Apache
                                        License V2.0)</a></li>
                                <li><a href="https://github.com/eligrey/FileSaver.js" target="_blank">FileSaver
                                        (MIT)</a></li>
                                <li><a href="https://github.com/caolan/async" target="_blank">async (MIT)</a></li>
                                <li><a href="https://github.com/eligrey/Blob.js.git" target="_blank">Blob (MIT)</a></li>
                                <li><a href="https://github.com/bootstrap-tagsinput/bootstrap-tagsinput"
                                       target="_blank">bootstrap-tagsinput (MIT)</a></li>
                                <li><a href="https://github.com/twitter/typeahead.js" target="_blank">typeahead.js
                                        (MIT)</a></li>
                                <li><a href="https://kenwheeler.github.io/slick/" target="_blank">slick (MIT)</a></li>
                                <li><a href="https://github.com/zalog/placeholder-loading" target="_blank">placeholder-loading (MIT)</a></li>
                            </ul>
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Статус разробки
                            </h3>
                            <p>
                                Оперативна інформація про наш розвиток висвітлюється на <a href="https://irris.club/topic/8/%D0%BE%D0%B1%D0%BD%D0%BE%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F-irrisketch-residential">цій сотрінці</a>
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Люди, котрі повірили в нас.
                            </h3>
                            <p>
                                Список <a href="/donate" target="_blank">Почесних мецинатів IRRISketch</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--//ABOUT TEAM-->
            <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">
                <div class="team-section mt-2">
                    <div class="row">
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/fil.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Філіп</h4>
                                                <p class="card-text">Батько</p>
                                                <i class="far fa-code fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Філіп</h4>
                                                <p class="card-text">Освіта інженер в галузі будівництва. В зрошуванні з 2014
                                                    року. Подумав, що витрачає дуже  багато часу на проєктування
                                                    систем, і розробив даний веб-сервіс, для того щоб приділяти більше часу
                                                    кайт-серфінгу</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:mail@irrisketch.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/irrisketch.ru/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/tikh.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Олександр</h4>
                                                <p class="card-text">Дизайнер</p>
                                                <i class="far fa-pencil-paintbrush fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Олександр</h4>
                                                <p class="card-text">Освіта художник і інженер. Одним словом
                                                    ландшафтний дизайнер. Знає як намалювати дерево вид зверху, так
                                                    щоб спостерігач занурився в стан, так наче опинився в
                                                    тропічному лісі</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:xom1959@yandex.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/ant.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Антон</h4>
                                                <p class="card-text">Інженер-тестувальник</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Антон</h4>
                                                <p class="card-text">Окрім того, що  занимається фотографією і
                                                    гімнастикою, також створює системи поливу, найбільш технологічним
                                                    шляхом, використовє траншеєкопачі та інші високі технології</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:info@polivcentr.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/polivcentr.ru/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/aleks.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Олексій</h4>
                                                <p class="card-text">Інженер-тестувальник</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Олексій</h4>
                                                <p class="card-text">Професіонал свого діла. Дивує всіх оточуючих
                                                    перфекціонізмом по відношенню до прокладання крапельних ліній і магією монтування
                                                    систем без використання лопат</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:Profpolivrb@gmail.com?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/profpoliv_by/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/maks.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Максим</h4>
                                                <p class="card-text">Інженер-тестувальник</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Максим</h4>
                                                <p class="card-text">Самий битий контрактор. Ще в минулому
                                                    тисячолітті займався системами автоматичного поливу. До того ж
                                                    володіє чималою силою, закручуючи майже голими руками
                                                    63-міліметрові компресійні муфти при температурі +2℃</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:polivmax@gmail.com?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/polivmax/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.youtube.com/channel/UCX08xcDrIzQ8otzisJqWfdA">
                                                            <i class="fab fa-youtube"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>