<hr>
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="mission-tab" data-toggle="tab" href="#mission" role="tab"
                   aria-controls="mission" aria-selected="false"><h3 class="mt-2"><i class="far fa-lightbulb-on"></i>
                        La mission</h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="service-tab" data-toggle="tab" href="#service" role="tab"
                   aria-controls="service" aria-selected="true"><h3 class="mt-2"><i class="far fa-cogs"></i> Logiciel
                    </h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="team-tab" data-toggle="tab" href="#team" role="tab"
                   aria-controls="team" aria-selected="false"><h3 class="mt-2"><i class="far fa-address-card"></i> L'équipe
                    </h3></a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <!--//ABOUT MISSION-->
            <div class="tab-pane fade" id="mission" role="tabpanel" aria-labelledby="mission-tab">
                <div class="how-section1">
                    <div class="row">
                        <div class="col-md-6 mb-4 how-img">
                            <i class="far fa-clock fa-10x text-success"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>Le temps</h4>
                            <h4 class="subheading">C'est l'une des ressources les plus précieuses pour un être humain
                                sur Terre.</h4>
                            <p class="text-muted">La quantité de temps libre détermine beaucoup de choses. Le temps
                                qu'une personne passe au travail, à l'étude et à d'autres activités socialement utiles,
                                dans le but d'acquérir d'autres ressources importantes telles que l'argent, la
                                connaissance ou le statut, détermine la quantité de temps qu'elle peut consacrer à
                                elle-même, à sa famille et à sa santé. En réalité, la quantité de temps libre est
                                directement proportionnelle au bonheur humain.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-12 order-sm-1">
                            <h4>Notre créneau</h4>
                            <h4 class="subheading">Est un système d'irrigation automatisé</h4>
                            <p class="text-muted">Le but est précisément de gagner cette ressource précieuse - le temps.
                                Des millions de personnes sur la planète, en économisant 1 heure de temps par jour en
                                étant libérées de l'arrosage de leurs espaces verts, peuvent être un peu plus heureuses,
                                rendant ainsi les gens autour d'elles un peu plus heureux.</p>
                        </div>
                        <div class="col-md-6 mb-4 how-img order-1 order-sm-12">
                            <i class="far fa-globe fa-10x text-primary"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4 how-img">
                            <i class="far fa-bullseye-arrow fa-10x text-danger"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>Notre objectif</h4>
                            <h4 class="subheading">Construire un outil pratique</h4>
                            <p class="text-muted">Ainsi, fournir aux entrepreneurs qui installent des systèmes
                                d'irrigation automatiques l'opportunité d'économiser du temps en leur fournissant un
                                logiciel moderne qui permet d'estimer, de concevoir, d'installer et de maintenir les
                                systèmes beaucoup plus rapidement.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--//ABOUT SERVICE-->
            <div class="tab-pane fade show active" id="service" role="tabpanel" aria-labelledby="service-tab">
                <div class="row">
                    <div class="row m-5">
                        <div class="col-md-6">
                            <img class="w-100 mb-3" src="/images/mylogo_big.png" alt=""/>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                Fabriqué par des entrepreneurs pour les entrepreneurs
                            </h3>
                            <p>
                                L'objectif principal de ce service en ligne est de minimiser le temps écoulé entre la
                                réception des exigences techniques pour la conception de l'irrigation et la présentation
                                d'une proposition commerciale au client, sans négliger la qualité et l'exactitude du
                                projet. Cela est réalisé en automatisant les tâches routinières, telles que le comptage
                                des raccords ou le calcul des diamètres de tuyaux. Le programme met en œuvre un système
                                de détection automatique des buses d'une série sélectionnée en fonction des
                                caractéristiques géométriques définies par l'utilisateur de la zone de couverture afin
                                d'accélérer leur placement sur le site. Et de nombreuses autres fonctionnalités
                                pratiques.
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Irrisketch est constamment amélioré.
                            </h3>
                            <p>
                                Grâce à vos commentaires et à nos courageux testeurs, nous améliorons constamment notre
                                produit, en l'adaptant aux besoins réels des personnes qui exercent notre profession. En
                                laissant vos commentaires, vous aidez à créer une nouvelle façon améliorée de résoudre
                                le problème de la création de systèmes d'irrigation automatisés optimaux.
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Aucune installation requise sur l'ordinateur.
                            </h3>
                            <p>
                                Irrisketch est un service en ligne qui stocke en toute sécurité tous vos projets dans le
                                cloud. Vous n'avez pas besoin d'installer de logiciel sur votre ordinateur. Et vous
                                pouvez accéder à vos projets depuis n'importe quel appareil connecté à Internet, qu'il
                                s'agisse d'un smartphone ou d'un ordinateur, de n'importe où dans le monde.
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Bibliothèques tierces utilisées
                            </h3>
                            <p>
                                IRRISketch est alimenté par <a href="http://paperjs.org/license/"
                                                               target="_blank">PaperJS, une bibliothèque open source
                                    (licence MIT).</a>
                            </p>
                            <p>
                                Les bibliothèques et frameworks suivants sont également utilisés:
                            <%- partial('../partials/libraries') %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--//ABOUT TEAM-->
            <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">
                <div class="team-section mt-2">
                    <div class="row">
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/fil.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Philiph</h4>
                                                <p class="card-text">Développeur.</p>
                                                <i class="far fa-code fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Philiph</h4>
                                                <p class="card-text">Ingénieur civil de formation. Travaillant dans
                                                    l'irrigation depuis 2014. Il pensait passer trop de temps à la
                                                    conception des systèmes et a développé ce service en ligne pour
                                                    passer plus de temps à faire du kitesurf.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:mail@irrisketch.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/irrisketch.ru/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/theo.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Theo</h4>
                                                <p class="card-text">Représentant allemand</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Theo</h4>
                                                <p class="card-text">Cet homme est toujours à la pointe de la
                                                    technologie dans les systèmes d'irrigation. S'il creuse, il utilise
                                                    uniquement un outil à essence appelé géoripper. S'il prend des
                                                    mesures, il utilise uniquement un ruban à mesurer de marque
                                                    "Moasure". S'il tond la pelouse, c'est uniquement avec une tondeuse
                                                    robotisée. En général, il est comme Anton, mais seulement en version
                                                    améliorée.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="http://www.ltwgmbh.de/">
                                                            <i class="far fa-globe"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:theo@irrisketch.com?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="tel:+4924565074510">
                                                            <i class="far fa-phone"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/georipper.de/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/tikh.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Alexander</h4>
                                                <p class="card-text">Designer</p>
                                                <i class="far fa-pencil-paintbrush fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Alexander</h4>
                                                <p class="card-text">Artiste et ingénieur de formation. En un mot, un
                                                    concepteur paysagiste. Il sait dessiner une vue de dessus des
                                                    arbres, de sorte que l'observateur plonge dans un état comme s'il
                                                    était dans une forêt tropicale.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:xom1959@yandex.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/ant.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Anton</h4>
                                                <p class="card-text">Ingénieur de test</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Anton</h4>
                                                <p class="card-text">En plus de pratiquer la photographie et la
                                                    gymnastique, il crée également des systèmes d'irrigation de la
                                                    manière la plus technologique possible, en utilisant des trancheuses
                                                    et d'autres technologies de pointe.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:info@polivcentr.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/polivcentr.ru/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/maks.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Maxim</h4>
                                                <p class="card-text">Ingénieur de test</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Maxim</h4>
                                                <p class="card-text">L'entrepreneur le plus expérimenté de notre équipe.
                                                    Construisant des systèmes d'irrigation depuis le dernier millénaire.
                                                    De plus, il a une force exceptionnelle, tordant presque à mains nues
                                                    des adaptateurs de compression de 63 mm à une température de
                                                    +2℃.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:polivmax@gmail.com?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/polivmax/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.youtube.com/channel/UCX08xcDrIzQ8otzisJqWfdA">
                                                            <i class="fab fa-youtube"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
