<hr>
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="mission-tab" data-toggle="tab" href="#mission" role="tab"
                   aria-controls="mission" aria-selected="false"><h3 class="mt-2"><i class="far fa-lightbulb-on"></i>
                        Наша місія </h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="service-tab" data-toggle="tab" href="#service" role="tab"
                   aria-controls="service" aria-selected="true"><h3 class="mt-2"><i class="far fa-cogs"></i> О праграме
                    </h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="team-tab" data-toggle="tab" href="#team" role="tab"
                   aria-controls="team" aria-selected="false"><h3 class="mt-2"><i class="far fa-address-card"></i> Наша
                        каманда</h3></a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <!--//ABOUT MISSION-->
            <div class="tab-pane fade" id="mission" role="tabpanel" aria-labelledby="mission-tab">
                <div class="how-section1">
                    <div class="row">
                        <div class="col-md-6 mb-4 how-img">
                            <i class="far fa-clock fa-10x text-success"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>Время</h4>
                            <h4 class="subheading"> Гэта найкаштоўны рэсурс для чалавека, што ідзе пасля здароўя.</h4>
                            <p class="text-muted">Запас часу вызначае шмат што. То, колькі часу чалавек марнуе на
                                працу, навучанне і
                                іншыя грамадска-карыс
                                ныя заняткі, з гаю набыць іншыя немалаважныя рэсурсы такія
                                як гроша,
                                веды ці статус, вызначае колькасць часу, які ён зможа выдаткаваць на сябе,
                                на сваю сям'ю і
                                на сваё здароўе. З грунту, колькасць вольнага часу проста-сумерна
                                чалавечаму
                                шчасцю.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-12 order-sm-1">
                            <h4>Наша сфера</h4>
                            <h4 class="subheading">Гэта сістэмы аўтаматычнага палівання.</h4>
                            <p class="text-muted">Мэта выкарыстання якіх, якраз і складаецца ў тым, каб выйграць
                                гэты запаветны
                                рэсурс - Час.
                                Мільёны людзей на планеце эканомячы 1 гадзіну часу ў суткі, вольную ад палівання сваіх
                                зялёных насаджэнняў,
                                атрымваюць магчымасць быць яшчэ трохі шчаслівей, робячы яшчэ трохі шчаслівей
                                за атачальных іх людзей.</p>
                        </div>
                        <div class="col-md-6 mb-4 how-img order-1 order-sm-12">
                            <i class="far fa-globe fa-10x text-primary"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4 how-img">
                            <i class="far fa-bullseye-arrow fa-10x text-danger"></i>
                        </div>
                        <div class="col-md-6">
                            <h4> Наша мэта </h4>
                            <h4 class="subheading"> Стварыць зручную прыладу.</h4>
                            <p class="text-muted"> Тым самым падаўшы людзям, якія працуюць у сферы ўсталёўкі сістэм
                                Аўтаматычнага
                                палівання,
                                магчымасць сэканоміць час, забяспечыўшы іх сучасным праграмным забеспячэннем,
                                што дазваляе ўжыццяўляць
                                разлік, праектаванне і абслугоўванне сістэм значна хутчэй.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--//ABOUT SERVICE-->
            <div class="tab-pane fade show active" id="service" role="tabpanel" aria-labelledby="service-tab">
                <div class="row">
                    <div class="row m-5">
                        <div class="col-md-6">
                            <img class="w-100 mb-3" src="/images/mylogo_big.png" alt=""/>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                Створана кантрактарам для кантрактараў
                            </h3>
                            <p>
                                Асноўная мэта дадзенага анлайн-сэрвісу - гэта максімальнае
                                скараціць колькасць часу, якую праходзіць з моманту атрымання тэхнічнага задання
                                на
                                праектаванне палівання, да моманту падавання заказцу камерцыйнай прапановы, не
                                грэбуючы якасцю і дакладнасцю праекта. Гэта дасягаецца шляхам аўтаматызацыі руцінных
                                заданняў, прыкладам такіх, як падлік фітынгаў ці разлік дыяметраў трубаводаў. У
                                праграме
                                рэалізавана сістэма аўтаматычнага вызначэння соплаў з абранай серыі пад зададзеныя
                                карыстачом геаметрычныя характарыстыкі пакрыцця, каб паскорыць іх расстаноўку на
                                пляцоўцы. І яшчэ шмат-шмат зручнага функцыяналу
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Irrisketch увесь час дасканаліцца
                            </h3>
                            <p>
                                Дзякуючы Вашым водгукам і нашым адважным тэставальнікам, мы ўвесь час паляпшаем наш
                                прадукт,
                                падладжваючы яго пад рэальныя патрэбы людзей, якія займаюцца нашай прафесіяй. Пакідаючы
                                водгукі Вы дапамагаеце, стварыць новы, палепшаны спосаб развязку задання па стварэнні
                                аптымальных сістэм аўтаматычнага палівання
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Не патрабуецца ўсталёўка на кампутар
                            </h3>
                            <p>
                                Irrisketch - гэта анлайн-сэрвіс, які надзейна захоўвае ўсе вашы праекты ў воблаку. Вам
                                не
                                запатрабуецца ўсталёўваць якое або праграмнае забеспячэнне на свой кампутар. І
                                атрымаць
                                доступ да вашых праектаў вы можаце з кожнай прылады, падлучанай да інтэрнэту, няхай гэта
                                будзе
                                смартфон ці кампутар, знаходзячыся ў кожнай кропцы свету.
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Карыстаныя пабочныя бібліятэкі
                            </h3>
                            <p>
                                IRRISketch распрацаваны на грунце фрэймуорка <a href="http://paperjs.org/license/"
                                                                                target="_blank">PaperJS, бібліятэкі з
                                    адкрытым выточным кодам (MIT License)</a>
                            </p>
                            <p>
                                Таксама выкарыстоўваюцца наступныя бібліятэкі і фрэймўоркі:
                            <ul>
                                <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap 4 (MIT)</a></li>
                                <li><a href="https://fontawesome.com/" target="_blank">Fontawesome 5 (MIT)</a></li>
                                <li><a href="https://jquery.com/" target="_blank">jQuery 3 (Apache License V2.0)</a>
                                </li>
                                <li><a href="https://github.com/mozilla/pdf.js" target="_blank">PDF.js (Apache License
                                        V2.0)</a>
                                </li>
                                <li><a href="https://underscorejs.org/#" target="_blank">underscorejs (MIT)</a></li>
                                <li><a href="https://www.npmjs.com/package/js-xlsx" target="_blank">js-xlsx (Apache
                                        License V2.0)</a></li>
                                <li><a href="https://github.com/eligrey/FileSaver.js" target="_blank">FileSaver
                                        (MIT)</a></li>
                                <li><a href="https://github.com/caolan/async" target="_blank">async (MIT)</a></li>
                                <li><a href="https://github.com/eligrey/Blob.js.git" target="_blank">Blob (MIT)</a></li>
                                <li><a href="https://github.com/bootstrap-tagsinput/bootstrap-tagsinput"
                                       target="_blank">bootstrap-tagsinput (MIT)</a></li>
                                <li><a href="https://github.com/twitter/typeahead.js" target="_blank">typeahead.js
                                        (MIT)</a></li>
                                <li><a href="https://kenwheeler.github.io/slick/" target="_blank">slick (MIT)</a></li>
                                <li><a href="https://github.com/zalog/placeholder-loading" target="_blank">placeholder-loading
                                        (MIT)</a></li>
                            </ul>
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Статус распрацоўкі
                            </h3>
                            <p>
                                Паглядзець як мы прасоўваемся, можна на <a
                                        href="https://irris.club/topic/8/%D0%BE%D0%B1%D0%BD%D0%BE%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F-irrisketch-residential">гэтай
                                    старонцы</a>
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Хто дапамог гэтаму праекту ўбачыць свет?
                            </h3>
                            <p>
                                Спіс <a href="/donate" target="_blank">Ганаровых Захоўнікаў IRRISketch</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--//ABOUT TEAM-->
            <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">
                <div class="team-section mt-2">
                    <div class="row">
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/fil.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Піліп</h4>
                                                <p class="card-text">Распрацоўнік</p>
                                                <i class="far fa-code fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Піліп</h4>
                                                <p class="card-text">Па ўтварэнні інжынер-будаўнік. У паліванні з 2014
                                                    года. Падумаў, што марнуе зашмат часу на праектаванне
                                                    сістэм, і распрацаваў дадзены ўэб-сэрвіс, каб надаваць больш часу
                                                    кайт-сёрфінгу</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:mail@irrisketch.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/irrisketch.ru/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <div class="image-flip"
                                 ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/tikh.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Аляксандр</h4>
                                                <p class="card-text">Дызайнер</p>
                                                <i class="far fa-pencil-paintbrush fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Аляксандр</h4>
                                                <p class="card-text">Па ўтварэнні мастак і інжынер. Адным словам
                                                    ландшафтны дызайнер. Ведае як намаляваць дрэва выгляд зверху, так
                                                    каб назіральнік пагрузіўся ў стан, як быццам апынуўся ў
                                                    трапічным лесе</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:xom1959@yandex.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/ant.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Антон</h4>
                                                <p class="card- text">Інжынер-тэставальнік</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Антон</h4>
                                                <p class="card-text">Апроч таго, што займаецца фатаграфіяй і
                                                    гімнастыкай, таксама стварае сістэмы палівання, найболей
                                                    тэхналагічным
                                                    шляхам, скарыстаючы траншэякапальнікі і іншыя высокія тэхналогіі</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:info@polivcentr.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/polivcentr.ru/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/aleks.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Аляксей</h4>
                                                <p class="card- text">Інжынер-тэставальнік</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Аляксей</h4>
                                                <p class="card-text">Прафесіянал сваёй справы. Дзівіць усіх навокал
                                                    перфекцыянізмам у дачыненні кладкі кропельных ліній і магічнай
                                                    усталёўкай сістэм без ужывання рыдлёвак</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:Profpolivrb@gmail.com?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/profpoliv_by/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/maks.png"
                                                        alt="card image"></p>
                                                <h4 class="card- title">Максім</h4>
                                                <p class="card-text">Інжынер-тэставальнік</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Максім</h4>
                                                <p class="card-text">Самы пражжонны кантрактар. Яшчэ ў мінулым
                                                    тысячагодде займаўся сістэмамі аўтаматычнага палівання. Да таго ж
                                                    валодае валiкай сілай, закручваючы амаль галаруч
                                                    63-мілімятровыя кампрэсійныя муфты пры тэмпературы +2℃</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:polivmax@gmail.com?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/polivmax/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.youtube.com/channel/UCX08xcDrIzQ8otzisJqWfdA">
                                                            <i class="fab fa-youtube"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

