<hr>
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="mission-tab" data-toggle="tab" href="#mission" role="tab"
                   aria-controls="mission" aria-selected="false"><h3 class="mt-2"><i class="far fa-lightbulb-on"></i>
                        Auftrag</h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="service-tab" data-toggle="tab" href="#service" role="tab"
                   aria-controls="service" aria-selected="true"><h3 class="mt-2"><i class="far fa-cogs"></i> Software
                    </h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="team-tab" data-toggle="tab" href="#team" role="tab"
                   aria-controls="team" aria-selected="false"><h3 class="mt-2"><i class="far fa-address-card"></i> Team
                    </h3></a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <!--//ABOUT MISSION-->
            <div class="tab-pane fade" id="mission" role="tabpanel" aria-labelledby="mission-tab">
                <div class="how-section1">
                    <div class="row">
                        <div class="col-md-6 mb-4 how-img">
                            <i class="far fa-clock fa-10x text-success"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>Zeit</h4>
                            <h4 class="subheading">Dies ist eine der wertvollsten Ressourcen für einen Menschen auf der
                                Erde</h4>
                            <p class="text-muted">Die Menge der freien Zeit bestimmt viel. Wie viel Zeit eine Person
                                damit verbringt Arbeit, Studium und andere gesellschaftlich Aktivitäten, mit dem Ziel,
                                andere wichtige Ressourcen wie Geld, Wissen oder Status zu erhalten, bestimmt die
                                Freizeit die er für sich selbst, seiner Familie und seiner Gesundheit ausgeben kann.
                                Tatsächlich ist der Umfang der Freizeit direkt proportional zum menschlichen Glück.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-12 order-sm-1">
                            <h4>Unsere Nische</h4>
                            <h4 class="subheading">Ist ein automatisiertes Bewässerungssystem</h4>
                            <p class="text-muted">Dessen Zweck ist es gerade, diese geschätzte Ressource – Zeit, für
                                Millionen von Menschen auf dem Planeten verfügbarer zu machen. Eine Stunde Zeitersparnis
                                pro Tag, kostenlos von der Bewässerung ihrer Grünflächen, sind in der Lage, Sie ein
                                wenig glücklicher zu machen.</p>
                        </div>
                        <div class="col-md-6 mb-4 how-img order-1 order-sm-12">
                            <i class="far fa-globe fa-10x text-primary"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4 how-img">
                            <i class="far fa-bullseye-arrow fa-10x text-danger"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>Unser Ziel</h4>
                            <h4 class="subheading">Wir bauen ein praktisches Werkzeug</h4>
                            <p class="text-muted">Auf diese Weise können Profis, die automatische Bewässerungssysteme
                                planen, Zeit sparen. Mit moderner Software ausstattet, die es ermöglicht, Schätzungen,
                                Entwurf, Installation und Wartung von Systemen viel schneller als bisher
                                durchzuführen.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--//ABOUT SERVICE-->
            <div class="tab-pane fade show active" id="service" role="tabpanel" aria-labelledby="service-tab">
                <div class="row">
                    <div class="row m-5">
                        <div class="col-md-6">
                            <img class="w-100 mb-3" src="/images/mylogo_big.png" alt=""/>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                Hergestellt von Profis für Profis
                            </h3>
                            <p>
                                Das Hauptziel dieses Online-Dienstes ist die Minimierung von Zeit und Kosten, die für
                                die Planung und Angebotserstellung einer Bewässerungsanlage anfallen, ohne die Qualität
                                und Genauigkeit des Projekts zu vernachlässigen. Dies wird durch die Automatisierung von
                                Routineaufgaben erreicht, wie das Zählen von Fittings oder die Berechnung von
                                Rohrdurchmessern. Das Programm implementiert ein System zur automatischen Erkennung von
                                Anschlüssen abhängig von geometrischen Merkmalen in der Planung, um ihre Platzierung im
                                Plan zu beschleunigen. Und das Beste ist: Daten namhafter Hersteller wie: HUNTER,
                                RAINBIRD, TORO, K-RAIN, WEATHERMATIC, IRRITEC und NETAFIM sind bei IRRISketch schon
                                eingepflegt und werden ständig erweitert!
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                IRRISketch wird ständig verbessert
                            </h3>
                            <p>
                                Dank Ihres Feedbacks und unserer mutigen Tester verbessern wir unser Produkt ständig,
                                für die Bedürfnisse der Menschen, die in unserem Beruf tätig sind. Durch Ihr Feedback,
                                können Sie helfen, eine neue, verbesserte Möglichkeit zu schaffen, die optimale
                                Bewässerungsplanung zu erstellen.
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Keine Installation auf dem Computer erforderlich
                            </h3>
                            <p>
                                IRRISketch ist ein Online-Dienst, der alle Ihre Projekte sicher in der Cloud speichert.
                                Sie brauchen keine Software auf Ihrem Computer zu installieren. Und Sie können auf Ihre
                                Projekte zugreifen von jedem mit dem Internet verbundenen Gerät, sei es ein Smartphone
                                oder ein Computer, von überall auf der Welt.
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Verwendete Bibliotheken von Drittanbietern
                            </h3>
                            <p>
                                IRRISketch wird angetrieben von <a href="http://paperjs.org/license/"
                                                                   target="_blank">PaperJS, an open source library (MIT
                                    License)</a>
                            </p>
                            <p>
                                Die folgenden Bibliotheken und Frameworks werden ebenfalls verwendet:
                                <%- partial('../partials/libraries') %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--//ABOUT TEAM-->
            <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">
                <div class="team-section mt-2">
                    <div class="row">
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-6" style="z-index: 6">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/fil.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Philiph</h4>
                                                <p class="card-text">CTO und Entwickler von IRRISketch</p>
                                                <i class="far fa-code fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Philiph</h4>
                                                <p class="card-text">Philipp ist ein ausgebildeter Bauingenieur und seit
                                                    2014 in der Bewässerungsplanung tätig. Nach Jahren in der Branche
                                                    erkannte er, dass zu viel Zeit für die Systemplanung aufgewendet
                                                    wurde – Zeit, die er lieber mit seiner Leidenschaft fürs Kitesurfen
                                                    verbringen wollte. Um den Planungsprozess zu optimieren, entwickelte
                                                    er IRRISketch, einen Online-Dienst, der die Bewässerungsplanung
                                                    vereinfacht und beschleunigt. Heute ist Philipp unser CTO und treibt
                                                    die technologische Entwicklung von IRRISketch mit seiner Expertise
                                                    und Innovationskraft voran.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:mail@irrisketch.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/irrisketch.ru/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-6" style="z-index: 5">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/theo.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Theo</h4>
                                                <p class="card-text">CEO von IRRISketch</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Theo</h4>
                                                <p class="card-text">Theo ist der CEO von IRRISketch und seit vielen
                                                    Jahren in der Bewässerungsbranche tätig. Mit seiner umfangreichen
                                                    Erfahrung aus tausenden selbst erstellten Bewässerungsplänen kennt
                                                    er die Herausforderungen der Planungsprozesse bis ins Detail. Theo
                                                    hat entscheidende Ideen und innovative Ansätze in die Entwicklung
                                                    von IRRISketch eingebracht und maßgeblich dazu beigetragen, den
                                                    Erfolg der Plattform zu gestalten. Seine Vision, Planungen
                                                    effizienter und zugänglicher zu machen, treibt IRRISketch
                                                    kontinuierlich voran und prägt die Zukunft der
                                                    Bewässerungsplanung.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="http://www.ltwgmbh.de/">
                                                            <i class="far fa-globe"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:theo@irrisketch.com?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="tel:+4924565074510">
                                                            <i class="far fa-phone"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/irrisketch.de/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4" style="z-index: 4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/tikh.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Alexander</h4>
                                                <p class="card-text">Designer bei IRRISketch</p>
                                                <i class="far fa-pencil-paintbrush fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Alexander</h4>
                                                <p class="card-text">Alexander ist sowohl Künstler als auch Ingenieur
                                                    und vereint in seiner Arbeit technisches Wissen mit kreativer
                                                    Gestaltung. Als ausgebildeter Landschaftsgestalter hat er ein
                                                    besonderes Talent dafür, Umgebungen lebendig und realitätsnah
                                                    darzustellen. Seine Baumdraufsichten sind so detailreich, dass sie
                                                    den Betrachter in die Atmosphäre eines tropischen Regenwaldes
                                                    versetzen. Mit dieser einzigartigen Kombination aus Kunst und
                                                    Technik bereichert Alexander das IRRISketch-Team und trägt dazu bei,
                                                    dass nicht nur die Funktionalität, sondern auch die Ästhetik bei der
                                                    Planung im Vordergrund steht.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:xom1959@yandex.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4" style="z-index: 3">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/ant.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Anton</h4>
                                                <p class="card-text">Prüfingenieur bei IRRISketch</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Anton</h4>
                                                <p class="card-text">Neben seiner Leidenschaft für Fotografie und
                                                    Gymnastik ist Anton selbst ein erfahrener Praktiker im Bau von
                                                    Bewässerungssystemen. Stets auf der Suche nach innovativen
                                                    Technologien, die seine Arbeit erleichtern, bringt er wertvolle
                                                    Praxiserfahrung in die Entwicklung von IRRISketch ein. Diese
                                                    Kombination aus technischem Wissen und persönlicher Erfahrung macht
                                                    ihn zu einem unverzichtbaren Teil des Teams. Anton versteht die
                                                    Herausforderungen im Feld und übersetzt sie in benutzerfreundliche
                                                    Lösungen, die den Planungsprozess effizienter und smarter
                                                    machen. </p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:info@polivcentr.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/polivcentr.ru/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4" style="z-index: 2">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/maks.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Maxim</h4>
                                                <p class="card-text">Experte für Bewässerungssysteme bei IRRISketch</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Maxim</h4>
                                                <p class="card-text">Maxim ist der erfahrenste Monteur in unserem Team
                                                    und seit den späten 90er Jahren im Bau von Bewässerungssystemen
                                                    tätig. Mit seiner jahrzehntelangen Erfahrung kennt er jede
                                                    Herausforderung, die auf der Baustelle auftreten kann. Als
                                                    Prüfingenieur sorgt er dafür, dass unsere Systeme nicht nur
                                                    effizient, sondern auch zuverlässig funktionieren. Sein legendärer
                                                    Handgriff – das Verdrehen einer 63mm Klemmkupplung bei +2°C mit
                                                    bloßen Händen – zeigt seine außergewöhnliche Kraft und Präzision.
                                                    Maxim ist ein Meister seines Fachs und steht für die Qualität und
                                                    Robustheit, die wir bei IRRISketch anstreben.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:polivmax@gmail.com?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/polivmax/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.youtube.com/channel/UCX08xcDrIzQ8otzisJqWfdA">
                                                            <i class="fab fa-youtube"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4" style="z-index: 1">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/alex.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Alexander</h4>
                                                <p class="card-text">Webentwickler und Supportmanager bei IRRISketch</p>
                                                <i class="far fa-code fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Alexander</h4>
                                                <p class="card-text">Alexander ist der Mann im Hintergrund, der die
                                                    technischen Fäden bei IRRISketch zusammenhält. Als Webentwickler
                                                    sorgt er dafür, dass die Plattform reibungslos funktioniert und
                                                    stets auf dem neuesten Stand ist. Gleichzeitig ist er unser
                                                    Supportmanager und kümmert sich um alle technischen Anfragen mit
                                                    Geduld und Kompetenz. Egal, ob es um komplexe Probleme oder einfache
                                                    Fragen geht – Alexander hilft, wo er nur kann, und sorgt dafür, dass
                                                    unsere Nutzer jederzeit bestens unterstützt werden. Seine
                                                    Vielseitigkeit und sein Engagement machen ihn zu einem
                                                    unverzichtbaren Mitglied des Teams.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:rektalizer@gmail.com?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4" style="z-index: 0">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/liv.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Liv</h4>
                                                <p class="card-text">3D-Designerin bei IRRISketch</p>
                                                <i class="far fa-pencil-paintbrush fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Liv</h4>
                                                <p class="card-text">Liv ist unsere 3D-Designerin und Meisterin darin,
                                                    virtuelle Welten zum Leben zu erwecken. Mit ihrem hohen ästhetischen
                                                    Verständnis schafft sie es, selbst die banalsten Objekte in
                                                    beeindruckende 3D-Modelle zu verwandeln. Ihre Designs zeichnen sich
                                                    durch Detailtreue und kreative Finesse aus, sodass sie stets die
                                                    besten 3D-Modelle erschafft, die man sich vorstellen kann. Livs
                                                    Talent bringt nicht nur Funktionalität, sondern auch Lebendigkeit in
                                                    jedes Projekt, das sie anfasst, und verleiht IRRISketch eine
                                                    visuelle Tiefe, die unsere Nutzer begeistert.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
