<hr>
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="mission-tab" data-toggle="tab" href="#mission" role="tab"
                   aria-controls="mission" aria-selected="false"><h3 class="mt-2"><i class="far fa-lightbulb-on"></i>
                        Misión</h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="service-tab" data-toggle="tab" href="#service" role="tab"
                   aria-controls="service" aria-selected="true"><h3 class="mt-2"><i class="far fa-cogs"></i> Software
                    </h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="team-tab" data-toggle="tab" href="#team" role="tab"
                   aria-controls="team" aria-selected="false"><h3 class="mt-2"><i class="far fa-address-card"></i>
                        Equipo
                    </h3></a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <!--//ABOUT MISSION-->
            <div class="tab-pane fade" id="mission" role="tabpanel" aria-labelledby="mission-tab">
                <div class="how-section1">
                    <div class="row">
                        <div class="col-md-6 mb-4 how-img">
                            <i class="far fa-clock fa-10x text-success"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>Tiempo</h4>
                            <h4 class="subheading">Este es uno de los recursos más valiosos para un ser humano en la
                                Tierra.</h4>
                            <p class="text-muted">La cantidad de tiempo libre determina muchas cosas. El tiempo que una
                                persona dedica al trabajo, al estudio y a otras actividades socialmente útiles, con el
                                fin de adquirir otros recursos importantes como dinero, conocimientos o estatus,
                                determina la cantidad de tiempo que puede dedicarse a sí misma, a su familia y a su
                                salud. que puede dedicarse a sí misma, a su familia y a su salud. De hecho, la cantidad
                                de tiempo libre es directamente proporcional a la felicidad humana.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-12 order-sm-1">
                            <h4>Nuestro nicho</h4>
                            <h4 class="subheading">Es un sistema de riego automatizado</h4>
                            <p class="text-muted">Сuyo objetivo es precisamente ganar este preciado recurso: el tiempo.
                                Millones de personas en el planeta, ahorrando 1 hora de tiempo al día, libre de regar
                                sus espacios verdes, son capaces de ser un poco más felices, haciendo un poco un poco
                                más felices a su alrededor.</p>
                        </div>
                        <div class="col-md-6 mb-4 how-img order-1 order-sm-12">
                            <i class="far fa-globe fa-10x text-primary"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4 how-img">
                            <i class="far fa-bullseye-arrow fa-10x text-danger"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>Nuestro objetivo</h4>
                            <h4 class="subheading">Para construir una herramienta práctica</h4>
                            <p class="text-muted">De este modo, los contratistas que instalan sistemas sistemas de riego
                                automático, la oportunidad de ahorrar tiempo proporcionándoles un moderno software que
                                permite realizar presupuestos, diseños, instalaciones y mantenimiento de sistemas mucho
                                más rápido.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--//ABOUT SERVICE-->
            <div class="tab-pane fade show active" id="service" role="tabpanel" aria-labelledby="service-tab">
                <div class="row">
                    <div class="row m-5">
                        <div class="col-md-6">
                            <img class="w-100 mb-3" src="/images/mylogo_big.png" alt=""/>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                Hecho por contratistas para contratistas
                            </h3>
                            <p>
                                El objetivo principal de este servicio online es minimizar el tiempo que transcurre
                                desde que se reciben los requerimientos técnicos para el diseño del riego hasta que se
                                entrega al cliente una propuesta comercial, sin descuidar la calidad del servicio.
                                momento de entregar al cliente una propuesta comercial, sin descuidar la calidad y
                                precisión del proyecto. Esto se consigue automatizando tareas rutinarias, como como el
                                recuento de accesorios o el cálculo de diámetros de tuberías. El programa implementa un
                                sistema de detección automática de boquillas de una serie seleccionada con arreglo a las
                                características geométricas características geométricas de la zona de cobertura
                                definidas por el usuario, con el fin de agilizar su colocación en la obra. Y muchísimas
                                funciones prácticas.
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Irrisketch se mejora constantemente
                            </h3>
                            <p>
                                Gracias a sus comentarios y a nuestros valientes probadores, mejoramos constantemente
                                nuestro producto, ajustándolo a las necesidades reales de las personas que se dedican a
                                nuestra profesión. Al dejar comentarios está ayudando a crear una forma nueva y mejorada
                                de resolver el problema de crear sistemas óptimos de riego automatizado
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                No requiere instalación en el ordenador
                            </h3>
                            <p>
                                Irrisketch es un servicio en línea que almacena de forma segura todos tus proyectos en
                                la nube. Usted desde cualquier dispositivo conectado a Internet, ya sea un smartphone o
                                un ordenador, desde cualquier lugar del mundo.
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Bibliotecas de terceros utilizadas
                            </h3>
                            <p>
                                IRRISketch funciona con <a href="http://paperjs.org/license/"
                                                           target="_blank">PaperJS, una biblioteca de código abierto
                                    (MIT
                                    License)</a>
                            </p>
                            <p>
                                También se utilizan las siguientes bibliotecas y frameworks:
                            <ul>
                                <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap 4 (MIT)</a></li>
                                <li><a href="https://fontawesome.com/" target="_blank">Fontawesome 5 (MIT)</a></li>
                                <li><a href="https://jquery.com/" target="_blank">jQuery 3 (Apache License V2.0)</a>
                                </li>
                                <li><a href="https://github.com/mozilla/pdf.js" target="_blank">PDF.js (Apache License
                                        V2.0)</a>
                                </li>
                                <li><a href="https://underscorejs.org/#" target="_blank">underscorejs (MIT)</a></li>
                                <li><a href="https://www.npmjs.com/package/js-xlsx" target="_blank">js-xlsx (Apache
                                        License V2.0)</a></li>
                                <li><a href="https://github.com/eligrey/FileSaver.js" target="_blank">FileSaver
                                        (MIT)</a></li>
                                <li><a href="https://github.com/caolan/async" target="_blank">async (MIT)</a></li>
                                <li><a href="https://github.com/eligrey/Blob.js.git" target="_blank">Blob (MIT)</a></li>
                                <li><a href="https://github.com/bootstrap-tagsinput/bootstrap-tagsinput"
                                       target="_blank">bootstrap-tagsinput (MIT)</a></li>
                                <li><a href="https://github.com/twitter/typeahead.js" target="_blank">typeahead.js
                                        (MIT)</a></li>
                                <li><a href="https://kenwheeler.github.io/slick/" target="_blank">slick (MIT)</a></li>
                                <li><a href="https://github.com/zalog/placeholder-loading" target="_blank">placeholder-loading
                                        (MIT)</a></li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--//ABOUT TEAM-->
            <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">
                <div class="team-section mt-2">
                    <div class="row">
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/fil.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Philiph</h4>
                                                <p class="card-text">Desarrollador</p>
                                                <i class="far fa-code fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Philiph</h4>
                                                <p class="card-text">Ingeniero civil de formación. Haciendo riego desde
                                                    2014. Pensó que dedicaba demasiado tiempo al diseño de sistemas, y
                                                    desarrolló este servicio en línea para pasar más tiempo en
                                                    kitesurf.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:mail@irrisketch.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/irrisketch.ru/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/theo.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Theo</h4>
                                                <p class="card-text">Representante alemán</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Theo</h4>
                                                <p class="card-text">Este hombre siempre está a la vanguardia de la alta
                                                    tecnología en sistemas de riego. Si está cavando, sólo está
                                                    utilizando una herramienta de gasolina llamada georipper. Si toma
                                                    medidas sólo utiliza una ruleta "moasure". Si corta el césped, sólo
                                                    lo hace con un robot cortacésped. En general, es como Anton, pero
                                                    sólo una versión mejorada. mejorada.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="http://www.ltwgmbh.de/">
                                                            <i class="far fa-globe"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:theo@irrisketch.com?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="tel:+4924565074510">
                                                            <i class="far fa-phone"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/georipper.de/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/tikh.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Alexander</h4>
                                                <p class="card-text">Diseñador</p>
                                                <i class="far fa-pencil-paintbrush fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Alexander</h4>
                                                <p class="card-text">Artista e ingeniero de formación. En una palabra,
                                                    un paisajista. Sabe dibujar una vista de copa de árbol, de modo que
                                                    el observador se sumerja en un estado como si estuviera en un bosque
                                                    tropical.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:xom1959@yandex.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/ant.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Anton</h4>
                                                <p class="card-text">Ingeniero de pruebas</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Anton</h4>
                                                <p class="card-text">Además de dedicarse a la fotografía y de riego de
                                                    la forma más tecnológica, utilizando zanjadoras y otras tecnológico,
                                                    utilizando zanjadoras y otras altas tecnologías.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:info@polivcentr.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/polivcentr.ru/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/maks.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Maxim</h4>
                                                <p class="card-text">Ingeniero de pruebas</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Maxim</h4>
                                                <p class="card-text">El contratista con más experiencia de nuestro
                                                    equipo. Construyendo sistemas de riego desde el milenio pasado.
                                                    Además él tiene una fuerza excepcional, torciendo adaptadores de
                                                    compresión de 63 mm casi con las manos desnudas a +2℃</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:polivmax@gmail.com?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/polivmax/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.youtube.com/channel/UCX08xcDrIzQ8otzisJqWfdA">
                                                            <i class="fab fa-youtube"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
