<hr>
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="mission-tab" data-toggle="tab" href="#mission" role="tab"
                   aria-controls="mission" aria-selected="false"><h3 class="mt-2"><i class="far fa-lightbulb-on"></i>
                        Misia</h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="service-tab" data-toggle="tab" href="#service" role="tab"
                   aria-controls="service" aria-selected="true"><h3 class="mt-2"><i class="far fa-cogs"></i> Softvér
                    </h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="team-tab" data-toggle="tab" href="#team" role="tab"
                   aria-controls="team" aria-selected="false"><h3 class="mt-2"><i class="far fa-address-card"></i> Tím
                    </h3></a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <!--//ABOUT MISSION-->
            <div class="tab-pane fade" id="mission" role="tabpanel" aria-labelledby="mission-tab">
                <div class="how-section1">
                    <div class="row">
                        <div class="col-md-6 mb-4 how-img">
                            <i class="far fa-clock fa-10x text-success"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>Čas</h4>
                            <h4 class="subheading">Je to jeden z najcennejších zdrojov pre človeka na Zemi</h4>
                            <p class="text-muted">Množstvo voľného času rozhoduje o mnohom. Koľko času človek strávi
                                práci, štúdiu a iným spoločensky užitočným činnostiam, s cieľom kúpiť si iné
                                dôležitých zdrojov, ako sú peniaze vedomosti alebo postavenie, určuje množstvo času
                                môže venovať sebe, svojej rodine a zdraviu. V skutočnosti je množstvo voľného času
                                priamo úmerné ľudskému šťastiu.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-12 order-sm-1">
                            <h4>Naša medzera</h4>
                            <h4 class="subheading">Je automatizovaný zavlažovací systém</h4>
                            <p class="text-muted">Cieľom je práve vyhrať túto cennú
                                zdroj - čas. Milióny ľudí na planéte, ktorí ušetria 1 hodinu času denne, zadarmo
                                od zalievania svojich zelených plôch, môžu byť o niečo šťastnejší, robiť o niečo
                                trochu šťastnejších ľudí okolo seba.</p>
                        </div>
                        <div class="col-md-6 mb-4 how-img order-1 order-sm-12">
                            <i class="far fa-globe fa-10x text-primary"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4 how-img">
                            <i class="far fa-bullseye-arrow fa-10x text-danger"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>Náš cieľ</h4>
                            <h4 class="subheading">Vytvorenie praktického nástroja</h4>
                            <p class="text-muted">Týmto poskytuje dodávateľom, ktorí inštalujú automatické
                                zavlažovacie systémy, možnosť ušetriť čas tým, že im dodá moderný softvér
                                ktorý umožňuje výrazne zjednodušiť odhady, návrh, inštaláciu a údržbu systémov.
                                rýchlejšie.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--//ABOUT SERVICE-->
            <div class="tab-pane fade show active" id="service" role="tabpanel" aria-labelledby="service-tab">
                <div class="row">
                    <div class="row m-5">
                        <div class="col-md-6">
                            <img class="w-100 mb-3" src="/images/mylogo_big.png" alt=""/>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                Vyrobené dodávateľom pre dodávateľov
                            </h3>
                            <p>
                                Hlavným cieľom tejto online služby je minimalizovať čas, ktorý uplynie od
                                okamihu prijatia technických požiadaviek na návrh zavlažovania až po
                                momentu poskytnutia obchodného návrhu zákazníkovi bez toho, aby sa zanedbalo
                                kvality a presnosti projektu. To sa dosahuje automatizáciou rutinných úloh, ako napr.
                                počítanie armatúr alebo výpočet priemerov potrubia. Program implementuje systém pre
                                automatickú detekciu trysiek z vybranej série podľa geometrických parametrov definovaných používateľom
                                charakteristík oblasti pokrytia s cieľom urýchliť ich umiestnenie na stavenisku.
                                A
                                mnoho, mnoho praktických funkcií.
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Irrisketch sa neustále zlepšuje
                            </h3>
                            <p>
                                Vďaka vašej spätnej väzbe a našim odvážnym testerom neustále zlepšujeme náš produkt,
                                a prispôsobujeme ho skutočným potrebám ľudí, ktorí sa venujú našej profesii. Zanechaním
                                spätnej väzby pomáhate vytvoriť nový, vylepšený spôsob riešenia problému vytvárania
                                optimálnych automatizovaných zavlažovacích systémov
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                V počítači nie je potrebná inštalácia
                            </h3>
                            <p>
                                Irrisketch je online služba, ktorá bezpečne ukladá všetky vaše projekty v cloude. Na stránke
                                nemusíte do svojho počítača inštalovať žiadny softvér. A k svojim projektom môžete pristupovať
                                z akéhokoľvek zariadenia pripojeného na internet, či už je to smartfón alebo počítač, z
                                odkiaľkoľvek na svete.
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Použité knižnice tretích strán
                            </h3>
                            <p>
                                IRRISketch je poháňaný <a href="http://paperjs.org/license/"
                                                            target="_blank">PaperJS, an open source library (MIT
                                    License)</a>
                            </p>
                            <p>
                                Používajú sa aj tieto knižnice a rámce:
                            <%- partial('../partials/libraries') %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--//ABOUT TEAM-->
            <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">
                <div class="team-section mt-2">
                    <div class="row">
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/fil.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Philiph</h4>
                                                <p class="card-text">Vývojár</p>
                                                <i class="far fa-code fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Philiph</h4>
                                                <p class="card-text">Vzdelaním stavebný inžinier. Zavlažovanie od roku
                                                    2014. Myslel si, že trávi príliš veľa času navrhovaním systému,
                                                    a vytvoril túto online službu, aby sa mohol viac venovať
                                                    kitesurfingu.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:mail@irrisketch.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/irrisketch.ru/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/theo.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Theo</h4>
                                                <p class="card-text">Nemecký zástupca</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Theo</h4>
                                                <p class="card-text">Tento muž je vždy na špičke
                                                    v zavlažovacích systémoch. Ak kope, používa iba
                                                    benzínový nástroj nazývaný georipper. Ak vykonáva merania, tak
                                                    robí len „moasure“ ruletu. Ak kosí trávnik, tak len pomocou
                                                    robotickou kosačkou. Vo všeobecnosti je ako Anton, ale len vylepšený
                                                    verzia.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="http://www.ltwgmbh.de/">
                                                            <i class="far fa-globe"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:theo@irrisketch.com?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="tel:+4924565074510">
                                                            <i class="far fa-phone"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/georipper.de/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/tikh.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Alexander</h4>
                                                <p class="card-text">Dizajn</p>
                                                <i class="far fa-pencil-paintbrush fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Alexander</h4>
                                                <p class="card-text">Vzdelaním umelec a inžinier. Jedným slovom.
                                                    krajinný dizajnér. Vie, ako nakresliť pohľad na vrchol stromu, aby
                                                    pozorovateľ ponoril do stavu, akoby bol v tropickom pralese.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:xom1959@yandex.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/ant.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Anton</h4>
                                                <p class="card-text">Testovací inžinier</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Anton</h4>
                                                <p class="card-text">Okrem toho, že sa venuje fotografovaniu a
                                                    gymnastikou, vytvára aj zavlažovacie systémy v naj
                                                    technologickým spôsobom, s použitím priekopových rýpadiel a ďalších špičkových technológií.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:info@polivcentr.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/polivcentr.ru/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/maks.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Maxim</h4>
                                                <p class="card-text">Testovací inžinier</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Maxim</h4>
                                                <p class="card-text">Najskúsenejší dodávateľ v našom tíme.
                                                    Budovanie zavlažovacích systémov od minulého tisícročia. Okrem toho,
                                                    on
                                                    má výnimočnú silu, skrúca 63 mm kompresné adaptéry takmer
                                                    holými rukami pri +2 ℃</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:polivmax@gmail.com?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/polivmax/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.youtube.com/channel/UCX08xcDrIzQ8otzisJqWfdA">
                                                            <i class="fab fa-youtube"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
