<hr>
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="mission-tab" data-toggle="tab" href="#mission" role="tab"
                   aria-controls="mission" aria-selected="false"><h3 class="mt-2"><i class="far fa-lightbulb-on"></i>
                        Mission</h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="service-tab" data-toggle="tab" href="#service" role="tab"
                   aria-controls="service" aria-selected="true"><h3 class="mt-2"><i class="far fa-cogs"></i> Software
                    </h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="team-tab" data-toggle="tab" href="#team" role="tab"
                   aria-controls="team" aria-selected="false"><h3 class="mt-2"><i class="far fa-address-card"></i> Team
                    </h3></a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <!--//ABOUT MISSION-->
            <div class="tab-pane fade" id="mission" role="tabpanel" aria-labelledby="mission-tab">
                <div class="how-section1">
                    <div class="row">
                        <div class="col-md-6 mb-4 how-img">
                            <i class="far fa-clock fa-10x text-success"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>Laikas</h4>
                            <h4 class="subheading">Tai vienas vertingiausių žmogaus išteklių žemėje.</h4>
                            <p class="text-muted">Daug lemia laisvo laiko kiekis. Kiek laiko žmogus praleidžia
                                darbui, mokymuisi ir kitai socialiai naudingai veiklai, siekdamas įsigyti kitų
                                svarbių išteklių, tokių kaip pinigai, žinios ar statusas, lemia, kiek laiko
                                laiko, kurį jis gali skirti sau, savo šeimai ir sveikatai. Iš tikrųjų laisvo laiko kiekis yra
                                tiesiogiai proporcingas žmogaus laimei.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 order-12 order-sm-1">
                            <h4>Mūsų niša</h4>
                            <h4 class="subheading">Ar automatinės drėkinimo sistemos</h4>
                            <p class="text-muted">Tikslas - laimėti šį brangų
                                išteklių - laiką. Milijonai žmonių planetoje, sutaupydami 1 valandą laiko per dieną, nemokamai
                                nuo žaliųjų plotų laistymo, gali būti šiek tiek laimingesni, padaryti šiek tiek
                                šiek tiek laimingesnius žmones aplink save.</p>
                        </div>
                        <div class="col-md-6 mb-4 how-img order-1 order-sm-12">
                            <i class="far fa-globe fa-10x text-primary"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4 how-img">
                            <i class="far fa-bullseye-arrow fa-10x text-danger"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>Mūsų tikslas</h4>
                            <h4 class="subheading">Sukurti patogų įrankį</h4>
                            <p class="text-muted">Tokiu būdu rangovams, montuojantiems automatines
                                laistymo sistemas, galimybę sutaupyti laiko, aprūpinant juos modernia programine įranga.
                                kuri leidžia atlikti sąmatas, projektuoti, įrengti ir prižiūrėti sistemas.
                                greičiau.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--//ABOUT SERVICE-->
            <div class="tab-pane fade show active" id="service" role="tabpanel" aria-labelledby="service-tab">
                <div class="row">
                    <div class="row m-5">
                        <div class="col-md-6">
                            <img class="w-100 mb-3" src="/images/mylogo_big.png" alt=""/>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                Pagaminta rangovo rangovams
                            </h3>
                            <p>
                                Pagrindinis šios internetinės paslaugos tikslas - kuo labiau sutrumpinti laiką, kuris praeina nuo
                                nuo techninių reikalavimų, susijusių su drėkinimo projektavimu, gavimo momento iki
                                klientui pateikti komercinį pasiūlymą, nepamirštant
                                projekto kokybės ir tikslumo. Tai pasiekiama automatizuojant įprastas užduotis, pvz.
                                armatūros skaičiavimą ar vamzdžių skersmens apskaičiavimą. Programoje įdiegta sistema, skirta
                                automatinis pasirinktos serijos antgalių aptikimas pagal naudotojo apibrėžtus geometrinius parametrus
                                aprėpties zonos charakteristikas, siekiant pagreitinti jų išdėstymą statybvietėje.
                                Ir
                                daugybė, daugybė patogių funkcijų.
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Irrisketch nuolat tobulinama
                            </h3>
                            <p>
                                Jūsų atsiliepimų ir drąsių bandytojų dėka nuolat tobuliname savo produktą,
                                pritaikydami jį prie realių žmonių, kurie užsiima mūsų profesija, poreikių. Palikdami
                                atsiliepimus, padedate sukurti naują, patobulintą būdą, kaip spręsti
                                optimalių automatizuotų drėkinimo sistemų
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Nereikia įdiegti į kompiuterį
                            </h3>
                            <p>
                                "Irrisketch" yra internetinė paslauga, kurioje visi jūsų projektai saugiai saugomi debesyje. Jūs
                                nereikia diegti jokios programinės įrangos kompiuteryje. Galite pasiekti savo projektus
                                iš bet kurio prie interneto prijungto įrenginio - išmaniojo telefono ar kompiuterio, iš
                                bet kurioje pasaulio vietoje.
                            </p>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-md-12">
                            <h3>
                                Naudojamos trečiųjų šalių bibliotekos
                            </h3>
                            <p>
                                IRRISketch palaiko <a href="http://paperjs.org/license/"
                                                            target="_blank">PaperJS, atvirojo kodo biblioteka (MIT
                                    licencija)</a>
                            </p>
                            <p>
                                Taip pat naudojamos šios bibliotekos ir karkasai:
                            <%- partial('../partials/libraries') %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--//ABOUT TEAM-->
            <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">
                <div class="team-section mt-2">
                    <div class="row">
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/fil.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Philiph</h4>
                                                <p class="card-text">Kūrėjas</p>
                                                <i class="far fa-code fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Philiph</h4>
                                                <p class="card-text">Pagal išsilavinimą - statybos inžinierius. Drėkinimu užsiima nuo
                                                    2014. Manė, kad per daug laiko skiria sistemos projektavimui,
                                                    ir sukūrė šią internetinę paslaugą, kad galėtų daugiau laiko skirti
                                                    jėgos aitvarų sportui.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:mail@irrisketch.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/irrisketch.ru/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/theo.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Theo</h4>
                                                <p class="card-text">Vokietijos atstovas</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Theo</h4>
                                                <p class="card-text">Šis žmogus visada yra aukštųjų technologijų lyderis
                                                    drėkinimo sistemų technologijos. Jei jis kasa, tai tik naudodamas
                                                    benzininiu įrankiu, vadinamu georipperiu. Jei jis atlieka matavimus, jis
                                                    atlieka tik "moasure" ruletę. Jei jis pjauna veją, tai tik su
                                                    vejapjovės robotu. Apskritai jis panašus į Antoną, tik patobulintas
                                                    versija.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="http://www.ltwgmbh.de/">
                                                            <i class="far fa-globe"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:theo@irrisketch.com?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="tel:+4924565074510">
                                                            <i class="far fa-phone"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/georipper.de/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/tikh.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Alexander</h4>
                                                <p class="card-text">Dizaineris</p>
                                                <i class="far fa-pencil-paintbrush fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Alexander</h4>
                                                <p class="card-text">Menininkas ir inžinierius pagal išsilavinimą. Vienu žodžiu,
                                                    kraštovaizdžio dizaineris. Žino, kaip nupiešti medžio viršūnės vaizdą, kad
                                                    stebėtojas pasinertų į tokią būseną, tarsi būtų tropiniame miške.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:xom1959@yandex.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/ant.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Anton</h4>
                                                <p class="card-text">Bandymų inžinierius</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Anton</h4>
                                                <p class="card-text">Be to, kad užsiima fotografija ir
                                                    gimnastika, jis taip pat kuria drėkinimo sistemas labiausiai
                                                    technologiniu būdu, naudodamas tranšėjas ir kitas aukštąsias technologijas.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:info@polivcentr.ru?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/polivcentr.ru/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid"
                                                        src="/images/people/maks.png"
                                                        alt="card image"></p>
                                                <h4 class="card-title">Maxim</h4>
                                                <p class="card-text">Bandymų inžinierius</p>
                                                <i class="far fa-football-helmet fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Maxim</h4>
                                                <p class="card-text">Labiausiai patyręs mūsų komandos rangovas.
                                                    Drėkinimo sistemų statyba nuo praėjusio tūkstantmečio. Be to,
                                                    jis
                                                    pasižymi išskirtine jėga, susukdamas 63 mm suspaudimo adapterius beveik
                                                    plikomis rankomis, esant +2 ℃</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="mailto:polivmax@gmail.com?subject=Hello">
                                                            <i class="far fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.instagram.com/polivmax/">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank"
                                                           href="https://www.youtube.com/channel/UCX08xcDrIzQ8otzisJqWfdA">
                                                            <i class="fab fa-youtube"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
