<script type="module">
    if (location.hash !== null && location.hash !== "") {
        $(location.hash + ".collapse").collapse();
    }
    $(document).ready(function () {
        $(`.collapse`).on('show.bs.collapse', function () {
            window.location.hash = $(this).attr('id');
        });
    });
</script>

<div class="container" id="faq">
    <hr>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Domande generali</span></div>
    </div>
    <p>
        <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#qA1"
                aria-expanded="false"
                aria-controls="qA1">
            Ho acquistato un abbonamento, ma la funzionalità a pagamento non è disponibile, cosa fare?
        </button>
    </p>
    <div class="collapse" id="qA1" data-parent="#faq">
        <div class="card card-body">
            <p>
                Dopo aver acquistato un abbonamento IRRISketch a pagamento, è necessario attivarlo manualmente nel
                proprio account personale
                al link:
            </p>
            <p>
                <a href="https://www.irrisketch.com/account/orders"
                   target="_blank">www.irrisketch.com/account/orders</a>,
            </p>
            wqui il vostro abbonamento sarà nella colonna di destra. Dopo l'attivazione, sarete in grado di utilizzare
            liberamente tutte le
            funzionalità a pagamento del servizio.
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#qA2"
                aria-expanded="false"
                aria-controls="qA2">
            Ho pagato l'abbonamento, ma non è apparso nel mio armadietto personale.
        </button>
    </p>
    <div class="collapse" id="qA2" data-parent="#faq">
        <div class="card card-body">
            <p>
                In questo caso, è necessario accedere al proprio account personale seguendo questo link:
            </p>
            <p>
                <a href="https://www.irrisketch.com/account/orders"
                   target="_blank">www.irrisketch.com/account/orders</a>
            </p>
            <p>
                Osservate il pulsante in fondo all'ordine. Il pulsante rosso "Ripeti" significa che il pagamento
                non è andato a buon fine
                e si dovrebbe riprovare, ma prima bisogna verificare se il denaro è stato addebitato.
            </p>
            <p>
                Se il pulsante giallo "Pagamento in corso" è stato visualizzato per molto tempo, è probabile che la
                transazione non sia ancora stata effettuata.
                transazione non è
                avvenuta
                conferma automatica. In questo caso, fare clic su questo pulsante per completarla e tutto dovrebbe
                funzionare.
                funzionare.
            </p>
            Dopo il pagamento e il completamento della transazione, verrà visualizzato il pulsante verde "Pagamento
            verificato".
            Facendo clic su di esso, l'abbonamento apparirà nella colonna di destra.
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Domande sui progetti</span></div>
    </div>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP1"
                aria-expanded="false" aria-controls="qP1">
            Le modifiche apportate al progetto non sono state salvate/Voglio ripristinare un determinato stato del
            progetto, cosa devo fare?
            progetto, cosa devo fare?
        </button>
    </p>
    <div class="collapse" id="qP1" data-parent="#faq">
        <div class="card card-body">
            <p>
                1. Apri lo stesso browser, sullo stesso computer su cui hai lavorato per ultimo al progetto.
            </p>
            <p>
                2. Vai al workshop IRRISketch e apri il progetto relativo al problema.
            </p>
            <p>
                3. Se aprendo un progetto appare una finestra che offre di ripristinare il progetto, premi il pulsante "Ripristina" e guarda il risultato. Se il progetto non è stato ripristinato allo stato desiderato, continua a seguire le istruzioni.
            </p>
            <p>
                4. Nell'angolo in alto a destra, fai clic sul pulsante Cronologia (icona dell'orologio con freccia) e se tutto è stato salvato correttamente, vedrai un elenco di timestamp degli stati del tuo progetto. Seleziona quello in cui il progetto era nello stato più desiderato. Dopodiché, assicurati di salvare il progetto!
            </p>
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP2"
                aria-expanded="false"
                aria-controls="qP2">
            Come si visualizza la griglia in un disegno di progetto? La griglia del disegno non viene visualizzata
            durante l'output in PDF/PNG.
        </button>
    </p>
    <div class="collapse" id="qP2" data-parent="#faq">
        <div class="card card-body">
        <span>
            Per visualizzare la griglia in fase di stampa, è necessario inserirla nel disegno come immagine. È possibile scaricare la griglia,
            ad esempio <a
                    href="https://drive.google.com/file/d/1PrKMoz9YDW-UHNwBpxTXMzGqLM-X3Mb_/view?usp=sharing"
                    target="_blank">from here</a>, and then scale it on the drawing to the desired size.
        </span>
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP3"
                aria-expanded="false"
                aria-controls="qP3">
            Come posso trasferire un progetto da un account a un altro?
        </button>
    </p>
    <div class="collapse" id="qP3" data-parent="#faq">
        <div class="card card-body">
            A tale scopo, è possibile scaricare il file del progetto utilizzando l'apposito pulsante nel pannello in
            alto a destra.
            Successivamente, creare un progetto vuoto su un nuovo account e, utilizzando il pulsante "Download", aprire
            il progetto scaricato.
            <br>
            <img src="/images/faq/downloadbuttonglobal.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="30%" height="30%">
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP4"
                aria-expanded="false"
                aria-controls="qP4">
            Il progetto "si blocca"/Il passaggio alla modalità di disegno richiede molto tempo
        </button>
    </p>
    <div class="collapse" id="qP4" data-parent="#faq">
        <span>
            <p>
                Di solito, ciò è dovuto a un elevato numero di elementi nel progetto, poiché IRRISketch Residential non è progettato per terreni particolarmente grandi. Questo problema può essere risolto eliminando tutti gli oggetti esistenti in modalità di disegno e sostituendoli con uno sfondo singolo.
            </p>
            <p>
                1. Crea una copia del progetto e aprila se hai paura di perdere i dati per errore.
            </p>
            <p>
                2. Passa alla modalità di irrigazione e utilizza la combinazione di tasti ctrl+a per selezionare tutti gli elementi, quindi tagliali utilizzando la combinazione di tasti ctrl+x (saranno salvati negli appunti).
            </p>
            <p>
                3. Passa alla modalità di disegno, imposta l'impostazione "Paesaggio" nella scheda "Stile visivo" per ottenere il paesaggio originale del progetto e rimuovi il timbro.
            </p>
            <img src="/images/faq/visualStyleEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="30%" height="30%">
            <p>
                4. Seleziona un formato di foglio da A1 a A4. Maggiore è la dimensione del foglio, maggiore sarà la qualità dell'immagine finale, ma occuperà più spazio.
            </p>
            <img src="/images/faq/listFormatEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="30%" height="30%">
            <p>
                5. Utilizza lo strumento "Righello" in modalità di disegno per misurare un elemento facilmente misurabile del disegno e registra la sua lunghezza, poiché sarà necessaria successivamente.
            </p>
            <img src="/images/faq/rulerEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="50%" height="50%">
            <p>
                6. Passa alla modalità "Modifica disegno" nella parte inferiore dello schermo e inserisci il disegno nel foglio utilizzando il pulsante in basso a sinistra. Esporta il progetto come immagine.
                Se l'immagine risultante è più grande di 10MB, non sarà possibile utilizzarla. In tal caso, se sai come utilizzare vari editor di immagini (come Photoshop, Gimp), comprimi l'immagine o riduci il numero di colori. Ciò ridurrà la dimensione del file.
            </p>
            <img src="/images/faq/fitEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="100%" height="100%">
            <p>
                7. Inserisci l'immagine nel progetto e imposta la scala corretta utilizzando la lunghezza registrata al passo 5.
</p>
<img src="/images/faq/resizeEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
     width="50%" height="50%">
<p>
8. Allinea l'immagine al tuo disegno in modo che tutti gli elementi siano nelle stesse posizioni in cui appaiono nell'immagine.
</p>
<img src="/images/faq/alignEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
     width="50%" height="50%">
<p>
9. Blocca l'immagine selezionandola e facendo clic sul pulsante corrispondente in basso a sinistra.
</p>
<img src="/images/faq/lockEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
     width="15%" height="15%">
<p>
10. Utilizza la combinazione di tasti ctrl+a per selezionare tutti gli elementi in modalità di disegno ed eliminarli. Dovrebbe rimanere solo la tua immagine.
</p>
<p>
11. Torna alla modalità di irrigazione e incolla tutti gli elementi di irrigazione precedentemente eliminati nel disegno utilizzando la combinazione di tasti ctrl+v. Se eseguito correttamente, tutti gli elementi dovrebbero tornare alle loro posizioni originali.
</p>
</span>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP5"
                aria-expanded="false"
                aria-controls="qP5">
            In modalità layout alcune zone non vengono visualizzate/il gocciolamento non viene visualizzato
        </button>
    </p>
    <div class="collapse" id="qP5" data-parent="#faq">
        <span>
          Questo comportamento è legato alle impostazioni di rappresentazione delle zone nel layout.
            Per modificare le impostazioni di rappresentazione delle zone, nell'angolo in basso a sinistra, in modalità layout, fare clic sul pulsante "Rappresentazione delle zone" e selezionare le caselle accanto alle zone che si desidera visualizzare nel layout. In alternativa, è possibile creare un nuovo layout in cui verranno visualizzate tutte le zone esistenti.
        </span>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP6"
                aria-expanded="false" aria-controls="qP6">
            L'immagine del layout è ruotata/mal posizionata dopo l'esportazione in PDF/Immagine
        </button>
    </p>
    <div class="collapse" id="qP6" data-parent="#faq">
    <span>
        <p>
            Questo sta accadendo perché la tua immagine originale contiene metadati EXIF. Per far sì che l'immagine si comporti correttamente, devi rimuovere questi metadati utilizzando il servizio <a href="https://www.verexif.com/en/" target="_blank">www.verexif.com/en/</a>.
        </p>
        <p>
            Dopo aver aperto il link, carica la tua immagine, quindi premi il pulsante "Rimuovi EXIF", scarica la nuova immagine e sostituisci quella vecchia in IRRISketch.
        </p>
    </span>
    </div>
    <hr>
</div>