<hr>

<div class="row">
    <div class="col-lg-12 terms-style">
        <p class="text-right"><samp>Город Туапсе</samp></p>
        <p class="text-right"><samp>Двадцать седьмое декабря две тысячи двадцать четвертого года</samp></p>
        <br>

        <p>Настоящее пользовательское соглашение (далее – Соглашение) в соответствии со статьями 428, 437 и 1286
            Гражданского кодекса РФ является соглашением между любым физическим или юридическим лицом, в том числе
            индивидуальным предпринимателем, выразившим согласие с изложенными в настоящем Соглашении условиями
            указанным способом (далее – Пользователь), и индивидуальным предпринимателем Проценко Ларисой Михайловной
            (далее – Администрация). Совершение Пользователем конклюдентных действий, направленных на использование
            Сервиса в силу статьи 1286 Гражданского кодекса РФ считается безусловным принятием (акцептом) данного
            Соглашения. Настоящее Соглашение наряду с политикой Администрации о конфиденциальности и обработке
            персональных данных, иными дополнительными условиями и правилами, которые касаются использования Сервиса и
            представлены на веб-сайте Сервиса, содержат условия и положения, действие которых распространяется на
            каждого посетителя или Пользователя Сервиса и его компонентов, в том числе расположенных на веб-сайте
            Сервиса. Используя Сервис, Пользователь выражает свое согласие с данными условиями. Если Пользователь не
            согласен с каким-либо из условий, Пользователь должен прекратить использование Сервиса.</p>

        <h5>1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ</h5>

        <p>1.1. Стороны договорились, что следующие ниже термины и определения для целей настоящего Соглашения будут
            иметь следующее значение:</p>
        <p>«Администрация» – индивидуальный предприниматель Проценко Лариса Михайловна, ОГРНИП 324237500533692, ИНН
            232203431787, являющийся правообладателем исключительных прав на Сервис.</p>
        <p>«Пользователь» – любое физическое или юридическое лицо, в том числе индивидуальный предприниматель,
            выразившее согласие с изложенными в настоящем Соглашении условиями путем совершения указанных в Соглашении
            конклюдентных действий, направленных на использование Сервиса.</p>
        <p>«Сервис» – веб-сайт, доступ к которому осуществляется по адрес в сети Интернет https://irrisketch.ru/,
            представляющий собой онлайн-сервис для проектирования систем автоматического полива. Сервис включает в себя
            совокупность информации, других компьютерных программ, баз данных, программных кодов, лежащих в их основе
            ноу-хау, алгоритмов, элементов дизайна, шрифтов, логотипов, а также текстовых, графических и иные
            материалов, а также прочих результатов интеллектуальной деятельности.</p>
        <p>«Активированные модули» – отдельные компоненты Сервиса (модули), активированные и доступные для использования
            Пользователем без внесения платы.</p>
        <p>«Неактивированные модули» – отдельные компоненты Сервиса (модули), активируемые и доступные для использования
            Пользователем после внесения платы, предусмотренной тарифами.</p>
        <p>«Версия Сервиса» – фиксированное состояние реализации Сервиса на конкретную дату, которому присваивается
            символическое обозначение в виде номера. Изменение версии осуществляется в случаях существенных изменений в
            Сервисе, то есть связанных с качественным изменением алгоритмов реализации функционала или переходом на
            новые программно-технические платформы (мажорное обновление). Версия Сервиса присваивается Администрацией.
            Примеры обозначения версии:</p>
        <p>• v. 1.0 (v - признак, «1» - первая реализация, «0» - изменения не проводились. В качестве разделителей
            используется символ «точка»);</p>
        <p>• v. 05.01.2.0 (v - признак, «05» - год реализации, «01» - месяц в году реализации, «2» - вторая реализация,
            «0» - изменения не проводились. В качестве разделителей используется символ «точка»).</p>
        <p>«Релиз версии Сервиса» – фиксированное состояние изменений в Сервисе, связанных с исправлением выявленных
            ошибок функционирования Сервиса (замечаний) или реализацией дополнительных требований (предложений), не
            приводящих к изменению идеологии разработки Сервиса в конкретной ее версии (минорное обновление).
            Обозначение релиза версии Сервиса присваивается Администрацией и обозначается дополнительными символами.
            Примеры обозначения релиза к версии:</p>
        <p>• v. 1.1 или v. 1.22 (для версии v. 1.0 проведено изменение 1 или изменение 22 соответственно);</p>
        <p>• v. 05.01.2.5 (для версии v. 05.01.2.0 проведено изменение 5).</p>
        <p>«Пользовательская документация» – инструкции и информационные материалы, разъясняющие порядок использования
            Пользователем Сервиса или его отдельных модулей.</p>
        <p>«Регистрация» – процедура, в ходе которой Пользователь предоставляет достоверные данные о себе по
            утвержденной Администрацией форме, а также создает логин и пароль. Регистрация считается завершенной только
            в случае успешного прохождения Пользователем всех ее этапов, включая активацию, осуществляемую переходом по
            уникальной ссылке, отправляемой на адрес электронной почты, указанной Пользователем.</p>
        <p>«Учетная запись», или «Личный кабинет» – набор записей в базе данных Администрации, идентифицирующая
            Пользователя учетными данными, указанными им при регистрации, и позволяющая осуществлять управление
            параметрами Сервиса и доступных с помощью Сервиса услуг.</p>
        <p>«Учетные данные», или «Логин и пароль» – набор символов, используемых для идентификации Пользователя при
            осуществлении им доступа к учетной записи.</p>
        <p>«Регистрационные данные Пользователя» – данные, добровольно указанные или загруженные Пользователем при
            прохождении Регистрации и при дальнейшем использовании Сервиса. Данные хранятся в базе данных Администрации
            и подлежат использованию исключительно в соответствии с настоящим Соглашением и действующим российским и
            международным законодательством.</p>
        <p>«Тарифы» – размещенная на веб-сайте Сервиса и утвержденная Администрацией стоимость использования Сервиса
            и/или стоимость активации неактивированных модулей, являющаяся неотъемлемым приложением настоящего
            Соглашения.</p>
        <p>«Авторизация» – процедура, при которой Пользователь вводит свои логин и пароль в специально отведенные поля в
            форме интерфейса Сервиса с целью его идентификации и определения достоверности полномочий на доступ к
            Личному кабинету и полному функционалу Сервиса. Вместо логина и пароля Пользователь может использовать
            авторизацию через сторонний веб-сервис (например, социальные сети). В таком случае для авторизации в Сервисе
            используется уникальный токен, сформированный сторонним веб-сервисом при авторизации в нем Пользователя,
            подтверждающий подлинность авторизации.</p>
        <p>«Токен» – уникальный набор символов, идентифицирующий Пользователя в аккаунтах сторонних веб-сервисов. Токен
            позволяет осуществить авторизованное подключение к Сервису с использованием авторизации через сторонние
            веб-сервисы (например, социальные сети).</p>
        <p>«SMS-сообщения» – (Short Message Service – перевод с англ.: служба коротких сообщений) средство связи,
            технология, позволяющая осуществлять прием и передачу коротких текстовых сообщений (SMS-сообщений) при
            помощи мобильного телефона.</p>
        <p>«Условия использования» – совокупность соглашений между Пользователем и Администрацией включающее в себя
            настоящее Соглашение, Политику конфиденциальности, а также иные соглашения, в которых отдельно оговорено,
            что они входят в Условия использования Сервисом.</p>
        <p>«Стандарт PCI DSS» – (Payment Card Industry Data Security Standard) стандарт защиты информации, разработанный
            Международными Платежными Системами и используемый их участниками при обмене информацией в рамках проведения
            операций, совершенных с использованием банковских карт. PCI DSS объединяет в себе требования ряда программ
            по защите информации, в частности:</p>
        <p>• Visa: Account Information Security (AIS);</p>
        <p>• MasterCard: Site Data Protection (SDP);</p>
        <p>• JCB: Data Security Program (DSP);</p>
        <p>• МИР: Правила платежной системы «Мир» (МИР.05.141.0-20.00.00).</p>
        <p>«Персональные данные» – любая информация, относящаяся к определенному или определяемому на основании такой
            информации физическому лицу (субъекту персональных данных), в том числе его фамилия, имя, отчество, год,
            месяц, дата и место рождения, адрес, адрес электронной почты, телефонный номер, семейное, социальное,
            имущественное положение, образование, профессия, доходы, другая информация.</p>
        <p>«Счетчик» – часть Сервиса, компьютерная программа, использующая фрагмент кода, как правило на JavaScript,
            установленный на веб-сайте, отвечающий за анализ файлов «cookie» и сбор статистических и персональных данных
            этого веб-сайта. Администрация может использовать счетчики как собственной разработки, так и предоставленные
            третьими лицами на условиях ограниченной лицензии (лицензионного соглашения), например, Google Analytics,
            Яндекс.Метрика и иные аналогичные счетчики. Счетчики осуществляют сбор персональных данных в обезличенном
            виде.</p>
        <p>«IP-адрес» – номер из ресурса нумерации сети передачи данных, построенной на основе протокола IP (RFC 791),
            однозначно определяющий при оказании телематических услуг связи, в том числе доступа к сети Интернет,
            абонентский терминал (компьютер, смартфон, планшет, иное устройство) или средства связи, входящие в
            информационную систему и принадлежащие Пользователю.</p>
        <p>«Кэш» – расположенное на устройстве Пользователя промежуточное хранилище данных, получаемых от веб-сайта
            Сервиса и запрашиваемых чаще других с наибольшей вероятностью, доступ к которым из кэша возможен с гораздо
            большей скоростью, чем выборка исходных данных из удаленного источника (например, удаленного сервера или
            веб-сайта).</p>
        <p>«Файлы cookie», «cookie» – небольшой фрагмент данных, отправленный веб-сервером и хранимый на устройстве
            пользователя веб-сайта, на котором установлен Счетчик. Файлы «cookie» содержат небольшие фрагменты текста и
            используются для хранения информации о работе браузеров. Они позволяют хранить и получать идентификационные
            сведения и другую информацию на компьютерах, смартфонах, телефонах и других устройствах. Спецификации файлов
            «cookie» описаны в документах RFC 2109 и RFC 2965. Для этих же целей используются другие технологии, в том
            числе данные, сохраняемые браузерами или устройствами, идентификаторы, связанные с устройствами, и другое
            программное обеспечение. В настоящем Соглашении все эти технологии называются файлами «cookie».</p>
        <p>«Веб-маяки» – изображения в электронной форме (одно-пиксельные (1x1) или пустые GIF-изображения). Веб-маяки
            способны помочь Оператору распознавать определенные типы информации на устройстве Пользователя, например,
            файлы «cookie», время и дату просмотра страницы и описание страницы, где размещен веб-маяк.</p>
        <p>«Мессенджер» – информационная система и/или компьютерная программа (мобильное приложение, веб-сервис,
            веб-приложение и т.п.), которые предназначены и/или используются для приема, передачи, доставки и/или
            обработки электронных сообщений пользователей сети Интернет (например, Skype, WhatsApp, Viber и т.п.).</p>
        <p>«Контрольная сумма» – некоторое значение (последовательность символов), рассчитанное по набору данных путем
            применения определенного алгоритма, используемое в рамках настоящего Соглашения для проверки целостности
            (аутентичности) электронных файлов при их передаче или хранении. Для целей настоящего Соглашения расчет и
            проверка Контрольных сумм осуществляются путем применения алгоритмов MD5 и SHA256.</p>
        <p>1.2. Все остальные термины и определения, встречающиеся в тексте Соглашения, толкуются Сторонами в
            соответствии с законодательством Российской Федерации, действующими рекомендациями (RFC) международных
            органов по стандартизации в сети Интернет и сложившимися в сети Интернет обычными правилами толкования
            соответствующих терминов. Кроме того, в настоящем Соглашении используются термины из: ГОСТ Р ИСО
            9241-151-2014, ГОСТ Р ИСО 9241-161-2016, ГОСТ 7.83-2001, ГОСТ 7.4-95, ГОСТ 7.9-95 (ИСО 214-76), ГОСТ
            7.60-2003, ГОСТ 7.82-2001, ГОСТ Р 56824-2015, ГОСТ Р 55386-2012, ГОСТ Р 56823-2015, ГОСТ Р 53632-2009, ГОСТ
            Р 56826-2015, ГОСТ Р 5886-2018, ГОСТ Р 58223-2018, ГОСТ Р ИСО/МЭК 24730-1-2017.</p>
        <p>1.3. Термины и определения, используемые в настоящем Соглашении, могут быть использованы как в единственном,
            так и во множественном числе в зависимости от контекста, написание терминов может быть использовано как с
            заглавной буквы, так и с прописной.</p>
        <p>1.4. Названия заголовков (статей), а также конструкция Соглашения предназначены исключительно для удобства
            пользования текстом Соглашения и буквального юридического значения не имеют.</p>

        <h5>2. ПРЕДМЕТ СОГЛАШЕНИЯ</h5>

        <p>2.1. Настоящее Соглашение регулирует отношения между Пользователем, с одной стороны, и Администрацией с
            другой стороны, по предоставлению Пользователю права использования Сервиса, а также регламентирует порядок
            использования Сервиса и активации неактивированных модулей.</p>
        <p>2.2. В соответствии с настоящим Соглашением Администрация предоставляет права пользования Сервисом в
            соответствии с его назначением и функционалом, в частности для проектирования систем автоматического полива
            и использования иных интерактивных модулей Сервиса.</p>
        <p>2.3. В целях исполнения своих обязательств по настоящему соглашению Администрация вправе привлекать к
            исполнению Соглашения третьих лиц без согласования с Пользователем.</p>

        <h5>3. ИНТЕЛЛЕКТУАЛЬНЫЕ ПРАВА НА СЕРВИС</h5>

        <p>3.1. Сервис, его составляющие и отдельные компоненты (в том числе, но не ограничиваясь: компьютерные
            программы, базы данных, программные коды, лежащие в их основе ноу-хау, алгоритмы, элементы дизайна, шрифты,
            логотипы, а также текстовые, графические и иные материалы) являются объектами интеллектуальной
            собственности, охраняемой в соответствии с российским и международным законодательством, любое использование
            которых допускается только на основании разрешения Администрации.</p>
        <p>3.2. Администрация настоящим предоставляет Пользователю на весь срок действия настоящего Соглашения простую
            (неисключительную), отзывную, ограниченную лицензию на использование Сервиса без ограничения территории ее
            действия и не подлежащую передаче или уступке третьим лицам. Такая простая (неисключительная) лицензия
            предназначена для того, чтобы обеспечить Пользователю возможность использования Сервиса в соответствии с его
            назначением с учетом ограничений, предусмотренных настоящим Соглашением.</p>
        <p>3.3. Отзыв лицензии, предоставленной в соответствии с настоящим Соглашением, осуществляется в порядке,
            установленном законодательством для отказа от исполнения от лицензионного договора.</p>
        <p>3.4. Право использования Сервиса включает в себя право на воспроизведение Сервиса или отдельных участков его
            кода на конечном устройстве Пользователя (компьютере, смартфоне, планшете и т.д.) с целью кэширования и
            запуск с помощью средств целевой операционной системы (веб-браузеров) с целью использования Сервиса в
            соответствии с его назначением.</p>
        <p>3.5. Право использования Сервиса не включает в себя право изготовить его копию для архивных целей, поскольку
            использование Сервиса осуществляется в онлайн-режиме без установки на локальном конечном устройстве
            Пользователя.</p>
        <p>3.6. Использование Сервиса в соответствии с настоящим Соглашением допускается одновременно на неограниченном
            количестве устройств Пользователя.</p>
        <p>3.7. Использование Сервиса в соответствии с настоящим Соглашением может иметь также иные ограничения в
            функциональности, указанные в пользовательской документации Сервиса.</p>
        <p>3.8. Предоставленное Пользователю по настоящему Соглашению право использования Сервиса предполагает право на
            получение регулярных обновлений Сервиса в пределах одной версии (минорные обновления текущего релиза, не
            являющиеся новой версией) и новых версий Сервиса (мажорные обновления – новые релизы, являющиеся новой
            версией), при их наличии.</p>
        <p>3.9. Пользователь соглашается, что не вправе (в том числе не вправе разрешать кому-либо) изменять, создавать
            производные работы, разбирать Сервис на составляющие коды, декомпилировать или иным образом пытаться
            получить исходный программный код Сервиса или любой его части, за исключением случаев, когда есть письменное
            разрешение Администрации на совершение таких действий. В противном случае, Пользователь несет полную
            ответственность за подобные действия, предусмотренную настоящим Соглашением, а также международным и
            российским законодательством.</p>
        <p>3.10. Настоящее Соглашение не предусматривает передачу прав на интеллектуальную собственность Администрации
            (либо ее часть), за исключением ограниченной лицензии, которая предоставляется на основании настоящего
            Соглашения. Никакие положения настоящего Соглашения не являются уступкой прав на интеллектуальную
            собственность Администрации или отказом от данных прав на основании законодательства.</p>
        <p>3.11. Сервис содержит или может содержать компьютерные программы, которые лицензируются (или
            сублицензируются) Пользователю в соответствии с общедоступной лицензией GNU или иными аналогичными
            лицензиями Open Source, которые помимо прочих прав разрешают Пользователю копировать, модифицировать,
            перераспределять определенные компьютерные программы или их части и получать доступ к исходному коду. Если
            такая лицензия предусматривает предоставление исходного кода пользователям, которым компьютерная программа
            предоставляется в формате исполняемого двоичного кода (объектного кода), исходный код делается доступным при
            осуществлении запроса на адрес электронной почты Администрации. Если какая-либо лицензия на компьютерные
            программы с открытым исходным кодом требует, чтобы Администрация предоставляла права на использование,
            копирование или модификацию компьютерных программ с открытым исходным кодом, выходящие за рамки прав,
            предоставляемых настоящим Соглашением, такие права имеют преимущественную силу над правами и ограничениями,
            оговоренными в настоящем Соглашении.</p>

        <h5>4. ОБЩИЕ ПРАВА И ОБЯЗАННОСТИ АДМИНИСТРАЦИИ, ГАРАНТИИ</h5>

        <p>4.1. Администрация гарантирует, что обладает всеми законными основаниями для предоставления Пользователю
            права использования Сервиса по настоящему Соглашению. Все права на Сервис и его составляющие компоненты
            принадлежат Администрации, либо иным правообладателям, предоставившим Администрации неисключительную
            лицензию с возможностью сублицензирования, в том числе на условиях открытой лицензии (GPL, LGPL, AGPL, BSD и
            т.д.).</p>
        <p>4.2. Администрация обязуется приложить все разумные усилия по обеспечению стабильной работы Сервиса,
            постепенному его совершенствованию, исправлению ошибок в работе Сервиса, однако, Сервис предоставляется
            Пользователю по принципу «как есть». Это означает, что Администрация:</p>
        <p>4.3. не гарантирует отсутствие ошибок в работе Сервиса;</p>
        <p>4.4. не несет ответственность за бесперебойную работу Сервиса и его совместимость с программным обеспечением
            и техническими средствами Пользователя и иных лиц;</p>
        <p>4.5. не несет ответственность за причинение любых убытков, которые возникли или могут возникнуть в связи с
            или при использовании Сервисом;</p>
        <p>4.6. не несет ответственность за неисполнение либо ненадлежащее исполнение своих обязательств вследствие
            сбоев в телекоммуникационных и энергетических сетях, действий вредоносных программ, а также недобросовестных
            действий третьих лиц, направленных на несанкционированный доступ и(или) выведение из строя программного
            и(или) аппаратного комплекса Администрации.</p>
        <p>4.7. Администрация вправе предоставить Пользователю доступ к Сервису и поддерживать Сервис в рабочем
            состоянии, а также вправе приостанавливать предоставление доступа к Сервису на время, необходимое для
            проведения планово-профилактических и восстановительных работ на оборудовании без предварительного
            уведомления Пользователя. Кроме того, Администрация вправе приостановить доступ Пользователя к Сервису при
            выявлении факта предоставления при регистрации или использовании Сервиса недостоверной информации о
            себе.</p>
        <p>4.8. Пользователь соглашается с тем, что Администрация вправе использовать предоставленные Пользователем при
            регистрации данные в целях проведения маркетинговых мероприятий, связанных с Сервисом, а также направлять на
            предоставленный Пользователем электронный почтовый адрес и(или) путем оповещения SMS-сообщениями на
            предоставленный Пользователем номер мобильного телефона, размещать в пространстве, ограниченном доступом
            Пользователя (Личном кабинете), рекламные и информационные сообщения по своему усмотрению. Данный пункт
            Стороны договорились считать предварительным согласием Пользователя на получение рекламы в соответствии со
            статьей 18 Федерального закона от 13.03.2006 № 38-ФЗ «О рекламе».</p>
        <p>4.9. Администрация оставляет за собой право путем звонков и отправления SMS-сообщений, обращаться к
            Пользователю в целях проверки качества работы Сервиса и сообщения критически важной для Пользователя
            информации.</p>
        <p>4.10. Администрация оставляет за собой право запросить электронные копии документов для идентификации
            Пользователя. Администрация также обязана предоставить достоверную контактную информацию о Пользователе по
            запросу регистрационных учреждений или правоохранительных органов в соответствии с законодательством.</p>
        <p>4.11. Администрация обязуется обеспечить конфиденциальность и сохранность всех данных полученных от
            Пользователя, кроме случаев, когда такое разглашение произошло по не зависящим от Администрации причинам, а
            также за исключением случаев, предусмотренных действующим международным и российским законодательством.</p>
        <p>4.12. Администрация обязуется осуществлять техническую поддержку Пользователя в форме письменной консультации
            по вопросам, имеющим отношение к функционированию и использованию Сервиса. Техническая поддержка
            предоставляется только по официальному запросу Пользователя, совершенному способами, предусмотренными в
            настоящем Соглашении для обмена уведомлениями, сообщениями и документами. Консультация специалиста может
            быть предоставлена только по вопросам, имеющим отношение к функционированию и использованию Сервиса. Не
            предоставляются консультации по вопросам, не имеющим отношения к работе Сервиса.</p>

        <h5>5. ОБЩИЕ ПРАВА И ОБЯЗАННОСТИ ПОЛЬЗОВАТЕЛЯ, ГАРАНТИИ</h5>

        <p>5.1. Пользователь – физическое лицо гарантирует, что:</p>
        <p>5.1.1. Ему исполнилось 18 (восемнадцать) лет или он достиг иного возраста совершеннолетия, предусмотренного
            на территории его юрисдикции, и обладает правоспособностью заключать настоящее Соглашение, имеющее
            обязательную юридическую силу, от собственного имени, либо от имени физического или юридического лица, в
            интересах которого он заключает настоящее Соглашение.</p>
        <p>5.1.2. Понимает, что Администрация не предоставляет юридических консультаций и рекомендаций относительно
            законодательства или требований, действие которых распространяется на Пользователя, либо на конечных
            пользователей, а также относительно соблюдения Пользователем действующего законодательства и требований.</p>
        <p>5.1.3. Пользователь получил все необходимые согласия и разрешения, предусмотренные действующим
            законодательством, для размещения, передачи и публикации личных данных и(или) изображений физических или
            юридических лиц, которые являются частью персональных регистрационных данных Пользователя. Пользователь
            обязуется соблюдать все соответствующие требования и ограничения законодательства в их отношении.</p>
        <p>5.2. Пользователь – юридическое лицо, в том числе индивидуальный предприниматель, гарантирует, что:</p>
        <p>5.2.1. Принятие (акцепт) настоящего Соглашения не требует одобрения органами управления Пользователя, иного
            согласования или соблюдения специального порядка совершения сделок в соответствии с требованиями
            законодательства Российской Федерации и учредительных документов Пользователя, поскольку совершение сделки
            по акцепту настоящего Соглашения является сделкой, не выходящей за пределы обычной хозяйственной
            деятельности Пользователя.</p>
        <p>5.2.2. Обладает необходимой право- и дееспособностью для принятия (акцепта) и исполнения настоящего
            Соглашения, у него не отозвана (не аннулирована) лицензия, необходимая для осуществления основного вида
            деятельности, как юридического лица, срок действия лицензии не истек, либо основной вид деятельности,
            осуществляемый Пользователем, не подлежит лицензированию.</p>
        <p>5.2.3. Вся информация и документы, предоставленные Пользователем Администрации в связи с принятием (акцептом)
            и исполнением настоящего Соглашения, являются достоверными. Пользователь не скрыл обстоятельств, которые
            могли бы при их обнаружении негативно повлиять на решение Администрации, касающееся действия настоящего
            Соглашения и его исполнения.</p>
        <p>5.2.4. Принятие (акцепт) настоящего Соглашения не нарушает никаких прав и обязанностей Пользователя перед
            третьими лицами.</p>
        <p>5.2.5. Не участвует и не связан каким-либо образом ни с одной сделкой или иным обязательством, по которым он
            находится в ситуации невыполнения своих обязательств, или обязан досрочно выполнить свои обязательства, или
            участие в которых может негативно повлиять на способность Пользователя выполнить взятые им по настоящему
            Соглашению обязательства, о которых Администрация не был информирована Пользователем.</p>
        <p>5.2.6. Получил все необходимые согласия и разрешения, предусмотренные действующим законодательством, для
            обработки персональных данных и(или) изображений физических лиц, которые потребуется обрабатывать в процессе
            исполнения настоящего Соглашения. Пользователь обязуется соблюдать все соответствующие требования и
            ограничения законодательства в их отношении.</p>
        <p>5.3. Права Пользователя:</p>
        <p>5.3.1. Пользователь имеет право использовать Сервис не запрещенными настоящим Соглашением и действующим
            международным и российским законодательством способами в соответствии с его назначением и в пределах его
            функционала.</p>
        <p>5.3.2. В случае возникновения в работе Сервиса проблем технического характера, а также в случае получения
            Пользователем сообщений, являющихся несанкционированной рекламной рассылкой, либо содержащих запрещенные
            настоящим Соглашением материалы, в том числе угрозы или файлы с подозрением на вирус, а также если
            Пользователь обнаруживает факты, дающие основания полагать, что его доступ к Сервису был использован
            кем-либо несанкционированно, Пользователь имеет право обратиться к Администрации для выяснения ситуации и
            принятия необходимых мер.</p>
        <p>5.3.3. Пользователь имеет право обращаться в техническую поддержку по указанным в настоящем Соглашении
            вопросам, касающимся Сервиса.</p>
        <p>5.3.4. Пользователь имеет право на обеспечение сохранности своих персональных данных, настолько, насколько
            это зависит от Администрации в соответствии с действующим международным и российским законодательством.</p>
        <p>5.3.5. Пользователь имеет право в любой момент отказаться от звонков, получения SMS-сообщений и иных
            информационных рекламных рассылок, сообщив об этом Администрации.</p>
        <p>5.4. Обязанности Пользователя:</p>
        <p>5.4.1. При использовании Сервиса Пользователь обязуется не нарушать интеллектуальные права Администрации.</p>
        <p>5.4.2. Пользователь ответственен за хранение логина и пароля вне доступа третьих лиц и своевременную их смену
            в случае утери или иной необходимости.</p>
        <p>5.4.3. При использовании Сервиса Пользователь обязуется иметь все необходимые разрешения и полномочия от
            владельцев данных, которые он использует при работе с Сервисом в соответствии с его назначением, в частности
            иметь все необходимые согласия и разрешения, предусмотренные действующим законодательством, для обработки
            персональных данных физических лиц, которые может потребоваться обрабатывать в процессе использования
            Сервиса. Пользователь обязуется соблюдать все соответствующие требования и ограничения законодательства в их
            отношении.</p>
        <p>5.4.4. В случае необходимости Пользователь при обработке данных, подпадающих под регулирование Федерального
            закона от 27.07.2006 № 152-ФЗ «О персональных данных» и попадающих в категорию персональных данных, до
            начала обработки таких персональных данных обязан уведомить уполномоченный орган по защите прав субъектов
            персональных данных о своем намерении осуществлять обработку персональных данных. Указанное уведомление
            направляется Пользователем самостоятельно.</p>
        <p>5.4.5. Пользователь несет ответственность перед Администрацией за предоставление достоверной и актуальной
            контактной и регистрационной информации о себе при использовании Сервиса. В случае изменения указанных
            данных, Пользователь обязан сообщить об этом Администрации путем самостоятельного изменения своих
            данных.</p>
        <p>5.4.6. Пользователь соглашается никогда и ни при каких обстоятельствах не использовать Сервис для
            осуществления действий, запрещенных или ограниченных международным и российским законодательством.</p>
        <p>5.4.7. Присоединяясь к настоящему Соглашению, Пользователь обязуется не наносить ущерб Сервису, программной
            оболочке, техническим и программным средствам, узловым машинам Администрации.</p>
        <p>5.4.8. Пользователь обязан не наносить ущерб Сервису в процессе его использования, а также техническим и
            программным средствам, узловым машинам Администрации или иных лиц, обеспечивающих функционирование Сервиса,
            в том числе путем направления на их IP-адреса многочисленных запросов, вызывающих DDoS-атаку и ошибку типа
            «отказ в обслуживании».</p>
        <p>5.4.9. Пользователь соглашается с тем, что возместит Администрации любые убытки, понесенные Администрацией в
            связи с использованием Пользователем Сервиса c нарушением Пользователем настоящего Соглашения и прав (в том
            числе интеллектуальных, информационных и т.д.) третьих лиц.</p>
        <p>5.4.10. Пользователь признает и соглашается, что IP-адрес устройства Пользователя фиксируется техническими
            средствами Администрации, и в случае совершения незаконных действий, в том числе действий, нарушающих
            интеллектуальные права третьих лиц, ответственным за указанные незаконные действия признается владелец
            устройства, определяемого техническими средствами Администрации по принадлежности IP-адреса.</p>

        <h5>6. ПОРЯДОК ИСПОЛЬЗОВАНИЯ СЕРВИСА</h5>

        <p>6.1. Настоящее Соглашение регулирует отношения исключительно по использованию Сервиса в соответствии с его
            назначением.</p>
        <p>6.2. Использование Сервиса в соответствии с его назначением и функционалом должно осуществляться
            Пользователями в строгом соответствии с действующим законодательством Российской Федерации.</p>
        <p>6.3. Функционал Сервиса и руководящие материалы по его использованию приведены в пользовательской
            документации Сервиса.</p>
        <p>6.4. Администрация оставляет за собой право запрашивать у Пользователя подтверждающие документы для проверки
            указанных им регистрационных данных и размещенной им информации во избежание случаев нарушения
            интеллектуальных прав третьих лиц, мошенничества и иных незаконных действий, которые Пользователь обязан
            предоставить Администрации в течение 24 (двадцати четырех) часов с момента запроса. Во время проведения
            такой проверки Администрация вправе ограничивать доступ Пользователя к Сервису.</p>
        <p>6.5. Администрация оставляет за собой право в случае неоднократного нарушения Пользователем условий
            Соглашения прекратить доступ Пользователя к Сервису (в том числе путем блокирования доступа к Сервису через
            IP-адрес, с которого была осуществлена регистрация данного Пользователя либо было совершено наибольшее
            количество посещений Сервиса данным Пользователем) и удалить все его регистрационные данные в одностороннем
            порядке, без уведомления и указания причин, а также ограничить доступ Пользователя к Сервису и/или Личному
            кабинету и запретить размещение информации с помощью Сервиса.</p>
        <p>6.6. Администрация оставляет за собой право устанавливать любые правила, лимиты и ограничения (технические,
            юридические, организационные или иные) на использование Сервиса, и может менять их по своему усмотрению, без
            предварительного уведомления Пользователя. В случаях, когда это не запрещено законодательством, указанные
            правила, лимиты и ограничения могут быть различными для различных категорий Пользователей.</p>
        <p>6.7. За использование Сервиса и/или активацию неактивированных модулей Сервиса взимается вознаграждение в
            размерах, установленных тарифами Администрации. Сумма вознаграждения не включает в себя НДС, т.к.
            Администрация не является плательщиком НДС в силу п. 2 ст. 346.11 НК РФ в связи с применением упрощенной
            системы налогообложения.</p>

        <p>7. РЕФЕРАЛЬНАЯ ПРОГРАММА</p>

        <p>7.1. Каждый Пользователь Сервиса с момента его регистрации участвует в реферальной программе (стимулирующем
            мероприятии), правила проведения которой установлены в настоящем разделе Соглашения. В рамках реферальной
            программы Пользователь может также именоваться как реферер.</p>
        <p>7.2. При регистрации Пользователя в Сервисе в Личном кабинете формируется уникальная веб-ссылка или
            реферальный код, которуые Пользователь может передать любым третьим лицам (рефералам).</p>
        <p>7.3. Если такое третье лицо (реферал) произвело регистрацию в Сервисе, предварительно перейдя на веб-сайт
            Сервиса по ссылке, полученной от Пользователя (реферера), или ввело реферальный код при регистрации и
            произвело оплату за использование Сервиса и/или за активацию неактивированных модулей Сервиса, то
            Пользователь (реферер) получает в качестве бонусов 10 (десять) процентов от суммы оплаты, произведенной
            таким третьим лицом (рефералом).</p>
        <p>7.4. Полученные бонусы учитываются на отдельном бонусном счете Пользователя. Бонусы остаются заблокированными
            для использования в течение 14 (четырнадцати) календарных дней. В том случае если по истечение этого периода
            третье лицо (реферал), за оплату которого были начислены бонусы, не произведет возврат средств и не отменит
            подписку на использования Сервиса и/или активацию неактивированных модулей, то с бонусов на бонусном счете
            Пользователя снимается блокировка и они становятся доступными для их использования.</p>
        <p>7.5. Начисленные и разблокированные бонусы Пользователь может использовать исключительно на оплату
            использования Сервиса и/или активацию неактивированных модулей в объеме до 99 (девяносто девяти) процентов
            от оплачиваемой стоимости из расчета 1 бонус – 1 рубль.</p>

        <h5>8. ПОРЯДОК ОПЛАТЫ</h5>

        <p>8.1. Оплата использования Сервиса и/или активации неактивированных модулей Пользователями осуществляется с
            помощью банковской карты VISA, MasterCard, JCB, МИР или электронных денежных средств с привлечением
            Администрацией платежного сервиса для приема оплаты и организации защищенного канала оплаты. Процесс оплаты
            и передаваемые данные сертифицированы и защищены по стандарту безопасности данных индустрии платежных карт
            PCI DSS.</p>
        <p>8.2. Оплата осуществляется через Интернет в соответствии с Правилами международных платежных систем Visa,
            MasterCard, JCB и МИР на принципах соблюдения конфиденциальности и безопасности совершения платежа, для чего
            платежным сервисом используются самые современные методы проверки, шифрования и передачи данных по закрытым
            каналам связи. Ввод данных банковской карты осуществляется на защищенной платежной странице платежного
            сервиса.</p>
        <p>8.3. На странице для ввода данных банковской карты потребуется ввести номер карты, имя владельца карты, срок
            действия карты, трехзначный код безопасности (CVV2 для VISA или CVC2 для MasterCard). Все необходимые данные
            пропечатаны на самой карте. Трехзначный код безопасности – это три цифры, находящиеся на обратной стороне
            карты. Далее Пользователь будет перенаправлен на страницу своего банка для ввода 3DSecure кода, который
            придет Пользователю на мобильный телефон в СМС-сообщении. Если 3DSecure код к Пользователю не пришел, то ему
            следует обратится в банк выдавший карту.</p>
        <p>8.4. Случаи отказа в совершении платежа:</p>
        <p>• банковская карта не предназначена для совершения платежей через Интернет, о чем можно узнать, обратившись в
            банк, выдавший карту;</p>
        <p>• недостаточно средств для оплаты на банковской карте. Подробнее о наличии средств на банковской карте можно
            узнать, обратившись в банк, выпустивший банковскую карту;</p>
        <p>• данные банковской карты введены неверно;</p>
        <p>• истек срок действия банковской карты. Срок действия карты, как правило, указан на лицевой стороне карты
            (это месяц и год, до которого действительна карта). Подробнее о сроке действия карты можно узнать,
            обратившись в банк, выпустивший банковскую карту.</p>
        <p>8.5. Предоставляемая Пользователем персональная информация (имя, адрес, телефон, адрес электронной почты,
            номер банковской карты) является конфиденциальной и не подлежит разглашению. Данные банковской карты
            передаются только в зашифрованном виде и не сохраняются ни на сервере Администрации, ни на сервере
            платежного сервиса.</p>
        <p>8.6. Стороны договорились об отказе взыскания друг с друга процентов по денежным обязательствам,
            предусмотренным ст. 317.1 ГК РФ.</p>
        <p>8.7. Сервис может иметь интерактивные подсказки и иные инструктивные материалы, разъясняющие Пользователю
            порядок использования Сервиса, в том числе порядок оплаты.</p>
        <p>8.8. Возврат платежей за использование Сервиса и за активацию неактивированных модулей допускается только в
            течение 14 (четырнадцати) четырнадцати дней с момента активации. В иных случаях запросы на возврат платежей
            рассматриваются Администрацией индивидуально.</p>
        <p>8.9. При получении запроса на возмещение, представитель службы поддержки Администрации рассматривает запрос,
            проверяет детали, уточняет дату активации неактивированных модулей и принимает соответствующие меры по
            возврату или отказывает в возврате.</p>
        <p>8.10. Возмещение денежных средств за использование Сервиса и/или за активацию неактивированного модуля не
            будет произведено, если служба поддержки после проверки не выявит, что либо запрос на возврат направлен по
            истечении 14 (четрынадцати) дней после активации, либо потеря произошла из-за нарушения нормального процесса
            функционирования Сервиса, в первую очередь в результате зафиксированной ошибки или ошибки сервера. Все
            запросы на возмещение должны быть направлены в течение недели (7 дней) с момента обнаружения потери. По
            истечении этого времени компенсация не предоставляется.</p>
        <p>8.11. Настоящим Соглашением не предусмотрено никаких гарантий по предоставлению компенсаций и возмещений,
            кроме гарантированного возврата средств за активацию неактивированного модуля в течение 14 (четырнадцати)
            дней с момента его активации. Служба технической поддержки Администрации расследует каждый случай и
            компенсации предоставляются по каждому конкретному случаю на индивидуальной основе. Администрация не
            производит денежные возмещения, за исключением возврата в течение 14 (четырнадцати) дней с момента
            активации, а лишь производит восстановление возможности использования Сервиса и/или активации того или иного
            неактивированного модуля.</p>

        <h5>9. КОНФИДЕНЦИАЛЬНОСТЬ</h5>

        <p>9.1. Стороны обязуются сохранять конфиденциальность всех сведений, передаваемых друг другу как по защищенным,
            так и незащищенным каналам связи, независимо от наличия или отсутствия маркировок, свидетельствующих о
            статусе конфиденциальности передаваемых сведений, кроме случаев, когда такое разглашение произошло по не
            зависящим от Сторон причинам, а также за исключением случаев, предусмотренных действующим
            законодательством.</p>
        <p>9.2. Под разглашением конфиденциальных сведений в рамках настоящего Соглашения понимается действие или
            бездействие одной из Сторон Соглашения, в результате которого конфиденциальные сведения становятся
            известными третьим лицам в отсутствие согласия на это их владельца. При этом форма разглашения
            конфиденциальных сведений третьим лицам (устная, письменная, с использованием технических средств и др.) не
            имеет значения.</p>
        <p>9.3. Не является нарушением конфиденциальности предоставление конфиденциальных сведений по законному
            требованию правоохранительных и иных уполномоченных государственных органов и должностных лиц в случаях и в
            порядке, предусмотренных применимым законодательством, а также публичное, в устной или письменной форме,
            указание на тот факт, что одна Сторона является контрагентом другой Стороны.</p>
        <p>9.4. В случае раскрытия конфиденциальных сведений указанным органам и/или лицам Сторона, их раскрывшая,
            письменно уведомляет владельца конфиденциальных сведений о факте их предоставления, их содержании и органе,
            которому они предоставлены, не позднее 2 (двух) рабочих дней с момента раскрытия.</p>
        <p>9.5. Обязательства, касающиеся соблюдения условий конфиденциальности, действуют неограниченный срок.</p>
        <p>9.6. В случае разглашения одной Стороной конфиденциальных сведений, полученных от другой Стороны, виновная
            Сторона обязуется возместить все причиненные этим убытки, в том числе упущенную выгоду, в течение 5 (пяти)
            рабочих дней после получения соответствующего письменного требования от другой Стороны.</p>

        <h5>10. ОБРАБОТКА ПЕРСОНАЛЬНЫХ ДАННЫХ</h5>

        <p>10.1. Принятие (акцепт) Соглашения и использование в соответствии с ним Сервиса предусматривает необходимость
            предоставления, сбора и/или использования ряда персональных данных. В частности, при предоставлении доступа
            к Сервису и при его использовании Администрация получает доступ и использует ряд данных, касающихся
            Пользователя – физического лица или его представителей – физических лиц. Политика конфиденциальности
            Администрации, касающаяся Сервиса, размещена по адресу: https://irrisketch.ru/privacy</p>
        <p>10.2. Используя Сервис Пользователь, во исполнение требований Федерального закона от 27.07.2006 г. № 152-ФЗ
            «О персональных данных» предоставляет Администрации свое согласие на обработку своих следующих персональных
            данных:</p>
        <p>• фамилия, имя и отчество;</p>
        <p>• псевдоним (ник);</p>
        <p>• номер мобильного телефона;</p>
        <p>• адрес электронной почты;</p>
        <p>• идентификаторы мессенджеров;</p>
        <p>• IP-адрес устройства Пользователя;</p>
        <p>• данные файлов «cookie»;</p>
        <p>• данные, собираемые счетчиками;</p>
        <p>• данные, получаемые с помощью веб-маяков;</p>
        <p>• информация о веб-браузере Пользователя;</p>
        <p>• технические характеристики устройства и программного обеспечения;</p>
        <p>• дата и время доступа к Сервису;</p>
        <p>• адреса запрашиваемых страниц веб-сайта Сервиса;</p>
        <p>• географические координата места нахождения Пользователя;</p>
        <p>на срок действия настоящего Соглашения для следующих целей:</p>
        <p>10.2.1. использование персональных данных Пользователей, являющихся физическими лицами, использующими Сервис
            от своего имени, для целей заключения и исполнения Соглашения;</p>
        <p>10.2.2. использование персональных данных Пользователей, являющихся физическими лицами, использующими Сервис
            от имени, представляемого ими физического либо юридического лица, для целей заключения и исполнения
            Соглашения;</p>
        <p>10.2.3. проведение статистических и иных исследований использования Сервиса на основе обезличенных
            данных;</p>
        <p>10.2.4. соблюдение обязательных требований законодательства Российской Федерации.</p>
        <p>10.3. В рамках предоставленного согласия Администрации предоставляется право на совершение с персональными
            данными Пользователя любых действий включая, но не ограничиваясь: сбор, систематизацию, накопление,
            хранение, уточнение (обновление, изменение), использование, передачу, обезличивание, блокирование,
            уничтожение, передачу, в том числе трансграничную, персональных данных партнерам Администрации, перечень
            которых приводится на веб-сайте Администрации по адресу https://irrisketch.ru/partners, а также
            осуществление иных необходимых действий с персональными данными с учетом действующего законодательства.</p>
        <p>10.4. Обработка персональных данных Пользователя разрешается с применением следующих основных способов (но не
            ограничиваясь ими): хранение, запись на электронные носители и их хранение, составление перечней,
            маркировка.</p>
        <p>10.5. Обработка персональных данных Пользователя разрешается без использования средств автоматизации в
            соответствии с действующим законодательством.</p>
        <p>10.6. Обработка персональных данных Пользователя в рамках настоящего Соглашения осуществляется Администрацией
            без использования средств автоматизации, поскольку такие действия с персональными данными, как
            использование, уточнение, распространение, уничтожение персональных данных в отношении Пользователя,
            осуществляются при непосредственном участии человека.</p>
        <p>10.7. Разрешается обработка персональных данных Пользователя с использованием DPM-систем, в том числе
            принадлежащим третьим лицам и предоставленным Администрации на основании соответствующего договора или
            соглашения, при условии соблюдения мер защиты конфиденциальности персональных данных.</p>
        <p>10.8. Обработка персональных данных, предоставляемых Пользователем в процессе использования Сервиса в
            соответствии с Соглашением, осуществляется на основании пункта 5 части 1 статьи 6 Федерального закона от
            27.07.2006 № 152-ФЗ «О персональных данных» в связи с необходимостью заключения и исполнения настоящего
            Соглашения, стороной которого является Пользователь.</p>
        <p>10.9. Обработка персональных данных Пользователя в соответствии с настоящим Соглашением осуществляется без
            уведомления уполномоченного органа по защите прав субъектов персональных данных обработку персональных
            данных в соответствии с частью 2 статьи 22 Федерального закона от 27.07.2006 г. № 152-ФЗ «О персональных
            данных», поскольку:</p>
        <p>10.9.1. обрабатываются персональные данные Пользователя, полученные Администрацией в связи с заключением и
            исполнением Соглашения, стороной которого является Пользователь, при этом персональные данные не
            распространяются, а также не предоставляются третьим лицам без согласия Пользователя и используются
            оператором исключительно для исполнения Соглашения и заключения иных договоров и соглашений с
            Пользователем;</p>
        <p>10.9.2. персональные данные Пользователя, полученные Администрацией, обрабатываются без использования средств
            автоматизации, то есть при непосредственном участии человека, в соответствии с в соответствии с федеральными
            законами или иными нормативными правовыми актами Российской Федерации, устанавливающими требования к
            обеспечению безопасности персональных данных при их обработке и к соблюдению прав субъектов персональных
            данных.</p>
        <p>10.10. Настоящее согласие на обработку персональных данных Пользователя распространяет свое действие на любую
            передачу персональных данных Пользователя Администрации, совершенную до предоставления настоящего
            согласия.</p>

        <h5>11. РАЗРЕШЕНИЕ СПОРОВ И УДОВЛЕТВОРЕНИЕ ПРЕТЕНЗИЙ</h5>

        <p>11.1. Все споры и претензии регулируются на основании положений настоящего Соглашения, а в случае их не
            урегулирования – в порядке, установленном действующим законодательством.</p>
        <p>11.2. Любые вопросы, комментарии и иная корреспонденция Пользователя должны направляться Администрации путем
            отправки электронного сообщения способами, предусмотренными в настоящем Соглашении для обмена уведомлениями,
            сообщениями и документами. Администрация не несет ответственности и не гарантирует ответ на запросы,
            вопросы, предложения и иную информацию, направленные ему любым другим способом.</p>
        <p>11.3. Возникшие в связи с настоящим Соглашением претензии направляются Администрации путем отправки
            электронного сообщения способами, предусмотренными в настоящем Соглашении для обмена уведомлениями,
            сообщениями и документами. Администрация обязуется в течение 10 (десяти) рабочих дней рассмотреть данную
            претензию, при необходимости направив письмо с изложением своей позиции по указанному в претензии адресу
            электронной почты. При этом претензии Пользователей, которых не представляется возможным идентифицировать на
            основе предоставленных им при регистрации данных (в том числе анонимные претензии), Администрация не
            рассматривает. В случае если Пользователь не согласен с мотивами, приведенными Администрацией в ответе на
            претензию, процедура ее урегулирования повторяется при помощи направления мотивированного ответа
            Пользователя с использованием почтовой связи, а именно заказным письмом с уведомлением. В случае
            невозможности разрешения претензии путем переговоров, спор разрешается в судебном порядке в соответствии с
            настоящим Соглашением.</p>
        <p>11.4. Пользователь и Администрация соглашаются, что при невозможности разрешения споров, возникших в связи с
            настоящим Соглашением, путем переговоров такие споры разрешаются сторонами в суде по нормам российского и
            международного права.</p>

        <h5>12. СРОК ДЕЙСТВИЯ СОГЛАШЕНИЯ И ЕГО РАСТОРЖЕНИЕ</h5>

        <p>12.1. Настоящее Соглашение заключается между Сторонами на неопределенный срок.</p>

        <h5>13. УВЕДОМЛЕНИЯ И СООБЩЕНИЯ, ОБМЕН ДОКУМЕНТАМИ</h5>

        <p>13.1. Все документы, уведомления и сообщения в рамках настоящего Соглашения, в том числе связанные с его
            изменением или расторжением, должны направляться либо в письменной форме в виде бумажного документа, либо
            электронной форме способами, позволяющими установить Сторону, от которой исходит уведомление. В частности,
            путем отправки электронного сообщения на соответствующий адрес электронной почты или путем отправки
            электронного сообщения через мессенджер.</p>
        <p>13.2. Любой документ, уведомление или сообщение в письменной форме в виде бумажного документа, направляемое
            одной из Сторон другой Стороне, имеет юридическую силу только в том случае, если оно направлено по адресу,
            указанному в настоящем Соглашении или заявке Пользователя. Документ, уведомление или сообщение может быть
            вручено лично или направлено заказным письмом и будет считаться полученным:</p>
        <p>◦ при вручении лично – на дату вручения;</p>
        <p>◦ при отправке заказным письмом – на дату, указанную в квитанции, подтверждающей доставку соответствующего
            почтового отправления организацией связи.</p>
        <p>13.3. Любой документ, уведомление или сообщение в электронной форме в виде электронного документа или
            электронного сообщения, направляемое одной из Сторон другой Стороне, имеет юридическую силу только в том
            случае, если оно либо направлено на соответствующий адрес электронной почты получающей Стороны с адреса
            электронной почты отправляющей Стороны, указанные в настоящем Соглашении или заявке Пользователя, либо
            направлено другой Стороне с помощью мессенджера.</p>
        <p>13.4. При передаче документов, уведомлений или сообщений в виде электронных файлов для подтверждения их
            аутентичности может использоваться значение Контрольной суммы в отдельном текстовом сообщении или отдельном
            электронном файле, сопровождающем основной файл.</p>
        <p>13.5. Для целей настоящего Соглашения документ, уведомление или сообщение в электронной форме, направленные
            одной Стороной с ее адреса электронной почты на адрес электронной почты другой Стороны считаются
            подписанными простой электронной подписью, которая подтверждает факт формирования электронной подписи
            конкретной Стороной самим фактом направления электронного документа, уведомления или сообщения с ее адреса
            электронной почты.</p>
        <p>13.6. Для целей настоящего Соглашения документ, уведомление или сообщение в электронной форме, направленные
            одной Стороной другой Стороне с помощью мессенджера считаются подписанными простой электронной подписью,
            которая подтверждает факт формирования электронной подписи конкретной Стороной самим фактом направления
            электронного документа, уведомления или сообщения с помощью мессенджера.</p>
        <p>13.7. Любой документ, уведомление или сообщение в электронной форме считается подписанным простой электронной
            подписью Стороны при выполнении в том числе одного из следующих условий:</p>
        <p>◦ простая электронная подпись в виде указания на адрес электронной почты отправителя, его идентификатора в
            мессенджере содержится в самом электронном документе, уведомлении или сообщении;</p>
        <p>◦ ключ простой электронной подписи в виде логина и пароля отправителя от информационной системы оператора
            услуг электронной почты, мессенджера применяется в соответствии с правилами, установленными оператором таких
            услуг и в отправленном электронном документе, уведомлении или сообщении содержится информация, указывающая
            на лицо, от имени которого был отправлен электронный документ, уведомление или сообщение.</p>
        <p>13.8. Любой документ, уведомление или сообщение в электронной форме, подписанные простой электронной подписью
            направляющей его Стороны, признаются электронным документом, равнозначным документу на бумажном носителе,
            подписанному собственноручной подписью соответствующей Стороны.</p>
        <p>13.9. Каждая из Сторон обязуется соблюдать конфиденциальность ключа простой электронной почты в виде логина и
            пароля от информационной системы оператора услуг электронной почты, мессенджера. В случае
            несанкционированного доступа к указанным логину и паролю, их утраты или раскрытия третьим лицам Сторона
            обязана незамедлительно сообщить об этом другой Стороне и принять меры по восстановлению доступа и/или
            замене логина и пароля.</p>
        <p>13.10. Указанные выше правила Стороны признают соглашением между ними, как между участниками электронного
            взаимодействия, устанавливающее случаи признания электронных документов, подписанных простой электронной
            подписью, равнозначными документам на бумажных носителях, подписанным собственноручной подписью.</p>

        <h5>14. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</h5>

        <p>14.1. Действующая редакция настоящего Соглашения размещается в сети Интернет на веб-сайте Сервиса по адресу:
            https://irrisketch.ru/terms</p>
        <p>14.2. Администрация оставляет за собой право в одностороннем порядке и без предварительного уведомления
            Пользователей изменять условия Соглашения, разместив при этом окончательную версию Соглашения на веб-сайте
            указанному выше адресу за 10 (десять) дней до вступления изменений в силу. Положения новой редакции
            Соглашения становятся обязательными для всех ранее зарегистрировавшихся Пользователей Сервиса с даты его
            вступления в силу.</p>
        <p>14.3. Пользователь подтверждает, что ознакомился со всеми положениями Соглашения, понимает и принимает
            их.</p>
        <p>14.4. Пользователь обязуется использовать Сервис добросовестно и разумно.</p>
        <p>14.5. Подлежащим применению к настоящему Соглашению правом является российское право.</p>

        <h5>15. РЕКВИЗИТЫ</h5>

        <p>ИП Проценко Лариса Михайловна, ОГРНИП 324237500533692, ИНН 232203431787</p>
        <p>Электронная почта: mail@irrisketch.ru</p>

    </div>
</div>
