<hr>

<div class="row">
    <div class="col-lg-12 terms-style">
        <p class="text-right"><samp>Selfkant</samp></p>
        <p class="text-right"><samp>February 14, 2024</samp></p>
        <br>
        <p>This user agreement (hereinafter referred to as the Agreement) is an agreement between any physical person or legal
            entity, including a private entrepreneur (hereinafter referred to as the User), who has agreed to the terms and
            conditions set forth in this Agreement by performing actions aimed at using the Service and the company
            LTW GmbH (hereinafter referred to as the Administration). If the User performs actions aimed at
            using the Service, it is considered as the unconditional acceptance of this Agreement. This Agreement along with the
            Administration’s policy on confidentiality and processing of personal data, other additional conditions and rules
            that relate to the use of the Service and are presented on the Service’s website, contain terms and conditions that
            apply to each User of the Service and its components, including located on the Service website. By using the
            Service, the User agrees to these terms. If the User does not agree with any of the conditions, the User must stop
            using the Service.</p>

        <h5>1. DEFINITIONS</h5>

        <p>1.1. The Parties have agreed that the following terms and definitions for the purposes of this Agreement will have
            the following meanings:</p>
        <p>"Administration" is a company IRRISketch GmbH, IHK (Industrie- und Handelskammer Aachen) 117997, (Handelsregister B
            des Amstsgerichts Aachen) HRB27417, with registered
            office address: Dechant-Kamper-Straße 39A 52538 Selfkant, who owns the exclusive rights to the Service.</p>
        <p>"User" is any physical person or legal entity (including a private entrepreneur) who has agreed to the terms and
            conditions set forth in this Agreement by performing the specific actions specified in the Agreement aimed at using
            the Service.</p>
        <p>"Service" is a website available on the Internet at https://irrisketch.com/ which is an online service for the design
            of automatic irrigation systems. The service includes a combination of information, other computer programs
            (components, modules), databases, software codes, know-how, algorithms, design elements, fonts, logos, as well as
            text, graphics, and other materials, as well as other results of intellectual activity.</p>
        <p>"Activated modules" are separate components of the Service (modules) activated and available for use by the User
            without paying a fee.</p>
        <p>"Non-activated modules" are separate components of the Service (modules) activated and available for use by the User
            after paying the fee specified in the tariffs.</p>
        <p>"Version of the Service" is a fixed state of the implementation of the Service at a specific date, which is assigned
            a symbolic designation in the form of a number. The change of version is performed in cases of significant changes
            in the Service, that is, associated with a qualitative change in the algorithms for the implementation of the
            features or the transition to new software and hardware platforms (major update). The version of the Service is
            assigned by the Administration. Examples of version designation:</p>
        <p>• v. 1.0 (v - identifier, "1" — first implementation, "0" — no changes were made. The symbol " dot " is used for
            separation);</p>
        <p>• v. 05.01.2.0 (v - identifier, "05" — year of the implementation, "01" — month of the year of the implementation,
            "2" - second implementation, "0" — no changes were made. The symbol " dot " is used for separation).</p>
        <p>"Release of Version of the Service" is a fixed state of changes in the Service related to the correction of
            identified errors in the operation of the Service (comments) or the implementation of additional requirements
            (proposals) that do not lead to a change in the ideology of the Service development in its specific version (minor
            update). The designation of the release is assigned by the Administration and is indicated by additional symbols.
            Examples of release designations for a version are:</p>
        <p>• v. 1.1 or v. 1.22 (for version v. 1.0 a change 1 was made or change 22 respectively);</p>
        <p>• v. 05.01.2.5 (for version v. 05.01.2.0 a change 5 was made).</p>
        <p>"User documentation" is instructions and information materials explaining the procedure for using the Service by the
            User or its separate modules.</p>
        <p>"Registration" is a procedure when the User provides authentic data about himself/herself in the form approved by the
            Administration and also creates a login and password. Registration is considered completed only if the User has
            successfully completed all of its stages, including activation, performed by clicking on a unique link sent to the
            email address specified by the User.</p>
        <p>"Account", "Member area", "User account" is a set of entries in the Administration database that identifies the User
            with the credentials specified during registration and allows you to manage the parameters of the Service and the
            features available using the Service.</p>
        <p>"Credentials" or "Login and Password" is a set of characters used to identify the User when he/she accesses the
            account.</p>
        <p>"User credentials/Credentials" is data voluntarily specified or uploaded by the User during the registration process
            and during further use of the Service. Data is stored in the Administration database and is subject to use
            exclusively in accordance with this Agreement and applicable law.</p>
        <p>"Tariffs" is the price for using the Service and/or the price for activating non-activated modules. The Tariffs are
            posted on the website of the Service, are an integral part of this Agreement, and are approved by the
            Administration.</p>
        <p>"Login" is a procedure when the User enters his/her username and password into specially designated fields of the
            Service interface for identification and in order to check the authentic authority to access the Personal Account
            and the full set of features of the Service. Instead of a username and password, the User can perform authorization
            through a third-party web service (for example, social networks). In this case, a unique token is used for
            authorization in the Service. It is generated by a third-party web service when the User is authorized in it and
            confirms the authenticity of the authorization.</p>
        <p>"Token" is a unique set of characters that identifies the User in accounts of third-party web services. The token
            allows an authorized connection to the Service using authorization through third-party web services (for example,
            social networks).</p>
        <p>"SMS messages" (Short Message Service) are means of communication, a technology that allows receiving and
            transmitting short text messages (SMS-messages) using a mobile phone.</p>
        <p>"Terms of use" is a set of agreements between the User and the Administration that includes this Agreement, the
            Privacy Policy, as well as other agreements that separately stipulate that they are included in the Terms of Use of
            the Service.</p>
        <p>"Standard PCI DSS" (Payment Card Industry Data Security Standard) is an information protection standard developed by
            International Payment Systems and used by their participants during the exchange of information within the framework
            of transactions performed using bank cards. PCI DSS combines the requirements of information protection programs, in
            particular:</p>
        <p>• Visa: Account Information Security (AIS);</p>
        <p>• MasterCard: Site Data Protection (SDP);</p>
        <p>• JCB: Data Security Program (DSP);</p>
        <p>"Personal data" is any information relating to a specific person (personal data owner) defined or determined on the
            basis of such information, including his/her last name, first name, middle name, year, month, date and place of
            birth, address, email address, phone number, marital, social, property status, education, profession, income, other
            information.</p>
        <p>"Statistics" is information about the use of the Service, as well as about viewing and/or using elements of the
            Service (windows, dialogs, interactive elements, web pages, frames, content, etc.), collected using Counters,
            cookies, web beacons, and other similar technologies.</p>
        <p>"Counter" is part of the Service, a computer program that uses a code fragment that is responsible for collecting
            statistical and personal data about the use of the Service. The administration can use counters of its own design,
            as well as those provided by third parties under a limited license (license agreement), for example, Google
            Analytics and other similar meters. Counters collect personal data in an anonymous form.</p>
        <p>"IP-address" is a number from the numbering resource of a data transmission network built on the basis of the IP
            protocol (RFC 791) which when providing telematic communication services, including access to the Internet uniquely
            identifies the subscriber terminal (computer, smartphone, tablet, other devices) or communication facilities
            included in the information system and owned by the User.</p>
        <p>"HTTP header" is a row in the HTTP message that contains a colon-separated name-value pair. The HTTP header format
            follows the common ARPA network text message header format described in RFC 822.</p>
        <p>"Cache" is intermediate storage located on the User’s device of data received from the Service’s website and
            requested more often than others with the highest probability, access to which from the cache is possible at a much
            faster speed than fetching source data from a remote source (for example, remote server or website).</p>
        <p>"Cookies", "cookie" is a small piece of data sent by the web server and stored on the device of the user of the
            website on which the Counter is installed. Cookies contain small chunks of text and are used to store information
            about browsers. They allow you to store and receive identification information and other information on computers,
            smartphones, phones, and other devices. The cookie specifications are described in RFC 2109 and RFC 2965. Other
            technologies are used for the same purpose, including data stored by browsers or devices, device identifiers, and
            other software. In this Agreement, all of these technologies are called cookies.</p>
        <p>"Web beacons" are images in electronic form (single-pixel (1x1) or empty GIF images). Web beacons can help the
            Operator recognize certain types of information on the User’s device, for example, cookies, the time and date of
            viewing the page, and the description of the page where the web beacon is located.</p>
        <p>"Messenger" is an information system and/or computer program (mobile application, web service, web application, etc.)
            that is designed and/or used to receive, transmit, deliver, and/or process electronic messages on the Internet (e.g.
            Skype, WhatsApp, Viber, etc.).</p>
        <p>"Checksum", "Hash sum" is a certain value (sequence of characters) calculated from a data set by applying a specific
            algorithm, used within this Agreement to verify the integrity (authenticity) of electronic files during their
            transfer or storage. For the purposes of this Agreement, the calculation and verification of Checksums are performed
            by applying the algorithms MD5 and SHA256, including the software certfile.exe (for Windows) or md5sum and sha256sum
            (for Linux).</p>
        <p>"Applicable law" is the legislation of the Germany, as the legislation of the country where the
            Administration is registered or is a resident. In certain cases, applicable law may mean the legislation of the
            country where the User resides or is a resident of if such legislation establishes the priority of its rules over
            the rules of this Agreement.</p>
        <p>1.2. All other terms and definitions that appear in the Agreement are interpreted by the Parties in accordance with
            applicable law, current recommendations (RFC) of international bodies for standardization on the Internet, and using
            the usual rules for the interpretation of relevant terms that have developed on the Internet.</p>
        <p>1.3. Terms and definitions used in this Agreement can be used both in the singular and in the plural, depending on
            the context, the terms can be spelled both in uppercase and lowercase letters.</p>
        <p>1.4. The names of the headings (articles), as well as the design of the Agreement, are intended only for the
            convenience of using the text of the Agreement and have no literal legal value.</p>

        <h5>2. SUBJECT OF THE AGREEMENT</h5>

        <p>2.1. This Agreement governs the relationship between the User, on the one hand, and the Administration, on the other
            hand, in order to provide the User with the right to use the Service, and also regulates the procedure for using the
            Service and for activation of non-activated modules.</p>
        <p>2.2. In accordance with this Agreement, the Administration provides the right to use the Service in accordance with
            its purpose and features in particular for the design of automatic irrigation systems and the use of other
            interactive modules of the Service.</p>
        <p>2.3. In order to fulfill its obligations under this agreement, the Administration has the right to involve third
            parties in the execution of the Agreement without agreement with the User.</p>

        <h5>3. INTELLECTUAL PROPERTY RIGHTS TO THE SERVICE</h5>

        <p>3.1. The Service, its parts and individual components (including, but not limited to: computer programs, databases,
            program codes, know-how, algorithms, design elements, fonts, logos, as well as text, graphic and other materials)
            are objects of intellectual property protected in accordance with applicable law. It's allowed to use them only with
            permission of the Administration.</p>
        <p>3.2. The Administration hereby grants to the User for the entire term of this Agreement a simple (non-exclusive),
            revocable, limited license to use the Service without limiting the territory of its operation and not subject to
            transfer or assignment to third parties. Such a simple (non-exclusive) license is intended to provide the User with
            the opportunity to use the Service in accordance with its purpose, taking into account the restrictions provided for
            by this Agreement.</p>
        <p>3.3. Revocation of the license granted in accordance with this Agreement shall be performed in the manner prescribed
            by law for refusal to execute a license agreement.</p>
        <p>3.4. The right to use the Service includes the right to reproduce the Service or certain sections of its code on the
            User’s end device (computer, smartphone, tablet, etc.) for caching and launching using the target operating system
            (browsers, JIT compilers) to use the Service in according to its purpose.</p>
        <p>3.5. The right to use the Service does not include the right to make a copy of it for archival purposes since the use
            of the Service occurs in a remote (online) mode without installation on the local end device of the User.</p>
        <p>3.6. In accordance with this Agreement, it is allowed to simultaneously use the Service on an unlimited number of
            devices or the User.</p>
        <p>3.7. The use of the Service in accordance with this Agreement may also have other limitations in features specified
            in the User Documentation of the Service.</p>
        <p>3.8. The right to use the Service provided to the User under this Agreement implies the right to receive regular
            updates of the Service within one version (minor updates of the current release which are not a new version) and new
            versions of the Service (major updates, new releases which are a new version), if available.</p>
        <p>3.9. The User agrees that he/she does not have the right (including no right to allow anyone) to change, create
            derivative works, disassemble the Service into component codes, reverse engineer, decompile or otherwise try to
            obtain the source code of the Service or any part of it, unless there are written permission of the Administration
            to perform such actions. Otherwise, the User is fully liable for such actions provided for in this Agreement, as
            well as by applicable law.</p>
        <p>3.10. This Agreement does not provide for the transfer of intellectual property rights of the Administration (or part
            thereof), except for a limited license, which is granted on the basis of this Agreement. Nothing in this Agreement
            constitutes an assignment of intellectual property rights of the Administration or a waiver of these rights on the
            basis of applicable law.</p>
        <p>3.11. The Service contains or may contain computer programs that are licensed (or sublicensed) to the User in
            accordance with the public GNU license or other similar Open Source licenses, which, among other rights, allow the
            User to copy, modify, redistribute certain computer programs or parts thereof and gain access to the original code.
            If such a license provides for the provision of source code to users for whom the computer program is provided in
            the format of executable binary code (object code), the source code is made available upon request to the
            Administration's email address. If any license for open-source computer programs requires that the Administration
            grants rights to use, copy or modify open-source computer programs that go beyond the rights provided by this
            Agreement, such rights shall prevail over the rights and restrictions specified in this Agreement.</p>

        <h5>4. GENERAL RIGHTS, RESPONSIBILITIES, AND WARRANTIES OF THE ADMINISTRATION</h5>

        <p>4.1. The Administration guarantees that it has all legal grounds for providing the User with the right to use the
            Service under this Agreement. All rights to the Service and its constituent components belong to the Administration
            or to other copyright holders who have granted the Administration a non-exclusive license with the possibility of
            sublicensing, including under an open license (LGPL, BSD, MIT, etc.).</p>
        <p>4.2. The Administration undertakes to make all reasonable efforts to ensure the stable operation of the Service, its
            gradual improvement, and correction of errors in the operation of the Service, however, the Service is provided to
            the User "as is". This means that the Administration:</p>
        <p>◦ does not guarantee the absence of errors in the operation of the Service;</p>
        <p>◦ is not responsible for the continuous operation of the Service and its compatibility with software and hardware of
            the User and other persons;</p>
        <p>◦ is not responsible for causing any losses that have occurred or may arise in connection with or while using the
            Service;</p>
        <p>◦ is not responsible for non-fulfillment or improper performance of its obligations due to failures in
            telecommunication and energy networks, malicious programs, as well as dishonest actions of third parties aimed at
            unauthorized access and (or) disabling the Administration's software and (or) hardware complex.</p>
        <p>4.3. The Administration guarantees the operation of the Service provided that the User uses new (1-2 versions until
            the current version is released) and the latest versions of web browsers (for the website) to access the Service:
            Mozilla Firefox, Google Chrome, Microsoft Edge, Opera, Safari (except for all versions of Internet Explorer). At the
            same time, for the most correct operation of the Service interface, it is recommended to use the latest versions of
            the Google Chrome web browser.</p>
        <p>4.4. The Administration has the right to provide the User with access to the Service and maintain the Service in
            operating order and also has the right to suspend the access to the Service for the time required to carry out
            planned maintenance on the equipment without prior notice to the User. In addition, the Administration has the right
            to suspend the User's access to the Service if the Administration finds out that the User provided false information
            about himself when registering or using the Service.</p>
        <p>4.5. The User agrees that the Administration has the right to use the data provided by the User during registration
            for conducting marketing activities related to the Service, as well as to send to the email address provided by the
            User and (or) by SMS notifications to the mobile phone number provided by the User, post in the area limited by the
            User's access (Personal Account) advertising and information messages at their discretion. The Parties agreed to
            consider this clause as the User's prior consent to receive advertising.</p>
        <p>4.6. The Administration reserves the right to contact the User by making calls and sending SMS messages in order to
            check the quality of the Service and reporting critical information to the User.</p>
        <p>4.7. The Administration reserves the right to request electronic copies of documents to identify the User. The
            Administration is also obliged to provide authentic contact information about the User at the request of
            registration agencies or law enforcement agencies in accordance with the law.</p>
        <p>4.8. The Administration reserves the right to request supporting documents from the User to verify the registration
            data specified by him and the information posted by him in order to avoid cases of violation of the intellectual
            rights of third parties, fraud, and other illegal actions. The user is obliged to provide the Administration with
            supporting documents within 24 (twenty-four) hours of the request. During such a control, the Administration has the
            right to restrict the User's access to the Service.</p>
        <p>4.9. In case the User repeatedly violates the terms of the Agreement, the Administration reserves the right to
            terminate the User's access to the Service (including by blocking access to the Service through the IP address from
            which this User was registered or made the largest number of visits to the Service) and unilaterally delete all
            his/her registration data without notification and providing any reasons, as well as without any compensation and
            refunds.</p>
        <p>4.10. In case the User does not use the Service for 12 (twelve) calendar months in a row, the Administration reserves
            the right to unilaterally out-of-court terminate this Agreement and delete the Account and all User registration
            data without any notice, as well as without any compensation and refunds.</p>
        <p>4.11. The Administration reserves the right to establish any rules, limits, and restrictions (technical, legal,
            organizational, or other) on the use of the Service. The administration can change them at its discretion, without
            prior notice to the User. In cases where it is not prohibited by law, these rules, limits, and restrictions may be
            different for different categories of Users.</p>
        <p>4.12. The Administration undertakes to ensure the confidentiality and safety of all data received from the User,
            except when such disclosure occurred for reasons beyond the control of the Administration, as well as except for
            cases provided by applicable law.</p>
        <p>4.13. The Administration undertakes to provide technical support to the User in the form of a written consultation on
            issues related to the operation and use of the Service. Technical support is provided only at the official request
            of the User, made by the methods provided for in this Agreement for the exchange of notifications, messages, and
            documents. A specialist from the Administration can only consult you on issues related to the operation and use of
            the Service. Consultations on issues not related to the operation of the Service are not provided.</p>
        <p>4.14. The request is to be sent by the User to mail@irrisketch.com and must contain a detailed description of the
            problem, screenshots of the User's monitor/tablet/smartphone displaying the problem, data on the operating system,
            hardware and software versions (including the type and version of the web browser) through which the User accesses
            to the Service. Within 10 (ten) business days, the Administration handled the User's request and sends him by e-mail
            recommendations on how to fix the problem. If the User does not follow these recommendations, the Administration is
            not responsible for the correct operation of the Service.</p>

        <h5>5. GENERAL RIGHTS, RESPONSIBILITIES, AND WARRANTIES OF THE USER</h5>

        <p>5.1. The User (a physical person) ensures that:</p>
        <p>5.1.1. He/she has reached the age of majority provided for in the jurisdiction of his/her location and has the legal
            capacity to enter into this Agreement, which is legally binding, on his/her own behalf, or on behalf of a physical
            person or legal entity, in whose interests he/she enters into this Agreement.</p>
        <p>5.1.2. He/she understands that the Administration does not provide legal advice and recommendations regarding
            applicable laws or requirements, the effect of which applies to the User or to end-users, as well as regarding
            compliance by the User with applicable laws and requirements.</p>
        <p>5.1.3. He/she has received all the necessary consents and permissions provided for by applicable law for the
            placement, transfer, and publication of personal data and (or) images of physical persons or legal entities that are
            indicated by the User as part of his/her personal registration data. The User agrees to comply with all relevant
            requirements and restrictions of the applicable law in relation to them.</p>
        <p>5.2. The User (a legal entity, including a private entrepreneur) ensures that:</p>
        <p>5.2.1. Acceptance of this Agreement does not require approval by the User's governing bodies, other approval, or
            compliance with a special procedure for making transactions in accordance with the requirements of the applicable
            law and the constating documents of the User. Since the acceptance of this Agreement is not beyond the normal
            business activities of the User.</p>
        <p>5.2.2. Has the necessary legal capacity to accept and execute this Agreement. His/her license necessary to carry out
            the main activity as a legal entity has not been revoked (canceled), has not expired, or the main activity carried
            out by the User is not subject to licensing.</p>
        <p>5.2.3. All information and documents provided to the Administration by the User in connection with the acceptance and
            execution of this Agreement are authentic. The User did not hide the circumstances that, if detected, would
            adversely affect the decision of the Administration regarding the operation of this Agreement and its
            implementation.</p>
        <p>5.2.4. Acceptance of this Agreement does not violate any rights and obligations of the User to third parties.</p>
        <p>5.2.5. He/she does not participate and is not connected in any way with any transaction or other obligation for which
            it is in a state of non-fulfillment of its obligations, or is obliged to fulfill its obligations before time or
            participation in which may adversely affect the User’s ability to fulfill the obligations taken by him under this
            Agreement, or obligations that the User did not inform the Administration about.</p>
        <p>5.2.6. He/she received all the necessary consents and permits provided for by applicable law for the processing of
            personal data and (or) images of individuals that will need to be processed in the process of implementing this
            Agreement. The User agrees and undertakes to comply with all relevant requirements and restrictions of the
            applicable law in relation to them.</p>
        <p>5.3. Rights of the User:</p>
        <p>5.3.1. The User has the right to use the Service by the ways not prohibited by this Agreement and the applicable
            legislation, in accordance with its purpose and within its features.</p>
        <p>5.3.2. The User undertakes not to use the Service in an unauthorized manner for getting a competitive position in
            business activities by violating the rules and regulations provided for by antimonopoly and other legislation.</p>
        <p>5.3.3. In the event that the Service has technical problems, as well as if the User receives messages that are
            unauthorized advertising, or contain materials prohibited by this Agreement, including threats or files suspected to
            contain a virus, as well as if the User has the grounds believe that an unauthorized person received access to the
            Service, the User has the right to contact the Administration to clarify the situation and take the necessary
            measures.</p>
        <p>5.3.4. The User has the right to contact technical support on issues related to the Service specified in this
            Agreement.</p>
        <p>5.3.5. The User has the right to have his/her personal data kept safe, as much as it depends on the Administration in
            accordance with the applicable law.</p>
        <p>5.3.6. The User has the right at any time to refuse calls, SMS-messages, and other advertising by informing the
            Administration about it.</p>
        <p>5.4. Responsibilities of the User:</p>
        <p>5.4.1. When using the Service, the User agrees and undertakes not to violate the intellectual rights of the
            Administration.</p>
        <p>5.4.2. The User is responsible for storing the login and password beyond the reach of third parties and their timely
            change in case of loss or other need.</p>
        <p>5.4.3. When using the Service, the User undertakes to have all the necessary permissions and powers from the data
            owners that he/she uses when working with the Service in accordance with its purpose, in particular, to have all the
            necessary consents and permissions provided for by applicable law for the processing of personal data of individuals
            that may need to be processed in the process of using the Service. The user agrees to comply with all relevant legal
            requirements and restrictions in their respect.</p>
        <p>5.4.4. If necessary, when processing personal data, before such processing the User is obliged to notify the
            authorized body on protection of the rights of subjects of personal data about his/her intention to process personal
            data. The specified notification is sent by the User on his/her own.</p>
        <p>5.4.5. The User is responsible for providing to the Administration authentic and relevant contact and registration
            information about himself when using the Service. In case of change of the specified data, the User agrees and
            undertakes to inform the Administration about this by independently changing his/her data.</p>
        <p>5.4.6. The User agrees to never and under no circumstances use the Service to perform actions prohibited or limited
            by applicable law.</p>
        <p>5.4.7. By entering this Agreement, the User agrees and undertakes not to damage the Service, the software shell,
            hardware, and software, or the host computers of the Administration.</p>
        <p>5.4.8. The User agrees and undertakes not to damage the Service, its components and modules in the process of its
            use, as well as hardware and software, host computers of the Administration or other persons who ensure the
            functioning of the Service, including by sending to their IP addresses numerous requests that cause DDoS attack and
            an error such as a service denied. The User agrees and undertakes not to damage the Service, its components and
            modules in the process of its use, as well as hardware and software, host computers of the Administration or other
            persons who ensure the functioning of the Service, including by sending to their IP addresses numerous requests that
            cause DDoS attack and an error such as a service denied.</p>
        <p>5.4.9. The User agrees to reimburse the Administration for any losses incurred in connection with the use of the
            Service because of the User violating the User Agreement and the rights (including intellectual, informational,
            etc.) of third parties.</p>
        <p>5.4.10. The User acknowledges and agrees that the IP address of the User’s device is fixed by the Administration’s
            technical means, and in case of illegal actions, including actions that violate the intellectual rights of third
            parties, the owner of the device determined by the Administration’s technical means by IP affiliation is recognized
            liable for these illegal actions.</p>

        <h5>6. ARRANGEMENTS FOR THE USE OF THE SERVICE</h5>

        <p>6.1. This Agreement governs relations only regarding the use of the Service in accordance with its purpose.</p>
        <p>6.2. The Users shall use the Service in accordance with its purpose and features and in strict accordance with the
            applicable legislation.</p>
        <p>6.3. The features of the Service and guidance on its use are given in the User documentation for the Service.</p>
        <p>6.4. The Administration reserves the right to request supporting documents from the User to verify the registration
            data specified by him and the information posted by him in order to avoid cases of violation of the intellectual
            rights of third parties, fraud, and other illegal actions. The user is obliged to provide the Administration with
            supporting documents within 24 (twenty-four) hours of the request. During such a control, the Administration has the
            right to restrict the User's access to the Service.</p>
        <p>6.5. In case the User repeatedly violates the terms of the Agreement, the Administration reserves the right to
            terminate the User's access to the Service (including by blocking access to the Service through the IP address from
            which this User was registered or made the largest number of visits to the Service) and unilaterally delete all
            his/her registration data without notification and providing any reasons, as well as restrict the User's access to
            the Service and/or Personal Account and prohibit the posting of information using the Service.</p>
        <p>6.6. The Administration reserves the right to establish any rules, limits, and restrictions (technical, legal,
            organizational, or other) on the use of the Service. The administration can change them at its discretion, without
            prior notice to the User. In cases where it is not prohibited by law, these rules, limits, and restrictions may be
            different for different categories of Users.</p>
        <p>6.7. There is a fee for using the Service and/or activating non-activated Service modules. The amount to be charged
            is according to the tariffs established by the Administration. The fee does not include VAT, because the
            Administration is not a VAT payer due to the application of the simplified tax system.</p>

        <h5>7. referral program</h5>

        <p>7.1. From the moment of registration, User of the Service, which is eligible for referral program (see 7.1.1), can participate in it.
            The rules for the referral program are established in this section of the Agreement. Within the framework of
            the referral program, the User may also be referred to as a referrer.</p>
        <p>7.2. Users from excluded countries are not eligible for referral program. Excluded countries: Croatia, The Netherlands</p>
        <p>7.3. When registering a User in the Service, a unique web link or referral code is generated in the Personal Account,
            which the User can transfer to any third parties (referrals).</p>
        <p>7.4. If such a third party (referral) has registered in the Service, the User (referrer) receives a bonus which is 10
            (ten) percent of the amount of payment made by such a third party (referral). In order to receive it, a third party
            (referral) must first register in the Service by using the link received from the User (referrer), or by entering a
            referral code during registration and making a payment for using the Service and/or for activating non-activated
            Service modules.</p>
        <p>7.5. Received bonuses are on a separate bonus account of the User. Bonuses remain locked for use for 1 (one) month.
            If, after a month, the third party (referral), for whose payment the bonuses were received, does not make a refund
            and does not cancel the subscription to use the Service and/or activation of non-activated modules, then the bonuses
            on the User's bonus account get unlocked, and they become available for use.</p>
        <p>7.5. The User can use the received and unlocked bonuses exclusively to pay for the use of the Service and/or activate
            non-activated modules in the amount of up to 99 (ninety-nine) percent of the paid price at the rate of 1 bonus=1
            pt. of currency. To make it User has to contact Support Team for redeeming his bonuses and getting Coupon code.</p>

        <h5>8. terms of payment</h5>

        <p>8.1. Payment for the use of the Service and/or activation of non-activated modules is carried out using a VISA,
            MasterCard, JCB, MIR bank card or electronic money. The Administration provides a payment service and organizes a
            secure payment channel. The payment process and transmitted data are certified and protected by PCI DSS data
            security standards in the payment card industry.</p>
        <p>8.2. Payment is made via the Internet in accordance with the Rules of the international payment systems Visa,
            MasterCard, JCB, and MIR on the principles of confidentiality and security of payment. For this, the payment service
            uses the most modern methods of verification, encryption, and data transmission over closed communication channels.
            Bank card details are entered on the secure page of the payment service.</p>
        <p>8.3. On the page for entering bank card data, you will need to enter the card number, cardholder name, card
            expiration date, three-digit security code (CVV2 for VISA or CVC2 for MasterCard). All necessary data is printed on
            the card itself. The three-digit security code is the three digits on the back of the card. Next, the User will be
            redirected to the page of his/her bank to enter the 3DSecure code which will be sent to the User on the mobile phone
            in an SMS message. If the 3DSecure code did not come to the User, he/she should contact the bank that issued the
            card.</p>
        <p>8.4. Refusal to make a payment can happen in the following cases:</p>
        <p>• the bank card is not intended for making payments via the Internet which can be found out by contacting the bank
            that issued the card;</p>
        <p>• there is not enough money on the bank card. You can find out more about the availability of funds on a bank card by
            contacting the bank that issued the bank card;</p>
        <p>• bank card details were not entered correctly;</p>
        <p>• the bank card has expired. The validity period of the card is usually indicated on the obverse of the card (the
            month and year until which the card is valid). You can find out more about the validity period of the card by
            contacting the bank that issued the bank card.</p>
        <p>8.5. The personal information provided by the User (name, address, phone number, email address, bank card number) is
            confidential and not subject to disclosure. Bank card data is transmitted only in encrypted form and is not stored
            either on the Administration server or on the payment service server.</p>
        <p>8.6. The Service may have various interactive tips and other instructional materials that explain to the User the
            procedure for using the Service, including the payment procedure.</p>
        <p>8.7. Refunds for using the Service and for activating non-activated modules are allowed only within 1 (first) month
            from the date of activation. In other cases, requests for a refund of payments are handled by the Administration on
            a case-by-case basis.</p>
        <p>8.8. Upon receipt of a request for a refund, a representative of the Administration's support service reviews the
            request, verifies the details, clarifies the date of activation of non-activated modules, and takes appropriate
            measures to make a refund or refuses to refund.</p>
        <p>8.9. Refunds for using the Service and/or for activating a non-activated module will not be made if the support
            service after verification finds out that a refund request was sent after the expiration of 1 (first) month of
            activation, or the loss occurred due to a violation of the normal functioning of the Service primarily as a result
            of a fixed error or a server error. All requests for a refund must be made within a week (7 days) from the discovery
            of the loss. After this time, no compensation will be granted.</p>
        <p>8.10. This Agreement does not provide for any guarantees for compensations and refunds, except for a guaranteed
            refund for the activation of a non-activated module within 1 (first) month of its activation. The technical support
            service of the Administration investigates each case and compensations are provided on a case-by-case basis. The
            Administration does not make monetary refunds, except for a return within 1 (first) month of activation, but only
            restores the possibility of using the Service and/or activating one or another non-activated module.</p>

        <h5>9. CONFIDENTIALITY</h5>

        <p>9.1. The Parties undertake to maintain the confidentiality of all information transmitted to each other both through
            secure and unprotected communication channels, regardless of the presence or absence of markings indicating the
            status of confidentiality of the transmitted information, except when such disclosure occurred for reasons beyond
            the control of the Parties, as well as except as provided by current legislation.</p>
        <p>9.2. The disclosure of confidential information within this Agreement means the action or inaction of one of the
            Parties to the Agreement, as a result of which confidential information becomes known to third parties without the
            consent of its owner. In this case, the form of disclosure of confidential information to third parties (oral,
            written, using technical means, etc.) does not matter.</p>
        <p>9.3. Disclosure of confidential information at the legal request of law enforcement and other authorized state bodies
            and officials is not considered a violation of confidentiality if it's disclosed in cases and in the manner
            prescribed by applicable law, as well as publicly, verbally, or in writing indicating that one Party is a
            counterparty to another Party.</p>
        <p>9.4. In the event that confidential information is disclosed to such authorities and/or persons, the disclosing Party
            shall in writing notify the owner of the confidential information about the fact of the disclosure, its contents,
            and the authority to which they were disclosed, no later than 2 (two) business days from the date of disclosure.</p>
        <p>9.5. Confidentiality obligations are valid for an unlimited period.</p>
        <p>9.6. In the event that one Party discloses confidential information received from the other Party, the disclosing
            Party undertakes to compensate for all losses caused by this action, including lost profits, within 5 (five)
            business days after receiving the corresponding written request from the other Party.</p>

        <h5>10. PROCESSING OF PERSONAL DATA</h5>

        <p>10.1. The acceptance of the Agreement and the use of the Service in accordance with it requires the provision,
            collection, and/or use of a number of personal data. In particular, when providing access to the Service and when
            using it, the Administration gains access and uses a number of data relating to the User (a physical person) or
            his/her representatives (physical persons). The Administration's privacy policy regarding the Service can be found
            at https://irrisketch.com/privacy.</p>
        <p>10.2. By using the Service, the User provides the Administration with his/her consent to the processing of his/her
            following personal data:</p>
        <p>• surname, middle name, and name;</p>
        <p>• nickname;</p>
        <p>• cell phone number;</p>
        <p>• E-mail address;</p>
        <p>• messenger identifiers;</p>
        <p>• token;</p>
        <p>• HTTP header;</p>
        <p>• IP address of the User’s device;</p>
        <p>• cookie data;</p>
        <p>• data collected by counters;</p>
        <p>• data collected by web beacons;</p>
        <p>• information about the User's browser;</p>
        <p>• technical specifications of the device and software;</p>
        <p>• date and time of access to the Service;</p>
        <p>• addresses of requested pages of the Service website;</p>
        <p>• geographical coordinates of the location of the User;</p>
        <p>for the duration of this Agreement and for the following purposes:</p>
        <p>10.2.1. use of personal data of Users who are physical persons using the Service on their own behalf for the purpose
            of concluding and executing the Agreement;</p>
        <p>10.2.2. use of personal data of Users who are physical persons using the Service on behalf of the physical person or
            legal entity they represent for the purpose of concluding and executing the Agreement;</p>
        <p>10.2.3. conducting statistical and other studies of the use of the Service on the basis of anonymized data;</p>
        <p>10.2.4. compliance with mandatory requirements of applicable law.</p>
        <p>10.3. Upon the terms and conditions contained in this consent the Administration is granted the right to perform any
            actions to the User’s personal data including, but not limited to: collection, systematization, accumulation,
            storage, clarification (updating, change), use, transfer, depersonalization, blocking, destruction, transfer
            (including cross-border transfer) of the personal data to the Administration's partners. The list of partners can be
            found on the Administration’s website a https://irrisketch.com/partners. The Administration is also granted the
            right to perform other necessary actions to the personal data in consideration of the applicable law.</p>
        <p>10.4. It's allowed to process the User’s personal data using the following main methods (but not limited to them):
            storage, recording on electronic media and their storage, listing, labeling.</p>
        <p>10.5. It's allowed to process the User’s personal data without the use of automation in accordance with applicable
            law.</p>
        <p>10.6. The processing of the User’s personal data within this Agreement is performed by the Administration without the
            use of automation tools, since such actions as the use, refinement, distribution, destruction of personal data in
            relation to the User are done with the direct participation of a person.</p>
        <p>10.7. It is allowed to process the User’s personal data using DPM systems (Data Protection Manager), including those
            belonging to third parties and provided to the Administration on the basis of an appropriate agreement or agreement
            if measures to protect the confidentiality of personal data are taken.</p>
        <p>10.8. The processing of personal data provided by the User in the process of using the Service in accordance with the
            Agreement is performed in connection with the need to conclude and execute this Agreement, to which the User is a
            party.</p>
        <p>10.9. The processing of the User’s personal data in accordance with this Agreement is performed without notice to the
            authorized body protecting the rights of personal data owners because:</p>
        <p>10.9.1. User’s personal data obtained by the Administration is processed in connection with the conclusion and
            execution of the Agreement to which the User is a party, while the personal data is not distributed, and is also not
            provided to third parties without the consent of the User and is used by the operator exclusively for the execution
            of the Agreement and the conclusion of other contracts and agreements with the User;</p>
        <p>10.9.2. User’s personal data obtained by the Administration is processed without the use of automation means which
            means with the direct participation of a person, in accordance with applicable law, establishing requirements for
            ensuring the security of personal data during its processing and for observing the rights of personal data
            owners.</p>
        <p>10.10. This consent to the processing of the User’s personal data extends to any transfer of the User’s personal data
            to the Administration made prior to the present consent.</p>

        <h5>11. LIABILITIES AND LIABILITY RESTRICTIONS</h5>

        <p>11.1. The Party that has not fulfilled or improperly fulfilled the obligations under this Agreement agrees and
            undertakes to compensate the other Party for losses caused by such non-performance.</p>
        <p>11.2. The Administration is under no circumstances responsible for harm caused to the User in the process of using
            this Service, including for the User's attempts to use the Service instead of professional or specialized software,
            the use of the Service in emergency situations, as a result of using the Service in an unfavorable situation, for
            any indirect, accidental, unintentional damage, including lost profits or lost data, harm to honor, dignity or
            business reputation caused in connection with the use of the Service or materials to which the User or other persons
            have access using the Service, even if the Administration has warned or indicated the possibility of such harm.</p>
        <p>11.3. The Administration is not liable for the User losing the ability to access his/her account (loss of the login
            and/or password from an account of a third-party web service).</p>
        <p>11.4. The Administration is not liable for the User lacking access to the Internet, for the quality of services of
            communication providers, for the stability of the connection, and the availability of certain data transfer
            protocols.</p>
        <p>11.5. The Administration is not responsible for the termination of the User's access to the Service for a reason not
            related to the wrongful acts/acts of omission of the Administration.</p>
        <p>11.6. The Administration is not responsible for the User transferring information using the Service through
            unprotected data transmission channels on the Internet and for the safety of information during its transfer.</p>
        <p>11.7. The Administration is not responsible for the content that may be distributed by the User using the
            Service.</p>
        <p>11.8. The Service may contain links to other Internet resources. The User hereby agrees that the Administration does
            not bear any responsibility for the availability of these resources and for the information posted on them, as well
            as for any consequences associated with the use of these resources.</p>
        <p>11.9. In any circumstances, there's the Administration's liability only if there is a fault in its actions or acts of
            omission and such liability is limited to the amount of 100 (one hundred) Euro and cannot exceed this amount.</p>
        <p>11.10. In other cases, the Parties shall be liable for failure to perform or improper performance of duties under
            this Agreement under the applicable law.</p>

        <h5>12. FORCE MAJEURE CIRCUMSTANCES</h5>

        <p>12.1. A Party shall not be held liable for partial or full failure to fulfill obligations under this Agreement if it
            proves that proper performance was impossible due to force majeure circumstances which means extraordinary,
            unforeseen, and unavoidable circumstances arising during the execution of this Agreement. Such circumstances could
            not reasonably be expected in the event of the conclusion of this Agreement in order to avoid or overcome them, as
            well as they are beyond the control of the Parties to this Agreement.</p>
        <p>12.2. Force majeure circumstances include military operations (declared or actual war), civil unrest, mass diseases
            (epidemics, pandemics, etc.), strikes, blockades, natural disasters (earthquakes, floods, hurricanes, etc.), fire,
            terrorist acts, sabotage, traffic restrictions, prohibitive measures by states, the prohibition of trade operations,
            including with individual countries, due to the adoption of international sanctions, as well as disconnection of
            data centers located in the countries of the Parties' location from the global Internet and blocking of servers or
            connections by supervisory authorities.</p>
        <p>12.3. Force majeure circumstances do not include, in particular, entrepreneurial risks, such as violation of
            obligations by the obligor’s counterparties, lack of products necessary for the fulfillment of obligations on the
            market, lack of necessary funds from the obligor, as well as financial and economic crisis, change in the exchange
            rate, devaluation of the national currency, or criminal acts of unidentified persons.</p>
        <p>12.4. In the event of force majeure circumstances specified in this chapter, each Party shall immediately notify the
            other Party in writing (including by sending a message to e-mail or messenger). The notice should contain data on
            the nature of the circumstances, as well as official documents proving the existence of these circumstances and, if
            possible, giving an assessment of their impact on the ability of the Party to fulfill its obligations under this
            Agreement.</p>
        <p>12.5. In the event of force majeure circumstances provided for by this chapter, the date for fulfillment by the Party
            of its obligations under this Agreement shall be postponed taking into consideration the time during which these
            circumstances and their consequences are in effect if such a change in the terms is possible and/or appropriate.</p>
        <p>12.6. In the event that a change in the timing of fulfillment by a Party of obligations under this Agreement is
            impossible and/or appropriate or force majeure circumstances and their consequences continue to be valid for more
            than 2 (two) months, the Party shall have the right to refuse to execute this Agreement because of the impossibility
            of fulfilling obligations from the Agreement due to force majeure circumstances, if additional negotiations to find
            acceptable alternative ways of implementing this Agreement did not give a positive result. The initiating Party
            shall notify the other Party of the refusal to fulfill the obligations of the Agreement within a reasonable
            time.</p>
        <p>12.7. If a Party refuses to execute this Agreement because of the impossibility of its execution due to force majeure
            circumstances, none of the Parties will have the right to demand from the other Party compensation for possible or
            existing losses.</p>

        <h5>13. PROCEDURES FOR DISPUTE RESOLUTION AND SATISFACTION OF CLAIMS</h5>

        <p>13.1. All disputes and claims are governed by the provisions of this Agreement, and in case they are not resolved,
            they are regulated pursuant to the procedure established by applicable law.</p>
        <p>13.2. Any questions, comments, and other correspondence of the User should be sent to the Administration as an
            electronic message in the ways provided for in this Agreement for the purpose of exchange of notifications,
            messages, and documents. The Administration is not responsible and does not guarantee a response to requests,
            questions, suggestions, and other information sent to it in any other way.</p>
        <p>13.3. Claims arising out of or in connection with this Agreement shall be sent to the Administration as an electronic
            message by the methods provided for in this Agreement for the exchange of notifications, messages, and documents.
            The administration undertakes to review this claim within 10 (ten) business days and if necessary to send a letter
            stating its position to the email address specified in the claim. At the same time, the Administration does not
            consider the claims of Users whom it is not possible to identify on the basis of the data provided to them during
            registration (including anonymous claims). If the User does not agree with the reasons given by the Administration
            in response to the claim, the procedure for its settlement is repeated by the User sending a response with evidence
            by recorded delivery. If the User does not agree with the answers given by the Administration in response to the
            claim, the procedure for its settlement is repeated. If it is impossible to resolve the claim through negotiations,
            the dispute is resolved through legal proceedings as provided herein.</p>
        <p>13.4. The User and the Administration agree that if it is not possible to resolve disputes arising out of or in
            connection with this Agreement through negotiations, such disputes shall be resolved by the parties in a German
            court in accordance with German law.</p>

        <h5>14. PERIOD OF EFFECT OF THE AGREEMENT AND ITS TERMINATION</h5>

        <p>14.1. This Agreement is concluded between the Parties for an indefinite period.</p>
        <p>14.2. If the User deletes his/her Account from the Service, then this is considered as a refusal to use the Service
            and out-of-court unilateral termination of this Agreement on the initiative of the User from the moment when the
            Account is deleted.</p>
        <p>14.3. In order to delete the registration data of the User as well as his/her Account, the User must contact the
            Administration with such a request at the email address mail@irrisketch.com.</p>
        <p>14.4. If the User does not use the Service for 12 (twelve) calendar months in a row, the Administration may delete
            the User's Account from the Service. Such deletion of the Account is considered a refusal to provide the Service and
            out-of-court unilateral termination of this Agreement on the initiative of the Administration from the moment when
            the Account is deleted.</p>
        <p>14.5. Termination of this Agreement means its termination in its all meanings, including and in relation to the
            agreement between the participants of electronic interaction. Upon termination of such an Agreement, the User is
            considered to have stopped electronic interaction with other participants.</p>


        <h5>15. NOTICES, COMMUNICATIONS, AND EXCHANGE OF DOCUMENTS</h5>

        <p>15.1. All documents, notices, and communications under this Agreement, including those related to its amendment or
            termination, must be sent either in writing in the form of a paper document or in electronic form in ways that make
            it possible to identify the Party sending the notification. In particular, by sending an electronic message to the
            appropriate email address or by sending an electronic message through a messenger.</p>
        <p>15.2. Any document, notices, or written message in the form of a paper document sent by one of the Parties to the
            other Party shall have legal force only if it is sent to the address specified in this Agreement or in the User’s
            request. A document, notice, or message can be delivered in person or sent by registered mail and will be deemed
            received:</p>
        <p>◦ on the date of delivery upon delivery in person;</p>
        <p>◦ on the date indicated in the receipt confirming the delivery of the corresponding post by the communication
            organization if sent by registered mail.</p>
        <p>15.3. Any document, notice, or message in electronic form in the form of an electronic document or electronic message
            sent by one of the Parties to the other Party shall have legal force only if it is either sent to the corresponding
            email address of the receiving Party from the email address of the sending Party, specified in this Agreement or the
            User’s request, or sent to another Party using a messenger.</p>
        <p>15.4. When transmitting documents, notices, or messages in the form of electronic files, the Checksum value in a
            separate text message or in a separate electronic file that accompanies the main file can be used to confirm their
            authenticity.</p>
        <p>15.5. For the purposes of this Agreement, a document, notice, or message in electronic form sent by one Party from
            its email address to the email address of the other Party is considered to be signed by a simple electronic
            signature, which confirms the fact of the formation of an electronic signature by a particular Party by the fact of
            sending an electronic document, notification or message from her email address.</p>
        <p>15.6. For the purposes of this Agreement, a document, notice, or message in electronic form sent by one Party to the
            other using the messenger is considered to be signed by a simple electronic signature which confirms the fact of the
            electronic signature being generated by a particular Party by the fact of sending an electronic document,
            notification or message using the messenger.</p>
        <p>15.7. Any document, notice, or message in electronic form is considered signed by a simple electronic signature of
            the Party upon fulfillment, including one of the following conditions:</p>
        <p>◦ a simple electronic signature in the form of an indication of the sender's email address, its identifier in the
            messenger is contained in the electronic document itself, notification or message;</p>
        <p>◦ a key of a simple electronic signature in the form of the username and password of the sender from the information
            system of the operator of electronic mail services or the messenger is applied in accordance with the rules
            established by the operator of such services and the sent electronic document, notification or message contains
            information indicating the person on whose behalf an electronic document, notice or message was sent.</p>
        <p>15.8. Any document, notice, or message in electronic form, signed with a simple electronic signature of the Party
            sending it, is recognized as an electronic document equivalent to a paper document signed by the handwritten
            signature of the Party concerned.</p>
        <p>15.9. Each of the Parties undertakes to maintain the confidentiality of the simple email key in the form of a
            username and password from the information system of the operator of the email service and the messenger. In the
            event of unauthorized access to the specified username and password, their loss or disclosure to third parties, the
            Party agrees and undertakes to immediately inform the other Party about this action and take measures to restore
            access and/or replace the username and password.</p>
        <p>15.10. The Parties shall recognize the above-named rules as an agreement between them, as between participants of the
            electronic interaction, establishing recognition of electronic documents signed with a simple electronic signature
            as the equivalent to paper documents signed with their own handwritten signature.</p>

        <h5>16. ADDITIONAL PROVISIONS</h5>

        <p>16.1. The current version of this Agreement can be found on the Internet on the Service's website at
            https://irrisketch.com/terms.</p>
        <p>16.2. The Administration reserves the right to unilaterally and without prior notice to users change the terms of the
            Agreement by posting the final version of the Agreement on the website at the above address 10 (ten) days before the
            changes enter into force. The provisions of the new version of the Agreement become binding on all previously
            registered Users of the Service from the date of its entry into force.</p>
        <p>16.3. The User confirms having read all the provisions of the Agreement, understanding, and accepting them.</p>
        <p>16.4. This Agreement, in terms of its meaning and content, is a mixed agreement with elements of an agreement on the
            provision of a simple (non-exclusive) license to use the Service as a computer program (computer software) that is
            concluded in a simplified manner by a general accession to the Agreement, as well as an agreement between the
            participants of the electronic communications that is also concluded by a general accession to the Agreement.</p>
        <p>16.5. In the case of this Agreement, the applicable law is German law.</p>

        <h5>17. DETAILS</h5>

        <p>IRRISketch GmbH, IHK (Industrie- und Handelskammer Aachen) 117997, (Handelsregister B des Amstsgerichts Aachen)
            HRB27417</p>
        <p>Registered
            office address: Dechant-Kamper-Straße 39A 52538 Selfkant</p>
        <p>E-mail address: theo@irrisketch.com</p>
        <p>Contact telephone number: +49(0)163 507-70-01</p>

    </div>
</div>
