<div class="row justify-content-center">
    <div class="col-12 mb-4">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe id="videoFrame" src="https://www.youtube.com/embed/qhNFeC5W_lw" class="embed-responsive-item"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 mb-4">
        <div class="jumbotron bg-light">
            <div class="row">
                <div class="col-lg-2 col-sm-12 my-lg-auto mb-sm-2 text-center">
                    <a class="ad-img-link" href="https://www.moasure.com" target="_blank"><img width="135"
                                                                                               src="https://cdn.shopify.com/s/files/1/0078/2142/6761/files/MoasureWebLogoTransparent_160x.png?v=1541777679"></a>
                </div>
                <div class="col-lg-10 col-sm-12">
                    <div class="text-center mb-2">
                        <a href="https://www.moasure.com/products/moasure-one" target="_blank" class="btn btn-light btn-lg text-primary">
                            <h1 class="p-0 m-0">Kaufen Sie Moasure® ONE™</h1>
                        </a>
                    </div>
                    <p class="text-center lead">
                        Ein unverzichtbares Aufmass - Werkzeug
                    </p>
                    <p><i class="far fa-bezier-curve"></i>&nbsp;-&nbsp;Präzise Messung von geschwungenen Gartenformen</p>
                    <p><i class="far fa-file-import"></i>&nbsp;-&nbsp;Import direkt in IRRISketch via CSV Format (Moasure 3D Abo wird benötigt)</p>
                    <p><i class="far fa-drone-alt"></i>&nbsp;-&nbsp;Hilft Dir weiter, wo ein Drohnenbild scheitert</p>
                    <p><i class="far fa-sunglasses"></i>&nbsp;-&nbsp;Für einen professionellen Auftritt im Garten</p>
                    <p><i class="far fa-thumbs-up"></i>&nbsp;-&nbsp;Von IRRISketch empfohlen</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-5">
    <div class="col-12 text-center">
        <a href="https://www.moasure.de/" target="_blank" class="btn btn-lg btn-success">Kaufe Moasure® ONE™</a>
    </div>
</div>

<div class="jumbotron" id="moasure-page">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="text-center mb-2">
                <h1 class="p-0 m-0">Erhalte $10 Rabatt</h1>
            </div>
            <p class="lead text-center">Rubbeln Sie das Bild frei, und erhalten Sie den Rabattcode!</p>
            <div class="scratch-card" id="scratch-container">
                <canvas class="scratch-canvas" id="scratch-canvas" width="300" height="300"></canvas>
                <div class="row h-100">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class=""><h1 class="display-3"><code>LTW10</code></h1></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

