<script type="module">
    if (location.hash !== null && location.hash !== "") {
        $(location.hash + ".collapse").collapse();
    }
    $(document).ready(function () {
        $(`.collapse`).on('show.bs.collapse', function () {
            window.location.hash = $(this).attr('id');
        });
    });
</script>

<div class="container" id="faq">
    <hr>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Cuestiones generales</span></div>
    </div>
    <p>
        <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#qA1"
                aria-expanded="false"
                aria-controls="qA1">
            He comprado una suscripción, pero la funcionalidad de pago no está disponible, ¿qué hago?
        </button>
    </p>
    <div class="collapse" id="qA1" data-parent="#faq">
        <div class="card card-body">
            <p>
                Tras adquirir una suscripción de pago a IRRISketch, deberá activarla manualmente en su cuenta personal
                en el enlace:
            </p>
            <p>
                <a href="https://www.irrisketch.com/account/orders"
                   target="_blank">www.irrisketch.com/account/orders</a>,
            </p>
            donde tu suscripción aparecerá en la columna de la derecha. Tras la activación, podrá utilizar libremente
            todas las las funciones de pago del servicio.
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#qA2"
                aria-expanded="false"
                aria-controls="qA2">
            Pagué la suscripción, pero no aparecía en mi gabinete personal.
        </button>
    </p>
    <div class="collapse" id="qA2" data-parent="#faq">
        <div class="card card-body">
            <p>
                En este caso, debe ir a su cuenta personal siguiendo este enlace:
            </p>
            <p>
                <a href="https://www.irrisketch.com/account/orders"
                   target="_blank">www.irrisketch.com/account/orders</a>
            </p>
            <p>
                Fíjese en el botón situado en la parte inferior del pedido. El botón rojo "Repetir" significa que el
                pago falló y deberías intentarlo de nuevo, pero primero comprueba si se ha cobrado el dinero.
            </p>
            <p>
                Si lleva mucho tiempo viendo el botón amarillo "Pago en curso", lo más probable es que la
                transacción no
                realizado
                confirmación automática. Si este es el caso, haga clic en este botón para completarlo y todo debería
                funcionar.
            </p>
            Una vez realizado el pago y completada la transacción, verá el botón verde "Pago verificado" verde.
            Haz clic en él y tu suscripción aparecerá en la columna de la derecha.
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Questions about projects</span></div>
    </div>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP1"
                aria-expanded="false" aria-controls="qP1">
            Los cambios en el proyecto no se han guardado/quiero restaurar un cierto estado del
            proyecto, ¿qué debo hacer?
        </button>
    </p>
    <div class="collapse" id="qP1" data-parent="#faq">
        <div class="card card-body">
            <p>
                (Este método sólo funcionará en navegadores que dispongan de Herramientas para desarrolladores)
            </p>
            <p>
                1. Abra el mismo navegador, en el mismo ordenador en el que trabajó por última vez en el proyecto
            </p>
            <p>
                2. Vaya al taller IRRISketch y abra el proyecto con el problema
            </p>
            <p>
                3. Si al abrir el proyecto aparece una ventana en la que se le pide que restaure el proyecto, haga clic
                en el botón
                botón "Restaurar" y
                y compruebe el resultado. Si el proyecto no se ha restaurado al estado requerido, continúe siguiendo las
                instrucciones
            </p>
            <p>
                4. Abra las herramientas de desarrollo (en la mayoría de los navegadores - el botón F12) y abra la
                pestaña Consola:
                <br>
                <img src="/images/faq/console.jpg" class="img-thumbnail img-responsive" alt="Download button"
                     width="30%" height="30%">
            </p>
            <p>
                5. Introduzca el siguiente comando en la consola y pulse Intro:
            </p>
            <p>
                autobackup.ASL()
            </p>
            <p>
                6. Aparecerá una lista de autoguardados (normalmente los 12 últimos) ( El autoguardado se realiza cada
                diez
                minutos,
                Así que 12 × 10 = 120 min = 2 horas)
                <br>
                <img src="/images/faq/autobackup.jpg" class="img-thumbnail img-responsive" alt="Download button"
                     width="30%" height="30%">
            </p>
            <p>
                Si surgiera algo así:
                <br>
                <img src="/images/faq/autobackupFolded.jpg" class="img-thumbnail img-responsive" alt="Download button"
                     width="30%" height="30%">
            </p>
            <p>
                A continuación, pulse el símbolo del triángulo ( ▶ ) para ampliar la lista ( ▼ )
            </p>
            <p>
                7. En la lista de autoguardados, seleccione el momento en el que, según sus cálculos, el proyecto estaba
                en el
                más
                y mira qué número hay al principio de esa línea.
            </p>
            <p>
                8. Escriba el siguiente texto en la consola:
            </p>
            <p>
                autobackup.RAS(*Pegue aquí el número del párrafo anterior*)
            </p>
            9. Asegúrate de que el estado restaurado cumple tus requisitos. Si no es así, llame al comando
            del punto anterior con un número diferente hasta que encuentre el estado deseado.
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP2"
                aria-expanded="false"
                aria-controls="qP2">
            ¿Cómo se muestra la cuadrícula en el dibujo de un proyecto? La cuadrícula del dibujo no aparece cuando se
            imprime en PDF/PNG.
        </button>
    </p>
    <div class="collapse" id="qP2" data-parent="#faq">
        <div class="card card-body">
        <span>
           Para visualizar la cuadricula al imprimirla, debe colocarse en el dibujo como una imagen. Puede descargar la cuadricula
            por ejemplo <a
                    href="https://drive.google.com/file/d/1PrKMoz9YDW-UHNwBpxTXMzGqLM-X3Mb_/view?usp=sharing"
                    target="_blank">desde aquí</a>, y, a continuación, escálelo en el dibujo al tamaño deseado.
        </span>
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP3"
                aria-expanded="false"
                aria-controls="qP3">
            ¿Cómo transfiero un proyecto de una cuenta a otra?
        </button>
    </p>
    <div class="collapse" id="qP3" data-parent="#faq">
        <div class="card card-body">
            Para ello, puede descargar el archivo del proyecto utilizando el botón correspondiente del panel superior
            derecho
            A continuación, cree un proyecto vacío en una cuenta nueva y, mediante el botón "Descargar", abra el
            proyecto descargado.
            descargado.
            <br>
            <img src="/images/faq/downloadbuttonglobal.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="30%" height="30%">
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP4"
                aria-expanded="false"
                aria-controls="qP4">
            El proyecto se "cuelga"/La transición al modo de dibujo lleva mucho tiempo
        </button>
    </p>
    <div class="collapse" id="qP4" data-parent="#faq">
        <span>
            <p>
                Por lo general, esto está relacionado con una gran cantidad de elementos en el proyecto, ya que IRRISketch Residential no está diseñado para parcelas especialmente grandes. Este problema se puede resolver eliminando todos los objetos existentes en el modo de dibujo y reemplazándolos por un único fondo.
            </p>
            <p>
                1. Crea una copia del proyecto y ábrela si temes perder datos por accidente.
            </p>
            <p>
                2. Cambia al modo de riego y usa la combinación de teclas ctrl+a para seleccionar todos los elementos, luego córtalos usando la combinación de teclas ctrl+x (se guardarán en el portapapeles).
            </p>
            <p>
                3. Cambia al modo de dibujo, establece la configuración "Paisaje" en la pestaña "Estilo Visual" para obtener el paisaje original del proyecto y elimina el sello.
            </p>
            <img src="/images/faq/visualStyleEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="30%" height="30%">
            <p>
                4. Selecciona un formato de hoja de A1 a A4. Cuanto mayor sea el tamaño de la hoja, mayor será la calidad de la imagen final, pero ocupará más espacio.
            </p>
            <img src="/images/faq/listFormatEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="30%" height="30%">
            <p>
                5. Utiliza la herramienta "Regla" en el modo de dibujo para medir cualquier elemento fácilmente medible del dibujo y registra su longitud, ya que se necesitará más adelante.
            </p>
            <img src="/images/faq/rulerEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="50%" height="50%">
            <p>
                6. Cambia al modo "Editar Dibujo" en la parte inferior de la pantalla e inserta el dibujo en la hoja utilizando el botón en la parte inferior izquierda. Exporta el proyecto como una imagen.
                Si la imagen resultante es mayor de 10 MB, no podrás usarla. En ese caso, si sabes cómo usar editores de imágenes como Photoshop o Gimp, comprime la imagen o reduce el número de colores. Esto reducirá el tamaño del archivo.
            </p>
            <img src="/images/faq/fitEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="100%" height="100%">
            <p>
                7. Inserta la imagen en el proyecto y establece la escala correcta utilizando la longitud registrada en el paso 5.
            </p>
            <img src="/images/faq/resizeEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="50%" height="50%">
            <p>
                8. Alinea la imagen con tu dibujo para que todos los elementos estén en las mismas posiciones que aparecen en la imagen.
            </p>
            <img src="/images/faq/alignEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="50%" height="50%">
            <p>
                9. Bloquea la imagen seleccionándola y haciendo clic en el botón correspondiente en la parte inferior izquierda.
            </p>
                <img src="/images/faq/lockEN.jpg" class="img-thumbnail img-responsive" alt="Download button"
                width="15%" height="15%">
            <p>
                10. Utiliza la combinación de teclas ctrl+a para seleccionar todos los elementos en el modo de dibujo y bórralos. Solo debería quedar tu imagen.
            </p>
            <p>
                11. Vuelve al modo de riego y pega todos los elementos de riego previamente eliminados en el dibujo utilizando la combinación de teclas ctrl+v. Si se hace correctamente, todos los elementos deberían volver a sus posiciones originales.
            </p>
        </span>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP5"
                aria-expanded="false"
                aria-controls="qP5">
            En el modo de dibujo no se muestran algunas zonas/no se muestra el goteo
        </button>
    </p>
    <div class="collapse" id="qP5" data-parent="#faq">
        <span>
           Este comportamiento está relacionado con los ajustes de representación de zonas en la maqueta.
            Para cambiar los ajustes de representación de zonas, en la esquina inferior izquierda, en el modo de presentación, haga clic en el botón "Representación de zonas" y marque las casillas situadas junto a las zonas que desee ver en la presentación. También puede crear una nueva presentación, en la que se mostrarán todas las zonas existentes.
        </span>
    </div>
    <hr>
</div>
