<script type="module">
    if (location.hash !== null && location.hash !== "") {
        $(location.hash + ".collapse").collapse();
    }
    $(document).ready(function () {
        $(`.collapse`).on('show.bs.collapse', function () {
            window.location.hash = $(this).attr('id');
        });
    });
</script>

<div class="container" id="faq">
    <hr>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Cuestiones generales</span></div>
    </div>
    <p>
        <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#qA1"
                aria-expanded="false"
                aria-controls="qA1">
            He comprado una suscripción, pero la funcionalidad de pago no está disponible, ¿qué hago?
        </button>
    </p>
    <div class="collapse" id="qA1" data-parent="#faq">
        <div class="card card-body">
            <p>
                Tras adquirir una suscripción de pago a IRRISketch, deberá activarla manualmente en su cuenta personal
                en el enlace:
            </p>
            <p>
                <a href="https://www.irrisketch.com/account/orders"
                   target="_blank">www.irrisketch.com/account/orders</a>,
            </p>
            donde tu suscripción aparecerá en la columna de la derecha. Tras la activación, podrá utilizar libremente
            todas las las funciones de pago del servicio.
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#qA2"
                aria-expanded="false"
                aria-controls="qA2">
            Pagué la suscripción, pero no aparecía en mi gabinete personal.
        </button>
    </p>
    <div class="collapse" id="qA2" data-parent="#faq">
        <div class="card card-body">
            <p>
                En este caso, debe ir a su cuenta personal siguiendo este enlace:
            </p>
            <p>
                <a href="https://www.irrisketch.com/account/orders"
                   target="_blank">www.irrisketch.com/account/orders</a>
            </p>
            <p>
                Fíjese en el botón situado en la parte inferior del pedido. El botón rojo "Repetir" significa que el
                pago falló y deberías intentarlo de nuevo, pero primero comprueba si se ha cobrado el dinero.
            </p>
            <p>
                Si lleva mucho tiempo viendo el botón amarillo "Pago en curso", lo más probable es que la
                transacción no
                realizado
                confirmación automática. Si este es el caso, haga clic en este botón para completarlo y todo debería
                funcionar.
            </p>
            Una vez realizado el pago y completada la transacción, verá el botón verde "Pago verificado" verde.
            Haz clic en él y tu suscripción aparecerá en la columna de la derecha.
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-lg-12 text-center"><span class="h3">Questions about projects</span></div>
    </div>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP1"
                aria-expanded="false" aria-controls="qP1">
            Los cambios en el proyecto no se han guardado/quiero restaurar un cierto estado del
            proyecto, ¿qué debo hacer?
        </button>
    </p>
    <div class="collapse" id="qP1" data-parent="#faq">
        <div class="card card-body">
            <p>
                (Este método sólo funcionará en navegadores que dispongan de Herramientas para desarrolladores)
            </p>
            <p>
                1. Abra el mismo navegador, en el mismo ordenador en el que trabajó por última vez en el proyecto
            </p>
            <p>
                2. Vaya al taller IRRISketch y abra el proyecto con el problema
            </p>
            <p>
                3. Si al abrir el proyecto aparece una ventana en la que se le pide que restaure el proyecto, haga clic
                en el botón
                botón "Restaurar" y
                y compruebe el resultado. Si el proyecto no se ha restaurado al estado requerido, continúe siguiendo las
                instrucciones
            </p>
            <p>
                4. Abra las herramientas de desarrollo (en la mayoría de los navegadores - el botón F12) y abra la
                pestaña Consola
            </p>
            <p>
                5. Introduzca el siguiente comando en la consola y pulse Intro:
            </p>
            <p>
                autobackup.ASL()
            </p>
            <p>
                6. Aparecerá una lista de autoguardados (normalmente los 12 últimos) ( El autoguardado se realiza cada
                diez
                minutos,
                Así que 12 × 10 = 120 min = 2 horas)
            </p>
            <p>
                Si surgiera algo así:
            </p>
            <p>
                A continuación, pulse el símbolo del triángulo ( ▶ ) para ampliar la lista ( ▼ )
            </p>
            <p>
                7. En la lista de autoguardados, seleccione el momento en el que, según sus cálculos, el proyecto estaba
                en el
                más
                y mira qué número hay al principio de esa línea.
            </p>
            <p>
                8. Escriba el siguiente texto en la consola:
            </p>
            <p>
                autobackup.RAS(*Pegue aquí el número del párrafo anterior*)
            </p>
            9. Asegúrate de que el estado restaurado cumple tus requisitos. Si no es así, llame al comando
            del punto anterior con un número diferente hasta que encuentre el estado deseado.
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP2"
                aria-expanded="false"
                aria-controls="qP2">
            ¿Cómo se muestra la cuadrícula en el dibujo de un proyecto? La cuadrícula del dibujo no aparece cuando se imprime en PDF/PNG.
        </button>
    </p>
    <div class="collapse" id="qP2" data-parent="#faq">
        <div class="card card-body">
        <span>
           Para visualizar la rejilla al imprimirla, debe colocarse en el dibujo como una imagen. Puede descargar la rejilla
            por ejemplo <a
                    href="https://drive.google.com/file/d/1PrKMoz9YDW-UHNwBpxTXMzGqLM-X3Mb_/view?usp=sharing"
                    target="_blank">desde aquí</a>, y, a continuación, escálelo en el dibujo al tamaño deseado.
        </span>
        </div>
    </div>
    <hr>
    <p>
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#qP3"
                aria-expanded="false"
                aria-controls="qP3">
            ¿Cómo transfiero un proyecto de una cuenta a otra?
        </button>
    </p>
    <div class="collapse" id="qP3" data-parent="#faq">
        <div class="card card-body">
            Para ello, puede descargar el archivo del proyecto utilizando el botón correspondiente del panel superior derecho
            A continuación, cree un proyecto vacío en una cuenta nueva y, mediante el botón "Descargar", abra el proyecto descargado.
            descargado.
            <br>
            <img src="/images/faq/downloadbuttonglobal.jpg" class="img-thumbnail img-responsive" alt="Download button"
                 width="30%" height="30%">
        </div>
    </div>
    <hr>
</div>