<div class="row justify-content-center">
    <div class="col-12 mb-4">
        <div class="jumbotron bg-light">
            <div class="row">
                <div class="col-lg-3 col-sm-12 my-lg-auto mb-sm-4 text-center">
                    <img width="200" src="/images/irrigation_show_2025_award.png" alt="Irrigation Show 2025">
                </div>
                <div class="col-lg-9 col-sm-12">
                    <div class="text-center mb-3">
                        <h1 class="p-0 mb-1">
                            <i class="far fa-award"></i>&nbsp;Стартап года 2025
                        </h1>
                    </div>
                    <p class="lead mb-3">
                        Мы хотим выразить слова благодарности всем, кто поддерживал IRRISketch до сих пор, и всем, кто будет поддерживать нас в будущем, поскольку мы с гордостью объявляем вам,
                        что мы были выбраны победителем:
                    </p>
                    <p class="lead text-center mb-1">
                        <strong>Irrigation Show 2025 Startup Showcase</strong>
                    </p>
                    <p class="lead text-center mb-4">
                        <strong>награды "Стартап года"!</strong>
                    </p>
                    <p class="mb-3">
                        Более подробную информацию вы можете найти <a href="https://irrigation.org/IA/Tagged_List/Press-Releases-Folder/2025/IA_announces_Startup_of_the_Year_Award_winner_at_2025%20Irrigation%20Show.aspx">здесь</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="jumbotron bg-light">
            <div class="row">
                <div class="col-lg-3 col-sm-12 my-lg-auto mb-sm-4 text-center">
                    <img width="200" src="/images/irrigation_show_2025.png" alt="Irrigation Show 2025">
                </div>
                <div class="col-lg-9 col-sm-12">
                    <div class="text-center mb-3">
                        <h1 class="p-0 m-0">
                            <i class="far fa-globe-americas"></i>&nbsp;IRRISketch на выставке Irrigation Show 2025 в Новом Орлеане!
                        </h1>
                    </div>
                    <p class="lead text-center mb-4">
                        Мы рады сообщить, что IRRISketch будет участвовать в выставке Irrigation Show & Education Week 2025 в этом году!
                    </p>
                    <p class="mb-3">
                        С 8 по 11 декабря 2025 года мы представим наши решения в области проектирования систем орошения на ведущей отраслевой выставке в Новом Орлеане, США.
                    </p>
                    <p class="mb-3">
                        <i class="far fa-map-marker-alt"></i>&nbsp;<strong>Посетите нас на стенде № 422</strong>
                    </p>
                    <p class="mb-3">
                        Откройте для себя наши инновационные продукты, установите международные контакты и познакомьтесь с нашей командой лично.
                    </p>
                    <p class="mb-0">
                        Мы с нетерпением ждем увлекательных обсуждений и возможности представить наши технологии международной аудитории!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


