<div class="row justify-content-center">
    <div class="col-12 mb-4">
        <div class="jumbotron bg-light">
            <div class="row">
                <div class="col-lg-3 col-sm-12 my-lg-auto mb-sm-4 text-center">
                    <img width="200" src="/images/irrigation_show_2025.png" alt="Irrigation Show 2025">
                </div>
                <div class="col-lg-9 col-sm-12">
                    <div class="text-center mb-3">
                        <h1 class="p-0 m-0">
                            <i class="far fa-globe-americas"></i>&nbsp;IRRISketch на выставке Irrigation Show 2025 в Новом Орлеане!
                        </h1>
                    </div>
                    <p class="lead text-center mb-4">
                        Мы рады сообщить, что IRRISketch будет участвовать в выставке Irrigation Show & Education Week 2025 в этом году!
                    </p>
                    <p class="mb-3">
                        С 8 по 11 декабря 2025 года мы представим наши решения в области проектирования систем орошения на ведущей отраслевой выставке в Новом Орлеане, США.
                    </p>
                    <p class="mb-3">
                        <i class="far fa-map-marker-alt"></i>&nbsp;<strong>Посетите нас на стенде № 422</strong>
                    </p>
                    <p class="mb-3">
                        Откройте для себя наши инновационные продукты, установите международные контакты и познакомьтесь с нашей командой лично.
                    </p>
                    <p class="mb-0">
                        Мы с нетерпением ждем увлекательных обсуждений и возможности представить наши технологии международной аудитории!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

