<p style="font-family: sans-serif; font-size: <%= typeof textFontSize !== "undefined" ? textFontSize : 14 %>px;
        font-weight: <%= typeof textFontWeight !== "undefined" ? textFontWeight : 'normal' %>; margin: 0;
                                margin-bottom: 15px;"><%- Array.isArray(content) ? content.join('') : content %></p>