<hr>
<div class="row justify-content-md-center">
    <ul class="list-group list-account">
        <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-2"><i class='far fa-infinity'></i> <%= __('DonatorsLifetime') %></h5>
            </div>
            <ol>
                <li>
                    <span class="mb-1"><span class="nameSpan">Роман</span> <span
                                class="firmSpan">(avtopolivsochi)</span> <span
                                class="townSpan">г. Сочи</span></span>
                    <a href="/images/certificates/avtopolivsochi.png"><i class="far fa-file-certificate"></i></a>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Виталий</span> <span class="townSpan">г. Краснодар</span></span>
                    <a href="/images/certificates/ttvv.png"><i class="far fa-file-certificate"></i></a>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Александр</span>
                        <span class="firmSpan">(Vodopoliv.ru)</span>
                        <span class="townSpan">г. Москва</span></span>
                    <a href="/images/certificates/tam_2002.png"><i class="far fa-file-certificate"></i></a>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Лев</span>
                        <span class="townSpan">г. Москва</span></span>
                    <a href="/images/certificates/acvalev.png"><i class="far fa-file-certificate"></i></a>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Роман</span>
                        <span class="firmSpan">(ИП Гончаров Р.Н.)</span>
                        <span class="townSpan">г. Москва</span></span>
                    <a href="/images/certificates/gunsant.png"><i class="far fa-file-certificate"></i></a>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Денис</span>
                        <span class="townSpan">г. Москва</span></span>
                    <a href="/images/certificates/denisastafurov.png"><i class="far fa-file-certificate"></i></a>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Александр</span>
                        <span class="firmSpan">(Алекс Парк)</span>
                        <span class="townSpan">г. Ставрополь</span></span>
                    <a href="/images/certificates/poliv26.png"><i class="far fa-file-certificate"></i></a>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Кирилл</span>
                        <span class="townSpan">г. Рязань</span></span>
                    <a href="/images/certificates/makaroffkirill.png"><i class="far fa-file-certificate"></i></a>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Андрей</span>
                        <span class="firmSpan">(Полив.рус)</span>
                        <span class="townSpan">г. Тамбов</span></span>
                    <a href="/images/certificates/domisad.png"><i class="far fa-file-certificate"></i></a>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Сайдаш</span>
                         <span class="townSpan">г. Грозный</span></span>
                    <a href="/images/certificates/abataevsaidash.png"><i class="far fa-file-certificate"></i></a>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Андрей</span>
                        <span class="firmSpan">(ООО Нева Полив)</span>
                         <span class="townSpan">г. Санкт-Петербург</span></span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Максим</span>
                        <span class="firmSpan">(pro-avtopoliv.ru)</span>
                         <span class="townSpan">г. Стерлитамак</span></span>
                    <a href="/images/certificates/polivavto.png"><i class="far fa-file-certificate"></i></a>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Андрей</span>
                        <span class="firmSpan">(Полив-Л)</span>
                         <span class="townSpan">г. Липецк</span></span>
                    <a href="/images/certificates/poliv48.png"><i class="far fa-file-certificate"></i></a>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Евгений</span> <span
                                class="firmSpan">(Aqua Construction)</span> <span
                                class="townSpan">г. Ярославль</span></span>
                    <a href="/images/certificates/brigadir.png"><i class="far fa-file-certificate"></i></a>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Сергей</span>
                        <span class="firmSpan">(Мастер Липецк)</span>
                         <span class="townSpan">г. Липецк</span></span>
                    <a href="/images/certificates/masterlipetsk.png"><i class="far fa-file-certificate"></i></a>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Дмитрий</span>
                        <span class="firmSpan">(proirrigation.ru)</span>
                         <span class="townSpan">г. Нижний Новгород</span></span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Станислав</span>
                        <span class="firmSpan">(BSI)</span>
                         <span class="townSpan">г. Воронеж</span></span>
                    <a href="/images/certificates/nimnulstas.png"><i class="far fa-file-certificate"></i></a>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Кирилл</span>
                        <span class="firmSpan">(Ландшафтный центр "Экос")</span>
                         <span class="townSpan">г. Старый Оскол</span></span>
                    <a href="/images/certificates/kirvoronoff.png"><i class="far fa-file-certificate"></i></a>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">ООО "Стройсад"</span>
                        <span class="firmSpan"></span>
                         <span class="townSpan">г. Тольятти</span></span>
                    <a href="/images/certificates/avazyakubow.png"><i class="far fa-file-certificate"></i></a>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Almaz6245</span>
                        <span class="firmSpan">(ИП HUNTER)</span>
                        <span class="townSpan">г. Нур-Султан</span></span>
                    <a href="/images/certificates/1qaz.png"><i class="far fa-file-certificate"></i></a>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Роман</span>
                        <span class="firmSpan">(Автополив-Sib)</span>
                        <span class="townSpan">г. Новосибирск</span></span>
                    <a href="/images/certificates/avtopolivsib.png"><i class="far fa-file-certificate"></i></a>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Александр</span> <span
                                class="firmSpan">(Академия полива)</span> <span
                                class="townSpan">г. Москва</span></span>
                    <a href="/images/certificates/gazovod2013.png"><i class="far fa-file-certificate"></i></a>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Виктор</span> <span
                                class="firmSpan">(ИП Сухарев В.М.)</span> <span
                                class="townSpan">Россия</span></span>
                    <a href="/images/certificates/zet-136.png"><i class="far fa-file-certificate"></i></a>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Константин</span> <span
                                class="firmSpan">(Арболит СтройКом)</span> <span
                                class="townSpan">г. Новосибирск</span></span>
                    <a href="/images/certificates/kkorolev054.png"><i class="far fa-file-certificate"></i></a>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">ООО "Ландшафт Инжиниринг"</span> <span
                                class="firmSpan"></span> <span
                                class="townSpan">г. Абакан</span></span>
                    <a href="/images/certificates/aqualine-abakan.png"><i class="far fa-file-certificate"></i></a>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Борис</span>
                        <span class="firmSpan">(Зелёный Двор)</span>
                        <span class="townSpan">г. Санкт-Петербург</span></span>
                    <a href="/images/certificates/kapkap.png"><i class="far fa-file-certificate"></i></a>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Дмитрий</span>
                        <span class="firmSpan"></span>
                        <span class="townSpan">г. Казань</span></span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Василий</span>
                        <span class="firmSpan">(ПП "Алтай")</span>
                        <span class="townSpan">г. Барнаул</span></span>
                    <a href="/images/certificates/kireevvas.png"><i class="far fa-file-certificate"></i></a>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Михаил</span>
                        <span class="firmSpan">(ПоливКомфорт)</span>
                        <span class="townSpan">г. Ростов-на-Дону</span></span>
                    <a href="/images/certificates/irridon.png"><i class="far fa-file-certificate"></i></a>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Дмитрий</span>
                        <span class="townSpan">г. Звенигород</span></span>
                    <a href="/images/certificates/dimaku4.png"><i class="far fa-file-certificate"></i></a>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Эдуард</span> <span
                                class="firmSpan">(ООО Стройсад)</span> <span
                                class="townSpan">с. Подстепки</span></span>
                    <a href="/images/certificates/stroisad.png"><i class="far fa-file-certificate"></i></a>
                </li>
            </ol>
        </li>
        <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-2"><i class="far fa-user-crown"></i> <%= __('Donators') %></h5>
            </div>
            <ol>
                <li>
                    <span class="mb-1"><span class="nameSpan">Константин</span> <span
                                class="firmSpan">(polivcorp)</span> <span
                                class="townSpan">г. Краснодар</span></span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Ксения</span> <span class="firmSpan">(БСГ)</span> <span
                                class="townSpan">г. Москва</span></span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Виктор</span> <span
                                class="townSpan">г. Камызяк</span></span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Игорь</span> <span
                                class="firmSpan">(polivtrade)</span> <span
                                class="townSpan">г. Москва</span></span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Станислав</span> <span
                                class="firmSpan">(АвтополивКубань)</span> <span
                                class="townSpan">г. Кропоткин</span></span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Сергей</span> <span class="firmSpan">(ИП Таюрский)</span> <span
                                class="townSpan">г. Москва</span></span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Илья</span> <span
                                class="townSpan">г. Ростов-на-Дону</span></span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Алексей</span>
                        <span class="firmSpan">(Элитный Садовник)</span>
                        <span class="townSpan">г. Москва</span></span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Сергей</span>
                        <span class="firmSpan">(propoliv.club)</span>
                        <span class="townSpan">г. Севастополь</span></span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Рустем</span>
                        <span class="firmSpan">(Престиж Полив)</span>
                        <span class="townSpan">г. Казань</span></span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Сергей</span>
                        <span class="firmSpan">(avtopoliv82)</span>
                        <span class="townSpan">г. Симферополь</span></span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Ильназ</span>
                        <span class="townSpan">г. Ижевск</span></span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Елена</span>
                        <span class="townSpan">г. Дзержинск</span></span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Александр</span>
                        <span class="firmSpan">(Садовый Клуб)</span>
                        <span class="townSpan">г. Москва</span></span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Егор</span>
                        <span class="townSpan">г. Липецк</span></span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Роман</span>
                        <span class="firmSpan">(Сила Полива)</span>
                        <span class="townSpan">г. Москва</span></span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Денис</span>
                        <span class="firmSpan">(СантехВалом)</span>
                        <span class="townSpan">г. Ростов-на-Дону</span></span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Виталий</span>
                        <span class="firmSpan">(Уютный Двор)</span>
                        <span class="townSpan">г. Днепропетровск</span></span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Сергей</span>
                        <span class="firmSpan">(Greenland64)</span>
                        <span class="townSpan">г. Саратов</span></span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Роман</span>
                        <span class="firmSpan">(BioPonds)</span>
                         <span class="townSpan">г. Саратов</span></span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Александр</span>
                         <span class="townSpan">г. Новосибирск</span></span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Андрей</span>
                        <span class="firmSpan">(IGazon)</span>
                         <span class="townSpan">г. Минск</span></span>
                </li>
            </ol>

        </li>
    </ul>
</div>
<div class="row justify-content-md-center">
    <div class="col-12 col-md-8 text-center">
        <hr>
        <p>Все эти люди являются Почётными Хранителями IRRISketch и войдут в его историю
            навсегда</p>
        <h4>Вы тоже можете стать хранителем IRRISketch!!!</h4>
        <p>Eсли у Вас есть желание помочь проекту в его развитии, вы можете приобрести <a
                    href="/account/subscription">пожизненную подписку</a> на сервис, тем самым получив доступ ко
            всем будущим обновлениям и став Почётным ПОЖИЗНЕННЫМ Хранителем IRRISketch</p>
        <p>И ещё вы получите вот таке знаки отличия:</p>
    </div>
</div>
<div class="row justify-content-center p-1">

    <div class="col-auto">
                    <span title="Почётный Хранитель IRRISketch">
                        <div class="card d-flex rounded-circle bg-success shadow-lg card_ach mb-3">
                            <div class="card-body align-items-center d-flex justify-content-center">
                                <div class="text-center">
                                    <h1><i class="far fa-trophy-alt"></i></h1>
                                    <span style="white-space: pre-line">Хранитель IRRISketch</span>
                                </div>
                            </div>
                        </div>
                    </span>
    </div>

    <div class="col-auto">
                    <span title="Ваша подписка IRRISketch Residential действует пожизненно">
                        <div class="card d-flex rounded-circle bg-success shadow-lg card_ach mb-3">
                            <div class="card-body align-items-center d-flex justify-content-center">
                                <div class="text-center">
                                    <h1><i class="far fa-heartbeat"></i></h1>
                                    <span style="white-space: pre-line">Вместе навсегда</span>
                                </div>
                            </div>
                        </div>
                    </span>
    </div>

</div>
