<hr>
<div class="row justify-content-md-center">
    <ul class="list-group list-account">
        <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-2"><i class='far fa-infinity'></i> <%= __('DonatorsLifetime') %></h5>
            </div>
            <ol>
                <li>
                    <span class="mb-1"><span class="nameSpan">Роман</span> <span
                                class="firmSpan">(avtopolivsochi)</span> <span
                                class="townSpan">г. Сочи</span> (<samp><b>47000</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Виталий</span> <span class="townSpan">г. Краснодар</span> (<samp><b>19000</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Александр</span>
                        <span class="firmSpan">(Vodopoliv.ru)</span>
                        <span class="townSpan">г. Москва</span> (<samp><b>47000</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Лев</span>
                        <span class="townSpan">г. Москва</span> (<samp><b>47000</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Роман</span>
                        <span class="firmSpan">(ИП Гончаров Р.Н.)</span>
                        <span class="townSpan">г. Москва</span> (<samp><b>78777</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Денис</span>
                        <span class="townSpan">г. Москва</span> (<samp><b>47000</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Александр</span>
                        <span class="firmSpan">(Алекс Парк)</span>
                        <span class="townSpan">г. Ставрополь</span> (<samp><b>47000</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Кирилл</span>
                        <span class="townSpan">г. Рязань</span> (<samp><b>80400</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Андрей</span>
                        <span class="firmSpan">(Полив.рус)</span>
                        <span class="townSpan">г. Тамбов</span> (<samp><b>47000</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Сайдаш</span>
                         <span class="townSpan">г. Грозный</span> (<samp><b>47000</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Андрей</span>
                        <span class="firmSpan">(ООО Нева Полив)</span>
                         <span class="townSpan">г. Санкт-Петербург</span> (<samp><b>47000</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Максим</span>
                        <span class="firmSpan">(pro-avtopoliv.ru)</span>
                         <span class="townSpan">г. Стерлитамак</span> (<samp><b>54000</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Андрей</span>
                        <span class="firmSpan">(Полив-Л)</span>
                         <span class="townSpan">г. Липецк</span> (<samp><b>53500</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Евгений</span>
                        <span class="firmSpan">(Aqua Construction)</span>
                         <span class="townSpan">г. Ярославль</span> (<samp><b>69000</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Сергей</span>
                        <span class="firmSpan">(Мастер Липецк)</span>
                         <span class="townSpan">г. Липецк</span> (<samp><b>72000</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
            </ol>
        </li>
        <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-2"><i class="far fa-user-crown"></i> <%= __('Donators') %></h5>
            </div>
            <ol>
                <li>
                    <span class="mb-1"><span class="nameSpan">Константин</span> <span
                                class="firmSpan">(polivcorp)</span> <span
                                class="townSpan">г. Краснодар</span> (<samp><b>9400</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Ксения</span> <span class="firmSpan">(БСГ)</span> <span
                                class="townSpan">г. Москва</span> (<samp><b>9400</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Виктор</span> <span
                                class="townSpan">г. Камызяк</span> (<samp><b>2000</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Игорь</span> <span
                                class="firmSpan">(polivtrade)</span> <span
                                class="townSpan">г. Москва</span> (<samp><b>5000</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Александр</span> <span
                                class="firmSpan">(Академия полива)</span> <span
                                class="townSpan">г. Москва</span> (<samp><b>12400</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Станислав</span> <span
                                class="firmSpan">(АвтополивКубань)</span> <span
                                class="townSpan">г. Кропоткин</span> (<samp><b>9400</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Михаил</span> <span class="firmSpan">(ПоливКомфорт)</span> <span
                                class="townSpan">г. Ростов-на-Дону</span> (<samp><b>10000</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Сергей</span> <span class="firmSpan">(ИП Таюрский)</span> <span
                                class="townSpan">г. Москва</span> (<samp><b>1</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Илья</span> <span
                                class="townSpan">г. Ростов-на-Дону</span> (<samp><b>101</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Алексей</span>
                        <span class="firmSpan">(Элитный Садовник)</span>
                        <span class="townSpan">г. Москва</span> (<samp><b>500</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Сергей</span>
                        <span class="firmSpan">(propoliv.club)</span>
                        <span class="townSpan">г. Севастополь</span> (<samp><b>9999</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Рустем</span>
                        <span class="firmSpan">(Престиж Полив)</span>
                        <span class="townSpan">г. Казань</span> (<samp><b>9400</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Роман</span>
                        <span class="firmSpan">(Автополив-Sib)</span>
                        <span class="townSpan">г. Новосибирск</span> (<samp><b>9400</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Сергей</span>
                        <span class="firmSpan">(avtopoliv82)</span>
                        <span class="townSpan">г. Симферополь</span> (<samp><b>9400</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Ильназ</span>
                        <span class="townSpan">г. Ижевск</span> (<samp><b>1000</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Борис</span>
                        <span class="firmSpan">(Зелёный двор)</span>
                        <span class="townSpan">г. Санкт-Петербург</span> (<samp><b>5000</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Елена</span>
                        <span class="townSpan">г. Дзержинск</span> (<samp><b>505</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Александр</span>
                        <span class="firmSpan">(Садовый Клуб)</span>
                        <span class="townSpan">г. Москва</span> (<samp><b>4000</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Егор</span>
                        <span class="townSpan">г. Липецк</span> (<samp><b>503</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Роман</span>
                        <span class="firmSpan">(Сила Полива)</span>
                        <span class="townSpan">г. Москва</span> (<samp><b>1000</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Денис</span>
                        <span class="firmSpan">(СантехВалом)</span>
                        <span class="townSpan">г. Ростов-на-Дону</span> (<samp><b>50</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Виталий</span>
                        <span class="firmSpan">(Уютный Двор)</span>
                        <span class="townSpan">г. Днепропетровск</span> (<samp><b>9</b></samp> <i
                                class="far fa-euro-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Сергей</span>
                        <span class="firmSpan">(Greenland64)</span>
                        <span class="townSpan">г. Саратов</span> (<samp><b>1000</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Роман</span>
                        <span class="firmSpan">(BioPonds)</span>
                         <span class="townSpan">г. Саратов</span> (<samp><b>555</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Александр</span>
                         <span class="townSpan">г. Новосибирск</span> (<samp><b>333</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
                <li>
                    <span class="mb-1"><span class="nameSpan">Андрей</span>
                        <span class="firmSpan">(IGazon)</span>
                         <span class="townSpan">г. Минск</span> (<samp><b>10070</b></samp> <i
                                class="far fa-ruble-sign"></i>)</span>
                </li>
            </ol>

        </li>
    </ul>
</div>
<div class="row justify-content-md-center">
    <div class="col-12 col-md-8 text-center">
        <hr>
        <p>Все эти люди являются Почётными Хранителями IRRISketch и войдут в его историю
            навсегда</p>
        <h4>Вы тоже можете стать хранителем IRRISketch!!!</h4>
        <h5>Сейчас проходит акция (до конца лета 2021)</h5>
        <p>Eсли у Вас есть желание помочь проекту в его развитии, вы можете приобрести <a
                    href="/account/subscription">пожизненную подписку</a> на сервис, тем самым получив доступ ко
            всем будущим обновлениям и став Почётным ПОЖИЗНЕННЫМ Хранителем IRRISketch</p>
        <p>И ещё вы получите вот таке знаки отличия:</p>
    </div>
</div>
<div class="row justify-content-center p-1">

    <div class="col-auto">
                    <span title="Почётный Хранитель IRRISketch">
                        <div class="card d-flex rounded-circle bg-success shadow-lg card_ach mb-3">
                            <div class="card-body align-items-center d-flex justify-content-center">
                                <div class="text-center">
                                    <h1><i class="far fa-trophy-alt"></i></h1>
                                    <span style="white-space: pre-line">Хранитель IRRISketch</span>
                                </div>
                            </div>
                        </div>
                    </span>
    </div>

    <div class="col-auto">
                    <span title="Ваша подписка IRRISketch Residential действует пожизненно">
                        <div class="card d-flex rounded-circle bg-success shadow-lg card_ach mb-3">
                            <div class="card-body align-items-center d-flex justify-content-center">
                                <div class="text-center">
                                    <h1><i class="far fa-heartbeat"></i></h1>
                                    <span style="white-space: pre-line">Вместе навсегда</span>
                                </div>
                            </div>
                        </div>
                    </span>
    </div>

</div>
